<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Serch Listing -->
<section class="inner-pages-filter" [ngClass]="{'fixed':stickfilter}" #section_af>
	<div class="container">
		<div class="mobile-filter-btns">
			<div class="searchfilter">
				<ul class="nav nav-tabs mysearch">
					<li [ngClass]="{'active': searchParms.purpose == 'sale'}" (click)="updatePurpose('sale')"><a class="brd-left" href="javascript:;" >BUY</a></li>
					<li [ngClass]="{'active': searchParms.purpose == 'rent'}" (click)="updatePurpose('rent')"><a class="brd-right" href="javascript:;" >RENT</a></li>
					<li class="hide"><a href="javascript:;" ></a></li>
				</ul>
				<div class="filter-inner-box">
					<a class="filter-btn" href="javascript:;" (click)="openSideInner()">
						<span [ngClass]="{'active':!innerSideFilter}"><img src="assets/site/images/filter-icon.svg">Filter</span>
						<span [ngClass]="{'active':innerSideFilter}"><i class="fa fa-times" aria-hidden="true"></i>Cancel</span>
					</a>
				</div>
			</div>
		</div>
		<div class="af-dotted-box" [ngClass]="{'openSide':innerSideFilter , 'overflow-mob-hidden':overFlow}">
			<div class="">
				<div class="col-sm-12 col-md-12">
					<div class="row">
						<div class="search-bar">
							<form>
								<div class="col-sm-3 no-padd">
									<div class="col-sm-6 no-padd">
										<div class="af-select-inner af-hide-mob ng-purpose">
											<label>Purpose</label>
											<!-- <select name="type" class="input-text block" (change)="setPurpose()" [(ngModel)]="searchParms.purpose" [ngModelOptions]="{standalone: true}">
												<option value="sale">Buy</option>
												<option value="rent">Rent</option>
											</select> -->
											<ng-select
																	[(ngModel)]="searchParms.purpose"
																	bindLabel="name"
																	[clearable]="false"
																	[searchable]="false"
																	dropdownPosition="auto"
																	#citySelect
																	name="type"
																	class=""
																	placeholder="Select Purpose"
																	appendTo=".ng-purpose"
																	(change)="setPurpose()"
																	>
											<ng-option value="sale">Buy</ng-option>
											<ng-option value="rent">Rent</ng-option>
										</ng-select>
										</div>
									</div>
									<div class="col-sm-6 no-padd">
										<div class="af-select-inner ngSelect-margins pdlr-10 ng-cities">
											<label class="">City</label>
											<!-- <select name="city" (change)="selectCity($event)" class="input-text block" [(ngModel)]="searchParms.city.id" [ngModelOptions]="{standalone: true}" required>
												<option *ngFor="let city of cities" [value]="city.id" [id]="city.id">{{ city.name }}</option>
											</select> -->
											<ng-select 	[items]="cities"
																	[(ngModel)]="searchParms.city"
																	bindLabel="name"
																	[clearable]="false"
																	[searchable]="false"
																	dropdownPosition="auto"
																	#citySelect
																	name="city"
																	class=""
																	placeholder="Select City"
																	appendTo=".ng-cities"
																	(change)="selectCity($event)"
																	>
											<ng-template ng-option-tmp let-item="item" let-index="index">
												{{ item.name }}
											</ng-template>
										</ng-select>
										</div>
									</div>
								</div>
								<div class="col-sm-3 no-padd">
									<div class="af-area af-select-inner">
										<label>LOCATION</label>
										<ng-select [items]="areas"
										[virtualScroll]="true"
										[loading]="areasLoading"
										[(ngModel)]="searchParms.area"
										bindLabel="name"
										dropdownPosition="auto"
										#areasSelect
										[formControl]="areasSelect_F"
										name="area"
										class="custom"
										placeholder="Select Area"
										appendTo=".af-area"
										(scroll)="onScroll_Areas($event)"
										(scrollToEnd)="onScrollToEnd_Areas()"
										(change)="selectArea()">
										<ng-template ng-option-tmp let-item="item" let-index="index">
											{{ item.name }}
										</ng-template>
									</ng-select>
								</div>
							</div>
							<div class="col-sm-3 no-padd">
								<div class="af-select-inner">
									<label>Property Type</label>
									<div id="myDropDown" class="dropdown" (click)="addOverflow()">
										<a id="dLabel" role="button" data-toggle="dropdown" data-target="myTabs" href="javascript:;">
											<p *ngIf="searchParms.sub_type == '' || searchParms.sub_type == 'all'; else ShowSubType">{{ searchParms.type }} <span class="caret"></span></p>
											<ng-template #ShowSubType><p>{{ searchParms.sub_type }} <span class="caret"></span></p></ng-template>
										</a>


										<ul id="myTabs" class="dropdown-menu" role="menu" aria-labelledby="dLabel" #propertyType>
											<div class="mobile-header-filter">
												<a class="af-left-close" href="javascript:void(0);"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
												<h3>Property Type</h3>
												<a class="af-right-cross" href="javascript:void(0);">x</a>
											</div>

											<ul class="nav nav-tabs">
												<li *ngFor="let type of searchTypes" [ngClass]="{'active': searchParms.type == type}">
													<a id="myhome" href="javascript:void(0)" [routerLink]="setPropertyType(type)" [attr.data-target]="type + '-typeID'" data-toggle="tab">{{ type }}</a>
												</li>
											</ul>

											<!-- Tab panes -->
											<div class="tab-content">
												<div class="tab-pane openSide" *ngFor="let type of searchTypes" [ngClass]="{'active': type == searchParms.type }" [attr.id]="type + '-typeID'">
													<ul>
														<ng-container *ngFor="let item of searchSubTypes[type]" >
															<li [routerLink]="setPropertySubType(item.name)" [ngClass]="{'active_Prop_Type': item.name == searchParms.sub_type }">
																<!-- {{ item.name }} -->
																<a href="javascript:void(0)" [routerLink]="setPropertySubType(item.name)">{{ item.name }}</a>
															</li>
														</ng-container>
													</ul>
												</div>

												<div class="clearfix"></div>
												<div class="af-reset-btns">
													<span class="right filter-close" (click)="setLocRoute()">Done</span>
													<span class="right reset dis-none" (click)="resetPropType()">Reset</span>
												</div>
											</div>
										</ul>
									</div>
								</div>
							</div>
							<div id="prparea" class="col-sm-3 no-padd">
								<div class="af-select-inner">
									<div class="marla  left column input-box ptag-marla search-tags-fields dropdown" data-toggle="dropdown" data-target="area_dropdown_list" role="menu" aria-labelledby="dLabel">
										<label class="lbl ">Area
											<span class="price-unit ltr">({{ searchParms.area_unit | uppercase }})</span>
											<span class="bs-caret right"><span class="caret"></span></span>
										</label>
										<div class="selected-value">
											<span id="min-a" class="min left"  *ngIf="searchParms.min_area > 0">{{ searchParms.min_area }}</span>
											<span id="min-a" class="min left"  *ngIf="searchParms.min_area == 0">0</span>
											<span class="range left"> to </span>
											<span id="max-a" class="max left" *ngIf="searchParms.max_area > 0">{{ searchParms.max_area }}</span>
											<span id="max-a" class="max left" *ngIf="searchParms.max_area == 0">Any</span>
										</div>
									</div>
									<div data-tag_unit="PKR" data-filter_role="dualselect" class="dropdown-box dropdown-menu range-dd dis-none marla-dropdown design-1" id="area_dropdown_list">
										<div class="change-area">
											<a style="cursor: pointer;" data-toggle="modal" data-target="#unit-area-modal">Change area unit ({{ searchParms.area_unit | uppercase }})</a>
										</div>
										<div class="dd-top">
											<div class="left">
												<label>Min:</label>
												<input id="min_marla" maxlength="12" placeholder="0" name="min_marla" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_area">
											</div>
											<div class="left">
												<label>Max:</label>
												<input id="max_marla" maxlength="12" placeholder="Any" name="max_marla" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_area">
											</div>
										</div>
										<div id="area_groups" class="">

											<!-- Min Areas -->
											<ul class="area-dropdown-min">
												<li [ngClass]="{'active_Prop_Type': searchParms.min_area == 0}" (click)="setArea('min', 0)" data-val="0">0</li>
												<ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
													<li [ngClass]="{'active_Prop_Type': searchParms.min_area == area}" (click)="setArea('min', area)" *ngIf="i != searchAreas[searchParms.area_unit].length - 1 && setMinAreas(area)">{{ area }}</li>
												</ng-container>
											</ul>

											<!-- Max Areas -->
											<ul class="area-dropdown-max">
												<li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_area == 0}" (click)="setArea('max', 0)">Any</li>
												<ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
													<li [ngClass]="{'active_Prop_Type': searchParms.max_area == area}" (click)="setArea('max', area)" *ngIf="area > searchParms.min_area">{{ area }}</li>
												</ng-container>
											</ul>
										</div>
										<div class="clearfix"></div>
										<span class="right filter-close" (click)="setLocRoute()">Done</span>
										<span class="right reset dis-none" (click)="resetArea()">Reset</span>
									</div>
								</div>
							</div>

						</form>
					</div>
					<div class="search-bar mtp-20" [ngClass] = "{'af-visibleNone': stickfilter}">
						<form>
							<div class="col-sm-3 no-padd" id="priceDiv">
								<div class="af-select-inner">
									<div class="price left column input-box ptag-price search-tags-fields dropdown"  data-toggle="dropdown" data-target="price_dropdown_list" role="menu" aria-labelledby="dLabel">
										<label class="lbl ">Price
											<span class="price-unit ltr">(PKR)</span>
											<span class="bs-caret right"><span class="caret"></span></span>
										</label>
										<div class="selected-value">
											<span id="min-p" class="min left"  *ngIf="searchParms.min_price > 0">{{ searchParms.min_price }}</span>
											<span id="min-p" class="min left"  *ngIf="searchParms.min_price == 0">0</span>
											<span class="range left"> to </span>
											<span id="max-p" class="max left" *ngIf="searchParms.max_price > 0">{{ searchParms.max_price }}</span>
											<span id="max-p" class="max left" *ngIf="searchParms.max_price == 0">Any</span>
										</div>
									</div>

									<div data-tag_unit="PKR" data-filter_role="dualselect" class="dropdown-box dropdown-menu range-dd dis-none prices-dropdown design-1 " id="price_dropdown_list">
										<div class="change-area">
											<a style="cursor: default" href="javascript:void(0);">Currency (PKR)</a>
										</div>
										<div class="dd-top">
											<div class="left">
												<label>Min:</label>
												<input id="min_price" maxlength="12" placeholder="0" name="min_price" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_price">
											</div>
											<div class="left">
												<label>Max:</label>
												<input id="max_price" maxlength="12" placeholder="Any" name="max_price" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_price">
											</div>
										</div>
										<div id="price_groups" class="">
											<!-- Min Prices -->
											<ul class="prices-dropdown-min">
												<li [ngClass]="{'active_Prop_Type': searchParms.min_price == 0}" (click)="setPrice('min', 0)" data-val="0">0</li>
												<ng-container *ngFor="let price of searchPrices; let i = index">
													<li [ngClass]="{'active_Prop_Type': searchParms.min_price == price}" (click)="setPrice('min', price)" *ngIf="i != searchPrices.length - 1 && setMinPrices(price)">{{ price }}</li>
												</ng-container>
											</ul>

											<!-- Max Prices -->
											<ul class="prices-dropdown-max">
												<li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_price == 0}" (click)="setPrice('max', 0)">Any</li>
												<ng-container *ngFor="let price of searchPrices; let i = index">
													<li [ngClass]="{'active_Prop_Type': searchParms.max_price == price}" (click)="setPrice('max', price)" *ngIf="price > searchParms.min_price">{{ price }}</li>
												</ng-container>
											</ul>
										</div>
										<div class="clearfix"></div>
										<span class="right filter-close" (click)="setLocRoute()">Done</span>
										<span class="right reset dis-none" (click)="resetPrice()">Reset</span>
									</div>
								</div>
							</div>

							<div class="col-sm-3 no-padd">
								<div class="">
									<div class="col-sm-6 no-padd">
										<div class="af-select-inner ng-bedrooms">
											<label>beds</label>
											<ng-select  [items]="searchBeds"
																	[(ngModel)]="searchParms.bedrooms"
																	dropdownPosition="auto"
																	bindLabel="name"
																	bindValue="value"
																	[clearable]="false"
																	[searchable]="false"
																	#bathSelecthome
																	name="bedrooms"
																	class=""
																	placeholder="Select Bedrooms"
																	appendTo=".ng-bedrooms"
																	(change)="setLocRoute()"
																	>
												<ng-template ng-option-tmp let-item="item" let-index="index">
													{{ item.name }}
												</ng-template>
											</ng-select>
										</div>
									</div>
									<div class="col-sm-6 no-padd">
										<div class="af-select-inner">
											<label>Baths</label>
											<select class="input-text block">
												<option data-tokens="" value="0">All</option>
												<option data-tokens="">1</option>
												<option data-tokens="">2</option>
												<option data-tokens="">3</option>
												<option data-tokens="">4</option>
												<option data-tokens="">5</option>
												<option data-tokens="">6</option>
												<option data-tokens="">7</option>
												<option data-tokens="">8</option>
												<option data-tokens="">9</option>
												<option data-tokens="">10</option>
												<option data-tokens="">10+</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 no-padd">
								<div class="af-area af-select-inner">
									<label>KEYWORD</label>
									<input type="text" name="keyword" autocomplete="off">
								</div>
							</div>
							<div class="col-sm-3 no-padd">
								<div class="af-moreOptions af-select-inner">
									<div class="dropdown more-optionSelect"  data-toggle="dropdown" data-target="moreOptionsDrop" role="menu">
										<label class="lbl">MORE OPTIONS
											<span class="bs-caret right"><span class="caret"></span></span>
										</label>
										<div class="selected-value">
											<span>0 Selected</span>
										</div>
									</div>
									<div class="dropdown-box dropdown-menu moreOptionsdrop" id="moreOptionsDrop">
										<div class="">
											<div class="col-xs-6 no-padd">
												<div class="right-border">
													<div class="af-checkbox-wrapper">
														<input type="checkbox" name="Titanium_Agent">
														<label for="Titanium_Agent">Titanium Agent</label>
													</div>
													<div class="af-checkbox-wrapper">
														<input type="checkbox" name="hot">
														<label for="hot">Hot</label>
													</div>
													<div class="af-checkbox-wrapper">
														<input type="checkbox" name="Verified">
														<label for="Verified">Verified</label>
													</div>
													<div class="af-checkbox-wrapper">
														<input type="checkbox" name="With_Videos">
														<label for="With_Videos">With Videos</label>
													</div>
													<div class="af-checkbox-wrapper">
														<input type="checkbox" name="With_Photos">
														<label for="With_Photos">With Photos</label>
													</div>
												</div>
											</div>
											<div class="col-xs-6 no-padd">

											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<section class="af-home-details" [ngClass]="{'paddtp-90': addPad}">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">

				<ul class="breadcrumb">
					<li><a href="javascript:;" routerLink="/">Gharbaar</a></li>
					<li *ngIf="locsByCity && searchParms.city.name != ''">{{ searchParms.city.name }}</li>
					<li *ngIf="!locsByCity && searchParms.city.name != ''"><a href="javascript:;" [routerLink]="getLocURL({}, true)">{{ searchParms.city.name }}</a></li>
					<li *ngFor="let loc of parentLocs"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }}</a></li>
					<li *ngIf="!locsByCity">{{ searchParms.area.name }}</li>
				</ul>

				<div class="filter-links-for-SEO af-none">
					<a href="javascript:;" [routerLink]="getFilterURL('5-marla')">5 Marla</a>
					<a href="javascript:;" [routerLink]="getFilterURL('8-marla')">8 Marla</a>
					<a href="javascript:;" [routerLink]="getFilterURL('10-marla')">10 Marla</a>
					<a href="javascript:;" [routerLink]="getFilterURL('12-marla')">12 Marla</a>
					<a href="javascript:;" [routerLink]="getFilterURL('1-kanal')">1 Kanal</a>
					<a href="javascript:;" [routerLink]="getFilterURL('2-kanal')">2 Kanal</a>
					<a href="javascript:;" [routerLink]="getFilterURL('4-kanal')">4 Kanal</a>
				</div>

				<h2 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }}</h2>
				<h2 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }} </h2>
				<h2 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && !locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }}</h2>
				<h2 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && !locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }} </h2>

				<div class="af-location-lists">
					<div class="row">
						<div class="col-xs-12">
							<div class="home-inner-drop">
								<div class="location-types-search">
									<div class="dropdown">
										<a href="javascript:;" [routerLink]="setPropertyType(searchParms.type)" class="btn btn-default dropdown-toggle" [ngClass]="{ 'active-border': searchParms.sub_type != searchSubTypes[searchParms.type][0].name && searchParms.sub_type != searchSubTypes[searchParms.type][1].name  }" id="all-homes-drop" >
											All {{ searchParms.type }}
											<span class="caret"></span>
											<span class="toatl-nums" *ngIf="Types_Prop_Count['All_' + searchParms.type]">({{ Types_Prop_Count['All_' + searchParms.type] }})</span>
										</a>

										<ul class="dropdown-menu" aria-labelledby="all-homes-drop">
											<li *ngFor="let item of searchSubTypes[searchParms.type]">
												<a href="javascript:;" [routerLink]="setPropertySubType(item.name)">
													{{ item.name }} For {{ searchParms.purpose | capitalize }} In
													<span *ngIf="!locsByCity">{{ searchParms.area.name }} </span>
													<span *ngIf="locsByCity">{{ searchParms.city.name }} </span>
													<span class="counts-allhomes" *ngIf="Types_Prop_Count[item.name]">({{ Types_Prop_Count[item.name] }})</span>
												</a>
											</li>
										</ul>
									</div>

									<a [ngClass]="{ 'active-border': searchParms.sub_type == searchSubTypes[searchParms.type][0].name }" href="javascript:void(0);" [routerLink]="setPropertySubType(searchSubTypes[searchParms.type][0].name)">{{ searchSubTypes[searchParms.type][0].name }}
										<span class="toatl-nums" *ngIf="Types_Prop_Count[searchSubTypes[searchParms.type][0].name]">
											({{ Types_Prop_Count[searchSubTypes[searchParms.type][0].name] }})
										</span>
									</a>
									<a [ngClass]="{ 'active-border': searchParms.sub_type == searchSubTypes[searchParms.type][1].name }" href="javascript:void(0);" [routerLink]="setPropertySubType(searchSubTypes[searchParms.type][1].name)">{{ searchSubTypes[searchParms.type][1].name }}
										<span class="toatl-nums" *ngIf="Types_Prop_Count[searchSubTypes[searchParms.type][1].name]">
											({{ Types_Prop_Count[searchSubTypes[searchParms.type][1].name] }})
										</span>
									</a>

									<div class="selected-locat-name" *ngIf="!loadingBreadCrumbs">
										<a href="javascript:void(0);" [routerLink]="InvertPurpose()">
											<span *ngIf="!locsByCity">{{ searchParms.area.name }} </span>
											<span *ngIf="locsByCity">{{ searchParms.city.name }} </span>
											<span *ngIf="searchParms.sub_type == '' || searchParms.sub_type == 'all'; else ShowSubType_tabs">{{ searchParms.type }}</span>
											<ng-template #ShowSubType_tabs><span>{{ searchParms.sub_type }} </span></ng-template>
											For
											<!-- Inverse the Purpose -->
											<span *ngIf="searchParms.purpose == 'sale'">Rent</span>
											<span *ngIf="searchParms.purpose == 'rent'">Sale</span>
										</a>
									</div>

									<div class="close-locations" [ngClass]="{ 'af-none': subLocs.length == 0 }">
										<a href="javascript:void(0);" (click)="toggleLocsDiv()">
											<span *ngIf="!this.hideLocs">Close</span>
											<span *ngIf="this.hideLocs">Open</span>
											<!-- <ng-template #elseTemplate><span>Open</span></ng-template> -->
										</a>
									</div>
								</div>

								<hr [ngClass]="{ 'af-none': subLocs.length == 0 }">
							</div>

							<div class="left-titles" [ngClass]="{ 'af-none': subLocs.length == 0 }">
								<div *ngIf="!hideLocs">
									<h3 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">Locations of {{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }}</h3>
									<h3 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">Locations of {{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }} </h3>
									<h3 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && !locsByCity;">Locations of {{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }}</h3>
									<h3 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && !locsByCity;">Locations of {{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }} </h3>

									<div class="sort-toggler">
										<p>Sort Alphabetically</p>
										<!-- <mat-slide-toggle
										class="example-margin"
										color="primary"
										(change)="toggleSort()">
									</mat-slide-toggle> -->
								</div>

								<ul class="list-group af-location-list " [ngClass]="{ 'all': toggleloadmore }" *ngIf="locs_sorted">
									<li class="list-group-item" *ngFor="let loc of subLocs" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc,false)">{{ loc.name }} ({{ loc.counts }})</a></li>
								</ul>

								<ul class="list-group af-location-list " *ngIf="sortedSubLocs && !locs_sorted">
									<li class="list-group-item" *ngFor="let loc of sortedSubLocs" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc,false)">{{ loc.name }} ({{ loc.counts }})</a></li>
								</ul>
							</div>

							<div class="" [ngClass]="{ 'af-none': subLocs.length < 24 }" *ngIf="viewAllLocURL">
							<!-- <div *ngIf="viewAllLocURL != '' && false"> -->
								<div class="load-more-btn">
									<a [routerLink]="viewAllLocURL">View All Locations in {{ searchParms.city.name }}</a>
								</div>
								<!-- <div class="load-more-btn" [ngClass]="{ 'af-none': toggleloadmore }" (click)="toggle_Loadmore()">
								<button>View All Locations</button>
							</div> -->
							<!-- <div class="load-more-btn" [ngClass]="{ 'af-none': toggleloadless }" (click)="toggle_Loadmore()">
							<button>Load Less</button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
</div>
</section>
<section class="af-home-lisitngs">
	<div class="container">
		<div class="projectsHeader">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="detail-title-bar">
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 no-padd">
							<div class="left-titles">
								<span class="no-properties">
									<span *ngIf="ListingsData.total > 0">{{ ListingsData.from }} to {{ ListingsData.to }} of </span>{{ ListingsData.total }}
									<span *ngIf="searchParms.sub_type == '' || searchParms.sub_type == 'all'; else ShowSubType_Listings">{{ searchParms.type }}</span>
									<ng-template #ShowSubType_Listings><span>{{ searchParms.sub_type }} </span></ng-template>
									<span> in: '</span>
								</span>
								<span class="property-name" *ngIf="!locsByCity">
									<a href="javascript:void(0);">{{ searchParms.area.name + ", " + searchParms.city.name + "'" }}</a>
								</span>

								<span class="property-name" *ngIf="locsByCity">
									<a href="javascript:void(0);">{{ searchParms.city.name }}</a>
									<span class="no-color">'</span>
								</span>
							</div>
						</div>

						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-3 no-padd" >
							<div class="right-listings" [ngClass]="{'af-none': !Listings_Available}">
								<div class="af-select-inner-order">
									<select (change)="SortListing()" [(ngModel)]="SortBy">
										<option value="package-DESC">Default Order</option>
										<option value="created_at-DESC">Newest Listed</option>
										<option value="created_at-ASC">Oldest Listed</option>
										<option value="price-DESC">Highest Price</option>
										<option value="price-ASC">Lowest Price</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 no-padd">
							<div class="af-paginat text-right" *ngIf="pagination.length > 0">
								<ul class="pagination">
									<li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
										<a tabindex="0" role="button" (click)="getPageList(1, true, false)" [attr.disabled]="ListingsData.current_page == 1"> <<</a>
									</li>
									<li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
										<a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, true, false)" [attr.disabled]="ListingsData.current_page == 1"> < prev</a>
									</li>
									<li *ngFor="let item of pagination" [ngClass]="{'active': item == ListingsData.current_page }">
										<a role="button" tabindex="0" (click)="getPageList(item, false, false)" aria-current="page">{{ item }}</a>
									</li>
									<!-- <li><a role="button" tabindex="0" aria-label="Page 2">2</a></li>
									<li><a role="button" tabindex="0" aria-label="Page 3">3</a></li>
									<li><a role="button" tabindex="0" aria-label="Page 4">4</a></li>
									<li><a role="button" tabindex="0" aria-label="Page 5">5</a></li>
									<li><a role="button" tabindex="0" aria-label="Page 6">6</a></li>
									<li class="break-me"><a href="">...</a></li><li><a role="button" tabindex="0" aria-label="Page 920">920</a></li> -->
									<!-- <li><a role="button" tabindex="0" aria-label="Page 921">921</a></li> -->
									<li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
										<a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >next > </a>
									</li>
									<!-- <li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
									<a tabindex="0" role="button" (click)="getPageList(ListingsData.last_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >>> </a>
								</li> -->
							</ul>
							</div>
					</div>
					<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 no-padd">
						<ul class="list-grid-tabs">
							<li>
								<a [ngClass]="{'active': listView}" href="javascript:void(0);" (click)="showListView(true)"><i class="fa fa-bars" aria-hidden="true"></i></a>
							</li>
							<li>
								<a [ngClass]="{'active': !listView}"  href="javascript:void(0);" (click)="showListView(false)"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 hidden-sm hidden-xs">
				<div class="listing-right-sec">
					<h5>Be the first to hear about new properties</h5>
					<a href="javascript:void(0);"> <img src="assets/site/images/email-alert.png"> alert me of new projects</a>
				</div>
			</div>
			</div>
		</div>
		<div class="outer-border-lisitng propertiesLisitngs">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9">

				<ng-container *ngFor="let property of ListingsData.data; let indx = index">
					<div *ngIf="!checkPropHidden(property.p_id)" class="properties-data standard" [ngClass]="{'standard': property.package == '1', 'premium': property.package == '2', 'premium-plus': property.package == '3' , 'listview': listView , 'expired-property': property.status == 'expired'}">
						<div class="img-bottom top hidden-xs hidden-sm hidden-md hidden-lg">
							<p class="prop-type">{{ propPackages[property.package] }}</p>
							<p class="af-verfied" *ngIf="property.status == 'approved'"><img src="assets/site/images/tick.png">Verified</p>
						</div>

						<div class="property-img">
							<!-- If Images Given -->
							<img  *ngIf="property.all_images != ''" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0] }}" routerLink="{{ propertyRoute(property) }}">

							<!-- If No Image Given -->
							<img *ngIf="property.all_images == ''" src="assets/site/images/default-image.jpg" routerLink="{{ propertyRoute(property) }}">

							<div class="icons-list-imgs">
								<div class="images-property">
									<a href="javascript:void(0);" *ngIf="property.all_images != ''; else EmptyImages"><i class="fa fa-camera" aria-hidden="true"></i> {{ property.all_images.split(',').length }}</a>
									<ng-template #EmptyImages><a href="javascript:void(0);"><i class="fa fa-camera" aria-hidden="true"></i> 0</a></ng-template>
								</div>
								<!-- <div class="videos-property">
								<a href="javascript:void(0);"><i class="fa fa-video-camera" aria-hidden="true"></i> 1</a>
							</div> -->
							<div class="right-map-share">
								<a href="javascript:void(0);" data-fancybox="" data-options='{"iframe" : {"css" : {"width" : "60%", "height" : "80%"}}}' [href]="'https://www.google.com/maps/search/?api=1&query='+ property.location_name +' '+ property.city +'&key=' + GOOGLE_MAPS_KEY">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</a>


								<div class="dropdown share">
									<a href="javascript:void(0);" class="dropdown-toggle" id="all-share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-share-square-o" aria-hidden="true"></i></a>

									<ul class="dropdown-menu" aria-labelledby="all-share">
										<li shareButton="facebook" [url]="propertyURL(property)">
											<a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook</a>
										</li>

										<li shareButton="whatsapp" [url]="propertyURL(property)">
											<a href="javascript:void(0);"><img src="assets/site/images/whatsapp.png"> Share on Whatsapp</a>
										</li>

										<li shareButton="twitter" [url]="propertyURL(property)">
											<a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter</a>
										</li>

										<li shareButton="pinterest" [url]="propertyURL(property)" [image]="ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0]">
											<a href="javascript:void(0);"><img src="assets/site/images/pinterest.png"> Share on Pinterest</a>
										</li>

										<!-- <li shareButton="messenger" [url]="propertyURL(property)">
											<a href="javascript:void(0);">
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-messenger" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" class="svg-icon-sprite">
													<path id="XMLID_3_" fill="#339DFF" d="M6,26.3V32l5.3-3c1.5,0.4,3.1,0.7,4.7,0.7c8.8,0,15.9-6.6,15.9-14.8C31.9,6.6,24.8,0,16,0   S0.1,6.6,0.1,14.8C0.1,19.4,2.4,23.6,6,26.3L6,26.3z"></path>
													<path id="XMLID_2_" fill="#ffffff" d="M14.3,10.8l-8.6,9.1l7.8-4.3l4.1,4.3l8.5-9.1L18.4,15C18.4,14.9,14.3,10.8,14.3,10.8z"></path>
												</svg>Share on Messenger
											</a>
										</li> -->

										<!-- <li shareButton="google" [url]="propertyURL(property)">
											<a href="javascript:void(0);"> <img src="assets/site/images/gmail-logo.svg"> Send via Gmail </a>
										</li> -->

										<li shareButton="email" [url]="propertyURL(property)">
											<a class="email" href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i> Send via Email</a>
										</li>

										<li shareButton="copy" [url]="propertyURL(property)">
											<a class="copy" href="javascript:void(0);"><i class="fa fa-clone" aria-hidden="true"></i> Copy Link</a>
										</li>
									</ul>
								</div>

							</div>
						</div>


						</div>


					<!-- <div class="property-img"  routerLink="{{ propertyRoute(property) }}">

				</div> -->

						<div class="property-cont-box">
							<div class="af-like-hide">
								<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified" class="af-verified" href="javascript:void(0);" *ngIf="property.is_verified == 1"><img src="assets/site/images/verifiedProperty.png" alt="Verified Badge"></a>
								<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorites" class="af-star" href="javascript:void(0);" (click)="togglefavoriteProp(property)" *ngIf="!checkPropHidden(property.p_id)"><i class="fa fa-star" [ngClass]="{'active-favorite': checkPropFavrt(property.p_id)}" aria-hidden="true"></i></a>
								<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Hide" class="af-hide" href="javascript:void(0);" (click)="toggleHiddenProp(property)" *ngIf="!checkPropFavrt(property.p_id)"><i class="fa fa-trash" [ngClass]="{'active-hide': checkPropHidden(property.p_id)}" aria-hidden="true"></i></a>
							</div>
							<div class="posted-by list">
								<a data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified" class="af-verified" href="javascript:void(0);" *ngIf="property.is_verified == 1"><img src="assets/site/images/verifiedProperty.png" alt="Verified Badge"></a>
								<a class="af-star" href="javascript:void(0);"  (click)="togglefavoriteProp(property)" *ngIf="!checkPropHidden(property.p_id)"><i class="fa fa-star" aria-hidden="true" [ngClass]="{'active-favorite': checkPropFavrt(property.p_id)}"></i></a>
								<span class="timeDateListing"> {{ property.created_at | date }} </span>
								<!-- <span>by {{ property.first_name + ' ' + property.last_name }}</span> -->
								<a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><h3>{{ property.title }}	</h3></a>
								<a class="" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
									<div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
								</a>
								<span class="list-propertyAddress">({{ property.location_name }}, {{ property.city }})</span>
								<span class="af-list-hide no-padd">
									<a class="af-hide" href="javascript:void(0);" (click)="toggleHiddenProp(property)" *ngIf="!checkPropFavrt(property.p_id)"><i class="fa fa-trash" [ngClass]="{'active-hide': checkPropHidden(property.p_id)}" aria-hidden="true"></i></a>
								</span>
								<span class="af-list-hide no-padd">
									<input type="checkbox" name="emailbasket" [id]="'emailbasket-' + property.p_id" (change)="toggleEmailBasket(property)" [checked]="checkBucketPropsByID(property.p_id)">
									<label [attr.for]="'emailbasket-' + property.p_id" style="font-weight: 500;">EMAIL BASKET</label>
								</span>
							</div>

							<a class="hidden-xs" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
								<div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
							</a>

							<div class="property-content">
								<a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p>{{ property.location_name }}, {{ property.city }}</p></a>
								<p class="small-bed">
									<span *ngIf="convertToInt(property.bedrooms) > 0"><img class="bed-img" src="assets/site/images/bed-icon.svg"> {{ property.bedrooms }}</span>
									<span *ngIf="convertToInt(property.bathrooms) > 0"><img class="bath-img" src="assets/site/images/bath-icon.svg"> {{ property.bathrooms }} </span>

									<ng-template #popContent>
										<span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'ftsq'}">{{ property.size_in_ftsq | round2Dec }} Ft²</span> <br>
										<span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'marla'}">{{ property.size_in_marla | round2Dec }} Marla</span> <br>
										<span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'kanal'}">{{ property.size_in_kanal | round2Dec }} Kanal</span>
									</ng-template>

									<span class="no-padd" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
										<img src="assets/site/images/scale-area.svg" class="" alt="">
										<span class="no-padd">{{ property['size_in_' + searchParms.area_unit ] | round2Dec }} {{ searchParms.area_unit | capitalize }} </span>
									</span>

									<!-- <span class="af-list-hide no-padd" style="margin: 5px;">
										<input type="checkbox" name="emailbasket" [id]="'emailbasket-' + property.p_id" (change)="toggleEmailBasket(property)" [checked]="checkBucketPropsByID(property.p_id)">
										<label [attr.for]="'emailbasket-' + property.p_id" style="font-weight: 500;">EMAIL BASKET</label>
									</span>

									<span class="af-list-hide no-padd">
										<a class="af-hide" href="javascript:void(0);" (click)="toggleHiddenProp(property)" *ngIf="!checkPropFavrt(property.p_id)"><i class="fa fa-trash" [ngClass]="{'active-hide': checkPropHidden(property.p_id)}" aria-hidden="true"></i></a>
									</span> -->
								</p>
								<a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><h3>{{ property.title }}</h3></a>
							</div>
							<div class="property-text hidden-xs">
								<a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p> {{ property.description }} </p></a>
							</div>
							<div class="posted-by">
								<span>Posted on</span>
								<span> {{ property.created_at | date }} </span>
							</div>
						<div class="viewnum-send-box">
							<button class="viewnum-btn" (click)="open_ContactDetails_Modal(property)">
								View Number
							</button>
							<button class="sendinquiry-btn" (click)="open_Inquiry_Modal(property)">  Send Inquiry</button>
							<p>
								<input type="checkbox" name="emailbasket" [id]="'emailbasket-' + property.p_id" (change)="toggleEmailBasket(property)" [checked]="checkBucketPropsByID(property.p_id)">
								<label [attr.for]="'emailbasket-' + property.p_id" style="font-weight: 500;">EMAIL BASKET</label>
							</p>
						</div>
						<div class="agent-img">
							<img *ngIf="property.is_agent" src="{{ ImagesUrl + 'uploads/agencies/thumbnails/' + property.logo }}" alt="agent-img">
						</div>
						</div>
					</div>
				</ng-container>

	<div class="af-paginat text-right pft-30-flr" *ngIf="pagination.length > 0">
		<ul class="pagination af-bt">
			<li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
				<a tabindex="0" role="button" (click)="getPageList(1, true, false)" [attr.disabled]="ListingsData.current_page == 1"> <<</a>
			</li>
			<li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
				<a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, true, false)" [attr.disabled]="ListingsData.current_page == 1"> < prev</a>
			</li>
			<li *ngFor="let item of pagination" [ngClass]="{'active': item == ListingsData.current_page }">
				<a role="button" tabindex="0" (click)="getPageList(item, false, false)" aria-current="page">{{ item }}</a>
			</li>
			<!-- <li><a role="button" tabindex="0" aria-label="Page 2">2</a></li>
			<li><a role="button" tabindex="0" aria-label="Page 3">3</a></li>
			<li><a role="button" tabindex="0" aria-label="Page 4">4</a></li>
			<li><a role="button" tabindex="0" aria-label="Page 5">5</a></li>
			<li><a role="button" tabindex="0" aria-label="Page 6">6</a></li>
			<li class="break-me"><a href="">...</a></li><li><a role="button" tabindex="0" aria-label="Page 920">920</a></li> -->
			<!-- <li><a role="button" tabindex="0" aria-label="Page 921">921</a></li> -->
			<li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
				<a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >next > </a>
			</li>
			<!-- <li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
			<a tabindex="0" role="button" (click)="getPageList(ListingsData.last_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >>> </a>
		</li> -->
	</ul>
</div>
<div *ngIf="ListingsData && ListingsData.total == 0" class="alert alert-danger " role="alert">
	Current location has no properties available.
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 af-adSticky">
	<div class="wd-100">
		<img class="AdImage" src="assets/site/images/adImg.jpg">
	</div>
</div>

</div>
</div>
</div>
</section>

<!-- Email Bucket Selector -->
<app-email-basket></app-email-basket>

<!---- Change Area Modal ---->
<div class="modal fade" id="unit-area-modal" role="dialog">
	<div class="modal-dialog unit-area">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Area</h4>
			</div>
			<div class="modal-body">
				<div class="unit-area-form">
					<select name="size-unit" class="ng-pristine ng-invalid ng-touched" [(ngModel)]="modalChangeUnit">
						<option *ngFor="let unit of searchUnits" value="{{ unit.unit }}">{{ unit.name }}</option>
					</select>
					<button data-dismiss="modal" (click)="UpdateUnit()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
