
  <section class="af-new-footer" [ngClass]="{'searchList': addIndex ,'togglefoot':togglefoot,'paddbt90': paddingFooter}">
	<div class="container">
		<div class="row pb-60">
			<div class="col-md-5 col-sm-5 col-xs-12">
				<p class="headingh4">About Us</p>
				<p>Welcome to Gharbaar.com - Islamabad’s #1 Home Buying Resource!</p>
        <p>We are revolutionizing Pakistan’s real estate industry with three objectives:</p>
        <ol>
          <li>Take the hassle and uncertainty out of buying, leasing, and owning a home.</li>
          <li>Deliver professional information into the hands of the buyers (no more secrets!).</li>
          <li>Help buyers and sellers deal with each other ethically, efficiently, and in complete transparency.
            <a class="readMoreLink" href="javascript:;" routerLink="/about-us">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
        </ol>

			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 bdt">
				<p class="headingh4">Gharbaar</p>
				<ul>
					<li><a href="javascript:;" routerLink="/about-us">About</a></li>
          <li><a href="javascript:void(0);" routerLink="/academy">Academy</a></li>
          <li><a href="javascript:void(0);" routerLink="/blog">Blog</a></li>
					<li><a href="javascript:void(0);" routerLink="/contact">Contact</a></li>
					<!-- <li><a href="javascript:void(0);">Terms & Conditions</a></li>
					<li><a href="javascript:void(0);">Privacy Policy</a></li> -->
					<!-- <li><a href="javascript:void(0);">Careers</a></li> -->
				</ul>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-6 bdt">
				<p class="headingh4">Quick Links</p>
				<ul>
          <li><a href="javascript:void(0);" routerLink="/add">Sell</a></li>
					<li><a href="javascript:void(0);" [routerLink]="investRoute()">Invest</a></li>
          <!-- <li><a href="javascript:void(0);" routerLink="/manage-my-property">Manage My Property</a></li> -->
					<li><a href="javascript:void(0);" routerLink="/find-pro/any/Rawalpindi-5-1">Find a Pro</a></li>
					<!-- <li><a href="javascript:void(0);">Agents in Islamabad</a></li> -->
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 bdt">
				<p class="headingh4">Contact Us</p>
				<ul class="contactList">
					<li><a href="javascript:void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>info@gharbaar.com</span></a></li>
					<!-- <li><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i> UAN: <span>111-852-963 </span></a></li> -->
					<li><a href="javascript:void(0);"><i class="fa fa-map-marker" aria-hidden="true"></i>  16th Floor Tower B, Centaurus Mall, F-8, Islamabad</a></li>
				</ul>
        <ul class="af-social-links af-mobOnly dsp-inline">
          <li><a class="insta" href="https://www.instagram.com/gharbaar.official/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a class="facebk" href="https://www.facebook.com/gharbaarOfficial"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a class="twitt" href="https://twitter.com/Gharbaar_92"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a class="youtube" href="https://www.youtube.com/c/gharbaarofficial"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
				<ul class="playstore">
          <li class="comingAppsTxt">Coming Soon</li>
          <li class="appleApp"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/appleapp.jpg" alt="Apple Store"></li>
					<li class="googleApp"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/googleplay.jpg" alt="Play Store"></li>
				</ul>
			</div>
		</div>
		<div class="af-disclaimer">
			<div class="row">
				<div class="wd-10">
					<p class="headingh6">Disclaimer</p>
				</div>
				<div class="wd-80">
					<p>Welcome to Gharbaar.com. Visitors to this website agree to hold harmless and defend the officers, employees, and agents of Gharbaar.com against any claims for damages of any kind resulting from the use of any tools or information provided here. Gharbaar.com strives to provide the most up-to-date real estate information and tools but makes no warranties as to the value of the information provided herein.</p>
				</div>
			</div>
		</div>
		<div class="row copyright">
			<div class="col-sm-6 col-xs-12">
				<p>Copyright © 2020 Gharbaar Pvt Ltd. All Rights Reserved.</p>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="made-box">
					<p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in San Francisco</p>
					<ul class="af-social-links af-webOnly">
						<li><a class="insta" href="https://www.instagram.com/gharbaar.official/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a class="facebk" href="https://www.facebook.com/gharbaarOfficial/?modal=admin_todo_tour"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a class="twitt" href="https://twitter.com/Gharbaar_92"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a class="youtube" href="https://www.youtube.com/channel/UCVD-iH9uC3h0H66eCzfiLqw"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<button class="termsbtn" (click)="togfoot()" [innerHtml]="btntext"> </button>
