section.af-new-footer {
    padding: 60px 0 40px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    width: 100%;
    float: left;
}
section.af-new-footer .headingh4 {
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0 0 20px;
    font-family: "GoogleSans-Bold";
}
section.af-new-footer ol {
    padding: 5px 0 0 15px;
}
section.af-new-footer ol li {
    color: #757575;
    margin: 0;
    font-family: "GoogleSans-Regular";
    font-size: 13px;
    padding: 0 0 5px 0;
}
section.af-new-footer ul.about {
    padding: 5px 0 0 15px;
    list-style: disc;
}
section.af-new-footer ul.about li {
    color: #757575;
    margin: 0;
    font-family: "GoogleSans-Regular";
    font-size: 13px;
    padding: 0 0 5px 0;
}
section.af-new-footer ul {
    padding: 0;
    list-style: none;
}

section.af-new-footer ul li {
    padding: 0 0 10px;
}

section.af-new-footer ul li a {
    color: #757575;
    font-size: 14px;
    font-family: "GoogleSans-Regular";
}
section.af-new-footer ul li a:hover{
  text-decoration: underline;
}
section.af-new-footer ul li a i {
    padding: 0 2px 0 0px;
}
section.af-new-footer ul.contactList li a {
    font-size: 12px !important;
}
section.af-new-footer ul.contactList li a span {
    color: #757575;
}
section.af-new-footer p {
    color: #757575;
    margin: 0;
    font-family: "GoogleSans-Regular";
    font-size: 13px;
    padding: 0 45px 0 0;
}
section.af-new-footer ul.playstore {
    float: left;
    width: 100%;
    position: relative;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 15px !important;
    margin-top: 25px;
}
ul.playstore li {
    display: inline-block;
    float: left;
    padding: 25px 0 0 !important;
}
li.appleApp img {
    width: 125px;
    height: 37px;
}

li.googleApp img {
    width: 108px;
    height: 37px;
}

ul.playstore li.comingAppsTxt{
    position: absolute;
    top: -10px;
    color: #006AFF;
    font-size: 16px;
    font-family: "GoogleSans-Bold";
    background-color: #fff;
    padding: 0 10px 0 !important;
}

ul.playstore li.appleApp {
    padding: 25px 10px 0 0 !important;
}
.pb-60{
    padding-bottom: 60px;
}
.af-disclaimer {
    padding: 60px 0;
    border-top: 2px solid #eee;
}
section.af-new-footer .af-disclaimer .headingh6 {
    font-size: 14px;
    color: #424242;
    font-family: "GoogleSans-Regular";
    margin: 0;
    padding: 0 0 15px;
    font-weight: 600;
}
section.af-new-footer .af-disclaimer p {
    font-size: 12px;
    font-family: "GoogleSans-Regular";
    color: #757575;
    padding: 0 0 15px;
}
.wd-80 {
    padding: 0 15px;
    width: 81%;
    float: left;
}
.wd-10 {
    padding: 0 15px;
    width: 10%;
    float: left;
}
section.af-new-footer .copyright p {
    padding: 0 0 0 0;
}
.made-box {
    float: right;
}

.made-box p i {
    color: #f00;
    padding: 0 5px 0 2px;
}

.made-box p {
    display: inline-block;
    float: left;
}
ul.af-social-links {
    float: right;
}

section.af-new-footer .made-box ul.af-social-links li {
    display: inline-block;
    padding: 0 0 0 5px;
}
section.af-new-footer .copyright .made-box p {
    padding: 3px 30px 0 0;
}
section.af-new-footer ul.af-social-links li a i {
    font-size: 24px;
}
.af-social-links a.insta i {
    color: transparent;
    background: radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
    background: -webkit-radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.af-social-links a.facebk i {
    color: #3647a8;
}
.af-social-links a.twitt i {
    color: #31beea;
}
.af-social-links a.youtube i {
    color: #f92411;
}
@media (max-width:1200px) {
  li.appleApp img {
  width: 100%;
  height: auto;
  max-width: 125px;
  max-height: 37px;
  }
  li.googleApp img {
  width: 100%;
  height: auto;
  max-width: 125px;
  max-height: 37px;
  }
  section.af-new-footer ul.playstore {
  padding: 0 10px 15px !important;
  max-width: 215px;
  }
}
@media(max-width: 767px){
    .wd-10{
    width: 19%;
    }
    section.af-new-footer h4{
    padding: 20px 0;
    }
    section.af-new-footer {
    padding: 0px 0 20px;
    }
    section.af-new-footer.paddbt90 {
    padding-bottom: 90px;
    }
    section.af-new-footer .headingh4{
    padding: 20px 0 20px;
    }
    section.af-new-footer .copyright p{
    text-align: center;
    padding: 0 0 20px 0;
    }
    .made-box{
    width: 100%;
    }
    .bdt {
    border-top: 1px solid #ddd;
    margin: 0 0;
    }
    .af-disclaimer{
    padding: 25px 0 15px;
    border-bottom: 2px solid #eee;
    margin: 0 0 25px;
    }
    ul.playstore li.comingAppsTxt {
    top: -16px;
    font-size: 22px;
    }
    section.af-new-footer ul.playstore {
    width: 400px;
    }
}

@media(max-width: 576px){
  ul.af-social-links.dsp-inline {
    width: 100%;
    display: inline-block;
}

ul.af-social-links.dsp-inline li {
    width: 25%;
    float: left;
    text-align: center;
}
}
@media(max-width: 480px){
    section.af-new-footer ul.playstore {
    width: 100%;
    margin: 0 auto;
    float: none;
    }
    ul.af-social-links.af-mobOnly.dsp-inline {
        margin-bottom: 30px;
    }
    .pb-60{
    padding-bottom: 40px;
    }
    .wd-10{
    width: 100%;
    }
    .wd-80 {
    width: 100%;
    }
    section.af-new-footer .copyright .made-box p {
    padding: 3px 0px 0 0;
    }
    section.af-new-footer{
    box-shadow: 0px -15px 10px -20px rgba(0,0,0,0.2);
    }
}
