<section class="account-setting">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="profile-img-box">
					<div class="prof-img">
						<!-- <img src="assets/site/images/default-image.jpg"> -->
						<file-pond 	#agentImg
						[options]="pond_Options"
						[files]="pondFiles"
						(oninit)="pondHandleInit()"
						(onaddfile)="pondHandleAddFile($event)">
					</file-pond>
				</div>
				<div class="af-choose-card" (click)="addImage()">
					<!-- <input type="file" name=""> -->
					<i class="fa fa-camera" aria-hidden="true"></i>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-sm-8">
			<div class="general-form">
				<h3>Update Profile</h3>
				<form>
					<input type="text" name="firstname" placeholder="First name" [(ngModel)]="user.first_name" autocomplete="off">
					<input type="text" name="lastname" placeholder="Last Name" [(ngModel)]="user.last_name" autocomplete="off">
					<input type="text" name="email" placeholder="Email" [(ngModel)]="user.email" autocomplete="off" disabled>
					<!-- <input type="text" name="phone" placeholder="Phone" [(ngModel)]="user.phone_number" autocomplete="off"> -->

					<input 	type="text" id="phone-number" name="phone" placeholder="Phone" [(ngModel)]="user.phone_number" autocomplete="off"
					ng2TelInput
					[ng2TelInputOptions]="{initialCountry: 'pk'}"
					(hasError)="hasError($event)"
					(ng2TelOutput)="getNumber($event)"
					(intlTelInputObject)="telInputObject($event)"
					(countryChange)="onCountryChange($event)" />

					<input 	type="text" id="mobile-number" name="mobile" placeholder="Whatsapp Mobile No" [(ngModel)]="user.mobile_number" autocomplete="off">
					<!-- <input type="text" name="city" placeholder="City" [(ngModel)]="user.city" autocomplete="off"> -->

					<div class="af-ngselect-dashboard">
						<ng-select [items]="country"
						[virtualScroll]="true"
						[(ngModel)]="user.country"
						bindLabel=""
						dropdownPosition="auto"
						#citySelect
						name="country"
						class="form-control"
						placeholder="Select Country"
						appendTo=".af-ngselect-dashboard"
						(change)="selectCountry()">
						<ng-template ng-option-tmp let-item="item" let-index="index">
							{{ item }}
						</ng-template>
					</ng-select>
				</div>

				<div class="af-ngselect-dashboard" *ngIf="hideCity">
					<ng-select 	[items]="PakCity"
					[(ngModel)]="user.city"
					bindLabel=""
					dropdownPosition="auto"
					#citySelect
					name="city"
					class="form-control"
					placeholder="Select City"
					appendTo=".af-ngselect-dashboard">
					<ng-template ng-option-tmp let-item="item" let-index="index">
						{{ item }}
					</ng-template>
				</ng-select>
			</div>

			<input type="text" name="city" placeholder="City" [(ngModel)]="user.city" autocomplete="off" *ngIf="!hideCity">

			<input type="text" name="address" placeholder="Address" [(ngModel)]="user.address" autocomplete="off">

			<button (click)="updateProfile()" [disabled]="loading">Update</button>
		</form>
		<hr>
	</div>
</div>
</div>
</div>
</section>
