<!-- Related-Properties -->
<!-- <div class="related-properties" *ngIf="properties.length > 0">
<h4 class="text-center">Similiar Properties</h4>
<div class="row">
<div class="col-xs-12 col-sm-3" *ngFor="let property of properties">
<div class="relate-prop-inner">
<a href="javascript:;" routerLink="{{ propertyRoute(property) }}">

<img *ngIf="property.all_images && property.all_images != ''" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0] }}">
<img *ngIf="property.all_images == ''" src="assets/site/images/default-image.jpg">

<h6>{{ property.city }}<span class="blue"> {{ property.location_name }}</span></h6>
<h4>{{ property.title }}</h4>
<p>PKR {{ property.price | convertCurrency }}</p>
<p>
<span *ngIf="convertToInt(property.bedrooms) > 0">{{ property.bedrooms }} bed(s)</span>
<span *ngIf="convertToInt(property.bedrooms) > 0 && convertToInt(property.bathrooms) > 0"> | </span>
<span *ngIf="convertToInt(property.bathrooms) > 0">{{ property.bathrooms }} bath(s)</span>
</p>
</a>
</div>
</div>
</div>
</div> -->
<section class="recent-agency-properties" *ngIf="properties.length > 0">
  <div class="main-heading-similiar">Similiar Properties</div>
  <div class="listingRecents paddLeftRight">
    <div class="listingSideLeft gridView">
      <div class="propertiesLisitngs recentListingAgents">
        <owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideProperties" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
          <div class="item" *ngFor="let recentProperty of properties;let i = index">
            <a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}">
              <div class="properties-data standard">
                <div class="property-img">
                  <img *ngIf="recentProperty.all_images" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + recentProperty.all_images.split(',')[0] }}" alt="Property Image">
                  <img *ngIf="!recentProperty.all_images" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Property Default Image">
                </div>
                <div class="property-cont-box">
                  <div class="property-content">
                    <a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}"><p class="propTitle">{{ recentProperty.title }}</p></a>
                    <a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}"><p>{{ recentProperty.location_name }}, {{ recentProperty.city }}</p></a>
                    <p class="small-bed">
                      <span *ngIf="convertToInt(recentProperty.bedrooms) > 0"><img class="bed-img" src="assets/site/images/bed-icon.svg"> {{ recentProperty.bedrooms }}</span>
                      <span  *ngIf="convertToInt(recentProperty.bathrooms) > 0"><img class="bath-img" src="assets/site/images/bath-icon.svg"> {{ recentProperty.bathrooms }} </span>

                      <span class="no-padd" >
                        <img src="assets/site/images/scale-area.svg" class="" alt="">
                        <span class="no-padd">{{ recentProperty.size_in_marla | round2Dec}} marla</span>
                      </span>
                    </p>
                  </div>
                  <div class="posted-by">
                    <span>Posted on </span>
                    <span> {{ recentProperty.created_at | date }}</span>
                  </div>
                  <div class="viewnum-send-box">
                    <a class="detail" href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}">View Detail</a>
                    <a class="gridViewsPrice" href="javascript:void(0)">
                      <div class="property-price"><span class="price-currency">PKR</span> {{ recentProperty.price | convertCurrency }}</div>
                    </a>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
