<!-- Email Basket -->
<div class="email-bucket" *ngIf="properties.length > 0">
	<div class="email-header">
		Email Basket <span>({{ properties.length }} Properties)</span>
		<div class="email-window-icon">
			<a class="" [ngClass]="{'af-none': hideEmailBucket}" href="javascript:;" (click)="toggleEmailBucket()"><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
			<a href="javascript:;" [ngClass]="{'af-none': !hideEmailBucket}" (click)="toggleEmailBucket()"><i class="fa fa-window-minimize" aria-hidden="true"></i></a>
		</div>
	</div>

	<div class="basket-content">
		<div class="email-body" *ngFor="let property of properties" [ngClass]="{'af-none': !hideEmailBucket}">
			<div class="email-image-box">
				<!-- If Images Given -->
				<img  *ngIf="property.all_images != ''" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0] }}">

				<!-- If No Image Given -->
				<img *ngIf="property.all_images == ''" src="assets/site/images/default-image.jpg">
			</div>

			<div class="email-content-box">
				<h4><span>PKR</span> {{ property.price | convertCurrency }}</h4>
				<p class="email-location">{{ property.location_name }}, {{ property.city }}</p>
				<a href="javascript:;" routerLink="{{ propertyRoute(property) }}" [title]="property.title">{{ property.title }}</a>
				<p class="small-bed">
					<span *ngIf="convertToInt(property.bedrooms) > 0"><img src="assets/site/images/bed.png"> {{ property.bedrooms }}</span>
					<span *ngIf="convertToInt(property.bathrooms) > 0"><img src="assets/site/images/bath.png"> {{ property.bathrooms }} </span>

					<span class="no-padd">
						<img src="assets/site/images/area.png" class="" alt="">
						<span class="no-padd">{{ property['size_in_' + searchParms.area_unit ] | round2Dec }} {{ searchParms.area_unit | capitalize }} </span>
					</span>
				</p>
				<a class="af-remove-email" href="javascript:;" (click)="removeProp(property.id)">Remove</a>
			</div>
		</div>
	</div>

	<div class="email-footer" [ngClass]="{'af-none': !hideEmailBucket}">
		<button class="red-trans" (click)="removeAllProps()">Remove All</button>
		<button class="back-full" (click)="openBulkEmail()">Email</button>
	</div>
</div>
