<section class="dashbaord-nav">
	<div class="container">
		<div class="row responsive-inlineNavbar">
			<ul class="list-inline">
				<li *ngFor="let item of menus"><a href="javascript:;" routerLink="{{ item.route }}" [ngClass]="{'active': item.active }">{{ item.name }}</a></li>
			</ul>
		</div>
	</div>
</section>
