<!-- View All Locations -->

<section class="af-home-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>Properties For {{ purpose | capitalize }} in {{ city.name }}</h2>

        <div class="af-location-lists innerPage">
          <div class="row">
            <div class="col-xs-12">
              <!-- <div class="home-inner-drop">
                <div class="location-types-search">

                </div>
                <hr>
              </div> -->

              <div class="left-titles">
                <div>
                  <h3>Locations of
                    <span *ngIf="sub_type == '' || sub_type == 'all'; else ShowSubType_h3">{{ type }}</span>
                    <ng-template #ShowSubType_h3><span>{{ sub_type }} </span></ng-template>
                    for {{ purpose | capitalize }} in
                    <span>{{ city.name }}</span>
                  </h3>
                  <div class="sort-toggler">
                    <p>Sort Alphabetically</p>
                      <!-- <mat-slide-toggle
                        class="example-margin"
                        color="primary"
                        (change)="toggleSort()">
                      </mat-slide-toggle> -->
                      <label class="toggle">
                          <input type="checkbox" role="switch" (click)="toggleSort()"/>
                          <span class="slider"></span>
                      </label>

                  </div>
                  <ul class="list-group af-location-list all" *ngIf="locations && !locs_sorted">
                    <li class="list-group-item" *ngFor="let loc of locations" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }} ({{ loc.counts }})</a></li>
                  </ul>

                  <ul class="list-group af-location-list all" *ngIf="sorted_locations && locs_sorted">
                    <li class="list-group-item" *ngFor="let loc of sorted_locations" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }} ({{ loc.counts }})</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
