<section class="blogIntro-sec managepropertyPage">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="blogIntro-img">
                  <img src="assets/site/images/manageproperty.jpg" alt="Blog Introduction Image">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="introRight-txt">
                  <h1 class="realEstate-heading">Property Management Services By Gharbaar.com</h1>
                  <div class="managePropertyListings">
                      <ul>
                        <li>Single family homes</li>
                        <li>Office and retail space</li>
                        <li>Multi-family (Apartments, etc.)</li>
                      </ul>
                      <a href="javascript:;">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="managePropertyBody">
    <div class="container">
        <div class="manageComingSoon">Coming soon</div>
    </div>
</section>

<section class="subscriber-sec">
    <div class="container">
        <div class="subscriberInner-box">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h2 class="subsciberHeading">Subcribe to Get Pakistan's Real Estate News</h2>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionFooterForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscriptionFooter.email" [ngClass]="{ 'is-invalid': footSubmitted && g.email.errors }">
                      <button (click)="AddSubscribeFoot()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="assets/site/images/faisal-mosque.svg" alt="Subscriber">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="communitySec">
    <div class="container">
        <div class="socialSubscribers">
          <div class="wavy-leftRight-layers">
              <h2 class="joiningHeading">Join our growing community</h2>
          </div>
            <ul>
              <li>
                  <div class="socialBoxes email">
                      <img src="assets/site/images/email.svg" alt="Subscribers">
                      <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                      <p class="numbersTotal">112</p>
                      <p class="socialName">Subscribers</p>
                  </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Youtube"> -->
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <p class="numbersTotal">145</p>
                    <p class="socialName">Youtube</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Twitter"> -->
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <p class="numbersTotal">1012</p>
                    <p class="socialName">Twitter</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes insta">
                    <img src="assets/site/images/instagram.svg" alt="Instagram">
                    <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
                    <p class="numbersTotal">1345</p>
                    <p class="socialName">Instagram</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Facebook"> -->
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <p class="numbersTotal">1123</p>
                    <p class="socialName">Facebook</p>
                </div>
              </li>
            </ul>
        </div>
    </div>
</section>
