
<section class="af-add-form">
	<div class="container" [formGroup]="addForm" novalidate>
		<div class="outer-border-form">
			<div class="row">
				<div class="col-sm-6">
					<div class="add-titles">
						<h3>Edit Property</h3>
						<p>Enter property details to add your property</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-6">
					<div class="radio-toolbar">
						<input type="radio" id="radio1" name="radios" value="sale" checked="" (click)="setPurpose('sale')" [(ngModel)]="saveData.purpose" [ngModelOptions]="{standalone: true}">
						<label class="btbl10" for="radio1">Sale</label>
						<input type="radio" id="radio2" name="radios" value="rent" (click)="setPurpose('rent')" [(ngModel)]="saveData.purpose" [ngModelOptions]="{standalone: true}">
						<label class="btbr10" for="radio2">Rent</label>
					</div>

					<!-- <div class="custom-title">
						<div class="af-custom-title">
							<h4>{{ propPrev_Title }}</h4>
						</div>

						<div class="auto-title" *ngIf="!showCustomTitle">
							<a href="javascript:void(0)" (click)="toggleTitle(true)" ><i class="fa fa-plus" aria-hidden="true"></i> Add a custom title</a>
							<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="" data-original-title="Adding a custom Title will override the Ghar generated titles"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
						</div>

						<div class="af-custom-title" *ngIf="showCustomTitle">
							<h4>Custom Title</h4>
							<input type="text" name="custom-title" placeholder="Enter Custom Title" formControlName="title" [(ngModel)]="saveData.title">
							<a href="javascript:void(0)" (click)="toggleTitle(false)" ><i class="fa fa-minus" aria-hidden="true"></i> Use Ghar generated title</a>
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="" data-original-title="Adding a custom Title will override the Ghar generated titles"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
						</div>
					</div> -->

					<div class="af-custom-title">
						<h4>Title</h4>
						<input type="text" name="custom-title" placeholder="Enter Custom Title" formControlName="title" [(ngModel)]="saveData.title">
					</div>

					<div class="type-property">
						<h4>Type of property<span>*</span></h4>

						<div class="radio-wrapper" *ngFor="let type of searchTypes">
							<input type="radio" [attr.name]="type" [id]="type" [value]="type" (click)="openAdditionalDetails(type)" formControlName="type" [(ngModel)]="saveData.type">
							<label [attr.for]="type" class="radio-label" [ngClass]="{ 'invalid-feedback': submitted && f.type.errors }">{{ type }}</label>
						</div>

						<div *ngIf="submitted && f.type.errors" class="invalid-feedback">
							<div *ngIf="f.type.errors.required">Property type is required</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8 af-subtype-select">
							<select name="subtype" formControlName="sub_type" [(ngModel)]="saveData.sub_type" [ngClass]="{ 'is-invalid': submitted && f.sub_type.errors }">
								<option value="">Select Subtype*</option>

								<ng-container *ngFor="let item of searchSubTypes[saveData.type]" >
									<option value="{{ item.value }}">{{ item.name }}</option>
								</ng-container>
							</select>

							<div *ngIf="submitted && f.sub_type.errors" class="invalid-feedback">
								<div *ngIf="f.sub_type.errors.required">Property subtype is required</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12 co-md-4">
					<h4>Where's your place located?<span>*</span></h4>
				</div>
				<div class="col-sm-6 col-md-4 af-subtype-select">
					<select name="city" (change)="selectCity()" placeholder="Select City*" class="input-text block" formControlName="city" [(ngModel)]="SelectedCity.name" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
						<option value="">Select City*</option>
						<option *ngFor="let city of cities" [value]="city.name" [id]="city.id">{{ city.name }}</option>
					</select>

					<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
						<div *ngIf="f.city.errors.required">Please select City from the dropdown</div>
					</div>
				</div>
			</div>

			<!-- Area Select Section  -->
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="af-area">
						<ng-select 	[items]="areas"
												[virtualScroll]="true"
												[loading]="areasLoading"
												[(ngModel)]="SelectedArea"
												(search)="searchAreas($event)"
												bindLabel="name"
												dropdownPosition="auto"
												id="area1"
												class="custom"
												[ngClass]="{ 'is-invalid': submitted && areasError }"
												placeholder="Type to search areas"
												appendTo=".af-area"
												(scroll)="onScroll_Areas($event)"
												(scrollToEnd)="onScrollToEnd_Areas()"
												formControlName="area"
												(change)="selectArea()">
						<ng-template ng-option-tmp let-item="item" let-index="index">
							{{ item.name }}
						</ng-template>
					</ng-select>

					<div *ngIf="submitted && areasError" class="invalid-feedback">
						<div *ngIf="areasError">Please select Area from the dropdown.</div>
					</div>
				</div>
				<p>or</p>
			</div>

			<div class="col-sm-6 col-md-4 areasTier1">
				<ng-select [items]="areasTier1"
				[loading]="areasTier1Loading"
				[(ngModel)]="SelectedArea_Tier1"
				[searchable]="false"
				bindLabel="name"
				dropdownPosition="auto"
				placeholder="Select from list"
				appendTo=".areasTier1"
				formControlName="areasTier1"
				(change)="selectAreaTier1()">
			</ng-select>

			<div *ngIf="submitted && areasTier1Error" class="invalid-feedback">
				<div *ngIf="areasTier1Error">Please select Area from the dropdown.</div>
			</div>
		</div>
	</div>

	<!-- Area Tier 2 Select -->
	<div class="row" style="margin-top: 20px;" *ngIf="showAreasTier2">
		<div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4 areasTier2">

			<ng-select [items]="areasTier2"
			[loading]="areasTier2Loading"
			[(ngModel)]="SelectedArea_Tier2"
			[searchable]="false"
			bindLabel="name"
			dropdownPosition="auto"
			placeholder="Select from list"
			appendTo=".areasTier2"
			formControlName="areasTier2"
			(change)="selectAreaTier2()">
		</ng-select>

		<div *ngIf="submitted && areasTier2Error" class="invalid-feedback">
			<div *ngIf="areasTier2Error">Please select Area from the dropdown.</div>
		</div>
	</div>
</div>

<!-- Area Tier 3 Select -->
<div class="row" style="margin-top: 20px;" *ngIf="showAreasTier3">
	<div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4 areasTier3">

		<ng-select [items]="areasTier3"
		[loading]="areasTier3Loading"
		[(ngModel)]="SelectedArea_Tier3"
		[searchable]="false"
		bindLabel="name"
		dropdownPosition="auto"
		placeholder="Select from list"
		appendTo=".areasTier3"
		formControlName="areasTier3"
		(change)="selectAreaTier3()">
	</ng-select>

	<div *ngIf="submitted && areasTier3Error" class="invalid-feedback">
		<div *ngIf="areasTier3Error">Please select Area from the dropdown.</div>
	</div>
</div>
</div>

<!-- Area Tier 4 Select -->
<div class="row" style="margin-top: 20px;" *ngIf="showAreasTier4">
	<div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-4 areasTier4">

		<ng-select [items]="areasTier4"
		[loading]="areasTier4Loading"
		[(ngModel)]="SelectedArea_Tier4"
		[searchable]="false"
		bindLabel="name"
		dropdownPosition="auto"
		placeholder="Select from list"
		appendTo=".areasTier4"
		formControlName="areasTier4"
		(change)="selectAreaTier4()">
	</ng-select>

	<div *ngIf="submitted && areasTier4Error" class="invalid-feedback">
		<div *ngIf="areasTier4Error">Please select Area from the dropdown.</div>
	</div>
</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-sm-6 col-md-4">
		<input name="address" placeholder="Enter Address" [(ngModel)]="saveData.address" [ngModelOptions]="{standalone: true}">
	</div>
	<div class="col-sm-6 col-md-4">
		<div class="af-custom-checkbox">
			<p><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.display_address" [ngModelOptions]="{standalone: true}"> Display address on listing</p>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-8 col-sm-12">
		<h4>Add Property Info for Better Results</h4>
		<div class="row">
			<div class="col-md-6">
				<div class="af-input-select">
					<input type="number" name="size" placeholder="Size*" formControlName="size" [(ngModel)]="saveData.size" [ngClass]="{ 'is-invalid': submitted && f.size.errors }">

					<select name="size-unit" formControlName="unit" [(ngModel)]="saveData.unit" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }">
						<option value="">Unit</option>
						<option *ngFor="let unit of searchUnits" value="{{ unit.unit }}">{{ unit.name }}</option>
					</select>
				</div>

				<div class="row" style="margin-top: -8px; margin-bottom: 5px;">
					<div *ngIf="submitted && f.size.errors" class="invalid-feedback col-md-7" >
						<div *ngIf="f.size.errors.required">Size is required</div>
					</div>

					<div *ngIf="submitted && f.unit.errors" class="invalid-feedback col-md-5" [ngClass]="{ 'col-md-offset-7': !f.size.errors }">
						<div *ngIf="f.unit.errors.required" style="margin-left: 7px;">Unit is required</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="price-input">
					<input type="number" name="price" placeholder="Price in (PKR)*" maxlength="10" formControlName="price" (keyup)="convertPrice('price')" [(ngModel)]="saveData.price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
					<span class="price-badge" *ngIf="saveData.price > 1000"><span>{{ saveData.price | convertCurrency }}</span> (PKR)</span>
				</div>

				<div *ngIf="f.price.errors" class="invalid-feedback" style="margin-top: -8px; margin-bottom: 15px;">
					<div *ngIf="f.price.errors.max">The price you entered is too high</div>
				</div>

				<div *ngIf="submitted && f.price.errors" class="invalid-feedback" style="margin-top: -8px; margin-bottom: 5px;">
					<div *ngIf="f.price.errors.required">Price is required</div>
				</div>
			</div>
			<div class="col-md-12">
				<textarea name="description" placeholder="Description" [(ngModel)]="saveData.description" [ngModelOptions]="{standalone: true}"></textarea>
			</div>
			<div class="col-md-12">
				<div class="file-drop-area" (click)="pondClicked()" *ngIf="!showPondPicker">
					<span class="fake-btn"><i class="fa fa-plus"></i> Upload Photos</span>
					<!-- <p class="file-msg">(max size: 5mb)</p> -->
					<p class="file-msg">or drag them in (max size: 5mb)</p>
					<!-- <input class="file-input" type="file" multiple=""> -->
				</div>

				<file-pond #myPond
				[options]="pondOptions"
				[files]="pondFiles"
				(oninit)="pondHandleInit()"
				(onaddfile)="pondHandleAddFile($event)"
				(onremovefile)="deletePropImage($event)"
				[hidden]="!showPondPicker">
			</file-pond>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<div class="panel-heading" *ngIf="showResdAddOn || showPlotAddOn || showCommAddOn">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span>Additional Details</span>
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">

				<div class="row residential" *ngIf="showResdAddOn">
					<div class="col-sm-12 col-md-12">
						<div class="additional-info">
							<h5 class="gray">General Info</h5>
							<div class="row">
								<div class="col-sm-5">
									<select name="year_built" [(ngModel)]="saveData.property_feature.year_built" [ngModelOptions]="{standalone: true}">
										<option value="">Year Built</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option>
									</select>
								</div>
								<div class="col-sm-5">
									<div class="plus-minus-btns">
										<button class="decrement" type="button" (click)="num_of_Baths(-1)"></button>
										<div class="no-of-bath">{{ saveData.property_feature.BathsText }}</div>
										<button class="increment" type="button" (click)="num_of_Baths(+1)"></button>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-5">
									<div class="plus-minus-btns">
										<button class="decrement" type="button" (click)="num_of_Beds(-1)"></button>
										<div class="no-of-bath">{{ saveData.property_feature.BedsText }}</div>
										<button class="increment" type="button" (click)="num_of_Beds(+1)"></button>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="plus-minus-btns">
										<button class="decrement" type="button" (click)="num_of_parking(-1)"></button>
										<div class="no-of-bath">{{ saveData.property_feature.ParkingText }}</div>
										<button class="increment" type="button" (click)="num_of_parking(+1)"></button>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-5">
									<div class="price-input">
										<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice('DP')" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_payment | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>

								<div class="col-sm-5" *ngIf="saveData.purpose == 'rent'">
									<div class="price-input">
										<input type="number" name="security_deposit" placeholder="Security Deposit in PKR (if any)" (keyup)="convertPrice('SD')" [(ngModel)]="saveData.property_feature.security_deposit" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.security_deposit > 1000"><span>{{ saveData.property_feature.security_deposit | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>
							</div>

							<div class="row" *ngIf="saveData.purpose == 'rent'">
								<div class="col-sm-5">
									<div class="price-input">
										<input type="number" name="maintenance_charges" placeholder="Maintenance Charges in PKR (if any)" (keyup)="convertPrice('MC')" [(ngModel)]="saveData.property_feature.maintenance_charges" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.maintenance_charges > 1000"><span>{{ saveData.property_feature.maintenance_charges | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>
							</div>

							<hr>
							<div class="row">
								<div class="col-sm-9">
									<h5 class="gray">Property Features</h5>
									<div class="row">
										<div class="col-sm-4">
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_heating" [ngModelOptions]="{standalone: true}">Central Heating</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.tv_lounge" [ngModelOptions]="{standalone: true}">Tv Lounge</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.dining_room" [ngModelOptions]="{standalone: true}">Dining Room</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.drawing_room" [ngModelOptions]="{standalone: true}">Drawing Room</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.kitchen" [ngModelOptions]="{standalone: true}">Kitchen</label>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.store_room" [ngModelOptions]="{standalone: true}">Store Room</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_cooling" [ngModelOptions]="{standalone: true}">Central Cooling</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.lawn" [ngModelOptions]="{standalone: true}">Lawn</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.swimming_pool" [ngModelOptions]="{standalone: true}">Swimming Pool</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.furnished" [ngModelOptions]="{standalone: true}">Furnished</label>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.wifi" [ngModelOptions]="{standalone: true}">Wifi</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.balcony" [ngModelOptions]="{standalone: true}">Balcony</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.laundry_room" [ngModelOptions]="{standalone: true}">Laundry Room</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.servant_quarter" [ngModelOptions]="{standalone: true}">Servant Quarter</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.dirty_kitchen" [ngModelOptions]="{standalone: true}">Dirty Kitchen</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<h5 class="gray">Utilities</h5>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.maintenance" [ngModelOptions]="{standalone: true}">Maintenance</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<h5 class="gray">Facing</h5>
									<div class="row">
										<div class="col-sm-3">
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
											</div>
											<div class="af-custom-checkbox">
												<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row plot" *ngIf="showPlotAddOn">
					<div class="row">
						<div class="col-sm-4">
							<h5 class="gray">General Info</h5>
							<div class="price-input ">
								<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice($event)" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
								<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_payment | convertCurrency }}</span> (PKR)</span>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-3">
							<h5 class="gray">Main Features</h5>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.posession" [ngModelOptions]="{standalone: true}">Possesion</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.corner" [ngModelOptions]="{standalone: true}">Corner</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.park_facing" [ngModelOptions]="{standalone: true}">Park Facing</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.boundary_wall" [ngModelOptions]="{standalone: true}">Boundary Wall</label>
							</div>
						</div>
						<div class="col-sm-3">
							<h5 class="gray">Utilities</h5>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.sewerage" [ngModelOptions]="{standalone: true}">Sewerage</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5 class="gray">Facing</h5>
							<div class="row">
								<div class="col-sm-3">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row commercial" *ngIf="showCommAddOn">
					<div class="col-sm-12 col-md-12 no-padd">
						<div class="additional-info">
							<h5 class="gray">General Info</h5>
							<div class="row">
								<div class="col-sm-5">
									<select name="year_built" [(ngModel)]="saveData.property_feature.year_built" [ngModelOptions]="{standalone: true}">
										<option value="">Year Built</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option>
									</select>
								</div>
								<div class="col-sm-5">
									<div class="plus-minus-btns">
										<button class="decrement" type="button" (click)="num_of_floor(-1)"></button>
										<div class="no-of-bath">{{ saveData.property_feature.floorsText }}</div>
										<button class="increment" type="button" (click)="num_of_floor(+1)"></button>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-5">
									<div class="price-input">
										<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice('DP')" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_payment | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>

								<div class="col-sm-5" *ngIf="saveData.purpose == 'rent'">
									<div class="price-input">
										<input type="number" name="security_deposit" placeholder="Security Deposit in PKR (if any)" (keyup)="convertPrice('SD')" [(ngModel)]="saveData.property_feature.security_deposit" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.security_deposit > 1000"><span>{{ saveData.property_feature.security_deposit | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>
							</div>

							<div class="row" *ngIf="saveData.purpose == 'rent'">
								<div class="col-sm-5">
									<div class="price-input">
										<input type="number" name="maintenance_charges" placeholder="Maintenance Charges in PKR (if any)" (keyup)="convertPrice('MC')" [(ngModel)]="saveData.property_feature.maintenance_charges" [ngModelOptions]="{standalone: true}">
										<span class="price-badge" *ngIf="saveData.property_feature.maintenance_charges > 1000"><span>{{ saveData.property_feature.maintenance_charges | convertCurrency }}</span> (PKR)</span>
									</div>
								</div>
							</div>

						</div>
						<hr>
					</div>

					<div class="row">
						<div class="col-sm-9">
							<h5 class="gray">Property Features</h5>
							<div class="row">
								<div class="col-sm-6">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_heating" [ngModelOptions]="{standalone: true}">Central Heating</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_cooling" [ngModelOptions]="{standalone: true}">Central Cooling</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.lift" [ngModelOptions]="{standalone: true}">Elevator/Lift</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.public_parking" [ngModelOptions]="{standalone: true}">Public Parking</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.underground_parking" [ngModelOptions]="{standalone: true}">Underground Parking</label>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.internet" [ngModelOptions]="{standalone: true}">Internet</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.cctv_camera" [ngModelOptions]="{standalone: true}">Cctv Camera</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.backup_generator" [ngModelOptions]="{standalone: true}">Backup Generator</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<h5 class="gray">Utilities</h5>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.maintenance" [ngModelOptions]="{standalone: true}">Maintenance</label>
							</div>
							<div class="af-custom-checkbox">
								<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5 class="gray">Facing</h5>
							<div class="row">
								<div class="col-sm-3">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
									</div>
									<div class="af-custom-checkbox">
										<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-6 col-sm-10">
		<h4>Contact Information</h4>
		<div class="add-contact">
			<label>Phone<span>*</span></label>
			<input class="phn-wd" type="text" name="contact1" placeholder="" formControlName="contact1" [(ngModel)]="contact1" [ngClass]="{ 'is-invalid': submitted && f.contact1.errors }">
			<span class="af-mob"><i class="fa fa-mobile" aria-hidden="true"></i></span>
			<span class="add-more" (click)="toggleContact2(true)"><a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i> Add <span class="mob-none">More</span> </a></span>

			<div *ngIf="submitted && f.contact1.errors" class="invalid-feedback" style="margin-top: -8px; margin-bottom: 5px;">
				<div *ngIf="f.contact1.errors.required">Phone number is required</div>
			</div>

			<div class="second-num" *ngIf="showContact2">

				<input class="phn-wd" type="number" name="contact2" placeholder="" [(ngModel)]="contact2" [ngModelOptions]="{standalone: true}">
				<span class="af-mob"><i class="fa fa-mobile" aria-hidden="true"></i></span>
				<span class="remove-this" (click)="toggleContact2(false)"><a href="javascript:void(0)"><i class="fa fa-minus" aria-hidden="true"></i> <span class="mob-none"> Remove</span></a></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-8" style="margin-top: 10px; margin-bottom: -35px" *ngIf="showSuccess">
		<div class="alert alert-success alert-dismissible fade in">
			<a href="javascript:;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			Property added successfully.
		</div>
	</div>

	<div class="col-xs-8" style="margin-top: 10px; margin-bottom: -35px" *ngIf="showFailure">
		<div class="alert alert-danger alert-dismissible fade in">
			<a href="javascript:;" class="close" (click)="hideFailureMsg()">&times;</a>
			{{ showFailureMsg }}
		</div>
	</div>

	<div class="col-xs-12">
		<div class="submit-btn">
			<button type="button" (click)="SaveData()" [disabled]="loading">Save</button>
		</div>
	</div>
</div>
</div>
</div>
</section>
