<!----- SignUp Options---->
<div class="modal-dialog modal-sm af-signup">
    <div class="modal-content">
        <div class="modal-body">
            <div class="popup-forms">
                <button class="fb-sign" (click)="signInWithFB()"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</button>

                <button class="goo-sign" (click)="signInWithGoogle()"><img src="/assets/site/images/google-icon.png"> Continue with Google</button>
                <div class="af-separator">
                    <span>or</span>
                </div>
                <button type="button" class="email-sign" (click)="open_SignUp_Modal()">Signup with Email</button>
            </div>
            <p class="af-small">By signing up, I agree to Gharbaar’s <a href="javascript:void(0)"> Terms & Conditions.</a></p>
            <div class="row">
                <div class="col-md-8">
                    <p class="already-acc">Already have a Gharbaar account?</p>
                </div>
                <div class="col-md-4">
                    <div class="af-login">
                        <a href="javascript:void(0);" (click)="open_Login_Modal()">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
