<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!--- Landing Page--->
<section class="af-banner" [ngClass]="{'zIndexMaxi': PurposeMob == 'sale' || PurposeMob == 'rent' || PurposeMob == '_I_O'}">
	<div class="banner-overlay"></div>
	<div class="banner-carousel-new">
		<div class="owl-carousel owl-theme">
				<div class="item">
						<picture>
							<source type="image/webp" data-src="assets/site/images/banner5.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
							<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner5.jpg" alt="Gharbaar banner">
						</picture>
				</div>
				<div class="item">
					<picture>
						<source type="image/webp" data-src="assets/site/images/banner1.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
						<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner1.jpg" alt="Gharbaar banner">
					</picture>
				</div>
				<div class="item">
						<picture>
							<source type="image/webp" data-src="assets/site/images/banner2.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
							<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner2.jpg" alt="Gharbaar banner">
						</picture>
				</div>
				<div class="item">
						<picture>
							<source type="image/webp" data-src="assets/site/images/banner3.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
							<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner3.jpg" alt="Gharbaar banner">
						</picture>
				</div>
				<div class="item">
						<picture>
							<source type="image/webp" data-src="assets/site/images/banner4.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
							<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner4.jpg" alt="Gharbaar banner">
						</picture>
				</div>
			</div>
	</div>
	<div class="mobileBannerImg">
		<picture>
			<source type="image/webp" data-src="assets/site/images/mobileHomeBanner.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
			<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/mobileHomeBanner.jpg" alt="Gharbaar banner">
		</picture>
	</div>
	<div class="banner">
		<div class="container-fluid">
			<div class="homePageNewDesign">
					<div class="search-panel banner">
					<h1>Simply Smarter Real Estate</h1>
					<div class="row">
						<div class="searchfilter">
							<ul class="nav nav-tabs mysearch">
								<li class="webBtns" [ngClass]="{'active': Purpose == 'sale'}"><a data-toggle="tab" href="#home" (click)="setPurpose('sale')">Buy</a></li>
								<li class="webBtns" [ngClass]="{'active': Purpose == 'rent'}"><a data-toggle="tab" href="#home" (click)="setPurpose('rent')">Rent</a></li>
								<li class="webBtns" [ngClass]="{'active': Purpose == '_I_O'}"><a data-toggle="tab" href="#_I_O" (click)="setPurpose('_I_O')">Invest</a></li>

								<li class="mobBtns" [ngClass]="{'active': Purpose == 'sale'}"><a href="javascript:;" [routerLink]="setPurposeRoute('sale')">Buy</a></li>
								<li class="mobBtns" [ngClass]="{'active': Purpose == 'rent'}"><a href="javascript:;" [routerLink]="setPurposeRoute('rent')">Rent</a></li>
								<li class="mobBtns" [ngClass]="{'active': Purpose == '_I_O'}"><a href="javascript:;" [routerLink]="investRoute()">Invest</a></li>

							</ul>

							<div class="tab-content" >

								<div id="home" class="tab-pane fade " [ngClass]="{'active in': Purpose == 'sale' || Purpose == 'rent', 'openSide': PurposeMob == 'sale' || PurposeMob == 'rent'}">
									<div class="mobile-header-filter">
										<a class="af-left-close" href="javascript:void(0);" (click)="removeSidebarFilter()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
										<h3>Gharbaar.com</h3>
										<a class="af-right-cross" href="javascript:void(0);" (click)="removeSidebarFilter()">x</a>
									</div>
									<div class="search-inner-box">
										<form>
											<div class="row">
												<div class="wd-100 mob-cols">
													<div class="af-select ngSelect-margins ng-cities">
														<label class="no-padd">City *</label>
														<!-- <select name="city" (change)="selectCity()" class="form-control selectpicker pd-5" [(ngModel)]="SelectedCity.name" [ngModelOptions]="{standalone: true}" required>
															<option *ngFor="let city of cities" [value]="city.name" [id]="city.id">{{ city.name }}</option>
														</select> -->
														<ng-select 	[items]="cities"
																				[(ngModel)]="SelectedCity"
																				bindLabel="name"
																				[clearable]="false"
																				[searchable]="false"
																				dropdownPosition="auto"
																				#citySelecthome
																				name="city"
																				class="form-control"
																				placeholder="Select City"
																				appendTo=".ng-cities"
																				(change)="selectCity()"
																				>
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
													</div>
												</div>

												<div class="wd-100 mob-cols">
													<div class="af-select ngSelect-margins ng-location">
														<label class="no-padd">Location</label>
														<ng-select [items]="areas"
														[virtualScroll]="true"
														[loading]="areasLoading"
														[(ngModel)]="SelectedArea"
														bindLabel="name"
														dropdownPosition="auto"
														#areasSelect
														[formControl]="areasSelect_F"
														name="area"
														class="form-control"
														placeholder="Select Area"
														appendTo=".ng-location"
														(scroll)="onScroll_Areas($event)"
														(scrollToEnd)="onScrollToEnd_Areas()"
														(change)="selectArea()">
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
												</div>
												</div>
												<div class="wd-100 mob-cols">
													<div class="af-select">
														<label>Property Type *</label>
														<div id="myDropDown" class="dropdown">
															<a id="dLabel" role="button" data-toggle="dropdown" data-target="myTabs" href="javascript:void(0)">
																<p *ngIf="SelectedSubType == ''; else ShowSubType">{{ SelectedType }} <span class="caret"></span></p>
																<ng-template #ShowSubType><p>{{ SelectedSubType }} <span class="caret"></span></p></ng-template>
															</a>


															<ul id="myTabs" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
																<div class="mobile-header-filter">
																	<a class="af-left-close" href="javascript:void(0);"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
																	<h3>Property Type *</h3>
																	<a class="af-right-cross" href="javascript:void(0);">x</a>
																</div>

																<ul class="nav nav-tabs">
																	<li *ngFor="let type of searchTypes" [ngClass]="{'active': SelectedType == type}" (click)="setPropertyType(type)"><a id="myhome" href="javascript:void(0)" [attr.data-target]="type + '-typeID'" data-toggle="tab">{{ type }}</a></li>
																</ul>

																<!-- Tab panes -->
																<div class="tab-content">
																	<div class="tab-pane openSide" *ngFor="let type of searchTypes" [ngClass]="{'active': type == SelectedType }" [attr.id]="type + '-typeID'">
																		<ul>
																			<ng-container *ngFor="let item of searchSubTypes[type]" >
																				<li (click)="setPropertySubType(item.name)" [ngClass]="{'active_Prop_Type': item.name == SelectedSubType }">{{ item.name }}</li>
																			</ng-container>
																		</ul>
																	</div>

																	<div class="clearfix"></div>
																	<div class="af-reset-btns">
																		<span class="right filter-close">Done</span>
																		<span class="right reset dis-none" (click)="setPropertyType(searchTypes[0])">Reset</span>
																	</div>
																</div>
															</ul>
														</div>
													</div>
												</div>
												<div class="wd-100 pdlr-5 btn-desktop">
													<div class="find-btn">
														<a href="javascript:;" [routerLink]="setLocRoute()" (click)="setLastSearchData()">FIND</a>
													</div>
												</div>
										</div>
										</form>
										<div class="wd-20 pdlr-5 btn-mobile">
											<div class="find-btn db">
													<a href="javascript:;" [routerLink]="setLocRoute()" (click)="setLastSearchData()">FIND</a>
											</div>
										</div>
									</div>
								</div>

                <div id="_I_O" class="tab-pane fade" [ngClass]="{'active in': Purpose == '_I_O', 'openSide': PurposeMob == '_I_O'}">
								<div class="mobile-header-filter">
									<a class="af-left-close" href="javascript:void(0);" (click)="removeSidebarFilter()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
									<h3>Gharbaar.com</h3>
									<a class="af-right-cross" href="javascript:void(0);" (click)="removeSidebarFilter()">x</a>
								</div>
								<div class="search-inner-box">
                  <form>
                    <div class="row">
                      <div class="wd-100 mob-cols">
												<div class="af-select ngSelect-margins ng-citiesInvest">
													<label class="no-padd">City *</label>
													<ng-select 	[items]="cities"
																			[(ngModel)]="SelectedCity"
																			bindLabel="name"
																			[clearable]="false"
																			[searchable]="false"
																			dropdownPosition="auto"
																			#citySelecthome
																			name="city"
																			class="form-control"
																			placeholder="Select City"
																			appendTo=".ng-citiesInvest"
																			(change)="selectCity()"
																				>
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
												</div>

                      </div>
											<!-- <div class="wd-100 mob-cols">
												<div class="af-select ngSelect-margins ng-location-project">
													<label class="no-padd">Location</label>
													<ng-select 	[items]="projectsLocs[SelectedCity.id]"
																			dropdownPosition="auto"
																			name="area"
																			class="form-control"
																			placeholder="Select Area"
																			appendTo=".ng-location-project">
													<ng-template ng-option-tmp let-item="item" let-index="index">
														{{ item }}
													</ng-template>
												</ng-select>
											</div>
											</div> -->
                      <div class="wd-100 mob-cols">
                        <div class="af-select ngSelect-margins ng-location ng-projects">
                          <label class="no-padd">Project</label>
													<div class="projects">
														<!-- <select class="form-control selectpicker projects" [(ngModel)]="SelectedProject" [ngModelOptions]="{standalone: true}">
															<option [value]="" >Select Project</option>
															<option *ngFor="let p of projects" [value]="p.name" [id]="p.id">{{ p.name }}</option>
														</select>
															<span class="caret"></span> -->

															<ng-select 	[items]="projects"
																					[(ngModel)]="SelectedProject"
																					bindLabel="name"
																					dropdownPosition="auto"
																					#areasSelect
																					name="projects"
																					class="form-control"
																					placeholder="Select Project"
																					appendTo=".ng-projects">
															<ng-template ng-option-tmp let-item="item" let-index="index">
																<a class="dropdownLinks" href="javascript:;" [routerLink]="item.route">{{ item.name }}</a>
															</ng-template>
														</ng-select>

													</div>


                        </div>
                      </div>
                      <div class="wd-100 btn-desktop">
                        <div class="find-btn">
													<a href="javascript:;" [routerLink]="investRoute()">FIND</a>
													<!-- <button type="button" name="button" (click)="investRoute()">FIND</button> -->
                        </div>
                      </div>

                    </div>

                  </form>

                  <div class="wd-20 pdlr-5 btn-mobile">
                    <div class="find-btn db">
											<!-- <button href="javascript:;" (click)="investRoute()">FIND</button> -->
											<a href="javascript:;" [routerLink]="investRoute()">FIND</a>
                    </div>
                  </div>
								</div>
								</div>
							<!-- <div id="menu2" class="tab-pane fade">

						</div> -->

							</div>
						</div>
					</div>

		     	</div>
	     </div>
    </div>
  </div>
</section>
<section class="lastSearches" *ngIf="lastSearchData && lastSearchData != ''">
		<div class="container">
				<p class="headings">Your Recent Searches</p>
				<div class="OuterSearchesBoxes">
						<div class="col-xs-12 col-sm-6 col-md-4 searchColumns" *ngFor="let searchData of lastSearchData;let i = index">
							<a href="javascript:;" [routerLink]="searchData.route" class="innerSearchBoxes">
									<span>{{ searchData.searchName }}</span>
									<span>{{ searchData.type }}</span>
							</a>
						</div>
				</div>
		</div>
</section>

<section class="platinumAgency">
	<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
						<div class="darkArrow">

						</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="homeHeadings">
							<h2>Platinum Agencies</h2>
							<p>gharbaar.com platinum partners 2020</p>
					</div>
					<ng-container >
						<div class="platinumAgenciesCarousel setArrowtop" [ngClass]="{'af-none': platinumData != ''}">
							<div class="owl-carousel owl-theme">
									<div class="item">
										<a href="javascript:;">
												<div class="agencyComingSoon">Coming <span>Soon</span></div>
										</a>
									</div>
									<div class="item">
										<a href="javascript:;">
												<div class="agencyComingSoon">Coming <span>Soon</span></div>
										</a>
									</div>
									<div class="item">
										<a href="javascript:;">
												<div class="agencyComingSoon">Coming <span>Soon</span></div>
										</a>
									</div>
									<div class="item">
										<a href="javascript:;">
												<div class="agencyComingSoon">Coming <span>Soon</span></div>
										</a>
									</div>
						</div>
						</div>
					</ng-container>
					<div class="platinumAgenciesCarousel" *ngIf="homeData && homeData.platinum_agency != ''">
						<owl-carousel id="big" [options]="platinumAgenciesOptions" [items]="platinumSlideAgencies" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
							 <div class="item" *ngFor="let platinumAgency of homeData.platinum_agency;let i = index">
								 <a href="javascript:;" routerLink="{{ setProProfileRoute(platinumAgency) }}">
										 <div class="agencyComingSoon" title="{{ platinumAgency.name }}">
											 	<!-- <img *ngIf="platinumAgency.logo" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + platinumAgency.logo }}" alt="Logo"> -->


												<!-- <picture>
												  <source type="image/webp" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + platinumAgency.logo.split('.')[0] + '.webp' }}" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
												  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + platinumAgency.logo }}" alt="Platinum Agency Logo">
												</picture> -->
												 <img *ngIf="platinumAgency.logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + platinumAgency.logo }}" alt="Platinum Agency Logo">
												<img *ngIf="!platinumAgency.logo" src="assets/site/images/default-image.jpg" alt="Default Image">
										 </div>
								 </a>
								 <div class="agencyNames">
		 							 <p>{{ platinumAgency.name }}</p>
		 							 <ul class="propertiesByAgency">
		 									 <li>{{ platinumAgency.total_properties }} Property for sale</li>
		 									 <li>{{ platinumAgency.total_properties }} Property for rent</li>
		 							 </ul>
									 <p class="visitBtn"><a class="viewWebBtn" href="javascript:;" routerLink="{{ setProProfileRoute(platinumAgency) }}">View Website</a></p>
		 					 		</div>
							 </div>
						</owl-carousel>
					</div>
				</div>
			</div>
	</div>
</section>
<section class="discoverProjects">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
				<div class="lightArrow">

				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8">
				<div class="homeHeadings">
						<h2>Discover New Projects</h2>
						<p>Investment opportunities in Islamabad/rawalpindi</p>
				</div>
				<ul class="allOurProjects">
					<li>
						<a href="javascript:;" routerLink="/skyparkone">
							<div class="projectBox">
									<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/logo_skyspark.svg" alt="SkyParkOne Logo">
									<div class="ProjectNameLoc">
											<p class="projName">Skypark One</p>
											<p class="projAddress">Gulberg Greens, Islamabad</p>
									</div>
							</div>
						</a>
					</li>
					<li>
							<a href="javascript:;" routerLink="/capital-smart-city">
								<div class="projectBox">
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/capitalSmartCityfavi.png" alt="Capital Smart City Logo">
										<div class="ProjectNameLoc">
												<p class="projName">Capital Smart City</p>
												<p class="projAddress">Chakri Road , Rawalpindi</p>
										</div>
								</div>
							</a>
					</li>
					<li>
							<a href="javascript:;" routerLink="/blue-world-city">
								<div class="projectBox">
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/blue_world_logo.png" alt="Blue World City Logo">
										<div class="ProjectNameLoc">
												<p class="projName">Blue World City</p>
												<p class="projAddress">Chakri Road , Rawalpindi</p>
										</div>
								</div>
							</a>
					</li>

				</ul>
				<div class="projectViewMore">
						<a href="javascript:;" routerLink="/projects/All-0-1">View All Projects</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="featuredAgencies">
		<div class="container">
			<div class="homeHeadings">
					<h2>Featured Agencies</h2>
					<p>Top agencies in Islamabad/rawalpindi</p>
			</div>
			<div class="featuredAgenciesCaro" [ngClass]="{'af-none': featuredAgency != ''}">
				<div class="owl-carousel owl-theme">
						<div class="item">
 								 <div class="featureComingSoon">COMING SOON <span>REAL ESTATE Featured Agencies</span></div>
						</div>
						<div class="item">
 								 <div class="featureComingSoon">COMING SOON <span>REAL ESTATE Featured Agencies</span></div>
						</div>
				</div>
			</div>
			<div class="featuredAgenciesCaro" *ngIf="homeData && homeData.featured_agency != ''">
				<owl-carousel id="big" [options]="featureAgenciesOptions" [items]="featureSlideAgencies" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
					 <div class="item" *ngFor="let featuredAgency of featuresArray1; let i = index">
						 <a href="javascript:;" routerLink="{{ setProProfileRoute(featuredAgency) }}">
								 <div class="agencyComingSoon" title="{{ featuredAgency.name }}">
										<img *ngIf="featuredAgency.logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="  data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + featuredAgency.logo }}" alt="Logo">
										<img *ngIf="!featuredAgency.logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Default Image">
								 </div>
						 </a>

						 <a href="javascript:;" routerLink="{{ setProProfileRoute(featuresArray2[i]) }}">
								 <div class="agencyComingSoon" title="{{ featuresArray2[i].name }}">
										<img *ngIf="featuresArray2[i].logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + featuresArray2[i].logo }}" alt="Logo">
										<img *ngIf="!featuresArray2[i].logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Default Image">
								 </div>
						 </a>

						 <a href="javascript:;" *ngIf="i < featuresArray3.length" routerLink="{{ setProProfileRoute(featuresArray3[i]) }}">
								 <div class="agencyComingSoon" title="{{ featuresArray3[i].name }}">
										<img *ngIf="featuresArray3[i].logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + featuresArray3[i].logo }}" alt="Logo">
										<img *ngIf="!featuresArray3[i].logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Default Image">
								 </div>
						 </a>
					 </div>
				</owl-carousel>
			</div>
		</div>
</section>
<section class="popularLocation">
		<div class="container">
				<div class="homeHeadings">
						<h2>Popular locations</h2>
						<p>Popular places to rent & buy house, plot and apartment</p>
				</div>
				<div class="popularLocs">
						<ul *ngFor="let popularLocation of popularLocations">
								<li class="headings"><h3>{{ popularLocation.category }}</h3></li>
								<li *ngFor="let location of popularLocation.loc">
										<a href="javascript:;" [routerLink]="setLocUrl(location)">
												{{ popularLocation.category }} in {{ location.name }} ({{ location.count }})
										</a>
								</li>
						</ul>
				</div>
		</div>
</section>
<section class="how-it-work">
	<div class="container">
		<div class="homeHeadings">
				<h2>HOW IT WORKS</h2>
				<p>Welcome to Gharbaar.com!</p>
		</div>
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<p>Welcome to Gharbaar.com!  </p>
				<p>Explore the several categories of real estate now available throughout Islamabad:</p>
				<ul class="ticks-listings">
					<li>Homes for Sale or Rent</li>
					<li>Apartment rentals/sale</li>
					<li>Raw land for sale/development</li>
					<li>Commercial/industrial property for sale/rent</li>
				</ul>
				<p>Powerful online tools make it easy to review projects and properties: </p>
				<ul class="ticks-listings">
					<li>Compare and contrast the key features and amenities of a range of properties.</li>
					<li>Review photos and videos to virtually “experience” specific properties or projects.</li>
					<li>Custom-sort by location, size, amenities, and prices to find exactly what you’re looking for.</li>
					<li>Compare listings and search for the right investment by filtering through the listings being offered. </li>
				</ul>
				<p>Each property listing includes direct and personal contact with its representative or agent. Simply click on the links to be put in touch!</p>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
					<div>
						<picture class="img-responsive">
							<source type="image/webp" data-src="assets/site/images/howItWork.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
							<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/howItWork.png" alt="How It work">
						</picture>
					</div>
			</div>
		</div>
	</div>
</section>
<section class="recentBlogs">
		<div class="container">
			<div class="homeHeadings">
					<h2>Recent from the Blog</h2>
					<p>Real Estate Blogs</p>
			</div>
			<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-10 col-md-offset-1">
						<div class="desktopBlogsHome" *ngFor="let blog of recentBlogs; let indx = index">
							<div class="col-xs-12 col-sm-4 col-md-4">
									<a class="blogsLinks" href="javascript:;" routerLink="{{ 'blog/' + blog.title_slug }}">
										<div class="singleBlogBox">
												<div class="blogImage-box">
														<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/blogs/thumbnails/' + blog.image}}" alt="Blog Image">
														<div class="category-icon">
																<img src="assets/site/images/categoryBlog.svg" alt="Category Icon">
														</div>
												</div>
												<div class="blogDescription homepageBlog">
														<p class="blogTitle">{{ blog.title }}</p>
														<p class="timeWriterName">{{ blog.name }} • {{ blog.created_at | date }}</p>
												</div>
										</div>
									</a>
							</div>
							</div>
							<div class="homePageBlogs" *ngIf="homeData && homeData.recentBlogs != ''">
								<owl-carousel [options]="homePageBlogs" [items]="homePageBlogsItems" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
									 <div class="item" *ngFor="let blog of recentBlogs; let indx = index">
										 <div class="col-xs-12">
												 <a class="blogsLinks" href="javascript:;" routerLink="{{ 'blog/' + blog.title_slug }}">
													 <div class="singleBlogBox">
															 <div class="blogImage-box">
																	 <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/blogs/thumbnails/' + blog.image}}" alt="Blog Image">
																	 <div class="category-icon">
																			 <img src="assets/site/images/categoryBlog.svg" alt="Category Icon">
																	 </div>
															 </div>
															 <div class="blogDescription homepageBlog">
																	 <p class="blogTitle">{{ blog.title }}</p>
																	 <p class="timeWriterName">{{ blog.name }} • {{ blog.created_at | date }}</p>
															 </div>
													 </div>
												 </a>
										 </div>
									 </div>
								</owl-carousel>
							</div>
							<div class="projectViewMore">
									<a href="javascript:;" routerLink="/blog">View All Blogs</a>
							</div>
					</div>
			</div>
		</div>
</section>
<section class="buildingImage">
		<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/skyline-full.svg" alt="Gharbaar Footer">
</section>

<!---- Change Area Modal ---->
<div class="modal fade" id="unit-area-modal" role="dialog">
	<div class="modal-dialog unit-area">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Area</h4>
			</div>
			<div class="modal-body">
				<div class="unit-area-form">
					<select name="size-unit" class="ng-pristine ng-invalid ng-touched" [(ngModel)]="tempUnit">
						<option *ngFor="let unit of searchUnits" value="{{ unit.unit }}">{{ unit.name }}</option>
					</select>
					<button data-dismiss="modal" (click)="UpdateUnit()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
