<!-- User Likes -->
<section class="credits-sec">
  <div class="container">
    <div class="col-xs-12 col-sm-3">
      <div class="sidebar-tabs">
        <ul class="nav nav-tabs">
          <li class="active" (click)="setActiveTab('Listings')">
            <a data-toggle="tab" href="#savelist">
              <div class="af-side-lists">
                <h5 class="no-margin"><img src="assets/site/images/acti-listings-1.png"> Saved Listings </h5>
              </div>
            </a>
          </li>
          <!-- <li (click)="setActiveTab('Projects')">
            <a data-toggle="tab" href="#saveproj">
              <div class="af-side-lists">
                <h5 class="no-margin"><img src="assets/site/images/waiting-appr.png"> Saved Projects </h5>
              </div>
            </a>
          </li> -->
        </ul>
        <hr>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="tab-content af-listing-tabs">

        <div id="savelist" class="tab-pane fade in active">
          <h3>Saved Listings</h3>
          <div class="row" *ngIf="properties.data.length > 0">
            <div class="col-xs-12 col-sm-4" *ngFor="let property of properties.data">
              <div class="sav-lists">
                <a href="javascript:void(0)" routerLink="{{ propertyRoute(property.property) }}">

                  <!-- If Images Given -->
                  <img *ngIf="property.property.all_images && property.property.all_images != ''" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.property.all_images.split(',')[0] }}">

                  <!-- If No Image Given -->
                  <img *ngIf="property.property.all_images == null || property.property.all_images == '' " src="{{'assets/site/images/default-image.jpg'}}">

                  <div class="sav-listing-det">
                    <h4>{{ property.property.title }}</h4>
                    <p>{{ property.property.location_name }}, {{ property.property.city }}</p>
                    <p class="gray small">
                      <span *ngIf="property.bedrooms">{{ property.bedrooms }} beds, </span>
                      <span *ngIf="property.bathrooms">{{ property.bathrooms }} baths</span>
                      <span class="right-list-pric">PKR {{ property.property.price | convertCurrency }}</span></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <p *ngIf="properties.data.length == 0 && !loading">You have not saved any listings</p>
          </div>

          <div id="saveproj" class="tab-pane fade">
            <h3>Saved Projects</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="sav-proj">
                  <a href="javascript:void(0)">
                    <img src="assets/site/images/default-image.jpg">
                    <div class="sav-proj-det">
                      <h3>The Centrium</h3>
                      <p>Islamabad</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="sav-proj">
                  <a href="javascript:void(0)">
                    <img src="assets/site/images/default-image.jpg">
                    <div class="sav-proj-det">
                      <h3>The Centrium</h3>
                      <p>Islamabad</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="sav-proj">
                  <a href="javascript:void(0)">
                    <img src="assets/site/images/default-image.jpg">
                    <div class="sav-proj-det">
                      <h3>The Centrium</h3>
                      <p>Islamabad</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="sav-proj">
                  <a href="javascript:void(0)">
                    <img src="assets/site/images/default-image.jpg">
                    <div class="sav-proj-det">
                      <h3>The Centrium</h3>
                      <p>Islamabad</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
