/*----------------------------  */
/* General Payment Plans */
/*----------------------------  */




  /********************Slide1*****************/



  .slide1d{
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
}
.below-portion ul {
    padding: 0px;
    list-style: none;
    float: left;;
}
section.payment-plan {
    padding: 48px 0;
}
div#nav-general section {
    padding: 48px 0;
}
.below-portion ul li {
    display: inline-block;
    padding: 0px 40px;
}

.below-portion {
    clear: both;
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    padding-right: 15%;
}

.headtext {
    float: right;
    color: white;
    font-size: 36px;
    font-family: poppins-medium;
}

.wd90{
    width: 90px;
}

  /********************Slide2*****************/
  .below-portion2 {
    position: absolute;
    bottom: 20%;
    left: 35%;
}
.headtext2 {
    float: right;
    color: white;
    font-size: 33px;
    line-height: 35px;
    font-family: poppins-medium;
}
.greytextp {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 60px;
    z-index: 999;
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);
    transform: translate(90%, 15px) rotate(-90deg);
    overflow: hidden;
    font-family: poppins-bold;
}


  /********************Slide4*****************/
  .below-portion4 {
    position: absolute;
    top: 15%;
    left: 45%;
    z-index: 1000;
}
.headtext4 {
  float: right;
  color: white;
  font-size: 36px;
  line-height: 40px;
  font-family: poppins-medium;
}
.greytextp4 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 60px;
  z-index: 999;
  text-transform: uppercase;
  color: rgba(255,255,255,0.2);
  transform: translate(8%, 15px) rotate(-89.9deg);
  overflow: hidden;
  /* z-index: 1000; */
  font-family: poppins-bold;
}

  /********************Slide7*****************/
  .below-portion7 {
    clear: both;
    position: absolute;
    bottom: 135px;
    left: 35%;
}
.headtext7 {
  float: right;
  color: white;
  font-size: 36px;
  line-height: 40px;
  font-family: poppins-medium;
}
.greytextp7 {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 55px;
  z-index: 999;
  text-transform: uppercase;
  color: rgba(255,255,255,0.2);
  transform: translate(94%, 15px) rotate(-90deg);
  overflow: hidden;
  font-family: poppins-bold;
}

 /********************Slide10*****************/
 .greytextp10 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 52px;
  z-index: 999;
  text-transform: uppercase;
  color: rgba(255,255,255,0.2);
  transform: translate(10%, 15px) rotate(-89.9deg);
  overflow: hidden;
  /* z-index: 1000; */
  font-family: poppins-bold;
}
.below-portion10 {
  position: absolute;
  top: 27%;
  left: 40%;
  z-index: 1000;
}


  /*******************************************/


  section.payment-plan.slide3 {
    padding-top: 30px;
}
  .heading-text {
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
    color: #8AC441;
    font-family: poppins-semibold;
    padding-bottom: 20px;
}

.comparison {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    position: relative;
    font-size: 12px;
    font-family: helvetica-bold;
  }

  .comparison table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
    table-layout: auto;
    white-space: nowrap;
  }

  .comparison table th {
    background-color: #8AC441;
    text-align:center;
    color:#fff;
    padding: 3px 10px;
    text-transform: uppercase;
  }

  .comparison table th.graybk{
    background-color: #3C3D3D;
  }

  .comparison table td {
    background-color: #DDDDDC;
    padding: 10px 10px;
}

.comparison table td.floor-blue {
    background-color: #02A89E;
    color: #fff;
    text-transform:uppercase;
}

.comparison table td.bk-transparent{
    background-color:transparent;
}

.cutred {
    color: red;
    text-decoration: line-through;
    text-decoration-style: solid;
}
.cutred span{
    color:black;
}

.comparison table td.solid-red {
    background-color: #EB2027;
    color: #fff;
}
.comparison table td.solid-orange {
    background-color: #F06927;
    color: #fff;
}

  .comparison table th.smop0{
      opacity: 0;
  }

  .comparison table td.smop0 {
      opacity: 0;
  }


  /****** For Slide before after*******/
  /* .payment-plan.slide3 .comparison::before {
    content: "";
    background-image: url(../images/page3-side1.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: -50px;
}

.payment-plan.slide3 .comparison::after {
    content: "";
    background-image: url(../images/page3-side2.png);
    background-size: contain;
    background-position:right;
    position: absolute;
    background-repeat: no-repeat;
    top: -65px;
    width: 100%;
    height: 15%;
    z-index: -1;
    right: 20px;
}

.payment-plan.slide5 .comparison::before {
  content: "";
  background-image: url(../images/page3-side1.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: -50px;
}

.payment-plan.slide5 .comparison::after {
  content: "";
  background-image: url(../images/page5-side2.png);
  background-size: contain;
  background-position:right;
  position: absolute;
  background-repeat: no-repeat;
  top: -65px;
  width: 100%;
  height: 15%;
  z-index: -1;
  right: -50px;
}

.payment-plan.slide5 .comparison table::after {
  content: "";
  background-image: url(../images/page5-side3.png);
  background-size: contain;
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0px;
  width: 100%;
  height: 25%;
  z-index: -1;
  right: -50px;
}


.payment-plan.slide6 .comparison::before {
  content: "";
  background-image: url(../images/page6-side2.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
  height: 15%;
  z-index: -1;
  left: -50px;
}

.payment-plan.slide6 .comparison::after {
  content: "";
  background-image: url(../images/page6-side1.png);
  background-size: contain;
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  top: -65px;
  width: 100%;
  height: 110%;
  z-index: -1;
  right: -50px;
} */

/**************Slide22***********/

.notetext {
  padding: 15em 0em;
  padding-left: 15em;
}

.notetext .notehead {
  color: #33373A;
  font-family: helvetica-bold;
  font-size: 25px;
}

.notetext ul {
  padding-left: 20px;
  padding-top: 15px;
  color: #6D6D6D;
  font-family: helvetica-bold;
  font-size: 17px;
}

.payment-plan.slide22 .notetext::before {
  content: "";
  /* background-image: url(../images/page22-side1.png); */
  background-size: contain;
  background-position: left;
  position: absolute;
  background-repeat: no-repeat;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: -35px;
}

.payment-plan.slide22 .notetext::after {
  content: "";
  /* background-image: url(../images/page22-side2.png); */
  background-size: contain;
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: 0px;
}

/**************Slide23***********/
.lastslide {
  padding-top: 15em;
  padding-bottom: 10em;
  padding-left: 5em;
  position: relative;
}

.lastslide ul {
  list-style: none;
  padding: 0px;
  display: table;
  padding-bottom: 35px;
}

.lastslide ul li {
  display: table-cell;
  padding: 0px 25px;
  position: relative;
  vertical-align: middle;
}

.lastslide ul li:first-child {
  padding-left: 0px;
}

.lastslide ul li::after {content: "";position: absolute;width: 1px;height: 80%;background-color: #a7a7a7;right: 0;}

.lastslide ul li:first-child::after {
  top: 9px;
}

.lastslide ul li:last-child::after {
  position: unset;
}

.payment-plan.slide23 .lastslide::before {
  content: "";
  /* background-image: url(../images/page23-side1.png); */
  background-size: contain;
  background-position: left;
  position: absolute;
  background-repeat: no-repeat;
  top: 0px;
  width: 100%;
  height: 20%;
  z-index: -1;
  left: -35px;
}

.payment-plan.slide23 .lastslide::after {
  content: "";
  /* background-image: url(../images/page22-side2.png); */
  background-size: contain;
  background-position: right;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: 0px;
}

.lastslide p b {
  color: #33373A;
  font-size: 25px;
  text-transform: uppercase;
  font-family: helvetica-bold;
}

.lastslide p {
  margin: 0px;
  color: #6D6D6D;
  text-transform: uppercase;
  font-family: helvetica-bold;
  font-size: 17px;
}
nav.nav-justified.flex-column .nav.nav-tabs li {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
}

nav.nav-justified.flex-column .nav.nav-tabs li.active a {
    background-color: #8ac441;
    color: #fff;
}

@media(max-width:1199px){
    .headtext {
      font-size: 30px;
  }
  .below-portion {
      clear: both;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      padding-right: 14%;
  }
  .greytextp {
      font-size: 46px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.2);
      transform: translate(95%, 0px) rotate(-90deg);
  }
  .headtext4 {
      float: right;
      color: white;
      font-size: 25px;
      line-height: 28px;
      font-family: poppins-medium;
  }
  .greytextp4 {
    font-size: 45px;
    z-index: 999;
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);
    transform: translate(12%, 0px) rotate(-89.9deg);
}
.headtext7 {
  font-size: 26px;
  line-height: 29px;
}

.greytextp7 {
  font-size: 40px;
  z-index: 999;
  text-transform: uppercase;
  color: rgba(255,255,255,0.2);
  transform: translate(98%, 25px) rotate(-90deg);
}
.below-portion10 {
  position: absolute;
  top: 19%;
  left: 45%;
  z-index: 1000;
}
.greytextp10 {
  font-size: 43px;
  color: rgba(255,255,255,0.2);
  transform: translate(10%, 15px) rotate(-89.9deg);
}
.greytextp7 {
  transform: translate(98%, 0px) rotate(-90deg);
}

}

@media(max-width:991px){
  .headtext {
      font-size: 22px;
  }
  .below-portion {
      clear: both;
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      padding-right: 14%;
  }
  .greytextp {
    font-size: 34px;
}
.headtext4 {
  font-size: 20px;
  line-height: 22px;
}
.greytextp4 {
  font-size: 34px;
}

.below-portion7 {
  clear: both;
  position: absolute;
  bottom: 90px;
  left: 32%;
}
.headtext7 {
  font-size: 24px;
  line-height: 26px;
}
.greytextp7 {
  font-size: 31px;
}
.greytextp10 {
  font-size: 32px;
}
.notetext {
  padding-left: 3em;
}
.lastslide p {
  font-size: 12px;
}
.lastslide p b {
  font-size: 18px;
}

}

@media(max-width:767px){
  .slide1d{
    display:none;
  }
  .below-portion {
    position: unset;
    padding: 0%;
    text-align:center;
  }
  .below-portion ul {
    float: none;
    width: 100%;
  }
  .headtext {
    width: 100%;
    padding: 20px 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  .greytextp7
  {
    display:none;
  }
  .comparison::before,
  .comparison::after,
  .comparison table::after,
  .comparison table::before{
    position: unset !important;
  }
  .payment-plan.slide22 .notetext::before,
  .payment-plan.slide22 .notetext::after{
    position:unset;
  }
  .payment-plan.slide23 .lastslide::before,
  .payment-plan.slide23 .lastslide::after{
    position:unset;
  }
  .notetext {
    padding: 3em 0em;
    padding-left: 1em;
  }
  .lastslide {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    position: relative;
}
}

/******************* tabs************************/
.fancybox-is-open .fancybox-bg {
    opacity: 1 !important;
    background: #000 !important;
}
.paytabs{
  position:relative;
  padding: 50px 0;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #8ac441;
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid #8ac441;
  border-left: 100px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid #8ac441;
  border-right: 100px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
}

#triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 100px solid #8ac441;
  border-left: 100px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.mytabs {
  padding: 20px 10px;
  padding-top: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0,0,0,.12);
  position: relative;
  width: 100%;
  float: left;
}
nav.nav-justified.flex-column .nav.nav-tabs {
    display: flex;
    width: 100%;
}
.mytabs .nav-tabs a {
  color: #8ac441;
  text-transform: uppercase;
  font-family: poppins-semibold;
  border-color: #e9ecef #e9ecef #dee2e6;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  text-align: center;
  padding: 8px 16px;
}

.mytabs .nav-tabs a.active {
  background-color: #8ac441;
  color: #fff;
}

.heading-text.fixm {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 999;
}



@media(max-width:767px){
  .heading-text {
    font-size: 23px;
    padding-bottom: 10px;
}
#triangle-topleft {
  border-top: 50px solid #8ac441;
  border-right: 50px solid transparent;
}

#triangle-topright {
  border-top: 50px solid #8ac441;
  border-left: 50px solid transparent;
}

#triangle-bottomleft {
  border-bottom: 50px solid #8ac441;
  border-right: 50px solid transparent;
}

#triangle-bottomright {
  border-bottom: 50px solid #8ac441;
  border-left: 50px solid transparent;
}
}


/*********** payment timer ***************/

.timer_nextRate.payment-timer{
  text-align:center;
}

.payment-timer .timerIcon {
  width: 40px;
  height: 40px;
}

.payment-timer p.counter {
  font-size: 24px;
  margin-bottom: 0;
  line-height: 40px;
  background-color: #fff;
  color: #424242;
  width: 40px;
  font-family: GoogleSans-Bold;
  padding: 0;
  display: inline-block;
  float: left;
}
.timer_nextRate{
  width: 100%;
}
.payment-timer p.timer-title {
  font-size: 17px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: GoogleSans-Regular;
  padding: 9px 0px 0px 5px;
  display: inline-block;
  float: left;
}

.payment-timer .countdown_box p.timer-Text {
  font-size: 20px;
  font-family: GoogleSans-Regular;
  padding: 7px 0 0 10px;
}

.payment-timer .timer_nextRate{
  padding: 10px 10px 10px;
}
@media(max-width:991px) {
    .payment-timer p.timer-title {
    display: block;
    font-size: 14px;
    }
}
@media(max-width:360px) {
    .payment-timer p.timer-title {
    font-size: 12px;
    }
}
