.hot-offer{
	background-color: #1AB5FF;
	color: #fff;
	padding-bottom: 50px;
	text-transform: uppercase;
}
.hot-offer h1{
	text-align: center;
	font-size: 28px;
	font-family: "GoogleSans-Medium";
    padding: 50px 0 20px 0;
}
.hot-offer h3{
	text-align: center;
	font-size: 28px;
	font-family: "GoogleSans-Medium";
	font-weight: 600;
}
.dark-wrap{
	  background-color: #0070B4;
   min-height: 75px;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
        margin-top: 40px;
}
.hot-offer-table .payment-table{
	border:0px;
	padding: 0px;
}
.hot-offer-table .payment-table table thead{
	background-color: #676C81;
	color: #fff;
}
.hot-offer-table  .payment-table table{
	text-align: center;
	text-transform: uppercase;
}
.hot-offer-table  .payment-table{
	width: 100%;
	float: left;
	margin: 0 auto;
}
tr.mt-aa td{
    width: 10%;
}
tr.mt-aa td:last-child{
	border-right: none;
}
.hot-offer-table .payment-table table td span{
	font-size: 18px;
	color: #676C81;
}
.hot-offer-table .payment-table table td del{
	font-size: 16px;
}
.hot-offer-table .payment-table span.pkr{
	float: unset;
    font-size: 12px !important;
    padding: 0;

}
.hot-offer-table .payment-table {
    border: none;
}
p.redirectText {
	text-align: center;
}
p.redirectText span{
	color: #006aff;
}
.only-37 p{
	background-color: transparent;
    color: #FF7F00;
    text-transform: capitalize;
    text-align: center;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    margin: 20px 0 0;
}
.only-37 p del{
	text-decoration-color: #f00;
	font-size: 18px;
}
p.call{
	color: #3B3B3B;
	text-align: center;
	font-size: 22px;
	padding: 40px 0 0;
}
p.call span{
	color: #3B3B3B;
	font-size: 16px;
	text-decoration: none;
}
p.call a {
    color: #006aff;
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}
p.call a:hover{
	text-decoration: none;
}
a.visit{
	font-size: 16px;
	color: #006aff;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	margin-top: 50px;
	font-family: "GoogleSans-Regular", sans-serif;
}
/*.hottimer p.counter {
    display: inline-block;
    background: #fff;
    margin: 5px;
    width: 20px;
    height: 25px;
    color: #00aeef;
}*/
.hottimer .limited-countdown_box{
	      padding: 0 0 0 0;
}
.hottimer p.counter span{
	display: inline;
	background: #F44336;
    margin: 5px;
    color: #fff;
        padding: 5px 10px;
    border-radius: 10PX;
    font-size: 22px;

}
.hottimer.timerBoxPaytable{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.hottimer .limited-countdown_box .timer_inner p.timer-title{
	padding-top: 20px;
}
.hottimer p.counter span.med-w {
    padding-top: 10px !important;
}
.hottimer p.counter span.big-w {
    padding-top: 15px;
}
.hottimer p.counter span.colon{
	color: #fff;
    background-color: transparent;
    padding: 0;
    margin: 0 5px;
}
.hottimer .timer_inner{
	border:0px;

}
.hot-offer-table .af_payment_plan{
	border-bottom: 0px;
	padding-bottom: 0;
}
@media(max-width: 768px){
	.hot-offer-table  .payment-table{
		width: 100%;
		float: unset;
		margin: 0 auto;
	}
}
@media(max-width: 480px){
	.hottimer p.counter span{
		    background: #F44336;
		    color: #fff;
	}
	.hot-offer h1 br{
		display: none;
	}
	.hot-offer h1{
		font-size: 22px;
		padding: 20px 0 5px 0;
	}
	.dark-wrap{
		width: auto;
	}
	.hot-offer h3{
		font-size: 18px;
	}
	.hottimer .limited-countdown_box{
		padding: 0 0px 0 0;
	}
	.hottimer p.counter span{
		    padding: 2px 8px;
	    border-radius: 10PX;
	    font-size: 16px;
	    margin: 3px;
	    font-size: 18px;
	    font-weight: 600;
	}
	.limited-countdown_box .timer_inner p.counter {
	    line-height: 10px;
	    padding: 0px 4px 0px;

	}
	.hot-offer , .hot-offer-table section.af_payment_plan{
		padding-bottom: 20px;
	}
	.only-37 p{
		    margin: 10px 0;
		    font-size: 18px;
	}
	p.call{
		font-size: 18px;
    	padding: 0 0 10px;
	}
	p.visit{
		font-weight: 400;
		padding-top: 0px;
	}
	.hottimer p.counter span.colon{
		margin: 0px;
	}
}
