<section class="hot-offer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>blue world city plot files<br> available on investor rates</h1>


			</div>
		</div>
	</div>
</section>
<div class="scrollspy hot-offer-table" id="propertyType-section">
	<section class="af_payment_plan">
		<div class="container">
			<div class="row">
			<div class="col-12">
				<div class="payment-table">
					<div id="table-scroll" class="table-scroll">
						<div class="table-wrap">
							<table class="main-table">
								<thead>
									<tr>
										<td class="fixed-side">Plot Category</td>
										<td class="fixed-side">Total Price (PKR) </td>
										
										 <td class="borderBT">
																	<tr>
																		<td class="text-center" colspan="3">First Downpayment	</td>
																	</tr>
																	<tr class="mt-aa">
																		<td><br>1 file<br><br></td>
														<td>2-5 files</td>
														<td>5+ files</td>
																	</tr>
															</td>

															<td class="borderBT">
																	<tr>
																		<td colspan="2">Remaining Installments</td>
																	</tr>
																	<tr>
																		<td>Monthly Installments (40)</td>
														<td>Half Year Installments (8)</td>
																	</tr>
															</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="fixed-side">5 Marla Residential</td>
										<td class="fixed-side">800,000</td>
										<!-- <td><del>80,000</del> <span>72,000</span></td> -->
										<td>
																<tr>
																	<td><del>80,000</del> <span>72,000</span></td>
																	<td><del>80,000</del> <span>65,000</span></td>
																	<td><del>80,000</del> <span>55,000</span></td>
																</tr>
															</td>
															<td>
																<tr>
												<td>9,500</td>
												<td>42,500</td>
												</tr>
										</td>

									</tr>
									<tr>
										<td class="fixed-side">8 Marla Residential</td>
										<td class="fixed-side">1,000,000</td>
										<td>
																<tr>
																	<td><del>100,000</del> <span>90,000</span></td>
																	<td><del>100,000</del> <span>83,000</span></td>
																	<td><del>100,000</del> <span>75,000</span></td>
																</tr>
															</td>
															<td>
																<tr>
												<td>11,250</td>
												<td>56,250</td>
												</tr>
										</td>
									</tr>
									<tr>
										<td class="fixed-side">10 Marla Residential</td>
										<td class="fixed-side">1,200,000</td>
										<td>
																<tr>
																	<td><del>120,000</del> <span>108,000</span></td>
																	<td><del>108,000</del> <span>100,000</span></td>
																	<td><del>108,000</del> <span>85,000</span></td>
																</tr>
															</td>
															<td>
																<tr>
												<td>13,500</td>
												<td>67,500</td>
												</tr>
										</td>
									</tr>
									<tr>
										<td class="fixed-side">1 Kanal Residential</td>
										<td class="fixed-side">2,100,000</td>
										<td>
																<tr>
																	<td><del>210,000</del> <span>189,000</span></td>
																	<td><del>210,000</del> <span>180,000</span></td>
																	<td><del>210,000</del> <span>160,000</span></td>
																</tr>
															</td>
															<td>
																<tr>
												<td>23,625</td>
												<td>118,125</td>
												</tr>
										</td>
									</tr>
									<tr>
										<td class="fixed-side">2 Kanal Residential</td>
										<td class="fixed-side">4,050,000</td>
										<td>
																<tr>
																	<td><del>450,000</del> <span>364,500</span></td>
																	<td><del>450,000</del> <span>355,000</span></td>
																	<td><del>450,000</del> <span>325,000</span></td>
																</tr>
															</td>
															<td>
																<tr>
												<td>55,000</td>
												<td>180,625</td>
												</tr>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- <div class="only-37">
						<p>  Only 3 plot files left</p>
					</div> -->
					<p class="call"> <span>Call: </span><a href="tel:03411100808">03411100808</a></p>
					<a class="visit" href='https://gharbaar.com/blue-world-city'>visit website</a>
					<!-- <p class="redirectText">You will be redirected to parent website in <span>{{ totalTime }} seconds</span></p> -->

				</div>
			</div>
		</div>
		</div>
	</section>
</div>
