<section class="communitySec">
    <div class="container">
        <div class="socialSubscribers">
          <div class="wavy-leftRight-layers">
              <h2 class="joiningHeading">Join our growing community</h2>
          </div>
            <ul>
              <li>
                  <div class="socialBoxes email">
                      <img src="assets/site/images/email.svg" alt="Subscribers">
                      <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                      <p class="numbersTotal" *ngIf="getCommunity.gb_subscribers || getCommunity.gb_subscribers == 0">{{ getCommunity.gb_subscribers }}</p>
                      <p class="socialName">Subscribers</p>
                  </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Youtube"> -->
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <p class="numbersTotal" *ngIf="getCommunity.youtube_subscribers || getCommunity.youtube_subscribers == 0">{{ getCommunity.youtube_subscribers }}</p>
                    <p class="socialName">Youtube</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Twitter"> -->
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <p class="numbersTotal" *ngIf="getCommunity.twitter_followers || getCommunity.twitter_followers == 0">{{ getCommunity.twitter_followers }}</p>
                    <p class="socialName">Twitter</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes insta">
                    <img src="assets/site/images/instagram.svg" alt="Instagram">
                    <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
                    <p class="numbersTotal" *ngIf="getCommunity.instagram_followers || getCommunity.instagram_followers == 0">{{ getCommunity.instagram_followers }}</p>
                    <p class="socialName">Instagram</p>
                </div>
              </li>
              <li>
                <div class="socialBoxes">
                    <!-- <img src="assets/site/images/" alt="Facebook"> -->
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <p class="numbersTotal">15</p>
                    <p class="socialName">Facebook</p>
                </div>
              </li>
            </ul>
        </div>
    </div>
</section>
