<!---- Login Modal ---->

  <div class="modal-dialog modal-sm af-signup">
      <div class="modal-content">
          <div class="modal-body">
              <div class="signin-form">
                  <form>
                      <span class="mat-error" *ngIf="fieldsError.inValidCreds">
                        <strong>{{ fieldsError.inValidCredsMsg }}</strong>
                      </span>

                      <span class="mat-error" *ngIf="notValidEmail && !fieldsError.email">
                        Please enter a valid email address
                      </span>
                      <span class="mat-error" *ngIf="fieldsError.email">
                        Email is <strong>required</strong>
                      </span>

                      <input type="email" [ngClass]="{ 'errors': notValidEmail || fieldsError.email || fieldsError.inValidCreds }" name="email" placeholder="Email Address" [(ngModel)]="user.email" name="email">

                      <div class="passtogg-box">
                        <span class="mat-error" *ngIf="fieldsError.password">
                          Password is <strong>required</strong>
                        </span>
                        <input [type]="showPass ? 'text' : 'password'" [ngClass]="{ 'errors': fieldsError.password || fieldsError.inValidCreds }" name="password" placeholder="Password" [(ngModel)]="user.password" name="password">
                        <i class="fa fa-eye" aria-hidden="true" (click)="togglePass()" [ngClass]="{'hide': showPass}"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true"  (click)="togglePass()" [ngClass]="{'hide': !showPass}"></i>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="af-remember">
                                  <p><input class="custom-checkbox" type="checkbox" [(ngModel)]="user.remember_me" name="remember_me"> Remember  me</p>
                              </div>
                          </div>
                          <!-- <div class="col-md-6">
                              <div class="forget-pass">
                                  <a href="javascript:void(0)">Forgot Password?</a>
                              </div>
                          </div> -->
                      </div>
                      <div class="popup-forms">
                          <button type="submit" class="email-sign" (click)="login()" [disabled]="loading">
                            Log In
                            <span class="spinner" [hidden]="!loading"><i class="fa fa-spinner fa-spin"></i></span>
                          </button>
                          <div class="af-separator">
                              <span>or</span>
                          </div>
                          <button class="fb-sign" (click)="signInWithFB()"><i class="fa fa-facebook" aria-hidden="true"></i> Continue with Facebook</button>
                          <button class="goo-sign" (click)="signInWithGoogle()"><img src="/assets/site/images/google-icon.png"> Continue with Google</button>
                      </div>
                      <div class="signUpOptions">
                          <p>Don't have an account?</p>
                          <a href="javascript:;" (click)="open_SignUpOpts_Modal()">Create a Gharbaar Account</a>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
