<!-- Search Projects -->
<section class="agentsCategories">
    <div class="full-width">
        <ul>
          <li *ngFor="let category of ProjectCategories">
            <a href="javascript:;" [ngClass]="{'active': category.value == categoryValue }" (click)="categoryFilter(category)">{{ category.name }}</a>
          </li>
        </ul>
    </div>
</section>
<section class="inner-pages-Btn-filter" [ngClass]="{'fixed':stickfilter}" #section_af>
		<div class="full-width">
			<div class="innerFilterfull">
					<div class="innerFilterBox agentPro">
						<div class="filteroptions mobile">
								<div class="filterBtns">
									<div class="dropdown">
										<button [ngClass]="{'active': searchParms.city.name != 'All'}" data-toggle="dropdown" type="button" name="button" id="city" aria-haspopup="true" aria-expanded="false">
                      <span *ngIf="searchParms.city.name == 'All'">City</span>
											<span *ngIf="searchParms.city.name != 'All'">{{ searchParms.city.name }}</span>
										</button>
										<div class="dropdown-menu" aria-labelledby="city">
											<button *ngFor="let city of cities" [ngClass]="{'active': city.name == searchParms.city.name }" type="button" name="button" (click)="selectCity(city)">{{ city.name }}</button>
										</div>
									</div>
								</div>
						</div>
						<!-- <div class="filteroptions mobile">
								<div class="filterBtns">
										<div class="dropdown locationDrop">
											<button type="button" name="button" id="location" aria-haspopup="true" aria-expanded="false">
												<span>Location</span>
											</button>
											<div class="dropdown-menu locationDrop locationproj ng-category" aria-labelledby="location">
												<ng-select 	[items]="projectsLocs[searchParms.city.id]"
																		dropdownPosition="auto"
																		name="area"
																		[isOpen] = true
																		placeholder="Select Area"
																		appendTo=".locationproj">
												<ng-template ng-option-tmp let-item="item" let-index="index">
													{{ item }}
												</ng-template>
											</ng-select>
											</div>
										</div>
								</div>
						</div> -->
						<div class="filteroptions mobile">
								<div class="filterBtns">
										<div class="dropdown locationDrop">
											<button type="button" name="button" data-toggle="dropdown" id="location" aria-haspopup="true" aria-expanded="false">
												<span>Projects</span>
											</button>
											<div class="dropdown-menu locationDrop ng-category projectsAll" aria-labelledby="location">
												<ng-select 	[items]="projects"
																		[virtualScroll]="false"
																		[loading]="areasLoading"
																		[(ngModel)]="searchParms.project"
																		bindLabel="name"
																		dropdownPosition="auto"
																		#areasSelect
																		name="area"
																		placeholder="Select Project"
																		[isOpen] = true
																		appendTo=".projectsAll">
												<ng-template ng-option-tmp let-item="item" let-index="index">
													<a class="dropdownLinks" href="javascript:;" [routerLink]="item.route">{{ item.name }}</a>
												</ng-template>
											</ng-select>
											</div>
										</div>
								</div>
						</div>
					</div>
			</div>
		</div>
</section>
<section class="af-home-details">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">

				<ul class="breadcrumb">
					<li><a href="javascript:;" routerLink="/">Gharbaar</a></li>
					<li *ngIf="locsByCity && searchParms.city.name != '' && searchParms.city.name != 'All'">{{ searchParms.city.name }}</li>
					<li *ngIf="searchParms.city.name == 'All'">All Projects</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="af-home-lisitngs investments">
	<div class="container-fluid">
		<div class="projectsHeader">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="detail-title-bar">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padd">
							<div class="left-titles">
								<h1 *ngIf="searchParms.city.name != 'All'">Projects in {{ searchParms.area.name }}<span *ngIf="!locsByCity">,</span> {{ searchParms.city.name }}</h1>
								<h1 *ngIf="searchParms.city.name == 'All'">Projects in Rawalpindi / Islamabad</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 hidden-sm hidden-xs">
					<div class="listing-right-sec">
						<!-- <h5>Be the first to hear about new properties</h5> -->
						<a class="text-center" href="javascript:void(0);"> <img src="assets/site/images/email-alert.png" alt="Email Alert"> alert me of new projects</a>
					</div>
				</div>
			</div>
		</div>
		<div class="outer-border-lisitng">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">

					<ng-container>
						<div class="properties-data standard" *ngIf="(searchParms.city.id == 11 || searchParms.city.id == 0) && commercial">
						<div class="property-img">
							<a href="javascript:;" routerLink="/skyparkone">
								<img src="assets/site/images/skypark_projectImg.jpg" alt="Skyparkone Project">
							</a>
						</div>
							<div class="property-cont-box">
								<div class="property-content">
									<a href="javascript:;" routerLink="/skyparkone"><h2 class="projectName">SKYPARKONE</h2></a>
									<a href="javascript:;" routerLink="/skyparkone"><p>Gulberg Greens, Islamabad</p></a>
								</div>
								<div class="posted-by">
									<span>Added on</span>
									<span> 1 August,2019 </span>
								</div>
								<div class="property-text">
									<a class="projectscont" href="javascript:;" routerLink="/skyparkone"><p> Designed by Pakistan’s most innovative design team at Suhail & Fawad Architects, Skypark One promises both lifestyle and geographical exclusivity at Islamabad’s most desirable address in the heart of prestigious Gulberg Greens.</p></a>
								</div>
								<div class="viewAllDetails">
										<a href="javascript:;" routerLink="/skyparkone">View Details</a>
								</div>
								<a href="javascript:;" routerLink="/skyparkone">
									<div class="property-price"><span class="price-currency">PKR</span> 92 LAC - 3 Crore</div>
								</a>
								<div class="agent-img">
									<img src="assets/site/images/logo_skyspark.svg" alt="Skyparkone Logo">
								</div>
							</div>
						</div>
						<div class="properties-data standard" *ngIf="(searchParms.city.id == 5 || searchParms.city.id == 0) && housing">
							<div class="property-img">
								<a href="javascript:;" routerLink="/capital-smart-city">
									<img src="assets/site/images/smartCityVideoThumbnail.jpg" alt="22 January,2020 Project">
								</a>
							</div>
						<div class="property-cont-box">
							<div class="property-content">
								<a href="javascript:;" routerLink="/capital-smart-city"><h2 class="projectName">Capital Smart City</h2></a>
								<a href="javascript:;" routerLink="/capital-smart-city"><p>Chakri Road, Rawalpindi</p></a>
							</div>
							<div class="posted-by">
								<span>Added on</span>
								<span> 22 January,2020 </span>
							</div>
							<div class="property-text">
								<a class="projectscont" href="javascript:;" routerLink="/capital-smart-city"><p> Capital Smart City is a grand, state-of-the-art residential project in Pakistan. It is the first ‘Smart City’ in Pakistan and 4th one in Asia. It is becoming one of the most popular housing societies in Pakistan due to its smart features. It is located near new Islamabad International Airport, on Lahore-Islamabad Motorway M-2.</p></a>
							</div>
							<div class="viewAllDetails">
									<a href="javascript:;" routerLink="/capital-smart-city">View Details</a>
							</div>
							<a href="javascript:;" routerLink="/capital-smart-city">
								<div class="property-price"><span class="price-currency">PKR</span> 24 Lac - 46 Crore</div>
							</a>
							<div class="agent-img">
								<img src="assets/site/images/capitalSmartCityLogo.png" alt="agent-img">
							</div>
							</div>
						</div>
						<div class="properties-data standard" *ngIf="(searchParms.city.id == 5 || searchParms.city.id == 0) && housing">
						<div class="property-img">
							<a href="javascript:;" routerLink="/blue-world-city">
								<img src="assets/site/images/blue_world_projectImg.jpg" alt="Blue world City Project">
							</a>
						</div>
						<div class="property-cont-box">


							<div class="property-content">
								<a href="javascript:;" routerLink="/blue-world-city"><h2 class="projectName">Blue World City</h2></a>
								<a href="javascript:;" routerLink="/blue-world-city"><p>Chakri Road, Rawalpindi</p></a>
							</div>
							<div class="posted-by">
								<span>Added on</span>
								<span> 1 August,2019 </span>
							</div>
							<div class="property-text">
								<a class="projectscont" href="javascript:;" routerLink="/blue-world-city"><p> Blue World City, a colossal housing project initiated by Blue Group of Companies (BGC) is going to be the first Pak-China housing society in Pakistan developed in collaboration with the Chinese. It is the most budget-friendly housing project developed by the Chinese investment with an easy installment plan considering its magnitude - making it popular among investors. Its proximity to the twin cities (Islamabad and Rawalpindi) is an added bonus.</p></a>
							</div>

							<div class="viewAllDetails">
									<a href="javascript:;" routerLink="/blue-world-city">View Details</a>
							</div>
							<a href="javascript:;" routerLink="/blue-world-city">
								<div class="property-price"><span class="price-currency">PKR</span> 119,000 - 62 Lac</div>
							</a>
						<div class="agent-img">
							<img src="assets/site/images/blue_world_logo.png" alt="agent-img">
						</div>
							</div>
						</div>
					</ng-container>

		<div *ngIf="AgenciesData && AgenciesData.total == 0" class="alert alert-danger " role="alert">
			Current location has no projects.
		</div>
	</div>
</div>
</div>
</div>
</section>
<div class="af-floating" #hide_sticky></div>

<app-growing-community></app-growing-community>

<!-- Email Bucket Selector -->
<app-email-basket></app-email-basket>
