<section class="page-title-sec">
    <div class="blue-overlay"></div>
    <div class="container">
        <h1 class="page-tile-heading">Contact Us</h1>
    </div>
</section>
<section class="page-content-body">
  <div class="container">
      <div class="inner-body-content contact-box">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5">
                  <div class="inputformContact">
                      <p class="contactHead">Contact Us</p>
                      <p>Fill out the form below and we will soon be in touch.</p>
                      <form autocomplete="off" [formGroup]="contactForm">
                          <label for="name">Full Name <span>*</span></label>
                          <input type="text" name="name" placeholder="e.g John Doe" formControlName="name" [(ngModel)]="contact.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                          <label for="phone">Phone Number <span>*</span></label>
                          <div class="phoneNgInput">
                            <!-- <input 	type="text" name="phone" placeholder="3001234567" autocomplete="off" formControlName="phone" [(ngModel)]="contact.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                            ng2TelInput
                            [ng2TelInputOptions]="{initialCountry: 'pk'}"
                            (hasError)="hasError($event)"
                            (ng2TelOutput)="getNumber($event)"
                            (intlTelInputObject)="telInputObject($event)"
                            (countryChange)="onCountryChange($event)"
                            /> -->
                            <input 	type="text" name="phone" placeholder="3001234567" autocomplete="off" formControlName="phone" [(ngModel)]="contact.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                            <p> +{{ countryCode }} </p>
                          </div>
                          <label for="email">Email <span>*</span></label>
                          <input type="text" name="email" placeholder="example@email.com" formControlName="email" [(ngModel)]="contact.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <label for="message">Message</label>
                          <textarea name="message" placeholder="Message" formControlName="message" [(ngModel)]="contact.message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                          <button type="button" name="button" (click)="AddContact()" [disabled]="ajaxloader">Submit</button>
                      </form>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
                  <div class="locationMap">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.049939943653!2d73.04786871557653!3d33.707656643256804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbfb0f4f77379%3A0xf8c50b8651f56d02!2sCentaurus%20Mall%20Islamabad!5e0!3m2!1sen!2s!4v1575539532326!5m2!1sen!2s" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
