
<!-- Modal content-->
<div>
  <div class="modal-header">
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
    <h4 class="modal-title">Contact Us</h4>
  </div>
  <div class="modal-body">
    <div class="call-directory-body">

      <div class="agent-detail" *ngIf="userName">
        <label>Agent</label>
        <p>{{ userName }}</p>
      </div>
      <div class="mobile-no">
        <label>Mobile</label>
        <p>
          <span *ngFor="let contact of contacts">{{ contact.phone_number }}</span>
        </p>
      </div>
      <div class="property-id">
        Please quote property reference <span> Gharbaar - {{ 'ID-' + propID }} </span> when calling us.
      </div>
    </div>
  </div>
</div>
