<section class="blogIntro-sec">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="blogIntro-img">
                  <img src="assets/site/images/academyCourses.jpg" alt="Blog Introduction Image">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="introRight-txt academyRight">
                  <h1 class="realEstate-heading">Real-world guidance for real estate industry</h1>
                  <p>Our mission is to show self-motivated people like you how to make great money from real estate, while helping others, minimizing risk, and creating more time for the things that matter.</p>
                  <div class="freeAccessMail">
                      <img src="assets/site/images/emaiSubscribe.svg" alt="Email Icon">
                      <p>Subscribe to our news letter</p>
                  </div>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscription.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <button (click)="AddSubscribe()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="realEstaeCourses">
    <div class="container">
      <div class="wavy-leftRight-layers realestateAcademy">
        <h2 class="estateCourseHead">Real Estate Courses</h2>
      </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="academyBox">
                    <img src="assets/site/images/academyCommingSoon.svg" alt="Academy Course">
                    <div class="academyTitle">Coming Soon</div>
                    <div class="academyCourseName">Real Estate Courses</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="academyBox boxRight">
                    <img src="assets/site/images/academyCommingSoon.svg" alt="Academy Course">
                    <div class="academyTitle">Coming Soon</div>
                    <div class="academyCourseName">Real Estate Courses</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="academyBox">
                    <img src="assets/site/images/academyCommingSoon.svg" alt="Academy Course">
                    <div class="academyTitle">Coming Soon</div>
                    <div class="academyCourseName">Real Estate Courses</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="academyBox boxRight">
                    <img src="assets/site/images/academyCommingSoon.svg" alt="Academy Course">
                    <div class="academyTitle">Coming Soon</div>
                    <div class="academyCourseName">Real Estate Courses</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="subscriber-sec">
    <div class="container">
        <div class="subscriberInner-box">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h2 class="subsciberHeading">Subcribe to Get Pakistan's Real Estate News</h2>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionFooterForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscriptionFooter.email" [ngClass]="{ 'is-invalid': footSubmitted && g.email.errors }">
                      <button (click)="AddSubscribeFoot()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="assets/site/images/faisal-mosque.svg" alt="Subscriber">
                </div>
            </div>
        </div>
    </div>
</section>
<app-growing-community></app-growing-community>
