<section class="page-title-sec">
    <div class="blue-overlay"></div>
    <div class="container">
        <h1 class="page-tile-heading">About Us</h1>
    </div>
</section>
<section class="page-content-body">
  <div class="container">
      <div class="inner-body-content">
          <div class="row">
              <div class="col-xs-12 co-sm-10">
                <h2 class="body-heading">Welcome to <a href="/">Gharbaar.com</a> - Pakistan’s #1 Home Buying Resource!</h2>
                <p>We only have <span>ONE MISSION</span>: to change the way properties in Pakistan are bought, sold, leased, and rented.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="content-listings">
                      <div class="heading-listing">How can we do this?</div>
                      <ul>
                        <li>By giving you a behind-the-curtain view of property deals, availability, and the profit potential for all your property transactions. </li>
                        <li>By giving you direct access to real-time listings and opportunities.</li>
                        <li>By giving you the information you need to navigate a dynamic and ever-evolving real estate market.</li>
                        <li>By helping you to intelligently buy, sell, rent, invest, or develop property at a profit.</li>
                      </ul>
                      <div class="heading-listing">Who are we?</div>
                      <ul>
                        <li>We’re a highly-educated team of Real Estate and technology professionals with the experience and vision to help you profit from today’s real estate opportunities.</li>
                        <li> We have proprietary cutting-edge tools to keep you ahead of the crowd.</li>
                        <li> We have the vision and the solutions to help you succeed on any level of real estate transaction.</li>
                        <li> We eliminate the guesswork with up-to-the-minute listing, pricing, and financing data.</li>
                      </ul>
                      <div class="heading-listing">We are revolutionizing Pakistan’s real estate industry with three objectives:</div>
                      <ol>
                        <li>Take the hassle and uncertainty out of buying, leasing, and owning a home.</li>
                        <li>Deliver professional information into the hands of the buyers (no more secrets!).</li>
                        <li>  Help buyers and sellers deal with each other ethically, efficiently, and in complete transparency.</li>
                      </ol>
                      <div class="heading-listing">How are we building this new standard of a real estate market where everyone wins?</div>
                      <ul>
                        <li>By eliminating the traditional friction between seller and buyers, between landlords and tenants, between developers and investors…</li>
                        <li> By building trust through universal access to marketplace information, financial resources, and value trends.</li>
                      </ul>
                      <div class="bottom-content-box">
                          <p>“Real estate cannot be lost or stolen, nor can it be carried away. Purchased with common sense, paid for in full, and managed with reasonable care, it is about the safest investment in the world.”</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
