<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Search Agents -->
<section class="agentsCategories">
    <div class="full-width">
        <ul>
          <li *ngFor="let category of ProCategories">
            <a href="javascript:;" [ngClass]="{'active': category.slug == searchParms.categorySlug }" [routerLink]="setCategoryRoute(category.slug)">{{ category.name }}</a>
          </li>
        </ul>
    </div>
</section>
<section class="inner-pages-Btn-filter" [ngClass]="{'fixed':stickfilter}" #section_af>
    <div class="fixedTogglesBtnMob">
        <button type="button" name="button" (click)="toggleMap()">
            <span *ngIf="!maptoggler">Map<svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: inline-block; fill: currentcolor;"><path d="m1.68 15.23 3.84-.96 4.84.97a.75.75 0 0 0 .33-.01l4-1a .75.75 0 0 0 .57-.73v-12a .75.75 0 0 0 -.93-.73l-3.84.96-4.84-.97a.75.75 0 0 0 -.33.01l-4 1a .75.75 0 0 0 -.57.73v12a .75.75 0 0 0 .93.73zm9.57-12.14 2.5-.63v10.45l-2.5.63zm-1.5 10.5-3.5-.7v-10.47l3.5.7zm-5-.67-2.5.63v-10.45l2.5-.63z" fill-rule="evenodd"></path></svg></span>
            <span *ngIf="maptoggler">List<svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: inline-block; fill: currentcolor;"><path d="m15.25 12.5a.75.75 0 01-.75.75h-13a .75.75 0 010-1.5h13a .75.75 0 01 .75.75zm-.75-5.75h-13a .75.75 0 100 1.5h13a .75.75 0 000-1.5zm-13-3.5h13a .75.75 0 000-1.5h-13a .75.75 0 100 1.5z" fill-rule="evenodd"></path></svg></span>
        </button>
    </div>
		<div class="full-width">
				<div class="innerFilterfull" [ngClass]="{'gridView': !maptoggler}">
						<div class="innerFilterBox agentPro">
								<div class="filteroptions mobile">
										<div class="filterBtns">
											<div class="dropdown">
												<button [ngClass]="{'active': searchParms.city.name != 'All'}" data-toggle="dropdown" type="button" name="button" id="city" aria-haspopup="true" aria-expanded="false">
                          <span *ngIf="searchParms.city.name == 'All'">City</span>
                          <span *ngIf="searchParms.city.name != 'All'">{{ searchParms.city.name }}</span>
												</button>
												<div class="dropdown-menu" aria-labelledby="city">
													<button *ngFor="let city of cities" [ngClass]="{'active': city.name == searchParms.city.name }" type="button" name="button" (click)="selectCity(city)">{{ city.name }}</button>
												</div>
											</div>
										</div>
								</div>
                <div class="filteroptions mobile">
                    <div class="filterBtns">
                        <div class="dropdown locationDrop">
                          <button [ngClass]="{'active': searchParms.area.id}" data-toggle="dropdown" type="button" name="button" id="location" aria-haspopup="true" aria-expanded="false">
                            <span *ngIf="!searchParms.area.id">Area</span>
                            <span *ngIf="searchParms.area.id">{{ searchParms.area.name }}</span>
                          </button>
                          <div class="dropdown-menu projectsAll" aria-labelledby="location">
                            <ng-select [items]="areas"
                            [virtualScroll]="false"
                            [loading]="areasLoading"
                            [(ngModel)]="searchParms.area"
                            bindLabel="name"
                            dropdownPosition="bottom"
                            #areasSelect
                            [formControl]="areasSelect_F"
                            name="area"
                            placeholder="Type or Select Area"
                            [isOpen] = true
                            appendTo=".projectsAll"
                            (scroll)="onScroll_Areas($event)"
                            (scrollToEnd)="onScrollToEnd_Areas()"
                            (change)="selectArea()">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          </div>
                        </div>
                    </div>
                </div>
								<!-- <div class="filteroptions mobile">
										<div class="filterBtns">
												<div class="dropdown locationDrop">
													<button type="button" name="button" data-toggle="dropdown" id="categories" aria-haspopup="true" aria-expanded="false">
														<span>Categories</span>
													</button>
													<div class="dropdown-menu locationDrop ng-category" aria-labelledby="categories">
														<ng-select 	[items]="ProCategories"
																				[(ngModel)]="searchParms.categorySlug"
																				[clearable]="false"
																				[searchable]="false"
																				[isOpen] = true
																				bindLabel="name"
																				bindValue="slug"
																				dropdownPosition="auto"
																				#categorySelect
																				name="area"
																				placeholder="Select Category"
																				appendTo=".ng-category"
																				(change)="setFindProRoute()">
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
													</div>
												</div>
										</div>
								</div> -->
						</div>
						<div class="mapTogglerbox">
							<p>Show Map</p>
							<label class="toggle">
									<input type="checkbox" role="switch" [(ngModel)]="maptoggler" (click)="toggleMap()"/>
									<span class="slider"><svg viewBox="0 0 52 52" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="3" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round"><path d="m19.1 25.2 4.7 6.2 12.1-11.2"></path></svg></span>
							</label>
						</div>
				</div>
		</div>
		<section class="af-home-details agentListing" [ngClass]="{'paddtp-90': addPad ,'gridView': !maptoggler}">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="breadcrumb">
    					<li><a href="javascript:;" routerLink="/">Gharbaar</a></li>
              <!-- <li *ngIf="searchParms.categoryName != ''">{{ searchParms.categoryName }}</li> -->
    					<!-- <li *ngIf="locsByCity && searchParms.city.name != ''">{{ searchParms.city.name }}</li> -->
              <li *ngIf="locsByCity;">{{ searchParms.categoryName }} in {{ searchParms.city.name }}</li>
    					<li *ngIf="!locsByCity && searchParms.city.name != ''"><a href="javascript:;" [routerLink]="getLocURL({}, true)">{{ searchParms.city.name }}</a></li>
    					<li *ngFor="let loc of searchParms.area.p_loc"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }}</a></li>
    					<!-- <li *ngIf="!locsByCity">{{ searchParms.area.name }}</li> -->
              <li *ngIf="!locsByCity;">{{ searchParms.categoryName }} in {{ searchParms.area.name }}</li>
    				</ul>
						<!-- <h2>{{ searchParms.categoryName }} in {{ searchParms.area.name }}<span *ngIf="!locsByCity">,</span> {{ searchParms.city.name }}</h2> -->
					</div>
				</div>
			</div>
		</section>
    <div class="listingAndMapFull" [ngClass]="{'fixedmap':stickmap}" #section_map>
      <div class="listingSideLeft" [ngClass]="{'gridView': !maptoggler}">
          <div class="listingsDisplays propertiesLisitngs agentList">
            <div class="noOfProperties">
              <h2>{{ AgenciesData.total }} {{ searchParms.categoryName }} in {{ ShowAllCity }}</h2>
            </div>
            <ng-container *ngFor="let agency of AgenciesData.data; let indx = index">
              <div class="properties-data standard agents" (mouseout)="adjustMap(agency.pro_id, false)" (mouseover)="adjustMap(agency.pro_id , true)" [id]="'listLabel-'+ agency.pro_id">
                <div class="property-img">
									<!-- If Image Given -->
									<img  *ngIf="agency.logo && agency.logo != 'null'" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + agency.logo }}" routerLink="{{ setProProfileRoute(agency) }}">
									<!-- If No Image Given -->
									<img *ngIf="!agency.logo || agency.logo == 'null'" src="assets/site/images/default-image.jpg" routerLink="{{ setProProfileRoute(agency) }}">
                </div>
								<div class="property-cont-box">
									<a href="javascript:void(0)" routerLink="{{ setProProfileRoute(agency) }}">
                    <div *ngIf="agency.is_multi_cities == '0'" class="property-price">{{ agency.name }} - {{ agency.city }}</div>
										<div *ngIf="agency.is_multi_cities == '1'" class="property-price">{{ agency.name }} - Islamabad & Rawalpindi</div>
		                <span class="totalNumProp" *ngIf="agency.category == '1'">Total Number Of Properties: <span class="countProps">{{ agency.total_properties }}</span></span>
                    <span [ngClass]="{'prosOnly': agency.category != '1'}" *ngIf="agency.description"><p>{{ agency.description }}</p></span>
                  </a>
									<div class="posted-by">
										<span>Added on</span>
										<span> {{ agency.created_at | date }} </span>
									</div>
								<div class="viewnum-send-box" [ngClass]="{'agentsOnly': agency.category == '1'}">
                  <a class="sendinquiry-btn" href="javascript:;"  routerLink="{{ setProProfileRoute(agency) }}">View Website</a>
									<button class="viewnum-btn" (click)="open_ContactDetails_Modal(agency)"><i class="fa fa-phone" aria-hidden="true"></i> Call</button>
                  <a class="whatsapp-btn" href="javascript:;" (click)="openWhatsapp(agency)"><i aria-hidden="true" class="fa fa-whatsapp fa-lg"></i><label>Whatsapp</label></a>
								</div>
							</div>
            </div>
            </ng-container>
						<div class="af-paginat text-right pft-30-flr" *ngIf="pagination.length > 0">
							<ul class="pagination af-bt">
								<li class="previous" [ngClass]="{'disabled': AgenciesData.current_page == 1}">
									<a tabindex="0" role="button" (click)="getPageList(1, true, false)" [attr.disabled]="AgenciesData.current_page == 1">
											<svg viewBox="0 0 18 18" role="img" aria-label="Previous" focusable="false"><path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z" fill-rule="evenodd"></path></svg>
									</a>
								</li>
								<li *ngFor="let item of pagination" [ngClass]="{'active': item == AgenciesData.current_page }">
									<a role="button" tabindex="0" (click)="getPageList(item, false, false)" aria-current="page">{{ item }}</a>
								</li>
								<li class="next" [ngClass]="{'disabled': AgenciesData.current_page == AgenciesData.last_page}">
									<a tabindex="0" role="button" (click)="getPageList(AgenciesData.current_page, false, true)" [attr.disabled]="AgenciesData.current_page == AgenciesData.last_page" >
			             <svg viewBox="0 0 18 18" role="img" aria-label="Next" focusable="false"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
			            </a>
								</li>
								<!-- <li class="next" [ngClass]="{'disabled': AgenciesData.current_page == AgenciesData.last_page}">
								<a tabindex="0" role="button" (click)="getPageList(AgenciesData.last_page, false, true)" [attr.disabled]="AgenciesData.current_page == AgenciesData.last_page" >>> </a>
							</li> -->
						</ul>
						</div>
					<div *ngIf="AgenciesData && AgenciesData.total == 0 && searchParms.categorySlug == 'any'" class="alert alert-danger " role="alert">
						Current location has no professionals.
					</div>
          <div *ngIf="AgenciesData && AgenciesData.total == 0 && searchParms.categorySlug != 'any'" class="alert alert-danger " role="alert">
						Current location has no {{ searchParms.categorySlug }}.
					</div>
          </div>
      </div>
      <div class="listingMapRight" [ngClass]="{'af-none': !maptoggler}">
          <div class="mapBox">
            <ng-container>
              <div class="mapMarker Org" id="propMap" #propMap></div>
            </ng-container>
            <!-- <ng-template #showSimpleMap_Id>
              <div class="mapMarker 2">
  							<iframe width="100%" height="400" frameborder="0" style="border:0" [src]="simpleMapUrl | safeUrl" allowfullscreen></iframe>
  				  	</div>
            </ng-template> -->
          </div>
      </div>
    </div>
</section>
<section #hide_map></section>

<!-- Map Content -->
<div class="af-none">
  <ng-container *ngIf="AgenciesData.total > 0">
    <div *ngFor="let agency of AgenciesData.data; let indx = index" [id]="'mapsLabel-'+agency.pro_id">
      <button class="mapMarkersOval" name="button" (mouseout)="adjustList(agency.pro_id, false)" (mouseover)="adjustList(agency.pro_id , true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49">
          <g id="location" data-name="Group 633" transform="translate(-1711 -679)">
            <circle id="Ellipse_103" data-name="Ellipse 103" cx="14" cy="14" r="14" transform="translate(1711 679)" fill="#7C9CB0"/>
            <ellipse id="Ellipse_104" data-name="Ellipse 104" cx="5.5" cy="2" rx="5.5" ry="2" transform="translate(1720 724)" fill="#c7d0e3" opacity="0.52"/>
            <path id="Path_2606" data-name="Path 2606" d="M19396,18035.227v20.629" transform="translate(-17670.5 -17330)" fill="none" stroke="#7C9CB0" stroke-width="2"/>
            <g id="Group_632" data-name="Group 632" transform="translate(12.007 -14.287)">
              <path id="Path_2607" data-name="Path 2607" d="M18.929,12.96l7.25,4.766-.166,1.633-7.051-4.537-5.942,4.408H10.54Z" transform="translate(1695.961 688.736)" fill="#fff"/>
              <path id="Path_2608" data-name="Path 2608" d="M16.65,20.711l1.662-.295V17.74H16.65Z" transform="translate(1692.103 685.718)" fill="#fff"/>
              <path id="Path_2609" data-name="Path 2609" d="M16.495,18.761a9.037,9.037,0,0,0,3.07-3.852c.2-.328.457-1.242.59-1.437v-.31c-.38-.409-5.374-3.641-6.093-4.1-.98-.652-.848-.719-2.156.2-1.238.98-2.676,1.928-3.918,2.842-.652.52-1.3.977-1.924,1.434a20.939,20.939,0,0,0-1.895,1.5,16.8,16.8,0,0,0,1.843-.066c.785,0,.914.066,1.437-.391,1.176-.98,2.949-2.156,4.276-3.133,1.08-.785,1.176-1.143,1.766-.785,1.176.737,2.742,1.99,3.918,2.547.914.586,1.043.457.258,1.7A8.289,8.289,0,0,1,14.6,17.858,8.333,8.333,0,0,1,4.073,15.006,8.108,8.108,0,0,1,5.964,4.317a8.05,8.05,0,0,1,4.375-1.555A2.691,2.691,0,0,0,10.277,1,9.67,9.67,0,0,0,1.95,6.451a9.992,9.992,0,0,0,8.879,14.234,11.23,11.23,0,0,0,5.68-1.924Z" transform="translate(1701.971 696.288)" fill="#fff"/>
              <rect id="Rectangle_825" data-name="Rectangle 825" width="1.404" height="1.272" transform="translate(1713.128 709.042)" fill="#fff"/>
              <rect id="Rectangle_826" data-name="Rectangle 826" width="1.404" height="1.272" transform="translate(1714.79 709.042)" fill="#fff"/>
              <rect id="Rectangle_827" data-name="Rectangle 827" width="1.404" height="1.272" transform="translate(1713.128 710.609)" fill="#fff"/>
              <rect id="Rectangle_828" data-name="Rectangle 828" width="1.404" height="1.272" transform="translate(1714.79 710.609)" fill="#fff"/>
            </g>
          </g>
        </svg>
      </button>
      <div id="infowindow-content" class="af-none">
        <div *ngIf="infoWindowProperty">
          <div class="tooltipOwlCarousel agentListing">
              <button class="crossInfo" type="button" name="button" (click)="closeInfoWindow()">&times;</button>
              <a href="javascript:;" [routerLink]="agentRouteInfo">
                <img  *ngIf="infoWindowProperty.logo && infoWindowProperty.logo != 'null'" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + infoWindowProperty.logo }}">
                <!-- If No Image Given -->
                <img *ngIf="!infoWindowProperty.logo || infoWindowProperty.logo == 'null'" src="assets/site/images/default-image.jpg">
              </a>
          </div>
          <div class="tooltipContentBox">
            <a href="javascript:;" [routerLink]="agentRouteInfo">
              <div id="place-title">{{ infoWindowProperty.agent_name }}</div>
              <div id="place-address">{{ infoWindowProperty.location }}</div>
              <div id="place-price"  class="title">{{ infoWindowProperty.name }} - {{ infoWindowProperty.city }} </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>


</div>






<!-- Email Bucket Selector -->
<app-email-basket></app-email-basket>
