<!-- Header -->
<!-- <app-header></app-header> -->
<section class="notFoundPage">
  <div class="container">
      <h2 class="oppsText">Oops!</h2>
      <h3>404 - Page Not Found</h3>
      <p>The Page you are looking for might have been <br> removed had its name changed or is temporarily <br> unavailable</p>
      <div class="backHomeBtn">
          <a href="javascript:;" routerLink="/">Back to Home</a>
      </div>
      <div class="notFoundImage">
          <img src="../assets/site/images/notFoundBackground.svg" alt="">
      </div>
  </div>
</section>
<!-- <div class="notFoundFooter">
    <app-footer></app-footer>
</div> -->
