<!-- Favorites Listings -->
<section class="inner-pages-Btn-filter">
  <div class="container-fluid">

    <div class="listingAndMapFull" #section_map>
      <div class="listingSideLeft gridView">
          <div class="listingsDisplays propertiesLisitngs">
            <div class="row borderBtm">
              <div class="col-xs-12 col-sm-6 col-md-4 no-padd">
                  <div class="noOfProperties"><p>You have {{ ListingsData.length }} favorite
                    <span *ngIf="ListingsData.length == 1; else pluralListings">listing</span>
                    <ng-template #pluralListings>listings</ng-template>
                  </p>

                  </div>
              </div>
            </div>
            <ng-container *ngFor="let property of ListingsData; let indx = index">
              <div  class="properties-data standard" [id]="'listLabel-'+property.p_id" [ngClass]="{'standard': property.package == '1', 'premium': property.package == '2', 'premium-plus': property.package == '3' , 'expired-property': property.status == 'expired'}">
                <div class="property-img">
                  <!-- <ng-container *ngIf="property.all_images.length > 1">
                    <owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
                     <div class="item" *ngFor="let image of mySlideImages;let i = index">
                      <div *ngIf="property.all_images">
                        <a class="fancybox" data-fancybox="gallery_banner" [href]="this.ImagesUrl + 'uploads/property-images/' + this.propertyImages[i]">
                            <img src={{image}} alt="Property Images"/>
                        </a>
                      </div>
                     </div>
                    </owl-carousel>
                  </ng-container> -->
                  <!-- If Images Given -->
                  <img  *ngIf="property.all_images" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0] }}" routerLink="{{ propertyRoute(property) }}">

                  <!-- If No Image Given -->
                  <img *ngIf="!property.all_images" src="assets/site/images/default-image.jpg" routerLink="{{ propertyRoute(property) }}">

                  <div class="icons-list-imgs">
                    <div class="likeHideIconsImgs">
                      <div class="af-like-hide">
                        <!-- <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified" class="af-verified" href="javascript:void(0);" *ngIf="property.is_verified == 1"><img src="assets/site/images/verifiedProperty.png" alt="Verified Badge"></a> -->
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorites" class="af-star" href="javascript:void(0);" (click)="togglefavoriteProp(property)" *ngIf="!checkPropHidden(property.p_id)"><i class="fa fa-star" [ngClass]="{'active-favorite': checkPropFavrt(property.p_id)}" aria-hidden="true"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Hide" class="af-hide" href="javascript:void(0);" (click)="toggleHiddenProp(property)" *ngIf="!checkPropFavrt(property.p_id)"><i class="fa fa-trash" [ngClass]="{'active-hide': checkPropHidden(property.p_id)}" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="property-cont-box">
                  <!-- <div class="agent-img" *ngIf="property.is_agent != 0">
                    <a href="javascript:;" routerLink="{{ agencyProfileRoute(property) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Agency">
                        <img src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + property.logo }}" alt="agent logo">
                    </a>
                  </div> -->
                  <a class="gridViewsPrice" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
                    <div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
                  </a>
                  <div class="property-content">
                    <a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p class="propTitle">{{ property.title }}</p></a>
                    <a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p>{{ property.location_name }}, {{ property.city }}</p></a>

                    <p class="small-bed">
                      <span *ngIf="convertToInt(property.bedrooms) > 0"><img class="bed-img" src="assets/site/images/bed-icon.svg"> {{ property.bedrooms }}</span>
                      <span *ngIf="convertToInt(property.bathrooms) > 0"><img class="bath-img" src="assets/site/images/bath-icon.svg"> {{ property.bathrooms }} </span>

                      <ng-template #popContent>
                        <span>{{ property.size_in_ftsq  | round2Dec }} Ft²</span> <br>
                        <span>{{ property.size_in_marla | round2Dec }} Marla</span> <br>
                        <span>{{ property.size_in_kanal | round2Dec }} Kanal</span>
                      </ng-template>

                      <span class="no-padd" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
                        <img src="assets/site/images/scale-area.svg" class="" alt="">
                        <span class="no-padd">{{ property['size_in_' + property.unit ] | round2Dec }} {{ property.unit | capitalize }}</span>
                      </span>
                    </p>

                  </div>
                  <div class="property-text">
                    <a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p> {{ property.description }} </p></a>
                  </div>
                  <div class="posted-by">
                    <span>Posted on</span>
                    <span> {{ property.created_at | date }} </span>
                  </div>
                <div class="viewnum-send-box propertiesOnly">
                  <button class="viewnum-btn" (click)="open_ContactDetails_Modal(property)">
                    View Number
                  </button>
                  <button class="sendinquiry-btn" (click)="open_Inquiry_Modal(property)">  Send Inquiry</button>

                  <a class="mapViewprice" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
                    <div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
                  </a>
                </div>
                </div>
              </div>
            </ng-container>

          </div>
      </div>
      <!-- <div class="listingMapRight" [ngClass]="{'af-none': !maptoggler}">
          <div class="mapBox">
            <ng-container *ngIf="!showSimpleMap; else showSimpleMap_Id">
              <div class="mapMarker Org" id="propMap" #propMap></div>
            </ng-container>

            <ng-template #showSimpleMap_Id>
              <div class="mapMarker 2">
  							<iframe width="100%" height="400" frameborder="0" style="border:0" [src]="simpleMapUrl | safeUrl" allowfullscreen></iframe>
  				  	</div>
            </ng-template>

          </div>
      </div> -->
    </div>
</div>
</section>
