<!-- Property Listings -->
<section class="listing-sec">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<div class="sidebar-tabs">
					<ul class="nav nav-tabs">
						<li *ngFor="let item of Tabs; let indx = index" [ngClass]="{'active': item.active}" (click)="setActiveTab(indx)">
							<a data-toggle="tab" href="#actlist">
								<div class="af-side-lists">
									<h5 class="no-margin"><img src="{{'assets/site/images/' + item.img }}">{{ item.name }}</h5>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<hr>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div class="tab-content af-listing-tabs">
					<div id="actlist" class="tab-pane fade in active">
						<h3>{{ activeTab.title }}</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="graph-tabs inner-tabs">
									<div class="search-filter hidden-sm hidden-md hidden-lg">
										<input type="text" name="search" placeholder="Search by Property ID">
									</div>
									<ul class="nav nav-tabs">
										<li class="active">
											<a data-toggle="tab" href="#sale" (click)="set_Sub_ActiveTab('sale')">
												<div class="vcenter">
													<h5 class="no-margin">{{ activeTab.sub_tab1_Title }}</h5>
												</div>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#sale" (click)="set_Sub_ActiveTab('rent')">
												<div class="vcenter">
													<h5 class="no-margin">{{ activeTab.sub_tab2_Title }}</h5>
												</div>
											</a>
										</li>
										<li class="search-filter hidden-xs">
											<input type="text" name="search" placeholder="Search by Property ID" [(ngModel)]="query_ID" (change)="rerender()" (keyup)="serachByID()" autocomplete="off">
										</li>
									</ul>
									<div class="tab-content">
										<div id="sale" class="tab-pane fade in active">
											<div class="table-listing af-rental-tab">
												<!-- <h4>Recent Listings</h4> -->
												<div class="af-tableee">
													<div class="table-responsive">
														<!-- <table *ngIf="properties.data.length > 0"> -->
															<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
															<thead>
																<tr>
																	<td>ID</td>
																	<td>Title</td>
																	<td>Location</td>
																	<td>Price</td>
																	<!-- <td>Type</td> -->
																	<td>Views</td>
																	<td>Search Views</td>
																	<!-- <td>Leads</td> -->
																	<td>Images</td>
																	<td>Posted Date</td>
																	<td>Actions</td>
																</tr>
															</thead>
															<tbody *ngIf="properties.length > 0">
																<tr *ngFor="let property of properties">
																	<td><a href="javascript:;" routerLink="{{ propertyRoute(property) }}" target="_blank">{{ property.id }}</a></td>
																	<td><a href="javascript:;" routerLink="{{ propertyRoute(property) }}" target="_blank">{{ property.title }}</a></td>
																	<td>{{ property.location_name + ', ' + property.city }}</td>
																	<td>{{ property.price | convertCurrency }}</td>

																	<td>{{ property.property_view_count }}</td>
																	<td>{{ property.search_view_count }}</td>
																	<!-- <td>{{ property.search_view_count }}</td> -->
																	<td *ngIf="property.all_images">{{ property.all_images.split(",").length }}</td>
																	<td *ngIf="!property.all_images">0</td>
																	<td>{{ property.created_at | date }} {{ property.created_at | date: "shortTime" }}</td>
																	<td>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Request Gold Membership"><img src="assets/site/images/gold-badge.png"></a>
																		</span>
																		<span class="separate"></span>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Request Silver Membership"><img src="assets/site/images/silver-badge.png"></a>
																		</span>
																		<span class="separate"></span>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sold/Rented" (click)="setSoldRent(property)"><img src="assets/site/images/sold-rent.png"></a>
																		</span>
																		<span class="separate"></span>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" [routerLink]="propertyEditRoute(property)"><i class="fa fa-edit"></i></a>
																		</span>
																		<span class="separate"></span>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" (click)="deleteProp(property)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
																		</span>
																		<span class="separate"></span>
																		<span>
																			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></a>
																		</span>
																	</td>
																</tr>
															</tbody>

															<tbody *ngIf="properties.length == 0">
																<tr><td colspan="9" class="no-data-available">No records found</td></tr>
															</tbody>
														</table>

													</div>

													<!-- <p *ngIf="properties.length == 0 && !loading">No listings found</p> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
