<!---- Login Modal ---->
<!-- Modal content-->
<div>
  <div class="modal-header">
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
    <h4 class="modal-title">Contact Details</h4>
    <!-- <p>Euro State</p> -->
  </div>
  <div class="modal-body">
    <div class="call-directory-body">
      <div class="agent-detail" *ngIf="proName">
        <label>Name</label>
        <p>{{ proName }}</p>
      </div>
      <div class="mobile-no" *ngIf="contacts.phone_number">
        <label>Phone</label>
        <!-- <a href="javascript:;" *ngIf="contacts && contacts[0]; else emptyPhon1">{{ contacts[0].phone_number }}</a> -->
        <p>
          <span>{{ contacts.phone_number }}</span>
        </p>
      </div>
      <div class="mobile-no" *ngIf="contacts.mobile_number">
        <label>Mobile</label><p>
          <span *ngIf="contacts.mobile_number">{{ contacts.mobile_number }}</span>
        </p>
      </div>
      <div class="mobile-no" *ngIf="contacts.whatsapp_number">
        <label>Whatsapp</label>
        <p>
          <span > {{ contacts.whatsapp_number_code }} {{ contacts.whatsapp_number }}</span>
        </p>
      </div>
      <div class="mobile-no" *ngIf="contacts.additional_mobile_numbers">
        <label>Other</label>
        <p>
          <span *ngFor="let numbers of contacts.additional_mobile_numbers.split(',')">{{ numbers }}</span>
        </p>
      </div>


    </div>
  </div>
</div>
