ng-select.ng-invalid.ng-touched .ng-select-container {
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {
    min-height: 0px;
    border-radius: 0;
}

.invalid-feedback {
    position: absolute;
    color: #dc3545;
    font-size: 12px;
}

.is-invalid {
    border-color: #dc3545;
    background-image: none;
    background-size: 0px;
}

.is-invalid .ng-placeholder {
    color: #dc3545 !important;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.filepond--drop-label.filepond--drop-label label {
    margin: 60px 0 0;
}
.row.customportfolio {
    margin-bottom: 30px;
}
.portfolio .filepond--root .filepond--drop-label {
    min-height: 190px;
}

.inner-portfolio {
    box-shadow: 0px 3px 6px #00000029;
    padding: 0;
    position: relative;
    margin-top: 10px;
    background-color:#F8F8F8;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.inner-portfolio .indexnum {
    width: 23px;
    height: 23px;
    color: #fff;
    border-radius: 50%;
    background-color: #006aff;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: -5px;
}
.pull-right {
    float: right;
}
.customportfolio .img-preview {
    width: 100%;
    height: 200px;
    margin: 0;
    overflow: hidden;
    margin: 0;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
}
.customportfolio .img-preview::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2em;
    /* background: linear-gradient(to bottom, #26c55061 0%, rgba(0, 0, 0, 0.12) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    z-index: 3;
}
.customportfolio .crossbtn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 26px;
    height: 26px;
    background-color: #f44336;
    border-radius: 50%;
    color: #fff;
    z-index: 99;
}
.customportfolio .crossbtn svg {
    fill: #fff;
}
.imgbk{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.inner-portfolio button.pbtn {
    background-color: transparent;
    text-decoration: underline;
    border: 0px;
    outline: none;
    color: #006AFF;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    padding-bottom: 10px;
}
.inner-portfolio button.mainBtn {
    background-color: transparent;
    border: 0px;
    outline: none;
    color: #ba8b16;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    padding-bottom: 10px;
}
