<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>
<!-- Inject Google Maps -->
<section class="af-add-form">
	<div class="container" [formGroup]="addForm" novalidate>
		<div>
			<div class="addPropHead">
				<div class="add-titles scroll_on_error">
					<h1>Add Property</h1>
					<p>Enter property details to add your property</p>
				</div>
			</div>
			<div class="addPropBody">
					<div class="propertyFor pdl-justi">
						<label class="mainLbl dontBlock">Property for:</label>
						<div class="radio-wrapper">
					        <input type="radio" id="radio1" name="radios" value="sale" checked="" (click)="setPurpose('sale')">
					        <label class="first" for="radio1">Sale</label>
					        <input type="radio" id="radio2" name="radios" value="rent" (click)="setPurpose('rent')">
					        <label class="" for="radio2">Rent</label>
					    </div>
					</div>
					<div class="type-property">
						<h4>Property Type</h4>
						<div class="typeProp pdl-justi">
							<div class="mb-20">
								<label class="mainLbl"></label>
								<div class="relInline">
									<div class="radio-wrapper" *ngFor="let type of searchTypes">
											<input type="radio" [attr.name]="type" [id]="type" [value]="type" (click)="openAdditionalDetails(type)" formControlName="type">
											<label [attr.for]="type" class="radio-label">{{ type }}</label>
									</div>
									<div *ngIf="submitted && f.type.errors" class="invalid-feedback">
											<div *ngIf="f.type.errors.required">Please Select Property Type</div>
									</div>
								</div>
							</div>
							<div>
								<label class="mainLbl"></label>
								<div class="af-subtype-select">
									<ng-select [items]="searchSubTypes[saveData.type]"
														 [(ngModel)]="saveData.sub_type"
														 bindLabel="name"
														 bindValue="value"
														 class="input-text block"
														 [ngClass]="{ 'is-invalid': submitted && f.sub_type.errors }"
														 placeholder="Select Subtype"
														 formControlName="sub_type">
											<ng-template ng-option-tmp let-item="item" let-index="index">
													{{ item.name }}
											</ng-template>
									</ng-select>
									<div *ngIf="submitted && f.sub_type.errors" class="invalid-feedback">
											<div *ngIf="f.sub_type.errors.required">Please Select Property Subtype</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			    <div class="propertLoc">
			    	<h4>Property Location</h4>
						<div class="propBoxes pdl-justi">
							<label class="mainLbl">City:</label>
							<div class="af-subtype-select">
								<ng-select [items]="cities"
													 [(ngModel)]="SelectedCity"
													 bindLabel="name"
													 class="input-text block"
													 [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
													 placeholder="Select City"
													 formControlName="city"
													 (change)="selectCity()">
										<ng-template ng-option-tmp let-item="item" let-index="index">
												{{ item.name }}
										</ng-template>
								</ng-select>
								<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
										<div *ngIf="f.city.errors.required">Please Select Property city</div>
								</div>
							</div>
						</div>
						<div class="propBoxes pdl-justi">
							<label class="mainLbl">Location:</label>
							<div class="af-subtype-select">
								<div class="af-area">
									<ng-select [items]="areas"
														 [virtualScroll]="true"
														 [loading]="areasLoading"
														 [(ngModel)]="SelectedArea"
														 bindLabel="name"
														 dropdownPosition="auto"
														 id="area1"
														 class="custom"
														 [ngClass]="{ 'is-invalid': submitted && areasError }"
														 placeholder="Select Area"
														 appendTo=".af-area"
														 (scroll)="onScroll_Areas($event)"
														 (scrollToEnd)="onScrollToEnd_Areas()"
														 formControlName="area"
														 (change)="selectArea()">
											<ng-template ng-option-tmp let-item="item" let-index="index">
													{{ item.name }}
											</ng-template>
									</ng-select>

									<div *ngIf="submitted && areasError" class="invalid-feedback">
											<div *ngIf="areasError" style="width: 105%">Please select Property Area</div>
									</div>
								</div>
							</div>
						</div>

						<div class="propBoxes pdl-justi d-flex" [ngClass]="{'af-none': !SelectedArea}">
							<label class="mainLbl">Map:</label>
							<!-- Map Row -->
							<div class="inlineMapStyling" [ngClass]="{'af-none': !showMap}">
								<div>
									<div class="mapBox">

										<a href="javascript:;" data-toggle="modal" data-target="#mapModal" (click)="initMapInModal()">
											<div class="mapMarker" id="propMap" #propMap>

											</div>
										</a>

										<div class="" id="img-out">

										</div>
									</div>
								</div>
							</div>

							<div class="locationFullAdress">
								<p>Please click on the map to select your exact location in <span *ngIf="SelectedArea">{{ SelectedArea.name }}</span></p>
								<input name="address" id="propertyAddress" placeholder="Enter Address" [(ngModel)]="saveData.address" [ngModelOptions]="{standalone: true}" autocomplete="off">
								<div class="af-custom-checkbox">
									<p>
										<input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.display_address" [ngModelOptions]="{standalone: true}" name="propAddressChk" id="propAddressChk">
										<label class="first" for="propAddressChk">Display address on listing</label>
									</p>
								</div>

								<div class="areabreadcrumbs">
									<ul *ngIf="breadcrumbs && breadcrumbs.length > 0">
										<li *ngFor="let crumb of breadcrumbs">{{ crumb.name }}</li>
									</ul>
								</div>
							</div>
						</div>
			    </div>

			    <div class="propDetails">
			    		<h4>Property Details</h4>
			    		<div class="propDetailBox pdl-justi">
								<div class="custom-title">
									<label class="mainLbl">Property Title:</label>
									<div class="auto-title" *ngIf="!showCustomTitle">
										<a href="javascript:void(0)" (click)="toggleTitle(true)" ><i class="fa fa-plus" aria-hidden="true"></i> Add a custom title</a>
										<a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" title="" data-original-title="Adding a custom Title will override the Gharbaar generated titles"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
									</div>

									<div class="af-custom-title" *ngIf="showCustomTitle">
										<input type="text" name="custom-title" placeholder="Enter Custom Title" formControlName="title" [(ngModel)]="saveData.title">
										<a href="javascript:void(0)" (click)="toggleTitle(false)" ><i class="fa fa-minus" aria-hidden="true"></i> Use Gharbaar generated title</a>
										<a href="javascript:void(0);" data-toggle="tooltip" data-placement="right" title="" data-original-title="Adding a custom Title will override the Gharbaar generated titles"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
									</div>
								</div>
								<div class="detailBox">
									<label class="mainLbl">Description:</label>
			    				<textarea name="description" placeholder="Description" [(ngModel)]="saveData.description" [ngModelOptions]="{standalone: true}"></textarea>
			    			</div>
			    			<div class="sizeBox">
									<label class="mainLbl">Size:</label>
				    				<div class="af-subtype-select">
				    					<input type="number" name="size" placeholder="Size" formControlName="size" [(ngModel)]="saveData.size" [ngClass]="{ 'is-invalid': submitted && f.size.errors }">
											<div *ngIf="submitted && f.size.errors" class="invalid-feedback" >
													<div *ngIf="f.size.errors.required">Please Enter Property Size</div>
											</div>
										</div>
										<div class="sizeUnitBox af-subtype-select">
											<select name="size-unit" formControlName="unit" [(ngModel)]="saveData.unit" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }">
												<option value="">Select Unit</option>
												<option *ngFor="let unit of searchUnits" value="{{ unit.unit }}">{{ unit.name }}</option>
											</select>
											<i class="fa fa-caret-down" aria-hidden="true"></i>
											<div *ngIf="submitted && f.unit.errors" class="invalid-feedback">
													<div *ngIf="f.unit.errors.required">Please Select Unit</div>
											</div>
										</div>
			    			</div>
			    			<div class="priceBox">
									<label class="mainLbl">Price:</label>
									<div class="price-input af-subtype-select">
										<input id="price" type="number" name="price" placeholder="Price in (PKR)" min="0" maxlength="10" formControlName="price" (keyup)="convertPrice('price')" [(ngModel)]="saveData.price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
			    					<span class="price-badge" *ngIf="saveData.price > 1000"><span>{{ saveData.price_text | convertCurrency }}</span> (PKR)</span>
										<div *ngIf="f.price.errors" class="invalid-feedback" style="margin-top: -18px;">
												<div *ngIf="f.price.errors.max">The price you entered is too high</div>
										</div>
										<div *ngIf="submitted && f.price.errors" class="invalid-feedback" style="margin-top: -18px;">
												<div *ngIf="f.price.errors.required">Please Enter Property Price</div>
										</div>
									</div>
			    			</div>
			    		</div>
			    </div>
					<div class="galleryProp">
						<h4>Gallery</h4>
						<div class="galleryBody">
							<div class="row customportfolio" dragula="HANDLES" [(dragulaModel)]='propGallery' *ngIf="propGallery.length > 0">
								<ng-container>
									<div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let image of propGallery; let indx = index" >
										<div class="inner-portfolio">
											<div class="indexnum"> {{ indx + 1 }} </div>
											<div class="crossbtn" (click)="removeFile(image.id, image.isTemp)">
												<svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M11.586 13l-2.293 2.293a1 1 0 0 0 1.414 1.414L13 14.414l2.293 2.293a1 1 0 0 0 1.414-1.414L14.414 13l2.293-2.293a1 1 0 0 0-1.414-1.414L13 11.586l-2.293-2.293a1 1 0 0 0-1.414 1.414L11.586 13z" fill="currentColor" fill-rule="nonzero"></path></svg>
											</div>
											<a class="fancybox" data-fancybox="propertyImages" [href]="image.url">
												<div class="img-preview">
													<div class="imgbk" [style]="'background-image:url('+ image.url +')' | safeStyle"></div>
												</div>
											</a>

											<button class="mainBtn" *ngIf="indx == 0"><i class="fa fa-star"></i> Main Image</button>
											<button class="pbtn" *ngIf="indx > 0" (click)="setAsMainMedia(indx)">Set As Main Image</button>
										</div>
									</div>
								</ng-container>
							</div>

							<div class="filePond_Uploader">
								<file-pond
							    #myPond
							    class="portfolio portfolio_multiple"
									[options]="pondOptions"
							    [files]="pondFiles"
							    (oninit)="pondHandleInit()"
							    (onaddfile)="pondHandleAddFile($event)"
							    (onremovefile)="pondRemoveImage($event)"
							    (onprocessfile)="pondFileProcessed($event)">
							  </file-pond>
							</div>
						</div>
					</div>
			    <div class="addMoreFea" *ngIf="showResdAddOn || showPlotAddOn || showCommAddOn">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<span>Add More Features</span>
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">

										<div class="row residential" *ngIf="showResdAddOn">
											<div class="col-sm-12 col-md-12">
												<div class="additional-info">
													<h5>General Information</h5>
													<div class="row">
														<div class="col-sm-4">
															<select name="year_built" [(ngModel)]="saveData.property_feature.year_built" [ngModelOptions]="{standalone: true}">
																<option value="">Year Built</option><option value="2020">2020</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option>
															</select>
														</div>
														<div class="col-sm-4">
															<div class="price-input">
																<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice('DP')" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
																<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_paymentText | convertCurrency }}</span> (PKR)</span>
															</div>
														</div>

														<div class="col-sm-4" *ngIf="saveData.purpose == 'rent'">
															<div class="price-input">
																<input type="number" name="security_deposit" placeholder="Security Deposit in PKR (if any)" (keyup)="convertPrice('SD')" [(ngModel)]="saveData.property_feature.security_deposit" [ngModelOptions]="{standalone: true}">
																<span class="price-badge" *ngIf="saveData.property_feature.security_deposit > 1000"><span>{{ saveData.property_feature.security_depositText | convertCurrency }}</span> (PKR)</span>
															</div>
														</div>
													</div>
													<div class="row" *ngIf="saveData.purpose == 'rent'">
														<div class="col-sm-5">
															<div class="price-input">
																<input type="number" name="maintenance_charges" placeholder="Maintenance Charges in PKR (if any)" (keyup)="convertPrice('MC')" [(ngModel)]="saveData.property_feature.maintenance_charges" [ngModelOptions]="{standalone: true}">
																<span class="price-badge" *ngIf="saveData.property_feature.maintenance_charges > 1000"><span>{{ saveData.property_feature.maintenance_chargesText | convertCurrency }}</span> (PKR)</span>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-4">
															<div class="plus-minus-btns">
																<button class="decrement" type="button" (click)="num_of_Beds(-1)"></button>
																<div class="no-of-bath">{{ saveData.property_feature.BedsText }}</div>
																<button class="increment" type="button" (click)="num_of_Beds(+1)"></button>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="plus-minus-btns">
																<button class="decrement" type="button" (click)="num_of_parking(-1)"></button>
																<div class="no-of-bath">{{ saveData.property_feature.ParkingText }}</div>
																<button class="increment" type="button" (click)="num_of_parking(+1)"></button>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="plus-minus-btns">
																<button class="decrement" type="button" (click)="num_of_Baths(-1)"></button>
																<div class="no-of-bath">{{ saveData.property_feature.BathsText }}</div>
																<button class="increment" type="button" (click)="num_of_Baths(+1)"></button>
															</div>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-12">
															<h5>Property Features</h5>
															<div class="row">
																<div class="col-sm-4">
																	<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_heating" [ngModelOptions]="{standalone: true}">Central Heating</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.tv_lounge" [ngModelOptions]="{standalone: true}">Tv Lounge</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.dining_room" [ngModelOptions]="{standalone: true}">Dining Room</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.drawing_room" [ngModelOptions]="{standalone: true}">Drawing Room</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.kitchen" [ngModelOptions]="{standalone: true}">Kitchen</label>
																</div>
																</div>
																<div class="col-sm-4">
																	<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.store_room" [ngModelOptions]="{standalone: true}">Store Room</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_cooling" [ngModelOptions]="{standalone: true}">Central Cooling</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.lawn" [ngModelOptions]="{standalone: true}">Lawn</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.swimming_pool" [ngModelOptions]="{standalone: true}">Swimming Pool</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.furnished" [ngModelOptions]="{standalone: true}">Furnished</label>
																</div>
																</div>
																<div class="col-sm-4">
																	<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.wifi" [ngModelOptions]="{standalone: true}">Wifi</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.balcony" [ngModelOptions]="{standalone: true}">Balcony</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.laundry_room" [ngModelOptions]="{standalone: true}">Laundry Room</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.servant_quarter" [ngModelOptions]="{standalone: true}">Servant Quarter</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.dirty_kitchen" [ngModelOptions]="{standalone: true}">Dirty Kitchen</label>
																</div>
																</div>
															</div>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-xs-12">
															<h5>Utilities</h5>
															<div class="af-custom-checkbox">
																<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
															</div>
															<div class="af-custom-checkbox">
																<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
															</div>
															<div class="af-custom-checkbox">
																<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.maintenance" [ngModelOptions]="{standalone: true}">Maintenance</label>
															</div>
															<div class="af-custom-checkbox">
																<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
															</div>
														</div>
													</div>
													<hr>
													<div class="row">
														<div class="col-sm-12">
															<h5>Facing</h5>
															<div class="row">
																<div class="col-sm-4">
																	<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
																</div>
																</div>
																<div class="col-sm-4">
																	<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
																</div>
																<div class="af-custom-checkbox">
																	<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
																</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row plot" *ngIf="showPlotAddOn">
											<div class="row">
												<div class="col-sm-4">
														<h5>General Information</h5>
														<div class="price-input ">
															<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice($event)" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
															<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_paymentText | convertCurrency }}</span> (PKR)</span>
												</div>
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-xs-12">
												<h5>Main Features</h5>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.posession" [ngModelOptions]="{standalone: true}">Possesion</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.corner" [ngModelOptions]="{standalone: true}">Corner</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.park_facing" [ngModelOptions]="{standalone: true}">Park Facing</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.boundary_wall" [ngModelOptions]="{standalone: true}">Boundary Wall</label>
												</div>
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-xs-12">
												<h5>Utilities</h5>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.sewerage" [ngModelOptions]="{standalone: true}">Sewerage</label>
												</div>
												<div class="af-custom-checkbox">
													<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
												</div>
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-xs-12">
												<h5>Facing</h5>
												<div class="row">
													<div class="col-sm-4">
														<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
													</div>
													</div>
													<div class="col-sm-4">
														<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
													</div>
													</div>
												</div>
											</div>
										 </div>
										</div>

										<div class="row commercial" *ngIf="showCommAddOn">
											<div class="row">
												<div class="col-sm-12 col-md-12">
													<div class="additional-info">
														<h5>General Information</h5>
														<div class="row">
															<div class="col-sm-4">
																<select name="year_built" [(ngModel)]="saveData.property_feature.year_built" [ngModelOptions]="{standalone: true}">
																	<option value="">Year Built</option><option value="2020">2020</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option>
																</select>
															</div>
															<div class="col-sm-4">
																<div class="price-input">
																	<input type="number" name="downpayment" placeholder="Down Payment in PKR" (keyup)="convertPrice('DP')" [(ngModel)]="saveData.property_feature.down_payment" [ngModelOptions]="{standalone: true}">
																	<span class="price-badge" *ngIf="saveData.property_feature.down_payment > 1000"><span>{{ saveData.property_feature.down_paymentText | convertCurrency }}</span> (PKR)</span>
																</div>
															</div>

															<div class="col-sm-4" *ngIf="saveData.purpose == 'rent'">
																<div class="price-input">
																	<input type="number" name="security_deposit" placeholder="Security Deposit in PKR (if any)" (keyup)="convertPrice('SD')" [(ngModel)]="saveData.property_feature.security_deposit" [ngModelOptions]="{standalone: true}">
																	<span class="price-badge" *ngIf="saveData.property_feature.security_deposit > 1000"><span>{{ saveData.property_feature.security_depositText | convertCurrency }}</span> (PKR)</span>
																</div>
															</div>
														</div>
														<div class="row" *ngIf="saveData.purpose == 'rent'">
															<div class="col-sm-4">
																<div class="price-input">
																	<input type="number" name="maintenance_charges" placeholder="Maintenance Charges in PKR (if any)" (keyup)="convertPrice('MC')" [(ngModel)]="saveData.property_feature.maintenance_charges" [ngModelOptions]="{standalone: true}">
																	<span class="price-badge" *ngIf="saveData.property_feature.maintenance_charges > 1000"><span>{{ saveData.property_feature.maintenance_chargesText | convertCurrency }}</span> (PKR)</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-4">
																<div class="plus-minus-btns">
																	<button class="decrement" type="button" (click)="num_of_floor(-1)"></button>
																	<div class="no-of-bath">{{ saveData.property_feature.floorsText }}</div>
																	<button class="increment" type="button" (click)="num_of_floor(+1)"></button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-sm-9">
													<h5>Property Features</h5>
													<div class="row">
														<div class="col-sm-6">
															<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_heating" [ngModelOptions]="{standalone: true}">Central Heating</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.central_cooling" [ngModelOptions]="{standalone: true}">Central Cooling</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.lift" [ngModelOptions]="{standalone: true}">Elevator/Lift</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.public_parking" [ngModelOptions]="{standalone: true}">Public Parking</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.underground_parking" [ngModelOptions]="{standalone: true}">Underground Parking</label>
														</div>
														</div>
														<div class="col-sm-6">
															<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.internet" [ngModelOptions]="{standalone: true}">Internet</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.cctv_camera" [ngModelOptions]="{standalone: true}">Cctv Camera</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.backup_generator" [ngModelOptions]="{standalone: true}">Backup Generator</label>
														</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-xs-12">
													<h5>Utilities</h5>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.electricity" [ngModelOptions]="{standalone: true}">Electricity</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.gas" [ngModelOptions]="{standalone: true}">Gas</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.maintenance" [ngModelOptions]="{standalone: true}">Maintenance</label>
													</div>
													<div class="af-custom-checkbox">
														<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.water" [ngModelOptions]="{standalone: true}">Water</label>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-sm-12">
													<h5>Facing</h5>
													<div class="row">
														<div class="col-sm-4">
															<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north" [ngModelOptions]="{standalone: true}">North</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_east" [ngModelOptions]="{standalone: true}">North East</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_west" [ngModelOptions]="{standalone: true}">South West</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.east" [ngModelOptions]="{standalone: true}">East</label>
														</div>
														</div>
														<div class="col-sm-4">
															<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.north_west" [ngModelOptions]="{standalone: true}">North West</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south" [ngModelOptions]="{standalone: true}">South</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.south_east" [ngModelOptions]="{standalone: true}">South East</label>
														</div>
														<div class="af-custom-checkbox">
															<label><input class="custom-checkbox" type="checkbox" [(ngModel)]="saveData.property_feature.west" [ngModelOptions]="{standalone: true}">West</label>
														</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			    </div>
			    <div class="row">
			    	<div class="col-xs-12">
			    		<h4>Contact Information</h4>
			    		<div class="add-contact pdl-justi">
			    			<label class="mainLbl">Phone:</label>
			    			<div class="in-rel required">
									<input class="phn-wd regxValidate" type="text" name="contact1" placeholder="" formControlName="contact1" [(ngModel)]="propContacts[0].num" [ngClass]="{ 'is-invalid': submitted && f.contact1.errors }">
									<i aria-hidden="true" class="fa fa-phone"></i>
									<div *ngIf="submitted && f.contact1.errors" class="invalid-feedback">
											<div *ngIf="f.contact1.errors.required">Please Enter Phone Number</div>
									</div>
			    			</div>
								<span class="add-more" (click)="addRemoveContact('add')"><a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i> Add more phone numbers </a></span>

								<ng-container *ngFor="let contact of propContacts; let indx = index">
									<div *ngIf="indx > 0">
										<label class="mainLbl"></label>
										<div class="in-rel required">
											<input class="phn-wd regxValidate" type="number" name="contact2" placeholder="" [(ngModel)]="contact.num" [ngModelOptions]="{standalone: true}">
											<i aria-hidden="true" class="fa fa-phone"></i>
										</div>
										<span class="remove-this" (click)="addRemoveContact('remove', indx)"><a href="javascript:void(0)"><i class="fa fa-minus" aria-hidden="true"></i> Remove</a></span>
				    			</div>
								</ng-container>
			    		</div>
			    	</div>
			    </div>

			    <div class="row">
			    	<div class="col-xs-12">
			    		<div class="submit-btn">
			    			<button type="button" (click)="SaveData()" [disabled]="SavingProperty"><i class="fa fa-spinner fa-spin" *ngIf="SavingProperty"></i> Submit Property</button>
			    		</div>
			    	</div>
						<div class="col-md-8 col-md-offset-2 col-xs-12 mtp-20" *ngIf="showSuccess">
							<div class="alert alert-success alert-dismissible fade in">
						    <a href="javascript:;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						     Property added successfully.
						  </div>
						</div>

						<div class="col-md-8 col-md-offset-2 col-xs-12 mtp-20" *ngIf="showFailure">
							<div class="alert alert-danger alert-dismissible fade in">
						    <a href="javascript:;" class="close" (click)="hideFailureMsg()">&times;</a>
						     {{ showFailureMsg }}
						  </div>
						</div>
			    </div>
				</div>
	    </div>
	</div>
</section>

<!-- Map Modal -->
<div id="mapModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
				<p>Select Location:</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
				<div class="mapMarkerModal" #openMap>

				</div>
      </div>
    </div>

  </div>
</div>
