.invalid-feedback {
  /* width: 100%; */
  /* margin-top: .25rem; */
  /* font-size: 80%; */
  color: #dc3545;
}

.is-invalid {
  /* color: #dc3545; */
  border-color: #dc3545;
  /* padding-right: calc(1.5em + .75rem); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E"); */
  background-repeat: no-repeat;
  background-position: center right calc(.775em + .1875rem);
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.adjust-validation{
  margin-top: -8px;
  margin-bottom: 15px;
}


/* Agent registration page */
section.agent-registration-sec {
  background-color: #F9F9F9;
  padding: 50px 0 380px;
  position: relative;
  z-index: 999;
}
section.agent-registration-sec::before{
  width: 100%;
  /* background-image: url(../images/skyline-full.svg); */
  position: absolute;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 1;
}

.website-name {
    margin: 0;
    color: #006AFF;
    font-size: 38px;
    font-family: "GoogleSans-Bold";
    padding-bottom: 5px;
}

.slogan-tag {
    font-size: 17px;
    color: #424242;
    font-family: "GoogleSans-Bold";
    margin: 0;
    padding-bottom: 10px;
}

.package-text {
    color: #006AFFBA;
    font-size: 21px;
    margin: 0;
}

.registration-form-box {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    border-top: 6px solid #006aff;
    box-shadow: 0px 0px 22px #F0F0F0;
    padding: 45px 30px 40px;
}

.agent-registration-form {
    padding: 40px 40px 0;
}

.form-text {
    margin: 0;
    color: #424242;
    font-size: 16px;
    padding-bottom: 20px;
}

.agent-registration-form input {
    width: 100%;
    border: 1px solid #70707080;
    height: 36px;
    padding: 0 17px;
    font-family: "GoogleSans-Regular";
    margin-bottom: 12px;
    border-radius: 3px;
}

.agent-registration-form input:focus {
    border-color: #006aff;
    outline: none;
}

.submit_btn_registration {
    background-color: #006AFF;
    width: 100%;
    font-family: "GoogleSans-Medium" !important;
    font-size: 17px;
    padding: 6px 0;
    margin: 0;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
}
.submit_btn_registration:hover {
    background-color: #fff;
    color: #006AFF;
    outline: none;
    border-color: #006AFF;
}
.experience-box {
    background-color: #F9F9F9;
    margin-top: 30px;
    padding: 15px 0 10px;
    border-radius: 3px;
    border: 1px solid #006AFF;
}

.experience-box p {
    font-size: 21px;
    color: #424242;
    margin: 0;
    font-family: "GoogleSans-Medium";
    padding-bottom: 5px;
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-weight: 500;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
  color: #006aff;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
/* -------------------- */
