<section class="page-title-sec">
    <div class="blue-overlay"></div>
    <div class="container">
        <h2 class="page-tile-heading">Agent Registration Form</h2>
    </div>
</section>
<section class="agent-registration-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
                <div class="registration-form-box">
                    <h1 class="website-name">Gharbaar.com</h1>
                    <p class="slogan-tag">Simply Smarter Real Estate</p>
                    <p class="package-text">Free package for first 1000 signups!</p>
                    <form class="agent-registration-form" [formGroup]="agentForm" autocomplete="off" novalidate>
                        <p class="form-text">Fill out the form below and we will soon be in touch.</p>
                        <input type="text" name="name" placeholder="Name*" formControlName="name" [(ngModel)]="agent.name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <input type="text" name="company_name" placeholder="Company Name" formControlName="company_name" [(ngModel)]="agent.company_name">
                        <input type="text" name="phone_number" placeholder="Phone No*" formControlName="phone_number" [(ngModel)]="agent.phone_number"  [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }">
                        <input type="text" name="alternate_phone_num" placeholder="Alternate Phone No" formControlName="alternate_phone_num" [(ngModel)]="agent.alternate_phone_num">
                        <button class="submit_btn_registration" type="button" name="button" (click)="AddAgent()">Submit</button>
                    </form>
                    <div class="experience-box">
                        <p>The Experience. The Tools, The Expertise.</p>
                        <p>The smarter way to buy, sell, rent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
