<section class="blogDetail-sec">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-9">
              <div class="singleblogDescrip">
                  <h1 class="singleBlogHeading" *ngIf="contentLoaded">{{ BlogsResp.title }}</h1>
                  <div class="categorySingleBlog">
                      <div class="singleBlogCategoryIcon">
                          <img alt="Category Icon" src="assets/site/images/categoryBlog.svg">
                      </div>
                      <ul>
                        <li>
                          <ng-container *ngIf="contentLoaded">
                            <a href="javascript:;" *ngFor="let category of BlogsResp.categories; let catIndex = index" [routerLink]="getCatUrl(category)">
                                {{ category.name }}<span *ngIf="catIndex < BlogsResp.categories.length - 1">, </span>
                            </a>
                          </ng-container>
                      </li>
                      </ul>
                  </div>
                  <div class="authorDetails" *ngIf="contentLoaded">
                      <div class="authorImage">
                          <img *ngIf="BlogsResp.blogger.image" src="{{ ImagesUrl + 'uploads/bloggers/' + BlogsResp.blogger.image}}" alt="Author">
                          <img *ngIf="!BlogsResp.blogger.image" alt="Author" src="assets/site/images/user-default.svg">
                      </div>
                      <div class="authorDescription">
                          <p class="authorName">{{ BlogsResp.blogger.name }}</p>
                          <p class="authorDate">{{ BlogsResp.created_at | date }}</p>
                      </div>
                      <div class="commentBox">
                          <a href="javascript:;" (click)="commentScroll()">
                              <img src="assets/site/images/chatBlog.svg" alt="Comment Icon">
                              <span>{{ this.commentData.length }}</span> Comment<span *ngIf="this.commentData.length > 1">s</span>
                          </a>
                      </div>
                  </div>
                  <div class="blogMainImage" *ngIf="contentLoaded">
                      <img src="{{ ImagesUrl + 'uploads/blogs/' + BlogsResp.image}}" alt="Blog Image">
                      <!-- <img *ngIf="!BlogsResp.image" alt="Author" src="assets/site/images/user-default.svg"> -->
                  </div>

                  <div class="socialSharingBlog">
                      <div class="shareButtons">
                          <a href="javascript:;" shareButton="facebook" showCount="true" [url]="shareUrl" [image]="shareIImageUrl">
                              <span class="sharingCounts">
                                  <span class="iconHider">
                                      <span class="spaceFiller">
                                          <i class="fa fa-facebook" aria-hidden="true"></i>
                                          <span>Share</span>
                                      </span>
                                  </span>
                              </span>
                          </a>
                      </div>
                      <div class="shareButtons">
                          <a href="javascript:;" shareButton="twitter" [url]="shareUrl" [image]="shareIImageUrl">
                              <span class="sharingCounts">
                                  <span class="iconHider">
                                      <span class="spaceFiller">
                                          <i class="fa fa-twitter" aria-hidden="true"></i>
                                          <span>Tweet</span>
                                      </span>
                                  </span>
                              </span>
                          </a>
                      </div>
                      <div class="shareButtons">
                          <a href="javascript:;" shareButton="whatsapp" [url]="shareUrl" [image]="shareIImageUrl">
                              <span class="sharingCounts">
                                  <span class="iconHider">
                                      <span class="spaceFiller">
                                          <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                          <span>Whatsapp</span>
                                      </span>
                                  </span>
                              </span>
                          </a>
                      </div>
                      <div class="shareButtons">
                        <a href="javascript:;" shareButton="pinterest" [url]="shareUrl" [image]="shareIImageUrl">
                            <span class="sharingCounts">
                                <span class="iconHider">
                                    <span class="spaceFiller">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                        <span>Pinterest</span>
                                    </span>
                                </span>
                            </span>
                        </a>
                      </div>
                      <div class="shareButtons">
                          <a href="javascript:;" shareButton="email" [url]="shareUrl" [image]="shareIImageUrl">
                              <span class="sharingCounts">
                                  <span class="iconHider">
                                      <span class="spaceFiller">
                                          <img src="assets/site/images/email.svg" alt="Email">
                                          <span>Email</span>
                                      </span>
                                  </span>
                              </span>
                          </a>
                      </div>
                      <!-- <div class="shareButtons last">
                          <div class="totalShares">
                              <span class="shareCount">0</span>
                              <span>Share</span>
                          </div>
                      </div> -->
                  </div>
                  <div class="contentSingleBlog">
                      <div class="tableOfContents-nav">
                          <ul class="mainMenu">
                              <li>
                                  <a href="javascript:;" (click)="toggleTableContent()"><h5 [ngClass]="{'closed': !toggleToc}">Table Contents</h5></a>
                                  <ul class="subMenu" [ngClass]="{'openToc': toggleToc}">
                                    <li *ngFor="let tableCont of TableOfContents" (click)="scrollSec(tableCont.id)" [ngClass]="{'af-h3': tableCont.type == 'H3', 'af-h4': tableCont.type == 'H4'}">
                                      <a href="javascript:;">{{ tableCont.name }}</a>
                                    </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                      <div class="innerBodySingleBlog">
                        <div  [innerHtml]="BlogsResp.text"></div>
                        <div class="socialSharingBlog">
                            <div class="shareButtons">
                                <a href="javascript:;" shareButton="facebook" [url]="shareUrl" [image]="shareIImageUrl">
                                    <span class="sharingCounts">
                                        <span class="iconHider">
                                            <span class="spaceFiller">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                <span>Share</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="shareButtons">
                                <a href="javascript:;" shareButton="twitter" [url]="shareUrl" [image]="shareIImageUrl">
                                    <span class="sharingCounts">
                                        <span class="iconHider">
                                            <span class="spaceFiller">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                <span>Tweet</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="shareButtons">
                                <a href="javascript:;" shareButton="whatsapp" [url]="shareUrl" [image]="shareIImageUrl">
                                    <span class="sharingCounts">
                                        <span class="iconHider">
                                            <span class="spaceFiller">
                                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                                <span>Whatsapp</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="shareButtons">
                                <a href="javascript:;" shareButton="pinterest" [url]="shareUrl" [image]="shareIImageUrl">
                                    <span class="sharingCounts">
                                        <span class="iconHider">
                                            <span class="spaceFiller">
                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                <span>Pinterest</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="shareButtons">
                                <a href="javascript:;" shareButton="email" [url]="shareUrl" [image]="shareIImageUrl">
                                    <span class="sharingCounts">
                                        <span class="iconHider">
                                            <span class="spaceFiller">
                                                <img src="assets/site/images/email.svg" alt="Email">
                                                <span>Email</span>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <!-- <div class="shareButtons last">
                                <div class="totalShares">
                                    <span class="shareCount">0</span>
                                    <span>Share</span>
                                </div>
                            </div> -->
                        </div>
                          <div class="aboutAuthorBox" *ngIf="contentLoaded">
                              <div class="headingAuthorBox">About the author</div>
                              <div class="authorDetails">
                                  <div class="authorDescription">
                                      <img *ngIf="BlogsResp.blogger.image" src="{{ ImagesUrl + 'uploads/bloggers/' + BlogsResp.blogger.image}}" alt="Author">
                                      <img *ngIf="!BlogsResp.blogger.image" alt="Author" src="assets/site/images/user-default.svg">
                                      <p class="authorName">{{ BlogsResp.blogger.name }}</p>
                                      <a href="javascript:;" [routerLink]="getAuthorUrl(BlogsResp)">View all posts by author</a>
                                  </div>
                              </div>
                              <p> {{ BlogsResp.blogger.info }}</p>
                          </div>
                          <div class="articleHelpful" *ngIf="articleHelpful">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-8">
                                      <div class="articleQuestion">Did you find this article to be helpful?</div>
                                      <p>As is the case with most land investors, I buy and sell land outside of the state where I live. One of the major challenges that come with living out-of-state is that</p>
                                  </div>
                                  <div class="col-xs-12 col-sm-4 mob-centerline">
                                      <div class="blogLike">
                                          <a href="javascript:;" (click)="feedback('positive')"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                      </div>
                                      <div class="blogdisLike">
                                          <a href="javascript:;" (click)="feedback('negative')"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="row likedSubscription" *ngIf="likeSubsc">
                                  <div class="col-xs-12 col-sm-11">
                                    <h4>Thanks!</h4>
                                    <p>Sign up for our newsletter and learn how to take your real estate investing game to the next level.</p>
                                    <div class="emailIntrobox likedIntro">
                                      <form [formGroup]="subscriptionFormLike" autocomplete="off">
                                        <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscriptionlike.email" [ngClass]="{ 'is-invalid': submittedlike && l.email.errors }">
                                        <button (click)="AddSubscribelike()" [disabled]="ajaxloader">Subscribe</button>
                                      </form>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
              <div class="blog-sidebar">
                <div class="subscribeNewsletter">
                    <img src="assets/site/images/newsletterBlogs.svg" alt="Newsletter Icon">
                    <h3 class="newletterHeading">Subscribe to get latest real estate news of Pakistan</h3>
                    <form [formGroup]="subscriptionForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscription.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <button (click)="AddSubscribe()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                </div>
                <div class="quickLinks">
                    <h3 class="quickLinksHead">Quick Links</h3>
                    <ul>
                      <li><a href="javascript:;" routerLink="/skyparkone">Invest in Skyparkone</a></li>
                      <li><a href="javascript:;" routerLink="/blue-world-city">Invest in Blue World City</a></li>
                      <li *ngFor="let quickLink of quickLinks">
                        <a href="javascript:;" [routerLink]="setLocUrl(quickLink)"><span *ngIf="quickLink.sub_type == '' ;else ShowSubType_links"> {{ quickLink.type }} for {{ quickLink.purpose }} in {{ quickLink.name }}</span></a>
                        <ng-template #ShowSubType_links><span>{{ quickLink.sub_type }} for {{ quickLink.purpose }} in {{ quickLink.name }}</span></ng-template>
                      </li>
                      <!-- <li><a href="javascript:;">Property in Islamabad</a></li>
                      <li><a href="javascript:;">Property Bahria town</a></li>
                      <li><a href="javascript:;">Property in Rawalpindi</a></li>
                      <li><a href="javascript:;">Property in Blue World City</a></li>
                      <li><a href="javascript:;">Property in Gulberg Greens</a></li>
                      <li><a href="javascript:;"> Property in Blue Area</a></li> -->
                    </ul>
                </div>
                <div class="popularArticles">
                    <h3 class="quickLinksHead" *ngIf="BlogsPopArticles.length > 0">Popular Articles</h3>
                     <div id="blog_recent" class="">
                        <a class="popular-blogs" *ngFor="let popular of BlogsPopArticles" href="javascript:;" [routerLink]="getBlogUrl(popular)">
                            <!-- <div class="blogCat"></div> -->
                            <div class="sideblogTitle">{{ popular.title }}</div>
                            <div class="sideBarBlogtime"> {{ popular.name }} • {{ popular.created_at | date }}</div>
                        </a>
                     </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="joinConversation">
    <div class="container">
        <h2 class="joinConversationHead" *ngIf="outerComment">Join the conversation</h2>
        <div class="outerComment" *ngIf="outerComment">
          <form [formGroup]="commentForm" autocomplete="off">
            <div class="row">
                <div class="col-xs-12">
                    <div class="joinComments">
                      <label for="message">What do you want to add?</label>
                      <textarea name="message" formControlName="message" [(ngModel)]="comment.message" [ngClass]="{ 'is-invalid': commentAdd && a.message.errors }"></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="joinComments">
                        <label for="name">Name *</label>
                        <input type="text" name="name" formControlName="name" [(ngModel)]="comment.name" [ngClass]="{ 'is-invalid': commentAdd && a.name.errors }">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="joinComments">
                      <label for="email">Email *</label>
                      <input type="text" name="email" formControlName="email" [(ngModel)]="comment.email" [ngClass]="{ 'is-invalid': commentAdd && a.email.errors }">
                  </div>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="joinCommentsbtn">
                        <button href="javascript:;" (click)="addComment('0')">Add my thought</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
        <div class="allCommentsBox" id="commentBox">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <a id="commentSec" class="showAllComments" href="javascript:;" (click)="commentToggle('open')"><h2 class="commentsHeading">Show all responses (<span>{{ this.commentData.length }}</span> Comment<span *ngIf="this.commentData.length > 1">s</span>)</h2></a>
                    <ng-container *ngIf="this.commentData">
                      <div class="commentsTogglers" [ngClass]="{'open': toggleComment}"  *ngFor="let comments of commentData; let comIndex = index">
                        <div class="commentsChatting">
                            <ul>
                              <li>
                                  <div class="commentImage">
                                      <img src="assets/site/images/user-default.svg" alt="Comment Image">
                                  </div>
                                  <div class="commentDescrips">
                                      <h3 class="commentName">{{ comments.name }}</h3>
                                      <p>{{ comments.message }}</p>
                                      <a href="javascript:;" (click)="openInnerReply(comIndex)">Reply</a>
                                  </div>
                                  <div class="innerCommentReplies" *ngIf="comments.showForm">
                                    <h2 class="joinConversationHead">Join the conversation</h2>
                                    <div class="text-center">
                                      <a class="cancelReply" href="javascript:;" (click)="closeInnerReply(comIndex)">Cancel Reply</a>
                                    </div>
                                    <form [formGroup]="commentForm" autocomplete="off">
                                      <div class="row">
                                          <div class="col-xs-12">
                                              <div class="joinComments">
                                                <label for="message">What do you want to add?</label>
                                                <textarea name="message" formControlName="message" [(ngModel)]="comment.message" [ngClass]="{ 'is-invalid': commentAdd && a.message.errors }"></textarea>
                                              </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-6">
                                              <div class="joinComments">
                                                  <label for="name">Name *</label>
                                                  <input type="text" name="name" formControlName="name" [(ngModel)]="comment.name" [ngClass]="{ 'is-invalid': commentAdd && a.name.errors }">
                                              </div>
                                          </div>
                                          <div class="col-xs-12 col-sm-6">
                                            <div class="joinComments">
                                                <label for="email">Email *</label>
                                                <input type="text" name="email" formControlName="email" [(ngModel)]="comment.email" [ngClass]="{ 'is-invalid': commentAdd && a.email.errors }">
                                            </div>
                                          </div>
                                          <div class="col-xs-12 text-center">
                                              <div class="joinCommentsbtn">
                                                  <button href="javascript:;" (click)="addComment(comments.id)">Add my thought</button>
                                              </div>
                                          </div>
                                      </div>
                                    </form>
                                  </div>
                              </li>
                              <ng-container *ngIf="comments.replies.length > 0">
                              <li *ngFor="let Coreplies of comments.replies" >
                                <div class="commentImage">
                                    <img src="assets/site/images/user-default.svg" alt="Comment Image">
                                </div>
                                <div class="commentDescrips">
                                    <h3 class="commentName">{{ Coreplies.name }}</h3>
                                    <p>{{ Coreplies.message }}</p>
                                </div>
                              </li>
                              </ng-container>
                            </ul>
                        </div>
                      </div>
                    </ng-container>
                </div>
            </div>
            <ng-container *ngIf="this.commentData.length > 0">
              <a *ngIf="toggleComment" class="commentopen" (click)="commentToggle('close')"><i class="fa fa-angle-up fa-2x"></i></a>
              </ng-container>
        </div>
    </div>
</section>
<section class="subscriber-sec" id="subscriber">
    <div class="container">
        <div class="subscriberInner-box">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h2 class="subsciberHeading">Subscribe to Get Pakistan's Real Estate News</h2>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionFooterForm" autocomplete="off">
                      <input id="formEmail" type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscriptionFooter.email" [ngClass]="{ 'is-invalid': footSubmitted && g.email.errors }">
                      <button (click)="AddSubscribeFoot()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="assets/site/images/faisal-mosque.svg" alt="Subscriber">
                </div>
            </div>
        </div>
    </div>
</section>
<app-growing-community></app-growing-community>
