<!-- Render Layouts -->
<!-- <router-outlet></router-outlet> -->

<!-- Header -->
<!-- <app-header *ngIf="isProjectPage"></app-header> -->
<app-header></app-header>
<div class="main-content">
  <router-outlet></router-outlet>

  <app-footer [ngClass]="{'map_foottog': map_togfooter}"></app-footer>
  <!-- <app-footer *ngIf="isProjectPage"></app-footer> -->
</div>
