<!-- Inquiry Modal -->
<div class="modal-header">
  <button type="button" class="close" (click)="closeModal()">&times;</button>
  <h4 class="modal-title">Contact Agent</h4>
  <div class="agent-details-popup">
    <img src="assets/site/images/default-image.jpg">
    <!-- <p>Euro Estate</p> -->
    <div class="agent-name-id">
      <label>Agent: <span>{{ userName }}</span></label>
      <label>Gharbaar - {{ 'ID-' + propID }}</label>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="rquest-form">
    <form [formGroup]="LeadForm" novalidate>
      <div class="af-input-box required">
        <!-- <label class="lbl compul">Name</label> -->
        <input type="text" placeholder="Name" formControlName="name" name="name" [(ngModel)]="lead.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off">
        <i aria-hidden="true" class="fa fa-user"></i>
      </div>
      <div class="af-input-box required">
        <!-- <label class="lbl compul">Email</label> -->
        <input type="text" placeholder="Email" name="email" formControlName="email" [(ngModel)]="lead.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
        <i aria-hidden="true" class="fa fa-envelope"></i>
      </div>
      <div class="af-input-box">
        <!-- <label class="lbl compul">Phone</label> -->
        <input type="text" placeholder="Phone no" name="phone" formControlName="phone" [(ngModel)]="lead.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" autocomplete="off">
        <i aria-hidden="true" class="fa fa-phone"></i>
      </div>
      <div class="af-input-box message">
        <!-- <label class="lbl compul">Message</label> -->
        <textarea placeholder="Message" name="message" formControlName="message" [(ngModel)]="lead.message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" autocomplete="off"></textarea>
        <i aria-hidden="true" class="fa fa-commenting-o"></i>
      </div>

      <div class="hide">
        <div class="radio-wrapper">
          <p>I am a:</p>
        </div>
        <div class="radio-wrapper">
          <input type="radio" name="agntsType" id="buyer" value="Buyer">
          <label for="buyer" class="radio-label">Buyer/Tenant</label>
        </div>
        <div class="radio-wrapper">
          <input type="radio" name="agntsType" id="agent" value="agent">
          <label for="agent" class="radio-label">Agents</label>
        </div>
        <div class="radio-wrapper">
          <input type="radio" name="agntsType" id="other" value="other">
          <label for="other" class="radio-label">Other</label>
        </div>
      </div>

      <div class="af-checkbox-box">
        <p>
          <input type="checkbox" name="similiar">
          Keep me informed about similar properties.
        </p>
      </div>
      <div class="agents-btns fnt-sz12">
        <button class="trans-btn" (click)="open_ContactDetails_Modal()">Call</button>
        <button class="color-btn" (click)="AddLead(lead)">Send Email</button>
      </div>
      <div class=" btm-term-line">
        By submitting this form, I agree to  <a href="javascript:;">Terms of Use</a>
      </div>
    </form>
  </div>
</div>
