
<div class="fullPageOverlay" [ngClass]="{'af-display':leadForm}" (click)="closeOverlay()"></div>
<div class="fullPageOverlay" [ngClass]="{'af-display':revealForm}" (click)="closePopup()"></div>
<section class="sticky-sec black" [ngClass]="{'fixed': stickNavbar && !openForm}" #section_af>
	<div class="container">
		<div class="project-div">
			<div id="pview_nav_tabs" class="nav" [ngClass]="{'fixed': stickNavbar}">
			<div class="tabs-wrap af-tabs-outter" #widgetsContent>
				<span class="tab_arrow arrow_left" (click)="scrollHorizontal('left')">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				</span>
				<ul class="project-nav tabs" id="pview-tabs-nav">
					<li [ngClass]="{'active': currentSection==='overview'}" #overview>
						<a href="javascript:;" (click)="scrollTo('overview')" >Overview</a>
				</li>
				<li [ngClass]="{'active': currentSection === 'feature'}" #features>
					<a href="javascript:;" (click)="scrollTo('feature')" >	Features</a>
				</li>
      <li [ngClass]="{'active': currentSection === 'paymentPlan'}" #paymentPlan>
    		<a href="javascript:;" (click)="scrollTo('paymentPlan')" >Payment Plan</a>
    </li>
</ul>
<span class="tab_arrow arrow_right" (click)="scrollHorizontal('right')">
	<i class="fa fa-angle-right" aria-hidden="true"></i>
</span>

<div class="clearfix"></div>

</div>
</div>
</div>
</div>
</section>

<section class="container-adjusting new-design" [ngClass]="{'agency-profile': sideopened}">
	<div class="container-fluid">
		<div class="wd-100" [ngClass]="{'pdt-50': stickNavbar}">

			<div class="image-bannerDesign">
					<div class="socialShareBanner">
						<a href="javascript:;" data-toggle="modal" data-target="#shareModal">
								<svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="2.25" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible;"><g fill-rule="evenodd"><path d="m11.5 16v-15"></path><path d="m7.5 4 4-3 4 3"></path><path d="m5.4 9.5h-3.9v14h20v-14h-3.1"></path></g></svg>
								Share
						</a>
					</div>
					<a class="halfImg" href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(0)">
							<div class="projectBannerOverlay"></div>
							<img src="assets/site/videos/video-thumbnail.jpg" alt="Blue World City">
							<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
					</a>
					<div class="quaterImg">
							<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(1)">
									<div class="projectBannerOverlay"></div>
									<img src="assets/site/images/blue_world_projectImg.webp" alt="Blue World City">
							</a>
							<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(2)">
									<div class="projectBannerOverlay"></div>
									<img src="assets/site/images/blue_world_caro.jpg" alt="Blue World City">
							</a>
					</div>
					<div class="quaterImg">
							<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(3)">
									<div class="projectBannerOverlay"></div>
									<img src="assets/site/images/videoGharthumbnail.jpg" alt="Blue World City">
									<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
							<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(4)">
									<div class="projectBannerOverlay"></div>
									<img src="assets/site/images/blueWorldNewsthumbnail.jpg" alt="Blue World City">
									<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
					</div>
			</div>
			<div class="mobileBannerDesign" [ngClass]="{'af-none': openForm}">
				<div class="socialShareBanner">
					<a href="javascript:;" data-toggle="modal" data-target="#shareModal">
							<svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="2.25" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible;"><g fill-rule="evenodd"><path d="m11.5 16v-15"></path><path d="m7.5 4 4-3 4 3"></path><path d="m5.4 9.5h-3.9v14h20v-14h-3.1"></path></g></svg>
							Share
					</a>
				</div>
				<div class="owl-carousel owl-theme projMobile">
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="https://www.youtube.com/watch?v=vdrBVhWEuNc">
									<img src="assets/site/images/blue_world_projectImg.webp" alt="Blue World City Video">
									<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="https://www.youtube.com/watch?v=ifk--xonnHY">
									<img src="assets/site/images/videoGharthumbnail.jpg" alt="Blue World City Video">
									<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="https://www.youtube.com/watch?v=yXxucvkmCts">
									<img src="assets/site/images/blueWorldNewsthumbnail.jpg" alt="Blue World City Video">
									<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro3.jpg">
									<img src="assets/site/images/blue_world_caro3.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro.jpg">
									<img src="assets/site/images/blue_world_caro.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages.jpg">
									<img src="assets/site/images/blueWorldNightImages.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages1.jpg">
									<img src="assets/site/images/blueWorldNightImages1.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages2.jpg">
									<img src="assets/site/images/blueWorldNightImages2.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages3.jpg">
									<img src="assets/site/images/blueWorldNightImages3.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages4.jpg">
									<img src="assets/site/images/blueWorldNightImages4.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blueWorldNightImages5.jpg">
									<img src="assets/site/images/blueWorldNightImages5.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro4.jpg">
									<img src="assets/site/images/blue_world_caro4.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro5.jpg">
									<img src="assets/site/images/blue_world_caro5.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew3.jpg">
									<img src="assets/site/images/blue_world_caroNew3.jpg" alt="Blue World City">
							</a>
						</div>

						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew.jpg">
									<img src="assets/site/images/blue_world_caroNew.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro6.jpg">
									<img src="assets/site/images/blue_world_caro6.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew2.jpg">
									<img src="assets/site/images/blue_world_caroNew2.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro10.jpg">
									<img src="assets/site/images/blue_world_caro10.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro9.jpg">
									<img src="assets/site/images/blue_world_caro9.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro7.jpg">
									<img src="assets/site/images/blue_world_caro7.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew9.jpg">
									<img src="assets/site/images/blue_world_caroNew9.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew7.jpg">
									<img src="assets/site/images/blue_world_caroNew7.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew8.jpg">
									<img src="assets/site/images/blue_world_caroNew8.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew6.jpg">
									<img src="assets/site/images/blue_world_caroNew6.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew5.jpg">
									<img src="assets/site/images/blue_world_caroNew5.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caroNew4.jpg">
									<img src="assets/site/images/blue_world_caroNew4.jpg" alt="Blue World City">
							</a>
						</div>
						<div class="item">
							<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/blue_world_caro8.jpg">
									<img src="assets/site/images/blue_world_caro8.jpg" alt="Blue World City">
							</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>
<section class="full-box">
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-lg-8 no-padd order-sm-last order-lg-first">

				<section class="pricing-whole-box">
					<div class="price-detail fixed" [ngClass]="{'zIndexMax': leadForm}">
						<div class="af-project-price">
							<div class="pricing-box af-mobOnly">
								  Discount Booking Form
							</div>
							<div class="contact-btn">
								<a href="javascript:;" (click)="openSideForm()">
									<span [ngClass]="{'af-none': openForm}">Contact</span>
									<span [ngClass]="{'af-none': !openForm}">Hide</span>
								</a>
							</div>
						</div>
					</div>

				</section>
<section scrollSpy2 [spiedTags]="['DIV']" (sectionChange)="onMobSectionChange($event)">
	<div class="scrollspy" id="overview-section" #overview>
		<section class="project-view mt-0">
			<div class="af-overView">
				<h1 class="main-heading">Blue World City Overseas Block</h1>
				<div class="content">
					<section class="description" id="overview_descp">
						<div class="desc-text">
							<p>The management of <a href="javascript:;" routerLink="/blue-world-city">Blue World City</a> is privileged to launch “Overseas Block” which is lavishly featured and equipped with international standard amenities to offer an Ideal lifestyle for overseas residents and foreigners coming to Pakistan for CPEC. Overseas Block is comprised on five Residential Clusters separately designed for each category with following tags:</p>
              <div class="payment-table no-padd no-bord">
                <div class="table-reponsive">
                  <table>
                      <tbody>
                        <tr>
                          <td>1.	Bluebell Cluster</td>
                          <td>7 Marla Plots and Villas</td>
                        </tr>
                        <tr>
                          <td>2.	Lilly Cluster</td>
                          <td>10 Marla Plots and Villas</td>
                        </tr>
                        <tr>
                          <td>3.	Lavender Cluster</td>
                          <td>14 Marla Plots and Villas</td>
                        </tr>
                        <tr>
                          <td>4.	Daffodil Cluster</td>
                          <td>1 Kanal Plots</td>
                        </tr>
                        <tr>
                          <td>5.	Desert Rose Cluster</td>
                          <td>2 Kanal Plots</td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
              <div class="overviewInner-headings">Signature Canal Villas</div>
              <p>We are proudly introducing most modern smart villas at bank of Canal which is connected to main Lake District. It’s a unique design offering ultimate luxury of enjoying canal Water at your backyard in which you can park your own boat.</p>

              <div class="overviewInner-headings">Main Business District</div>
              <p>Very unique design of Main Commercial Area around a beautiful Lake in the center of overseas block which is having direct access from each cluster.</p>

              <div class="overviewInner-headings">City Walk</div>
              <p>City walk is new concept in the world and the management of Blue World City grasped the opportunity to design and build first ever CITY WALK in Pakistan. It is a beautiful walk track circling central Lake near main Commercial Area allowing people to shop, as well as to enjoy the stunning views of lake.</p>
              <img src="assets/site/images/city-walk.jpg" alt="City Walk">
            </div>
					</section>
				</div>
			</div>
		</section>
	</div>
	<div class="scrollspy" id="feature-section">
		<section class="sky-features">
			<section class="af-overView project-features">
				<div class="main-heading ">Features</div>
				<ul class="content" id="featuresHead">
					<li>
						<ul class="main-feature">
							<li class="left">
								<span class="label">Gated Community </span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/balcony.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>

							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">24 Hours CCTV Security Surveillance</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/nearbyshopping.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">E-Tag Entry System</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/building.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">Members Club</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/tennis-match.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>


							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">Sports Complex</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/nearbyrestaurants.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>

							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">Hospitals</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/tennis-match.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">	Mosques</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/building.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
							<li class="left" [ngClass]="{'af-hide':listDisplay}" >
								<span class="label">Play Grounds</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/parking.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
							<li class="left" [ngClass]="{'af-hide':listDisplay}">
								<span class="label">School</span>
								<span class="icon">
									<!-- <img src="assets/site/images/icons/tennis-match.svg"> -->
									<img src="assets/site/images/green-tick.png" alt="Tick">
								</span>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</section>
	</div>
  <div class="scrollspy" id="paymentPlan-section">
		<section class="af_payment_plan blue">
			<div class="main-project-heading no-bd-bt">Payment Plans</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="payment-table paymentPlans-tabs">
						<p>Overseas Block</p>

						<div class="table-responsive text-center">
							<table>
								<thead>
									<tr>
										<td>Plot Category</td>
										<td>Total Price</td>
										<td>Down Payment 10%</td>
                    <td>5% Confirmation (within 1 Month)</td>
                    <td class="borderBT">
                        <tr>
                          <td colspan="2">Option 01</td>
                        </tr>
                        <tr>
                          <td>Monthly Installments (40)</td>
      										<td>Half Year Installments (8)</td>
                        </tr>
                    </td>
                    <td class="borderBT">
                        <tr>
                          <td colspan="1">Option 02</td>
                        </tr>
                        <tr>
                          <td>Quarterly Installments (16)</td>
                        </tr>
                    </td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>7 Marla Residential</td>
										<td><del>1,540,000</del> <span>1,350,000</span></td>
                    <td>135,000</td>
                    <td>67,500</td>
                    <td>
                      <tr>
                        <td>14,344</td>
                        <td>71,719</td>
                      </tr>
                    </td>
										<td>71,719</td>
									</tr>
                  <tr>
										<td>10 Marla Residential</td>
										<td><del>2,145,000</del> <span>1,900,000</span></td>
                    <td>190,000</td>
                    <td>95,000</td>
                    <td>
                      <tr>
                        <td>20,188</td>
                        <td>100,938</td>
                      </tr>
                    </td>
										<td>112,813</td>
									</tr>
                  <tr>
										<td>14 Marla Residential</td>
										<td><del>2,800,000</del><span>2,500,000</span></td>
                    <td>250,000</td>
                    <td>125,000</td>
                    <td>
                      <tr>
                        <td>26,563</td>
                        <td>132,813</td>
                      </tr>
                    </td>
										<td>148,438</td>
									</tr>
									<tr>
										<td>1 Kanal Residential</td>
										<td><del>3,850,000</del><span>3,500,000</span></td>
                    <td>350,000</td>
                    <td>175,000</td>
                    <td>
                      <tr>
                        <td>37,188</td>
                        <td>185,938</td>
                      </tr>
                    </td>
										<td>207,813</td>
									</tr>
									<tr>
										<td>2 Kanal Residential</td>
										<td><del>6,160,000</del><span>5,600,000</span></td>
                    <td>560,000</td>
                    <td>280,000</td>
                    <td>
                      <tr>
                        <td>59,500</td>
                        <td>297,500</td>
                      </tr>
                    </td>
										<td>332,500</td>
									</tr>

								</tbody>
							</table>
						</div>
						<div class="">
							<p class="quota-txt">Plots Quota in Blue World City</p>
							<ul>
								<li>Government Servants: <span>50%</span></li>
								<li>General Public: <span>40%</span></li>
								<li>Retired & Widows: <span>10%</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 order-sm-first order-lg-last af-stickyProject" [ngClass]="{'af-display': displayTimerFooter , 'zIndexMax': leadForm}" #leadFormView>
				<div class="need-help-box wow fadeInRight" [ngClass]="{'zIndexMax': leadForm}">
					<div class="services-backi timer-top af-temporary_none" [ngClass]="{'af-none' : !helloFoot}">
						<div class="cross-btn white" (click)="closeHelloFoo()">x</div>
						<p> Discount Booking Form</p>
					</div>
					<form autocomplete="off" [ngClass]="{'open': openForm}" [formGroup]="LeadForm" novalidate>
						<div class="mobile-header-filter">
							<a rel="nofollow" class="af-left-close" href="javascript:void(0);" (click)="openSideForm()">
								<i aria-hidden="true" class="fa fa-chevron-left"></i>
							</a>
							<div>Send Inquiry</div>
						</div>

						<div class="mobile-box">
							<div class="showPhoneNumber">
								<a href="javascript:;" (click)="showPhoneNum();phoneClick();" *ngIf='!ShowAgentNum'><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> Show Phone Number</a>
								<a href="tel:03411100808" *ngIf='ShowAgentNum'><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> 03411100808</a>
							</div>
							<div class="showPhoneNumber">
								<a href="javascript:;" (click)="openWhatsapp();whatsappLeadFunc();"><img src="assets/site/images/whatsapp-white.png" alt="Whatsapp"> Whatsapp</a>
							</div>
							<div class="af-separator-Or"><span>or</span></div>
							<p class="fillFormText">Fill out the form below and we will contact you directly. </p>

							<div class="fill-Form">
									<div class="in-rel">
										<input id="formName" type="text" name="name" placeholder="Your Name" formControlName="name" [(ngModel)]="lead.name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
										<i class="fa fa-user" aria-hidden="true"></i>
										<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">Required Field</p>
									</div>
									<div class="in-rel num">
										<input id="phoneNum" class="phoneCc" type="tel" name="phone" placeholder="Enter Your Mobile Number" formControlName="phone" [(ngModel)]="lead.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
										<i class="fa fa-phone" aria-hidden="true"></i>
										<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">Required Field</p>
									</div>
									<div class="in-rel">
										<input type="text" name="email" placeholder=" Enter Your Email Address" formControlName="email" [(ngModel)]="lead.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">Required Field</p>
									</div>
									<div class="in-rel af-select">
										<select formControlName="interest" [(ngModel)]="lead.interest" [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">
											<option value="">Select Plot Size</option>
											<option>5 Marla Residential</option>
											<option>8 Marla Residential</option>
											<option>10 Marla Residential</option>
											<option>1 Kanal Residential</option>
											<option>2 Kanal Residential</option>
											<option>4 Kanal Residential</option>
											<option>8 Kanal Residential</option>
											<option>5 Marla Commercial</option>
											<option>8 Marla Commercial</option>
										</select>
										<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">Required Field</p>
									</div>

									<button (click)="AddLead()" [disabled]="ajaxloader">
										<span class="af-mobOnly">
											<span class="popular pull-left">Recommended</span>

											<span class="pull-left" style="margin: 4px 0 0 20px;">Submit
												<div class="lds-ring" *ngIf="ajaxloader"><div></div><div></div><div></div><div></div></div>
											</span>
										</span>

										<span class="af-webOnly">Submit
											<div class="lds-ring" *ngIf="ajaxloader"><div></div><div></div><div></div><div></div></div>
										</span>
									</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal" id="callus" data-backdrop="static">
	<div class="modal-dialog modal-sm phone-number">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-title">Contact Details</div>
			<!-- <p>Euro State</p> -->
		</div>
		<div class="modal-body">
			<div class="call-directory-body">
				<div class="mobile-no">
					<label>Phone</label>
					<p href="javascript:;">+92 51 8746137</p>
				</div>
				<div class="mobile-no">
					<label>Mobile</label>
					<p href="javascript:;">+92 341 1100808</p>
				</div>
				<!-- <div class="phone-no">
				<label>Mobile</label>
				<p href="javascript:;"></p>
			</div> -->
			</div>
		</div>
	</div>
</div>
<div class="modal" id="contact_mobile" data-backdrop="static">
	<div class="modal-dialog modal-lg exclusiveOffer">
		<button type="button" class="close exclusive" data-dismiss="modal"><span>&times;</span></button>
		<div class="modal-body">

			<div class="limited_timeBox">
			</div>
		</div>
	</div>
</div>


<div id="shareModal" class="modal fade" role="dialog">
  <div class="modal-dialog modalShare">
    <div class="modal-content">
      <div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					<svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(72, 72, 72);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg>
				</button>
				<div>Share</div>
				<ul class="af-modalShares">
								<li shareButton="facebook" url="https://gharbaar.com/blue-world-city">
									<a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</a>
								</li>
								<li shareButton="twitter" url="https://gharbaar.com/blue-world-city">
									<a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter</a>
								</li>
								<li class="messanger" shareButton="messenger" url="https://gharbaar.com/blue-world-city">
									<a href="javascript:;">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-messenger" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" class="svg-icon-sprite">
											<path id="XMLID_3_" fill="#339DFF" d="M6,26.3V32l5.3-3c1.5,0.4,3.1,0.7,4.7,0.7c8.8,0,15.9-6.6,15.9-14.8C31.9,6.6,24.8,0,16,0   S0.1,6.6,0.1,14.8C0.1,19.4,2.4,23.6,6,26.3L6,26.3z"></path>
											<path id="XMLID_2_" fill="#ffffff" d="M14.3,10.8l-8.6,9.1l7.8-4.3l4.1,4.3l8.5-9.1L18.4,15C18.4,14.9,14.3,10.8,14.3,10.8z"></path>
										</svg>Share on Messenger</a>
									</li>
									<!-- <li>
									<a href="javascript:void(0);"> <img src="assets/site/site/images/gmail-logo.svg"> Send via Gmail </a>
								</li> -->
								<li shareButton="email" url="https://gharbaar.com/blue-world-city">
									<a class="email" href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i> Send via Email</a>
								</li>
								<li shareButton="copy" url="https://gharbaar.com/blue-world-city">
									<a class="copy" href="javascript:void(0);"><i class="fa fa-clone" aria-hidden="true"></i> Copy Link</a>
								</li>
							</ul>
						</div>
      	</div>
    </div>
</div>

<div id="ProjectCarouselModal" class="modal fade" role="dialog">
  <div class="modal-dialog ProjectCarousel">
    <div class="modal-content">
       <div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="pauseVideo()">
					<svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(72, 72, 72);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg>
				</button>
				<div class="leftMainCarousel">
					<div class="outer">
					<div id="big" class="owl-carousel owl-theme owl-main-banner">
						<div class="item">
							<div class="bannerVideoPro">
									<video id="bannerVideo" controls><source src="assets/site/videos/video_2.mp4" type="video/mp4"></video>
							</div>
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_projectImg.webp" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_caro.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<div class="bannerVideoPro">
									<video id="bannerVideo1" controls><source src="assets/site/videos/inaugration-ceremony.mp4" type="video/mp4"></video>
							</div>
						</div>
						<div class="item">
							<div class="bannerVideoPro">
									<video id="bannerVideo2" controls><source src="assets/site/videos/gharbaar-news.mp4" type="video/mp4"></video>
							</div>
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages1.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages4.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages5.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro5.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew3.jpg" alt="Blue World City">
						</div>

						<div class="item">
								<img src="assets/site/images/blue_world_caroNew.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro6.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew2.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro10.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro9.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro7.jpg" alt="Blue World City">
						</div>
						<div class="item">
							 <img src="assets/site/images/blue_world_caroNew9.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew7.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew8.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew6.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew5.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew4.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_caro8.jpg" alt="Blue World City">
						</div>
					</div>
				</div>
				</div>
				<div class="rightSmallCarousel small">
					<div id="thumbs" class="owl-carousel owl-theme owl-custom-thumbnails">
						<div class="item">
							<img src="assets/site/videos/video-thumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_caro2-thumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_caro-thumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/videoGharthumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blueWorldNewsthumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages1.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages4.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blueWorldNightImages5.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro5-thumbnail.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew3.jpg" alt="Blue World City">
						</div>

						<div class="item">
								<img src="assets/site/images/blue_world_caroNew.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro6.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew2.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro10.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro9.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caro7.jpg" alt="Blue World City">
						</div>
						<div class="item">
							 <img src="assets/site/images/blue_world_caroNew9.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew7.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew8.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew6.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew5.jpg" alt="Blue World City">
						</div>
						<div class="item">
								<img src="assets/site/images/blue_world_caroNew4.jpg" alt="Blue World City">
						</div>
						<div class="item">
							<img src="assets/site/images/blue_world_caro8.jpg" alt="Blue World City">
						</div>
					</div>
					<div class="ProjectDetails">
						<p>{{ owlNumberActive }} / {{ totalNumberImages }}</p>
						<div>Blue World City Chakri Road</div>
					</div>
				</div>
			 </div>
      </div>
    </div>
