<section class="credits-sec">
	<div class="container">
		<div class="col-xs-12 col-sm-3">
				<div class="sidebar-tabs">
					<ul class="nav nav-tabs">
				    <li class="active">
				    	<a data-toggle="tab" href="#buycred">
				    		<div class="af-side-lists">
				    			<h5 class="no-margin"><img src="assets/site/images/acti-listings.png"> Buy Credits</h5>
				    		</div>
				    	</a>
				    </li>
				    <li>
				    	<a data-toggle="tab" href="#credhist">
				    		<div class="af-side-lists">
				    			<h5 class="no-margin"><img src="assets/site/images/waiting-appr.png"> Credits History</h5>
				    		</div>
				    	</a>
				    </li>
				  </ul>

				</div>
				<hr>
			</div>
			<div class="col-xs-12 col-sm-9">
				<div class="tab-content af-listing-tabs">
				  	<div id="buycred" class="tab-pane fade in active">
				  		<h4>Standard Credits</h4>
				  		<p>The Standard Service plan for Gharbaar.com – a simple, easy to use layout for the users. The standard package enables users to upload their own images and videos. After registration, the user will get 5 basic credits with the standard plan.</p>

							<h4>Silver Credits</h4>
							<p>Silver Service plan consists of a dynamic layout including additional projects, different profiles and listings, including the website homepage. The additional benefits include photography, videography including the drone/aerial footage and a collection of curated profiles.</p>

				  		<h4>Gold Credits</h4>
				  		<p>With the Gold service plan, the high visibility across the website portal will increase the number of leads. The exclusively designed listings and featured ads provide premium placement to the clients across the Gharbaar.com portal. Along with the benefits of photography, videography and drone footage, the platinum service plan also provides the clients with a 360-degree view of every project.</p>

				  		<!-- <h4>Platinum Credits</h4> -->
				  		<!-- <p>With the Platinum service plan, the high visibility across the website portal will increase the number of leads. The exclusively designed listings and featured ads provide premium placement to the clients across the Gharbaar.com portal. Along with the benefits of photography, videography and drone footage, the platinum service plan also provides the clients with a 360-degree view of every project.</p> -->

				  		<h4>Refresh Credits</h4>
				  		<p>Refresh the credits to ensure your visibility and prioritize your listings on the portal. Make your listing available to the buyers by updating your posting date. </p>

				  		<div class="row">
				  			<div class="col-xs-12 col-sm-12 col-md-6">
				  				<div class="credit-form">
				  					<!-- <form autocomplete="off">
					  					<input type="number" [(ngModel)]="credit.standard" name="standard" placeholder="Standard Credits" (keyup)="credits('standard')">
											<input type="number" [(ngModel)]="credit.silver" name="silver" placeholder="Silver Credits" (keyup)="credits('silver')">
						  				<input type="number" [(ngModel)]="credit.gold" name="gold" placeholder="Gold Credits" (keyup)="credits('gold')">
						  				<input type="number" [(ngModel)]="credit.platinum" name="platinum" placeholder="Platinum Credits" (keyup)="credits('platinum')">
						  				<input type="number" [(ngModel)]="credit.refresh" name="refresh" placeholder="Refresh Credits" (keyup)="credits('refresh')">
						  				<button>Place Order</button>
					  				</form> -->
										<div class="property-listings">
												<p>Gold Listings</p>
												<div class="credit-listing-amount">
													<button type="button" class="decrement-lisitngs"></button>
													<input class="no-of-listings" min="0" max="999" type="number" placeholder="0" [(ngModel)]="credit.gold" name="gold" (keyup)="credits('gold')">
													<button type="button" class="increment-lisitngs"></button>
												</div>
												<div class="listing-price-show" *ngIf="credit.gold && credit.gold != 0">
														<p>Rs.{{ goldCredit }}</p>
												</div>
										</div>
										<div class="property-listings">
												<p>Silver Listings</p>
												<div class="credit-listing-amount">
													<button type="button" class="decrement-lisitngs"></button>
													<input class="no-of-listings" min="0" max="999" type="number" placeholder="0" [(ngModel)]="credit.silver" name="silver" (keyup)="credits('silver')">
													<button type="button" class="increment-lisitngs"></button>
												</div>
												<div class="listing-price-show" *ngIf="credit.silver && credit.silver != 0">
														<p>Rs.{{ silverCredit }}</p>
												</div>
										</div>
										<div class="property-listings">
												<p>Standard Listings</p>
												<div class="credit-listing-amount">
													<button type="button" class="decrement-lisitngs"></button>
													<input class="no-of-listings" min="0" max="999" type="number" placeholder="0" [(ngModel)]="credit.standard" name="standard" (keyup)="credits('standard')">
													<button type="button" class="increment-lisitngs"></button>
												</div>
												<div class="listing-price-show" *ngIf="credit.standard && credit.standard != 0">
														<p>Rs.{{ standardCredit }}</p>
												</div>
										</div>
										<div class="property-listings">
												<p>Refresh Listings</p>
												<div class="credit-listing-amount">
													<button type="button" class="decrement-lisitngs"></button>
													<input class="no-of-listings" min="0" max="999" type="number" placeholder="0" [(ngModel)]="credit.refresh" name="refresh" (keyup)="credits('refresh')">
													<button type="button" class="increment-lisitngs"></button>
												</div>
												<div class="listing-price-show" *ngIf="credit.refresh && credit.refresh != 0">
														<p>Rs.{{ refreshCredit }}</p>
												</div>
										</div>
										<div class="total-price-Listings">
											<span *ngIf="allCredits != 0">Total Price</span>
											<p class="price-credits" *ngIf="allCredits != 0"> Rs. {{ allCredits }}</p>
										</div>
										<div class="payNow-btn">
												<button>Place Order</button>
										</div>
				  				</div>
				  				<hr>
				  			</div>
                <!-- <div class="col-xs-12 col-sm-6">
                  <div class="calculate-credits" *ngIf="allCredits != 0">
                      <p>
												 <span *ngIf="credit.standard && credit.standard != 0">	{{ credit.standard }} Standard,</span>
												 <span *ngIf="credit.silver && credit.silver != 0"> {{ credit.silver }} Silver,</span>
												 <span *ngIf="credit.gold && credit.gold != 0"> {{ credit.gold }} Gold,</span>
												 <span *ngIf="credit.platinum && credit.platinum != 0"> {{ credit.platinum }} Platinum,</span>
												 <span *ngIf="credit.refresh && credit.refresh != 0"> {{ credit.refresh}} Refresh,</span>
												 credit(s) will cost you
											</p>
                      <p class="price-credits" *ngIf="allCredits != 0">Rs. {{ allCredits }}</p>
                  </div>
                </div> -->
				  		</div>
				  	</div>
				  	<div id="credhist" class="tab-pane fade">
				  		<div class="cred-history-tab">
				  			<div class="type-sel">Type:
				  				<select>
				  					<option>All</option>
				  					<option>Pending</option>
				  					<option>Purchased</option>
				  					<option>Rejected</option>
				  					<option>Refund</option>
				  					<option>Used</option>
				  					<option>Assigned</option>
				  					<option>Take Back</option>
				  				</select>
				  			</div>
				  			<button>Export to CSV</button>
				  			<div class="table-listing">
								<div class="table-responsive">
									<table>
										<thead>
											<tr>
												<td>Type</td>
						  						<td>Date</td>
						  						<td>Time</td>
						  						<td>By</td>
						  						<td>To</td>
						  						<td>Standard</td>
						  						<td>Gold</td>
						  						<td>Platinum</td>
						  						<td>Refresh Credit</td>
						  						<td>Price</td>
											</tr>
										</thead>
										<tbody>
											<tr>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<p class="text-right">Total Price of Purchased Credits: Rs. 0</p>
				  		</div>
				  	</div>
				</div>
			</div>
	</div>
</section>
