<!-- Header -->
<router-outlet></router-outlet>

<!-- <app-header></app-header>
<div class="main-content">
  <!-- Top navbar --

  <app-panel-navbar *ngIf="showDashboard_Nav"></app-panel-navbar>

  <!-- Pages --
  <router-outlet></router-outlet>


  <app-footer [ngClass]="{'map_foottog': map_togfooter}"></app-footer>
</div> -->
