<!-- Main Header -->

<section class="af-navbar">
    <div class="af-navbar-top" [ngClass]="{'af-none': atHomePage}">
        <div class="container">
            <ul class="navbar-top-listing">
               <div class="rep-fav-hid-list">
                    <li class="favorites-nums" *ngIf="favoritePropCount > 0">
                        <a class="af-favorite" href="javascript:void(0)" routerLink="/favorites">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>{{ favoritePropCount }}</span>
                            <span>Favorite</span>
                        </a>
                    </li>
                    <li class="report-nums" *ngIf="hiddenPropCount > 0">
                        <a class="af-hide" href="javascript:void(0)" routerLink="/hidden">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                            <span>{{ hiddenPropCount }}</span>
                            <span>Hidden</span>
                        </a>
                    </li>
               </div>
            </ul>
        </div>
    </div>
    <div class="mynavbar" [ngClass]="{'mynavbar-dashboard': !atHomePage}">
      <div class="af-full-overlay" [ngClass]="{'af-show': sideNav}" (click)="toggleSidebar()"></div>
        <div class="container-fluid">
            <nav class="navbar">
                <div class="">
                    <div class="navbar-header">
                        <span class="mymenubtn" (click)="toggleSidebar()">&#9776;</span>
                        <a href="javascript:void(0)" routerLink="/" class="mylogo" style="outline:none; text-decoration: none;">
                            <img *ngIf="atHomePage" src="assets/site/images/logo-white.svg" alt="logo">
                            <img *ngIf="!atHomePage" src="assets/site/images/logo-colorful.svg" alt="logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" [ngClass]="{'open' : toggleSide}" id="bs-example-navbar-collapse-1">
                        <i class="fa fa-times af-close" aria-hidden="true" (click)="toggleSidebar()"></i>
                        <div class="heading-main">
                          <a href="javascript:void(0)" routerLink="/" class="mylogo">
                              <img src="assets/site/images/logo-colorful.svg" alt="logo">
                              <p>Simply Smarter Real Estate</p>
                          </a>
                          <div class="userProfileSide" *ngIf="isUserLoggedIn">
                              <img *ngIf="!user.image"  src="assets/site/images/generalAvatar.jpg" alt="User Default">
                                <img *ngIf="user.image" src="{{ ImagesUrl + 'uploads/users/thumbnails/' + user.image }}" alt="User">
                              <p>{{ 'Welcome ' + user.first_name}}</p>
                          </div>
                        </div>
                        <ul class="nav navbar-nav navbar-right" [ngClass]="{'padd-less': isUserLoggedIn }">
                            <li class="mobileOnlynav" *ngIf="isUserLoggedIn"><a href="javascript:void(0)" (click)="setSEO_Tags('Gharbaar User Panel', 'User Dashboard');closeSideNav();" routerLink="/dashboard"> Dashboard</a></li>
                            <li [ngClass]="{'purpose_active': activeRoute == '/'}"><a href="javascript:;" routerLink="/" (click)="setPurpose('sale');closeSideNav()"> Home </a></li>
                            <li><a href="javascript:;" (click)="closeSideNav();" routerLink="/sale/Homes/Islamabad-11-1">Buy / Rent</a></li>
                            <li [ngClass]="{'purpose_active': activeRoute.includes('/projects') }"><a href="javascript:;" (click)="setPurpose('_I_O');closeSideNav()" [routerLink]="investRoute()">Invest</a></li>
                            <!-- <li [ngClass]="{'purpose_active': activeRoute == '/manage-my-property'}"><a href="javascript:;" routerLink="/manage-my-property" (click)="closeSideNav()"><img src="assets/site/images/manageProperty-icon.svg" alt="Manage my Property"> Manage My Property</a></li> -->
                            <li [ngClass]="{'purpose_active': activeRoute == '/find-pro'}"><a href="javascript:;" routerLink="/find-pro/any/All-0-1" (click)="closeSideNav()">Find a Pro</a></li>
                            <li [ngClass]="{'purpose_active': activeRoute == '/academy'}"><a href="javascript:;" routerLink="/academy" (click)="closeSideNav()">Academy</a></li>
                            <li [ngClass]="{'purpose_active': activeRoute == '/blog'}"><a href="javascript:;" routerLink="/blog" (click)="closeSideNav()">Blog</a></li>
                            <li class="prop-button" [ngClass]="{'purpose_active': activeRoute == '/add'}">
                                <a class="addproperty" routerLink="/add" (click)="closeSideNav()">Add Property </a>
                            </li>

                            <!-- <li class="prop-button searchbtn af-none">
                                <div class="input-group add-on">
                                    <input type="text" class="form-control reference" placeholder="Property ID" name="srch-term" id="srch-term" [(ngModel)]="searchByID" autocomplete="off" (change)="searchListingByID()">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" (click)="searchListingByID()">
                                          <span class="spinner" [hidden]="!searchingLoad">
                                          <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                          <img src="assets/site/images/search.png" alt="search" [hidden]="searchingLoad" />
                                        </button>
                                    </div>
                                </div>
                            </li> -->
                            <li *ngIf="!isUserLoggedIn">
                                <a class="signIn" href="javascript:void(0)" type="button" (click)="open_Login_Modal()">Sign In</a>
                            </li>
                            <li class="mobileOnlynav" *ngIf="isUserLoggedIn">
                                <a href="javascript:;" (click)="logout()">Logout</a>
                            </li>
                            <li class="desktopOnlyNav" *ngIf="isUserLoggedIn">
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'Welcome ' + user.first_name}}
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)" (click)="setSEO_Tags('Gharbaar User Panel', 'User Dashboard')" routerLink="/dashboard">Dashboard</a></li>
                                    <li><a href="javascript:void(0)" (click)="setSEO_Tags('Gharbaar User Panel', 'Listings')" routerLink="/dashboard/listing">Listings</a></li>
                                    <li>
                                        <button type="button" (click)="logout()" [disabled]="loading">
                                            Logout
                                        </button>
                                    </li>
                                  </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
