<!-- User Panel Dashboard -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="credits-box">
					<div class="credit-header">Remaining Credits of {{ user.first_name }} {{ user.last_name }}</div>
					<div class="credit-body">
						<div class="col-xs-6 col-sm-3 no-padd">
							<p class="no-margin">Standard: <span class="blue">{{ user.total_basic_credits - user.used_basic_credits }}</span></p>
						</div>
						<!-- <div class="col-xs-6 col-sm-3 no-padd">
							<p class="no-margin">Premium: <span class="green">{{ user.total_premium_credits - user.used_premium_credits }}</span></p>
						</div>
						<div class="col-xs-6 col-sm-3 no-padd">
							<p class="no-margin">Premium Plus: <span class="green">{{ user.total_premium_plus_credits - user.used_premium_plus_credits }}</span></p>
						</div>
						<div class="col-xs-6 col-sm-3 no-padd">
							<p class="no-margin">Refresh: <span class="blue">0</span></p>
						</div> -->
					</div>
				</div>
			</div>
			<!-- <div class="col-md-6">
				<div class="credits-box">
					<div class="credit-header">Premium Credits</div>
					<div class="credit-body">
						<h3> <a href="javascript:void(0)">Learn more</a> about Premium and Premium Plus Credits</h3>
						<h3> Learn more about Premium and Premium Plus Credits <a href="javascript:void(0)">In Progress</a></h3>
					</div>
				</div>
			</div> -->
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-listing">
					<h4>Recent Listings</h4>
					<div class="table-responsive">
						<table>
							<thead>
								<tr>
									<td>ID</td>
									<td>Title</td>
									<td>Location</td>
									<td>Price</td>
									<td>Status</td>
									<td>Type</td>
								</tr>
							</thead>
							<tbody *ngIf="user.properties">
								<tr *ngFor="let property of user.properties" routerLink="{{ propertyRoute(property) }}">
									<td>{{ property.id }}</td>
									<td>{{ property.title }}</td>
									<td>{{ property.location_name }}, {{ property.city }}</td>
									<td>{{ property.price | convertCurrency }}</td>
									<td>{{ property.status | capitalize }}</td>
									<td *ngIf="property.package == 1">Standard</td>
									<td *ngIf="property.package == 2">Premium</td>
									<td *ngIf="property.package == 3">Premium Plus</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="graph-tabs">
					<ul class="nav nav-tabs">
					    <li class="active">
					    	<a data-toggle="tab" href="#totallist" (click)="set_SelectedTab('listings')">
									<h1 *ngIf="stats.total_listings; else propsListing">{{ stats.total_listings }}</h1>
					    		<ng-template #propsListing><h1>0</h1></ng-template>
					    		<div class="vcenter">
					    			<h5 class="no-margin">Total <br> Listings</h5>
					    		</div>
					    	</a>
					    </li>
					    <li>
					    	<a data-toggle="tab" href="#searchvi" (click)="set_SelectedTab('search')">
					    		<h1 *ngIf="stats.total_search_views; else searchViews">{{ stats.total_search_views }}</h1>
									<ng-template #searchViews><h1>0</h1></ng-template>
					    		<div class="vcenter">
					    			<h5 class="no-margin">Search <br> Views</h5>
					    		</div>
					    	</a>
					    </li>
							<li>
					    	<a data-toggle="tab" href="#propertyvi" (click)="set_SelectedTab('property')">
					    		<h1 *ngIf="stats.total_property_views; else propViews">{{ stats.total_property_views }}</h1>
									<ng-template #propViews><h1>0</h1></ng-template>
					    		<div class="vcenter">
					    			<h5 class="no-margin">Property <br> Views</h5>
					    		</div>
					    	</a>
					    </li>
					    <li>
					    	<a data-toggle="tab" href="#phonevi" (click)="set_SelectedTab('phone')">
					    		<h1 *ngIf="stats.total_phone_views; else phoneViews">{{ stats.total_phone_views }}</h1>
									<ng-template #phoneViews><h1>0</h1></ng-template>
					    		<div class="vcenter">
					    			<h5 class="no-margin">Phone <br> Clicks</h5>
					    		</div>
					    	</a>
					    </li>
							<li>
					    	<a data-toggle="tab" href="#whatsappvi" (click)="set_SelectedTab('whatsapp')">
					    		<h1 *ngIf="stats.total_whatsapp_views; else whatClick">{{ stats.total_whatsapp_views }}</h1>
									<ng-template #whatClick><h1>0</h1></ng-template>
					    		<div class="vcenter">
					    			<h5 class="no-margin">Whatsapp <br> Clicks</h5>
					    		</div>
					    	</a>
					    </li>
					</ul>
				  <div class="tab-content">
				  	<div id="totallist" class="tab-pane fade in active"></div>
				  	<div id="searchvi" class="tab-pane fade"></div>
				  	<div id="phonevi" class="tab-pane fade"></div>
				  	<div id="propertyvi" class="tab-pane fade"></div>
						<div id="whatsappvi" class="tab-pane fade"></div>
				  </div>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-md-12">
					<div class="">
						<div class="col-xs-12 col-sm-3">
							<div class="af-select-order wd-100">
							<select>
								<option disabled>Filter By</option>
								<!-- <option>Listing Type</option> -->
								<option selected>Rent / Sale</option>
							</select>
						</div>
						</div>
						<div class="col-xs-12 col-sm-7">
							<div class="date-filter">
								<input type="text"
											 placeholder="Start Date"
											 class="datepicker"
											 [bsConfig]="bsConfig"
											 [maxDate]="maxDate"
											 [(ngModel)]="startDate"
											 (bsValueChange)="onDateChange($event, 'start')"
											 bsDatepicker>
								 <!-- <input type="text"
												 placeholder="Datepicker"
												 class="form-control"
												 (bsValueChange)="onDateChange($event, 'start')"
												 bsDatepicker> -->
								<!-- <input type="text"
											 placeholder="Daterangepicker"
											 class="form-control"
											 [bsConfig]="bsConfig"
											 [maxDate]="maxDate"
											 [(ngModel)]="dateRange"
											 (bsValueChange)="onDateChange($event)"
											 bsDaterangepicker> -->
								<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
								<input type="text"
											 placeholder="End Date"
											 class="datepicker"
											 [bsConfig]="bsConfig"
											 [maxDate]="maxDate"
											 [(ngModel)]="endDate"
											 (bsValueChange)="onDateChange($event, 'end')"
											 #dp_EndDate="bsDatepicker"
											 bsDatepicker>
											 <!-- (bsValueChange)="onDateChange($event, 'end')" -->
							</div>
						</div>
						<div class="col-xs-12 col-sm-2">
							<ul class="graphs-filter">
								<li [ngClass]="{'active': ChartType == 'line'}" (click)="set_ChartType('line')"><i class="fa fa-line-chart"></i></li>
								<li [ngClass]="{'active': ChartType == 'bar'}" (click)="set_ChartType('bar')"><i class="fa fa-bar-chart"></i></li>
							</ul>
						</div>
					</div>
					<div class="af-bar-graph" *ngIf="showCharts">
						<canvas baseChart
										*ngIf="ChartType == 'bar'"
										[datasets]="ChartData"
										[labels]="ChartLabels"
										[options]="ChartOptions"
										[legend]="ChartLegend"
										[chartType]="ChartType"
										[colors]="ChartColors"
										id="myChart">
						</canvas>

						<canvas baseChart
										*ngIf="ChartType == 'line'"
										[datasets]="ChartData"
										[labels]="ChartLabels"
										[options]="ChartOptions"
										[legend]="ChartLegend"
										[chartType]="ChartType"
										[colors]="ChartColors"
										id="myChart">
						</canvas>
					</div>
				</div>
			</div>
		</div>
</section>
