<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Page Template -->
<section class="agency-profile">
	<div class="agency-banner">
		<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/rawalpindi-agent.jpg" alt="Agency Banner">
		<div class="agency-inner">
			<div class="agency-logo">
				<span class="af-helper">

					<img *ngIf="agent && agent.agency.logo; else agencyDummyLogo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + agent.agency.logo }}" alt="{{ agent.agency.name }} Logo">
					<ng-template #agencyDummyLogo><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Default Logo"></ng-template>
				</span>
			</div>
			<div class="af-name-agent" *ngIf="agent">
				<h1>{{ agent.agency.name }}</h1>
				<p>{{ agent.agency.city }}, Pakistan</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 order-sm-last order-lg-first">
				<section class="overview agency" id="overview" #overview>

					<h2 class="main-heading">Overview</h2>
					<div class="content">
						<section class="description">
							<!-- <h3 class="sub-heading">Description</h3> -->
							<div class="desc-text toogling-section" *ngIf="agent">
								{{ agent.agency.description }}
							</div>
						</section>
						<section class="detail detail-titanium">
							<h3 class="sub-heading">Details</h3>
							<ul>
								<li class="clearfix">
									<span class=" category">Properties:</span>
									<span class=" af-value" *ngIf="agent">{{ agent.total_properties }}</span>
								</li>
								<li class="clearfix">
									<span class=" category">Service Areas:</span>
									<span class=" af-value" *ngIf="agent">{{ agent.agency.city }}</span>
								</li>
								<li class="clearfix">
									<span class=" category">Property Types:</span>
									<span class=" af-value" *ngIf="agent" title="{{ agent.property_types }}"> {{ agent.property_types }}</span>
								</li>
								<li class="clearfix">
									<span class=" category">Properties for:</span>
									<span class=" af-value" *ngIf="agent"><span *ngIf="agent.sale_properties.length > 0">Sale</span><span *ngIf="agent.sale_properties.length > 0 && agent.rent_properties.length > 0"> and </span><span *ngIf="agent.rent_properties.length > 0">Rent</span></span>
								</li>
							</ul>
							<div class="clearfix"></div>
						</section>
					</div>
				</section>
				<section #officesId>
					<section class="af-marketing af-offices" id="offices" *ngIf="agent && agent.offices && agent.offices.length > 0">
						<h2 class="main-heading">Offices</h2>
						<div class="content">
							<div class="mapBox">
									<div class="officeMapDetails">
											<ul>
												<ng-container *ngFor="let office of agent.offices">
													<li [id]="'listLabel-'+office.id" (mouseout)="adjustMap(office.id, false)" (mouseover)="adjustMap(office.id , true)">
															<div class="locationOfficeDetail" *ngIf="office.address && office.door_address">
																	<i class="fa fa-map-marker" aria-hidden="true"></i>
																	<span>{{office.door_address}}</span>
															</div>
															<div class="locationOfficeDetail" *ngIf="office.address && !office.door_address">
																	<i class="fa fa-map-marker" aria-hidden="true"></i>
																	<span>{{office.address}}</span>
															</div>
															<div class="locationOfficeDetail phone" *ngIf="office.phone_number">
																	<i class="fa fa-phone" aria-hidden="true"></i>
																	<span>{{ office.phone_number }}</span>
															</div>
													</li>
												</ng-container>
											</ul>
									</div>
		              <div class="mapAgentOffice" id="propMap" #propMap></div>
		          </div>
						</div>
					</section>
				</section>
				<section class="pricing-whole-box">
					<div class="price-detail fixed" [ngClass]="{'zIndexMax': leadForm}">
						<div class="af-project-price">
							<div class="pricing-box af-mobOnly">
								  Register your interest
							</div>
							<div class="contact-btn">
								<a href="javascript:;" (click)="openSideForm()">
									<span [ngClass]="{'af-none': openForm}">Contact</span>
									<span [ngClass]="{'af-none': !openForm}">Hide</span>
								</a>
							</div>
						</div>
					</div>
        </section>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 order-sm-first order-lg-last af-stickyProject">
				<div class="agent-contact-side need-help-box">
					<div class="af-form-wrap">
						<div class="services-backi timer-top af-temporary_none">
  						<p>Register your interest</p>
  					</div>

						<form [ngClass]="{'open': openForm}" [formGroup]="LeadForm" autocomplete="off">
							<div class="mobile-header-filter">
  							<a rel="nofollow" class="af-left-close" href="javascript:void(0);" (click)="openSideForm()">
  								<i aria-hidden="true" class="fa fa-chevron-left"></i>
  							</a>
  							<p class="sendTitle">Send Inquiry</p>
  						</div>
							<div class="mobile-box">
								<div class="showPhoneNumber">
									<a href="javascript:;" (click)="open_ContactDetails_Modal()"><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> Show Phone Number</a>
								</div>
								<div class="showPhoneNumber" *ngIf="agent && agent.whatsapp_number">
									<a href="javascript:;" (click)="openWhatsapp()"><img src="assets/site/images/whatsapp-white.png" alt="Whatsapp"> Whatsapp</a>
								</div>
								<div class="af-separator-Or"><span>or</span></div>
								<div class="af-input-box required">
									<input formControlName="name" type="text" name="name" [(ngModel)]="lead.name" placeholder="Name *" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								<div class="af-input-box required">
									<input type="text" name="email" formControlName="email" [(ngModel)]="lead.email" placeholder="Email *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="af-input-box required">
									<input type="text" name="phone" formControlName="phone" [(ngModel)]="lead.phone" placeholder="Phone Number *" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" autocomplete="off">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="af-input-box message">
									<textarea name="message" formControlName="message" [(ngModel)]="lead.message" placeholder="Message *" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" autocomplete="off"></textarea>
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
								</div>
								<div class="af-button-box">
									<button (click)="AddLead()"><i class="fa fa-users-chat" aria-hidden="true"></i>Get Free Advice Now</button>
								</div>
								<div class="shareBoxForm">
										<div class="col-xs-5 col-sm-5 col-md-5 proj-share-label">
												<div class="shareHead"><img src="assets/site/images/share.svg" alt="Share"> Share:</div>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 proj-share-actions">
												<ul>
													<li shareButton="facebook" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
													</li>
													<li shareButton="twitter" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													</li>
													<li shareButton="linkedin" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="linkedin" href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
													</li>
													<li shareButton="whatsapp" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="whatsapp" href="javascript:void(0);"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>
													</li>
												</ul>
										</div>
								</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12" #staff_contentId>
				<section class="af-marketing af-staff" id="staff_content" *ngIf="agent && (agent.staff.length > 0)">
					<h2 class="main-heading">Staff</h2>
					<div class="content">
						<ul class="staff-box">
							<li class="staff-wrap" *ngFor="let staff of agent.staff;let i = index">
								<div class="staff-img">
									<img *ngIf="i == 0 && staff.image; else staffImages" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/users/thumbnails/' + staff.image }}" alt="Ceo">
									<ng-template #staffImages><img *ngIf="staff.image" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/staff/thumbnails/' + staff.image }}" alt="user"></ng-template>
									<img *ngIf="!staff.image" src="assets/site/images/generalAvatar.jpg" alt="user">
								</div>
								<div class="staff-detail_right">
									<ul>
										<li>
											 <!-- <span>{{staff.name}} - {{staff.designation}}</span> -->
											 <span class="staffName">{{staff.name}} </span>
										</li>
										<li><span class="staffdesignation" *ngIf="staff.designation">{{staff.designation}}</span></li>
										<li *ngIf="i != 0 && (staff.phone_number || staff.whatsapp_number)">
											<!-- <span> {{staff.phone_number}}</span> -->
											<button class="phoneBtn" type="button" name="button" (click)="staffNumbers(i)"><img src="assets/site/images/telephone.svg" alt="Phone Icon">Show Number</button>
											<button class="whatsappBtn" type="button" name="button" (click)="staffWhatsapp(i)"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></button>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="col-xs-12 col-sm-12" #propertiesId>
				<section class="af-marketing" id="properties" *ngIf="agent">
					<h2 class="main-heading">Properties by <span>{{ agent.agency.name }}</span></h2>
					<div class="content">

						<div class="af-marketing-wrp">
							<div class="sub-heading">
								<img src="assets/site/images/propertiesForSale.svg" alt="Properties For Sale">
								<div class="totalPropertiesUp">
										{{ agent.sale_properties_total }}
								</div>
							</div>
							<ul>
								<li>
									<span class="th">Property Type</span>
									<span class="th">Listing(s)</span>
								</li>
								<li *ngIf="agent.sale_properties.length == 0">
									<span class="af-description"> All properties</span>
									<span class="af-value"> 0</span>
								</li>
								<li *ngFor="let item of agent.sale_properties">
									<span class="af-description" *ngIf="agent.sale_properties.length > 0">{{ item.sub_type }} For Sale </span>
									<span class="af-value" *ngIf="agent.sale_properties.length > 0">{{ item.count }}</span>
								</li>
							</ul>
							<a href="javascript:void(0);" class="af-viewall" *ngIf="agent.sale_properties.length > 0">View all Properties for Sale</a>
						</div>

						<div class="af-marketing-wrp" *ngIf="agent">
							<div class="sub-heading">
								<img src="assets/site/images/propertiesForRent.svg" alt="Properties For Rent">
								<div class="totalPropertiesUp">
										{{ agent.rent_properties_total }}
								</div>
							</div>
							<ul>
								<li>
									<span class="th">Property Type</span>
									<span class="th">Listing(s)</span>
								</li>
								<li *ngIf="agent.rent_properties.length == 0">
									<span class="af-description"> All properties</span>
									<span class="af-value">0</span>
								</li>
								<li *ngFor="let item of agent.rent_properties">
									<span class="af-description">{{ item.sub_type }} to Rent </span>
									<span class="af-value">{{ item.count }}</span>
								</li>
							</ul>
							<a *ngIf="agent.rent_properties.length > 0" href="javascript:void(0);" class="af-viewall">View all Properties to Rent</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</section>

<section class="recent-agency-properties" *ngIf="agent">
	<div class="container">
		<div class="col-xs-12 col-sm-12">
			<div class="af-marketing">
				<h2 class="main-heading">Recent Properties by {{ agent.agency.name }}</h2>
					<div class="noRecentProperties" *ngIf="agent && agent.recent_properties.length < 1">
						<p>No recent properties added yet.</p>
					</div>
					 <div class="listingRecents" *ngIf="agent && agent.recent_properties.length > 0">
							<div class="listingSideLeft gridView">
								<div class="propertiesLisitngs recentListingAgents">
								<owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideProperties" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
								 <div class="item" *ngFor="let recentProperty of agent.recent_properties;let i = index">
									 <a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}">
											<div class="properties-data standard">
		 										<div class="property-img">
													<img *ngIf="recentProperty.all_images" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + recentProperty.all_images.split(',')[0] }}" alt="Property Image">
	 												<img *ngIf="!recentProperty.all_images" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/default-image.jpg" alt="Property Default Image">
		 										</div>
		 										<div class="property-cont-box">
		 											<div class="property-content">
														<a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}"><p class="propTitle">{{ recentProperty.title }}</p></a>
		 												<a href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}"><p>{{ recentProperty.location_name }}, {{ recentProperty.city }}</p></a>
		 												<p class="small-bed">
		 													<span *ngIf="convertToInt(recentProperty.bedrooms) > 0"><img class="bed-img" src="assets/site/images/bed-icon.svg"> {{ recentProperty.bedrooms }}</span>
		 													<span  *ngIf="convertToInt(recentProperty.bathrooms) > 0"><img class="bath-img" src="assets/site/images/bath-icon.svg"> {{ recentProperty.bathrooms }} </span>

		 													<span class="no-padd" >
		 														<img src="assets/site/images/scale-area.svg" class="" alt="">
		 														<span class="no-padd">{{ recentProperty.size_in_marla | round2Dec}} marla</span>
		 													</span>
		 												</p>
		 											</div>
		 											<div class="posted-by">
		 												<span>Posted on</span>
		 												<span>{{ recentProperty.created_at | date }}</span>
		 											</div>
		 										<div class="viewnum-send-box">
		 											<a class="detail" href="javascript:;" routerLink="{{ propertyRoute(recentProperty) }}">View Detail</a>
		 											<a class="gridViewsPrice" href="javascript:void(0)">
		 												<div class="property-price"><span class="price-currency">PKR</span> {{ recentProperty.price | convertCurrency }}</div>
		 											</a>
		 										</div>
		 										</div>
		 									</div>
									 </a>
								 </div>
							  </owl-carousel>
								</div>
							</div>
						 </div>
				 </div>
			</div>
		</div>
</section>

<section class="similiarAgencies recentListingAgents" *ngIf="agent && agent.similar_agents.length > 0">
		<div class="container">
			<div class="col-xs-12 col-sm-12">
				<div class="af-marketing">
					<h2 class="main-heading">Similar Agencies</h2>
					<div class="content">
						<ul class="staff-box">
							<owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideProperties" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
							 <div class="item" *ngFor="let simiAgents of agent.similar_agents;let i = index">
									<li class="staff-wrap">
										<a href="{{ agencyProfileRoute(simiAgents) }}">
											<div class="staff-img">
												<img *ngIf="simiAgents && simiAgents.logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + simiAgents.logo }}" alt="Similiar Agents">
												<img *ngIf="simiAgents && !simiAgents.logo" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/generalAvatar.jpg" alt="user">
											</div>
										</a>
										<div class="staff-detail_right">
											<ul>
												<li>
													<a href="{{ agencyProfileRoute(simiAgents) }}"> <span class="staffName">{{simiAgents.name}} </span></a>
												</li>
												<li>
													<a href="{{ agencyProfileRoute(simiAgents) }}">
														<span class="staffdesignation">Total Properties: {{simiAgents.total_properties}}</span>
													</a>
												</li>
												<li>
													<button *ngIf="simiAgents.phone_number" class="phoneBtn" type="button" name="button" (click)="agenciesNumbers(i)"><img src="assets/site/images/telephone.svg" alt="Phone Icon">Show Number</button>
													<button *ngIf="simiAgents.whatsapp_number" class="whatsappBtn" type="button" name="button" (click)="agenciesWhatsapp(i)"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></button>
												</li>
											</ul>
										</div>
									</li>
							 </div>
							</owl-carousel>
						</ul>
					</div>
				</div>
			</div>
		</div>
</section>


<div class="af-none">
	<ng-container *ngIf="agent">
    <div *ngFor="let agency of agent.offices; let indx = index" [id]="'mapsLabel-'+agency.id">
      <button class="mapMarkersOval" name="button" (mouseout)="adjustList(agency.id, false)" (mouseover)="adjustList(agency.id , true)">
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49">
          <g id="location" data-name="Group 633" transform="translate(-1711 -679)">
            <circle id="Ellipse_103" data-name="Ellipse 103" cx="14" cy="14" r="14" transform="translate(1711 679)" fill="#7C9CB0"/>
            <ellipse id="Ellipse_104" data-name="Ellipse 104" cx="5.5" cy="2" rx="5.5" ry="2" transform="translate(1720 724)" fill="#c7d0e3" opacity="0.52"/>
            <path id="Path_2606" data-name="Path 2606" d="M19396,18035.227v20.629" transform="translate(-17670.5 -17330)" fill="none" stroke="#7C9CB0" stroke-width="2"/>
            <g id="Group_632" data-name="Group 632" transform="translate(12.007 -14.287)">
              <path id="Path_2607" data-name="Path 2607" d="M18.929,12.96l7.25,4.766-.166,1.633-7.051-4.537-5.942,4.408H10.54Z" transform="translate(1695.961 688.736)" fill="#fff"/>
              <path id="Path_2608" data-name="Path 2608" d="M16.65,20.711l1.662-.295V17.74H16.65Z" transform="translate(1692.103 685.718)" fill="#fff"/>
              <path id="Path_2609" data-name="Path 2609" d="M16.495,18.761a9.037,9.037,0,0,0,3.07-3.852c.2-.328.457-1.242.59-1.437v-.31c-.38-.409-5.374-3.641-6.093-4.1-.98-.652-.848-.719-2.156.2-1.238.98-2.676,1.928-3.918,2.842-.652.52-1.3.977-1.924,1.434a20.939,20.939,0,0,0-1.895,1.5,16.8,16.8,0,0,0,1.843-.066c.785,0,.914.066,1.437-.391,1.176-.98,2.949-2.156,4.276-3.133,1.08-.785,1.176-1.143,1.766-.785,1.176.737,2.742,1.99,3.918,2.547.914.586,1.043.457.258,1.7A8.289,8.289,0,0,1,14.6,17.858,8.333,8.333,0,0,1,4.073,15.006,8.108,8.108,0,0,1,5.964,4.317a8.05,8.05,0,0,1,4.375-1.555A2.691,2.691,0,0,0,10.277,1,9.67,9.67,0,0,0,1.95,6.451a9.992,9.992,0,0,0,8.879,14.234,11.23,11.23,0,0,0,5.68-1.924Z" transform="translate(1701.971 696.288)" fill="#fff"/>
              <rect id="Rectangle_825" data-name="Rectangle 825" width="1.404" height="1.272" transform="translate(1713.128 709.042)" fill="#fff"/>
              <rect id="Rectangle_826" data-name="Rectangle 826" width="1.404" height="1.272" transform="translate(1714.79 709.042)" fill="#fff"/>
              <rect id="Rectangle_827" data-name="Rectangle 827" width="1.404" height="1.272" transform="translate(1713.128 710.609)" fill="#fff"/>
              <rect id="Rectangle_828" data-name="Rectangle 828" width="1.404" height="1.272" transform="translate(1714.79 710.609)" fill="#fff"/>
            </g>
          </g>
        </svg>
      </button>
    </div>
	</ng-container>

  <div id="infowindow-content">
    <div *ngIf="infoWindowProperty">
      <div class="tooltipContentBox">
				<button class="crossInfo officeAgent" type="button" name="button" (click)="closeInfoWindow()">&times;</button>
        <div id="place-address" *ngIf="infoWindowProperty.door_address && infoWindowProperty.address"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ infoWindowProperty.door_address }}</span></div>
				<div id="place-address" *ngIf="infoWindowProperty.address && !infoWindowProperty.door_address"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ infoWindowProperty.address }}</span></div>
				<div id="place-price" *ngIf="infoWindowProperty.phone_number"  class="title"><i class="fa fa-phone" aria-hidden="true"></i> <span>{{ infoWindowProperty.phone_number }}</span></div>
      </div>
    </div>
  </div>
</div>
