<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Serch Listing -->
<div class="gharbaarloader" *ngIf="gharbaarLoader">
    <div class="imageLoader">
        <img src="assets/site/images/gharbaarLoarder.svg" alt="Gharbaar Loader">
    </div>
</div>
<section class="inner-pages-Btn-filter" [ngClass]="{'fixed':stickfilter}" #section_af>
    <div class="fixedTogglesBtnMob">
        <button type="button" name="button" (click)="toggleMap()">
            <span *ngIf="!maptoggler">Map<svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: inline-block; fill: currentcolor;"><path d="m1.68 15.23 3.84-.96 4.84.97a.75.75 0 0 0 .33-.01l4-1a .75.75 0 0 0 .57-.73v-12a .75.75 0 0 0 -.93-.73l-3.84.96-4.84-.97a.75.75 0 0 0 -.33.01l-4 1a .75.75 0 0 0 -.57.73v12a .75.75 0 0 0 .93.73zm9.57-12.14 2.5-.63v10.45l-2.5.63zm-1.5 10.5-3.5-.7v-10.47l3.5.7zm-5-.67-2.5.63v-10.45l2.5-.63z" fill-rule="evenodd"></path></svg></span>
            <span *ngIf="maptoggler">List<svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="height: 1em; width: 1em; display: inline-block; fill: currentcolor;"><path d="m15.25 12.5a.75.75 0 01-.75.75h-13a .75.75 0 010-1.5h13a .75.75 0 01 .75.75zm-.75-5.75h-13a .75.75 0 100 1.5h13a .75.75 0 000-1.5zm-13-3.5h13a .75.75 0 000-1.5h-13a .75.75 0 100 1.5z" fill-rule="evenodd"></path></svg></span>
        </button>
    </div>
    <div class="full-width">
        <div class="innerFilterfull" [ngClass]="{'gridView': !maptoggler}">
            <div class="innerFilterBox">
              <div class="filteroptions mobile">
                  <div class="filterBtns">
                    <div class="dropdown">
                      <button [ngClass]="{'active': searchParms.type}" type="button" name="button" id="dLabel" aria-haspopup="true" aria-expanded="false">
                        <span *ngIf="!searchParms.type">Property Type</span>
                        <span *ngIf="searchParms.type && (searchParms.sub_type == '' || searchParms.sub_type == 'all')">{{ searchParms.type }}</span>
                        <span *ngIf="searchParms.sub_type != '' && searchParms.sub_type != 'all'">{{ searchParms.sub_type }}</span>
                      </button>

                      <ul id="myTabs" class="dropdown-menu" role="menu" aria-labelledby="dLabel" #propertyType>
                        <ul class="nav nav-tabs">
                          <li *ngFor="let type of searchTypes" [ngClass]="{'active': searchParms.type == type}">
                            <a id="myhome" href="javascript:void(0)" [routerLink]="setPropertyType(type)" [attr.data-target]="type + '-typeID'" data-toggle="tab">{{ type }}</a>
                          </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane openSide" *ngFor="let type of searchTypes" [ngClass]="{'active': type == searchParms.type }" [attr.id]="type + '-typeID'">
                            <ul>
                              <ng-container *ngFor="let item of searchSubTypes[type]" >
                                <li [routerLink]="setPropertySubType(item.name)" [ngClass]="{'active_Prop_Type': item.name == searchParms.sub_type }">
                                  <!-- {{ item.name }} -->
                                  <a href="javascript:void(0)" [routerLink]="setPropertySubType(item.name)">{{ item.name }}</a>
                                </li>
                              </ng-container>
                            </ul>
                          </div>

                          <div class="clearfix"></div>
                          <div class="af-reset-btns">
                            <span class="right filter-close" (click)="setLocRoute()">Done</span>
                            <span class="right reset dis-none" (click)="resetPropType()">Reset</span>
                          </div>
                        </div>
                      </ul>
                    </div>
                  </div>
              </div>
                <div class="filteroptions mobile">
                    <div class="filterBtns">
                      <div class="dropdown">
                        <button [ngClass]="{'active': searchParms.purpose}" type="button" name="button" id="purpose" aria-haspopup="true" aria-expanded="false">
                          <span *ngIf="!searchParms.purpose">Purpose</span>
                          <span *ngIf="searchParms.purpose == 'sale'; else purposeProp">Buy</span>
                          <ng-template #purposeProp><span>{{ searchParms.purpose | capitalize }}</span></ng-template>

                        </button>
                        <div class="dropdown-menu" aria-labelledby="purpose">
                            <button *ngFor="let purpose of purposes" type="button" name="button" (click)="updatePurpose(purpose.value)">{{ purpose.name }}</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="filteroptions mobile">
                    <div class="filterBtns">
                      <div class="dropdown">
                        <button [ngClass]="{'active': searchParms.city}" type="button" name="button" id="city" aria-haspopup="true" aria-expanded="false">
                          <span *ngIf="!searchParms.city">City</span>
                          <span *ngIf="searchParms.city">{{ searchParms.city.name }}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="city">
                          <button *ngFor="let city of cities" [ngClass]="{'active': city.name == searchParms.city.name }" type="button" name="button" (click)="selectCity(city)">{{ city.name }}</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="filteroptions">
                    <div class="filterBtns">
                        <div class="dropdown locationDrop">
                          <button [ngClass]="{'active': searchParms.area.id}" type="button" name="button" id="location" aria-haspopup="true" aria-expanded="false">
                            <span *ngIf="!searchParms.area.id">Area</span>
                            <span *ngIf="searchParms.area.id">{{ searchParms.area.name }}</span>
                          </button>
                          <div class="dropdown-menu projectsAll" aria-labelledby="location">
                            <ng-select [items]="areas"
                            [virtualScroll]="false"
                            [loading]="areasLoading"
                            [(ngModel)]="searchParms.area"
                            bindLabel="name"
                            dropdownPosition="bottom"
                            #areasSelect
                            [formControl]="areasSelect_F"
                            name="area"
                            placeholder="Type or Select Area"
                            [isOpen] = true
                            appendTo=".projectsAll"
                            (scroll)="onScroll_Areas($event)"
                            (scrollToEnd)="onScrollToEnd_Areas()"
                            (change)="selectArea()">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="filteroptions">
                    <div class="filterBtns">
                      <div class="dropdown">
                        <button [ngClass]="{'active': searchParms.min_area != '0' || searchParms.max_area != '0'}" type="button" name="button">
                          <span *ngIf="searchParms.min_area == '0' && searchParms.max_area == '0'">Size</span>
                          <span *ngIf="searchParms.min_area != '0' && searchParms.max_area == '0'">{{ searchParms.min_area }} - Any</span>
                          <span *ngIf="searchParms.max_area != '0'">{{ searchParms.min_area }} - {{ searchParms.max_area }}</span>
                        </button>
                        <div data-tag_unit="PKR" data-filter_role="dualselect" class="dropdown-box dropdown-menu range-dd dis-none marla-dropdown design-1" id="area_dropdown_list">
                          <div class="change-area">
                            <a style="cursor: pointer;" data-toggle="modal" data-target="#unit-area-modal">Change area unit ({{ searchParms.area_unit | uppercase }})</a>
                          </div>
                          <div class="dd-top">
                            <div class="left">
                              <label>Min:</label>
                              <input maxlength="12" placeholder="0" name="min_marla" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_area">
                            </div>
                            <div class="left">
                              <label>Max:</label>
                              <input maxlength="12" placeholder="Any" name="max_marla" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_area">
                            </div>
                          </div>
                          <div id="area_groups" class="">

                            <!-- Min Areas -->
                            <ul class="area-dropdown-min">
                              <li [ngClass]="{'active_Prop_Type': searchParms.min_area == 0}" (click)="setArea('min', 0)" data-val="0">0</li>
                              <ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
                                <li [ngClass]="{'active_Prop_Type': searchParms.min_area == area}" (click)="setArea('min', area)" *ngIf="i != searchAreas[searchParms.area_unit].length - 1 && setMinAreas(area)">{{ area }}</li>
                              </ng-container>
                            </ul>

                            <!-- Max Areas -->
                            <ul class="area-dropdown-max">
                              <li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_area == 0}" (click)="setArea('max', 0)">Any</li>
                              <ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
                                <li [ngClass]="{'active_Prop_Type': searchParms.max_area == area}" (click)="setArea('max', area)" *ngIf="area > searchParms.min_area">{{ area }}</li>
                              </ng-container>
                            </ul>
                          </div>
                          <div class="clearfix"></div>
                          <span class="right filter-close" (click)="setLocRoute()">Done</span>
                          <span class="right reset dis-none" (click)="resetArea()">Reset</span>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="filteroptions">
                    <div class="filterBtns">
                        <div class="dropdown">
                          <button [ngClass]="{'active': searchParms.min_price != '0' || searchParms.max_price != '0'}" type="button" name="button">
                            <span *ngIf="searchParms.min_price == '0' && searchParms.max_price == '0'">Price</span>
                            <span *ngIf="searchParms.min_price != '0' && searchParms.max_price == '0'">{{ searchParms.min_price | convertCurrency }} - Any</span>
                            <span *ngIf=" searchParms.max_price != '0'">{{ searchParms.min_price | convertCurrency }} - {{ searchParms.max_price | convertCurrency }}</span>
                          </button>
                          <div data-tag_unit="PKR" data-filter_role="dualselect" class="dropdown-box dropdown-menu range-dd dis-none prices-dropdown design-1 " id="price_dropdown_list">
                            <div class="change-area">
                              <a style="cursor: default" href="javascript:void(0);">Currency (PKR)</a>
                            </div>
                            <div class="dd-top">
                              <div class="left">
                                <label>Min:</label>
                                <input maxlength="12" placeholder="0" name="min_price" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_price">
                              </div>
                              <div class="left">
                                <label>Max:</label>
                                <input maxlength="12" placeholder="Any" name="max_price" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_price">
                              </div>
                            </div>
                            <div id="price_groups" class="">
                              <!-- Min Prices -->
                              <ul class="prices-dropdown-min">
                                <li [ngClass]="{'active_Prop_Type': searchParms.min_price == 0}" (click)="setPrice('min', 0)" data-val="0">0</li>
                                <ng-container *ngFor="let price of searchPrices; let i = index">
                                  <li [ngClass]="{'active_Prop_Type': searchParms.min_price == price}" (click)="setPrice('min', price)" *ngIf="i != searchPrices.length - 1 && setMinPrices(price)">{{ price }}</li>
                                </ng-container>
                              </ul>

                              <!-- Max Prices -->
                              <ul class="prices-dropdown-max">
                                <li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_price == 0}" (click)="setPrice('max', 0)">Any</li>
                                <ng-container *ngFor="let price of searchPrices; let i = index">
                                  <li [ngClass]="{'active_Prop_Type': searchParms.max_price == price}" (click)="setPrice('max', price)" *ngIf="price > searchParms.min_price">{{ price }}</li>
                                </ng-container>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <span class="right filter-close" (click)="setLocRoute()">Done</span>
                            <span class="right reset dis-none" (click)="resetPrice()">Reset</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="filteroptions">
                    <div class="filterBtns">
                        <div class="dropdown">
                          <button [ngClass]="{'active': searchParms.bedrooms != '0'}" type="button" name="button" id="beds" aria-haspopup="true" aria-expanded="false">
                            <span *ngIf="searchParms.bedrooms == '0'">Beds</span>
                            <span *ngIf="searchParms.bedrooms == '1'">{{ searchParms.bedrooms }} Bed</span>
                            <span *ngIf="searchParms.bedrooms > 1">{{ searchParms.bedrooms }} Beds</span>
                          </button>
                          <div class="dropdown-menu bedbody" aria-labelledby="beds">
                              <div class="bedsInnerBody">
                                  <div class="filterleftTitle"><span *ngIf="searchParms.bedrooms > 0">{{ searchParms.bedrooms }} </span> <span *ngIf="searchParms.bedrooms == 1">Bed</span><span *ngIf="searchParms.bedrooms != 1">Beds</span></div>
                                  <div class="plusMinusBtns">
                                      <button class="decrease" type="button" (click)="setNumbers(-1,'beds')">
                                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                                      </button>
                                      <div class="bedValue">
                                        <span>{{ searchParms.bedrooms }}</span>
                                      </div>
                                      <button class="increase" type="button" (click)="setNumbers(+1,'beds')">
                                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" ><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                                      </button>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="filteroptions">
                    <div class="filterBtns">
                        <div class="dropdown">
                          <button [ngClass]="{'active': searchParms.bathrooms != '0'}" type="button" name="button" id="baths" aria-haspopup="true" aria-expanded="false">
                            <span *ngIf="searchParms.bathrooms == '0'">Baths</span>
                            <span *ngIf="searchParms.bathrooms == '1'">{{ searchParms.bathrooms }} Bath</span>
                            <span *ngIf="searchParms.bathrooms > 1">{{ searchParms.bathrooms }} Baths</span>
                          </button>
                          <div class="dropdown-menu bedbody" aria-labelledby="baths">
                              <div class="bedsInnerBody">
                                  <div class="filterleftTitle"><span *ngIf="searchParms.bathrooms > 0">{{ searchParms.bathrooms }} </span> <span *ngIf="searchParms.bathrooms == 1">Bath</span><span *ngIf="searchParms.bathrooms != 1">Baths</span></div>
                                  <div class="plusMinusBtns">
                                      <button class="decrease" type="button" (click)="setNumbers(-1,'baths')">
                                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                                      </button>
                                      <div class="bedValue">
                                        <span>{{ searchParms.bathrooms }}</span>
                                      </div>
                                      <button class="increase" type="button" (click)="setNumbers(+1,'baths')">
                                          <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" ><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                                      </button>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="filteroptions">
                    <div class="filterBtns">
                        <div class="dropdown">
                          <button type="button" name="button" id="moreOptions" aria-haspopup="true" aria-expanded="false">
                            <span>More Options</span>
                          </button>
                          <div class="dropdown-menu bedbody" aria-labelledby="moreOptions">
                            <div class="">
                              <div class="right-border">
                                <div class="af-checkbox-wrapper agencyfilter">
                                  <label>Agency</label>
                                  <div class="agencyDrop">
                                    <ng-select [items]="agencies"
                      							           [virtualScroll]="true"
                      							           [loading]="areasLoading"
                      												 [(ngModel)]="searchParms.agency"
                      												 (search)="getSearchAgencies($event)"
                      							           bindLabel="name"
                      												 dropdownPosition="auto"
                      												 placeholder="Type to search Agencies"
                      							           appendTo=".agencyDrop"
                      												 (change)="getListings()"
                                               (clear)="getListings()">
                      							    <ng-template ng-option-tmp let-item="item" let-index="index">
                      							        {{ item.name }}
                      							    </ng-template>
                      							</ng-select>
                                  </div>
                                </div>
                                <div class="af-checkbox-wrapper">
                                  <input type="checkbox" name="Verified">
                                  <label for="Verified">Verified</label>
                                </div>
                                <div class="af-checkbox-wrapper">
                                  <input type="checkbox" name="With_Videos">
                                  <label for="With_Videos">With Videos</label>
                                </div>
                                <div class="af-checkbox-wrapper">
                                  <input type="checkbox" name="With_Photos">
                                  <label for="With_Photos">With Photos</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="filteroptions mobile">
                  <div class="filterBtns">
                      <button type="button" name="button" data-toggle="modal" data-target="#mobileFiterModal">
                        <span>Filters</span>
                      </button>
                  </div>
                </div>
            </div>
            <div class="mapTogglerbox">
              <p>Show Map</p>
              <label class="toggle">
                  <input type="checkbox" role="switch" [(ngModel)]="maptoggler" (click)="toggleMap()"/>
                  <span class="slider"><svg viewBox="0 0 52 52" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="3" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round"><path d="m19.1 25.2 4.7 6.2 12.1-11.2"></path></svg></span>
              </label>
            </div>
        </div>
    </div>
    <section class="af-home-details" [ngClass]="{'gridView': !maptoggler}">
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-12">

    				<ul class="breadcrumb">
    					<li><a href="javascript:;" routerLink="/">Gharbaar</a></li>
    					<!-- <li *ngIf="locsByCity && searchParms.city.name != ''">{{ searchParms.city.name }}</li> -->
    					<li *ngIf="!locsByCity && searchParms.city.name != ''"><a href="javascript:;" [routerLink]="getLocURL({}, true)">{{ searchParms.city.name }}</a></li>
    					<li *ngFor="let loc of parentLocs"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }}</a></li>
    					<!-- <li *ngIf="!locsByCity">{{ searchParms.area.name }}</li> -->
              <li *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }}</li>
              <li *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">{{ searchParms.city.name }}</li>
              <li *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }}</li>
              <li *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">{{ searchParms.city.name }}</li>
              <li *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && !locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}</li>
              <li *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && !locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}</li>
    				</ul>

    				<div class="filter-links-for-SEO af-none">
    					<a href="javascript:;" [routerLink]="getFilterURL('5-marla')">5 Marla</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('8-marla')">8 Marla</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('10-marla')">10 Marla</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('12-marla')">12 Marla</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('1-kanal')">1 Kanal</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('2-kanal')">2 Kanal</a>
    					<a href="javascript:;" [routerLink]="getFilterURL('4-kanal')">4 Kanal</a>
    				</div>

    				<h1 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }}</h1>
    				<h1 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }} </h1>
    				<h1 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && !locsByCity;">{{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }}</h1>
    				<h1 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && !locsByCity;">{{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }} </h1>

    				<div class="af-location-lists" *ngIf="!locsByCity">
    					<div class="row">
    						<div class="col-xs-12">
    							<div class="home-inner-drop">
    								<div class="location-types-search">
    									<div class="dropdown">
    										<a href="javascript:;" [routerLink]="setPropertyType(searchParms.type)" class="btn btn-default dropdown-toggle" [ngClass]="{ 'active-border': searchParms.sub_type != searchSubTypes[searchParms.type][0].name && searchParms.sub_type != searchSubTypes[searchParms.type][1].name  }" id="all-homes-drop" >
    											All {{ searchParms.type }}
    											<span class="caret"></span>
    											<span class="toatl-nums" *ngIf="Types_Prop_Count['All_' + searchParms.type]">({{ Types_Prop_Count['All_' + searchParms.type] }})</span>
    										</a>

    										<ul class="dropdown-menu" aria-labelledby="all-homes-drop">
    											<li *ngFor="let item of searchSubTypes[searchParms.type]">
    												<a href="javascript:;" [routerLink]="setPropertySubType(item.name)">
    													{{ item.name }} For {{ searchParms.purpose | capitalize }} In
    													<span *ngIf="!locsByCity">{{ searchParms.area.name }} </span>
    													<span *ngIf="locsByCity">{{ searchParms.city.name }} </span>
    													<span class="counts-allhomes" *ngIf="Types_Prop_Count[item.name]">({{ Types_Prop_Count[item.name] }})</span>
    												</a>
    											</li>
    										</ul>
    									</div>

    									<a [ngClass]="{ 'active-border': searchParms.sub_type == searchSubTypes[searchParms.type][0].name }" href="javascript:void(0);" [routerLink]="setPropertySubType(searchSubTypes[searchParms.type][0].name)">{{ searchSubTypes[searchParms.type][0].name }}
    										<span class="toatl-nums" *ngIf="Types_Prop_Count[searchSubTypes[searchParms.type][0].name]">
    											({{ Types_Prop_Count[searchSubTypes[searchParms.type][0].name] }})
    										</span>
    									</a>
    									<a [ngClass]="{ 'active-border': searchParms.sub_type == searchSubTypes[searchParms.type][1].name }" href="javascript:void(0);" [routerLink]="setPropertySubType(searchSubTypes[searchParms.type][1].name)">{{ searchSubTypes[searchParms.type][1].name }}
    										<span class="toatl-nums" *ngIf="Types_Prop_Count[searchSubTypes[searchParms.type][1].name]">
    											({{ Types_Prop_Count[searchSubTypes[searchParms.type][1].name] }})
    										</span>
    									</a>

    									<div class="selected-locat-name" *ngIf="!loadingBreadCrumbs">
    										<a href="javascript:void(0);" [routerLink]="InvertPurpose()">
    											<span *ngIf="!locsByCity">{{ searchParms.area.name }} </span>
    											<span *ngIf="locsByCity">{{ searchParms.city.name }} </span>
    											<span *ngIf="searchParms.sub_type == '' || searchParms.sub_type == 'all'; else ShowSubType_tabs">{{ searchParms.type }}</span>
    											<ng-template #ShowSubType_tabs><span>{{ searchParms.sub_type }} </span></ng-template>
    											For
    											<!-- Inverse the Purpose -->
    											<span *ngIf="searchParms.purpose == 'sale'">Rent</span>
    											<span *ngIf="searchParms.purpose == 'rent'">Sale</span>
    										</a>
    									</div>

    									<div class="close-locations" [ngClass]="{ 'af-none': subLocs.length == 0 }">
    										<a href="javascript:void(0);" (click)="toggleLocsDiv()">
    											<span *ngIf="!this.hideLocs"><i class="fa fa-window-minimize" aria-hidden="true"></i></span>
    											<span *ngIf="this.hideLocs"><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
    										</a>
    									</div>
                      <div class="mobLocationlist">
                          <a href="javascript:;" (click)="toggleLocations('open')">Location List</a>
                      </div>
    								</div>
    							</div>

    							<div class="left-titles" [ngClass]="{ 'af-none': subLocs.length == 0, 'open': openLoc }">
                    <div class="closeBtnLocs">
                        <a href="javascript:;" (click)="toggleLocations('close')"><svg viewBox="0 0 12 12" role="presentation" aria-hidden="true" focusable="false" style="height: 10px; width: 10px; display: block; fill: currentcolor;"><path d="m11.5 10.5c.3.3.3.8 0 1.1s-.8.3-1.1 0l-4.4-4.5-4.5 4.5c-.3.3-.8.3-1.1 0s-.3-.8 0-1.1l4.5-4.5-4.4-4.5c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l4.4 4.5 4.5-4.5c.3-.3.8-.3 1.1 0s .3.8 0 1.1l-4.5 4.5z" fill-rule="evenodd"></path></svg></a>
                    </div>
                    <div *ngIf="!hideLocs">
    									<h2 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && locsByCity;">Locations of {{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }}</h2>
    									<h2 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && locsByCity;">Locations of {{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.city.name }} </h2>
    									<h2 *ngIf="(searchParms.sub_type == '' || searchParms.sub_type == 'all') && !locsByCity;">Locations of {{ searchParms.type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }}</h2>
    									<h2 *ngIf="(searchParms.sub_type != '' && searchParms.sub_type != 'all') && !locsByCity;">Locations of {{ searchParms.sub_type }} For {{ searchParms.purpose | capitalize }} in {{ searchParms.area.name }}, {{ searchParms.city.name }} </h2>

    									<div class="sort-toggler">
    										<p>Sort Alphabetically</p>

                      <label class="toggle">
                          <input type="checkbox" role="switch" (click)="toggleSort()"/>
                          <span class="slider"></span>
                      </label>
    								</div>

    								<ul class="list-group af-location-list " [ngClass]="{ 'all': autoHeightLoc }" *ngIf="locs_sorted">
    									<li class="list-group-item" *ngFor="let loc of subLocs" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }} ({{ loc.counts }})</a></li>
    								</ul>

    								<ul class="list-group af-location-list " *ngIf="sortedSubLocs && !locs_sorted">
    									<li class="list-group-item" *ngFor="let loc of sortedSubLocs" style="border: none;"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }} ({{ loc.counts }})</a></li>
    								</ul>
    							</div>

    							<div class="" [ngClass]="{ 'af-none': subLocs.length < 24 }" *ngIf="viewAllLocURL">
    								<div class="load-more-btn" >
                      <a [routerLink]="viewAllLocURL">View All Locations in {{ searchParms.city.name }}</a>
    								</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	      </div>

    </div>
    </div>
    </div>
    </section>
    <div class="listingAndMapFull" [ngClass]="{'fixedmap':stickmap}" #section_map>
      <div class="listingSideLeft" [ngClass]="{'gridView': !maptoggler}">
          <div class="listingsDisplays propertiesLisitngs">
            <div class="row borderBtm">
              <div class="col-xs-12 col-sm-6 col-md-4 no-padd">
                  <div class="noOfProperties"><p>{{ ListingsData.total }} Properties for {{ searchParms.purpose | capitalize }}</p></div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 no-padd">
                <div class="right-listings" [ngClass]="{'af-none': !Listings_Available}">
                  <div class="af-select-inner-order">
                    <select (change)="SortListing()" [(ngModel)]="SortBy">
                      <option value="package-DESC">Default Order</option>
                      <option value="created_at-DESC">Newest Listed</option>
                      <option value="created_at-ASC">Oldest Listed</option>
                      <option value="price-DESC">Highest Price</option>
                      <option value="price-ASC">Lowest Price</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 no-padd">
                <div class="af-paginat text-right" *ngIf="pagination.length > 0">
                  <ul class="pagination">
                    <li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
                      <a tabindex="0" role="button" (click)="getPageList(1, true, false)" [attr.disabled]="ListingsData.current_page == 1"> <<</a>
                    </li>
                    <li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
                      <a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, true, false)" [attr.disabled]="ListingsData.current_page == 1"> < prev</a>
                    </li>
                    <li *ngFor="let item of pagination" [ngClass]="{'active': item == ListingsData.current_page }">
                      <a role="button" tabindex="0" (click)="getPageList(item, false, false)" aria-current="page">{{ item }}</a>
                    </li>
                    <li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
                      <a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >next > </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let property of ListingsData.data; let indx = index">
              <div *ngIf="!checkPropHidden(property.p_id)"  (mouseout)="adjustMap(property.p_id, false)" (mouseover)="adjustMap(property.p_id , true)" class="properties-data standard" [id]="'listLabel-'+property.p_id" [ngClass]="{'standard': property.package == '1', 'premium': property.package == '2', 'premium-plus': property.package == '3' , 'expired-property': property.status == 'expired'}">
                <div class="property-img">
                  <!-- <ng-container *ngIf="property.all_images.length > 1">
                    <owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
                     <div class="item" *ngFor="let image of mySlideImages;let i = index">
                      <div *ngIf="property.all_images">
                        <a class="fancybox" data-fancybox="gallery_banner" [href]="this.ImagesUrl + 'uploads/property-images/' + this.propertyImages[i]">
                            <img src={{image}} alt="Property Images"/>
                        </a>
                      </div>
                     </div>
                    </owl-carousel>
                  </ng-container> -->
                  <!-- If Images Given -->
                  <img  *ngIf="property.all_images" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_images.split(',')[0] }}" routerLink="{{ propertyRoute(property) }}">
                  <img  *ngIf="!property.all_images && property.all_videos" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + property.all_videos.split(',')[0].split('.')[0] + '.jpg' }}" routerLink="{{ propertyRoute(property) }}">

                  <!-- If No Image Given -->
                  <img *ngIf="!property.all_images && !property.all_videos" src="assets/site/images/default-image.jpg" routerLink="{{ propertyRoute(property) }}">

                  <div class="icons-list-imgs">
                    <div class="savePropImg">
                      <button data-toggle="tooltip" data-placement="top" title="" data-original-title="Save Property" type="button" class="savePropBtn">
                        <i class="fa fa-heart-o" (click)="saveProperty(1,property)" *ngIf="!property.is_liked; else likedProp"></i>
                        <ng-template #likedProp><i class="fa fa-heart" (click)="saveProperty(0,property)"></i></ng-template>
                      </button>
                    </div>
                    <div class="likeHideIconsImgs">
                      <div class="af-like-hide">
                        <!-- <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified" class="af-verified" href="javascript:void(0);" *ngIf="property.is_verified == 1"><img src="assets/site/images/verifiedProperty.png" alt="Verified Badge"></a> -->
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorites" class="af-star" href="javascript:void(0);" (click)="togglefavoriteProp(property)" *ngIf="!checkPropHidden(property.p_id)"><i class="fa fa-star" [ngClass]="{'active-favorite': checkPropFavrt(property.p_id)}" aria-hidden="true"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Hide" class="af-hide" href="javascript:void(0);" (click)="toggleHiddenProp(property)" *ngIf="!checkPropFavrt(property.p_id)"><i class="fa fa-trash" [ngClass]="{'active-hide': checkPropHidden(property.p_id)}" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="property-cont-box">
                  <div class="agent-img" *ngIf="property.is_agent != 0">
                    <a href="javascript:;" routerLink="{{ agencyProfileRoute(property) }}" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Agency">
                        <img src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + property.logo }}" alt="agent logo">
                    </a>
                  </div>
                  <a class="gridViewsPrice" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
                    <div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
                  </a>
                  <div class="property-content">
                    <a [popover]="propertyTitle" popoverTitle="Property Title" triggers="mouseenter:mouseleave" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p class="propTitle">{{ property.title }}</p></a>
                    <a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p>{{ property.location_name }}, {{ property.city }}</p></a>
                    <ng-template #propertyTitle>
                      <span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'ftsq'}">{{ property.title }}</span>
                    </ng-template>
                    <p class="small-bed">
                      <span *ngIf="convertToInt(property.bedrooms) > 0"><img class="bed-img" src="assets/site/images/bed-icon.svg"> {{ property.bedrooms }}</span>
                      <span *ngIf="convertToInt(property.bathrooms) > 0"><img class="bath-img" src="assets/site/images/bath-icon.svg"> {{ property.bathrooms }} </span>

                      <ng-template #popContent>
                        <span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'ftsq'}">{{ property.size_in_ftsq | round2Dec }} Ft²</span> <br>
                        <span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'marla'}">{{ property.size_in_marla | round2Dec }} Marla</span> <br>
                        <span [ngClass]="{'heighlight-unit': searchParms.area_unit == 'kanal'}">{{ property.size_in_kanal | round2Dec }} Kanal</span>
                      </ng-template>

                      <span class="no-padd" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
                        <img src="assets/site/images/scale-area.svg" class="" alt="">
                        <span class="no-padd">{{ property['size_in_' + searchParms.area_unit ] | round2Dec }} {{ searchParms.area_unit | capitalize }} </span>
                      </span>
                    </p>

                  </div>
                  <div class="property-text">
                    <a href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}"><p> {{ property.description }} </p></a>
                  </div>
                  <div class="posted-by">
                    <span>Posted on</span>
                    <span> {{ property.created_at | date }} </span>
                  </div>
                <div class="viewnum-send-box propertiesOnly">
                  <button class="viewnum-btn" (click)="open_ContactDetails_Modal(property)">
                    View Number
                  </button>
                  <button class="sendinquiry-btn" (click)="open_Inquiry_Modal(property)">  Send Inquiry</button>
                  <p>
                    <input type="checkbox" name="emailbasket" [id]="'emailbasket-' + property.p_id" (change)="toggleEmailBasket(property)" [checked]="checkBucketPropsByID(property.p_id)">
                    <label [attr.for]="'emailbasket-' + property.p_id" style="font-weight: 500;">EMAIL BASKET</label>
                  </p>
                  <a class="mapViewprice" href="javascript:void(0)" routerLink="{{ propertyRoute(property) }}">
                    <div class="property-price"><span class="price-currency">PKR</span> {{ property.price | convertCurrency }}</div>
                  </a>
                </div>
                </div>
              </div>
            </ng-container>
            <div class="af-paginat pft-30-flr" *ngIf="pagination.length > 0">
              <ul class="pagination af-bt">
                <li class="previous" [ngClass]="{'disabled': ListingsData.current_page == 1}">
                  <a tabindex="0" role="button" (click)="getPageList(1, true, false)" [attr.disabled]="ListingsData.current_page == 1">
                      <svg viewBox="0 0 18 18" role="img" aria-label="Previous" focusable="false"><path d="m13.7 16.29a1 1 0 1 1 -1.42 1.41l-8-8a1 1 0 0 1 0-1.41l8-8a1 1 0 1 1 1.42 1.41l-7.29 7.29z" fill-rule="evenodd"></path></svg>
                  </a>
                </li>
                <li *ngFor="let item of pagination" [ngClass]="{'active': item == ListingsData.current_page }">
                  <a role="button" tabindex="0" (click)="getPageList(item, false, false)" aria-current="page">{{ item }}</a>
                </li>
                <li class="next" [ngClass]="{'disabled': ListingsData.current_page == ListingsData.last_page}">
                  <a tabindex="0" role="button" (click)="getPageList(ListingsData.current_page, false, true)" [attr.disabled]="ListingsData.current_page == ListingsData.last_page" >
                      <svg viewBox="0 0 18 18" role="img" aria-label="Next" focusable="false"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
                   </a>
                </li>
            </ul>
            <p>1 – {{ ListingsData.data.length }} of {{ ListingsData.total }} Properties</p>
            </div>
            <div *ngIf="ListingsData && ListingsData.total == 0" class="alert alert-danger " role="alert">
              Current location has no properties available.
            </div>
          </div>
      </div>
      <div class="listingMapRight" [ngClass]="{'af-none': !maptoggler , 'hiddenMap': !mapViewMob}">
          <div class="mapBox">
            <ng-container *ngIf="!showSimpleMap; else showSimpleMap_Id">
              <div class="mapMarker Org" id="propMap" #propMap></div>
            </ng-container>

            <ng-template #showSimpleMap_Id>
              <div class="mapMarker 2">
  							<iframe width="100%" height="400" frameborder="0" style="border:0" [src]="simpleMapUrl | safeUrl" allowfullscreen></iframe>
  				  	</div>
            </ng-template>

          </div>
      </div>
    </div>
</section>
<section #hide_map></section>
<!-- Email Bucket Selector -->
<app-email-basket></app-email-basket>

<!---- Change Area Modal ---->
<div class="modal fade" id="unit-area-modal" role="dialog">
	<div class="modal-dialog unit-area">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Change Area</h4>
			</div>
			<div class="modal-body">
				<div class="unit-area-form">
					<select name="size-unit" class="ng-pristine ng-invalid ng-touched" [(ngModel)]="modalChangeUnit">
						<option *ngFor="let unit of searchUnits" value="{{ unit.unit }}">{{ unit.name }}</option>
					</select>
					<button data-dismiss="modal" (click)="UpdateUnit()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="mobileFiterModal" class="modal fade" role="dialog">
  <div class="modal-dialog modalfilter">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <svg viewBox="0 0 12 12" role="presentation" aria-hidden="true" focusable="false" style="height: 14px; width: 14px; display: block; fill: currentcolor;"><path d="m11.5 10.5c.3.3.3.8 0 1.1s-.8.3-1.1 0l-4.4-4.5-4.5 4.5c-.3.3-.8.3-1.1 0s-.3-.8 0-1.1l4.5-4.5-4.4-4.5c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l4.4 4.5 4.5-4.5c.3-.3.8-.3 1.1 0s .3.8 0 1.1l-4.5 4.5z" fill-rule="evenodd"></path></svg>
        </button>
        <p>Filters</p>
        <a href="javascript:;" (click)="resetSearch()">Clear</a>
      </div>
      <div class="modal-body">
					<div class="mobileFitlers">
            <div class="">
              <div class="filtername">Type or Select Area</div>
              <div class="locationDropMob">
                <ng-select [items]="areas"
                [virtualScroll]="true"
                [loading]="areasLoading"
                [(ngModel)]="searchParms.area"
                bindLabel="name"
                dropdownPosition="auto"
                #areasSelect
                [formControl]="areasSelect_F"
                name="area"
                class="custom"
                placeholder="Type or Select Area"
                appendTo=".locationDropMob"
                (scroll)="onScroll_Areas($event)"
                (scrollToEnd)="onScrollToEnd_Areas()"
                (change)="selectArea()">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  {{ item.name }}
                </ng-template>
              </ng-select>
              </div>
            </div>
					</div>
          <div class="mobileFitlers">
              <div class="filtername">Size
                <div class="change-area">
                  <a style="cursor: pointer;" (click)="closeFilterview()" data-toggle="modal" data-target="#unit-area-modal">Change area unit ({{ searchParms.area_unit | uppercase }})</a>
                </div>
              </div>
              <div class="dropdown-box range-dd">
                <div class="dd-top">
                  <div class="left">
                    <label>Min:</label>
                    <input maxlength="12" placeholder="0" name="min_marla" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_area">
                  </div>
                  <div class="left">
                    <label>Max:</label>
                    <input maxlength="12" placeholder="Any" name="max_marla" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_area">
                  </div>
                </div>
                <div id="area_groups" class="">

                  <!-- Min Areas -->
                  <ul class="area-dropdown-min">
                    <li [ngClass]="{'active_Prop_Type': searchParms.min_area == 0}" (click)="setArea('min', 0)" data-val="0">0</li>
                    <ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
                      <li [ngClass]="{'active_Prop_Type': searchParms.min_area == area}" (click)="setArea('min', area)" *ngIf="i != searchAreas[searchParms.area_unit].length - 1 && setMinAreas(area)">{{ area }}</li>
                    </ng-container>
                  </ul>

                  <!-- Max Areas -->
                  <ul class="area-dropdown-max">
                    <li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_area == 0}" (click)="setArea('max', 0)">Any</li>
                    <ng-container *ngFor="let area of searchAreas[searchParms.area_unit]; let i = index">
                      <li [ngClass]="{'active_Prop_Type': searchParms.max_area == area}" (click)="setArea('max', area)" *ngIf="area > searchParms.min_area">{{ area }}</li>
                    </ng-container>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <span class="right filter-close" (click)="setLocRoute()">Done</span>
                <span class="right reset dis-none" (click)="resetArea()">Reset</span>
              </div>
          </div>
          <div class="mobileFitlers">
            <div class="filtername">Price</div>
              <div class="dropdown-box range-dd">
                <div class="dd-top">
                  <div class="left">
                    <label>Min:</label>
                    <input maxlength="12" placeholder="0" name="min_price" autocomplete="off" type="text" class="number_input min tooltipstered" value="0" [(ngModel)]="searchParms.min_price">
                  </div>
                  <div class="left">
                    <label>Max:</label>
                    <input maxlength="12" placeholder="Any" name="max_price" autocomplete="off" type="text" class="number_input max m0 tooltipstered" value="" [(ngModel)]="searchParms.max_price">
                  </div>
                </div>
                <div id="price_groups" class="">
                  <!-- Min Prices -->
                  <ul class="prices-dropdown-min">
                    <li [ngClass]="{'active_Prop_Type': searchParms.min_price == 0}" (click)="setPrice('min', 0)" data-val="0">0</li>
                    <ng-container *ngFor="let price of searchPrices; let i = index">
                      <li [ngClass]="{'active_Prop_Type': searchParms.min_price == price}" (click)="setPrice('min', price)" *ngIf="i != searchPrices.length - 1 && setMinPrices(price)">{{ price }}</li>
                    </ng-container>
                  </ul>

                  <!-- Max Prices -->
                  <ul class="prices-dropdown-max">
                    <li class="any" [ngClass]="{'active_Prop_Type': searchParms.max_price == 0}" (click)="setPrice('max', 0)">Any</li>
                    <ng-container *ngFor="let price of searchPrices; let i = index">
                      <li [ngClass]="{'active_Prop_Type': searchParms.max_price == price}" (click)="setPrice('max', price)" *ngIf="price > searchParms.min_price">{{ price }}</li>
                    </ng-container>
                  </ul>
                </div>
                <div class="clearfix"></div>
                <span class="right filter-close" (click)="setLocRoute()">Done</span>
                <span class="right reset dis-none" (click)="resetPrice()">Reset</span>
              </div>
          </div>
          <div class="filteroptions dflex">
              <div class="filterBtns">
                <div class="bedsInnerBody">
                    <div class="filterleftTitle"><span *ngIf="searchParms.bedrooms > 0">{{ searchParms.bedrooms }} </span> <span *ngIf="searchParms.bedrooms == 1">Bed</span><span *ngIf="searchParms.bedrooms != 1">Beds</span></div>
                    <div class="plusMinusBtns">
                        <button class="decrease" type="button" (click)="setNumbers(-1,'beds')">
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                        </button>
                        <div class="bedValue">
                          <span>{{ searchParms.bedrooms }}</span>
                        </div>
                        <button class="increase" type="button" (click)="setNumbers(+1,'beds')">
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" ><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                        </button>
                    </div>
                  </div>
                </div>
				  </div>
          <div class="filteroptions dflex">
              <div class="filterBtns">
                <div class="bedsInnerBody">
                    <div class="filterleftTitle"><span *ngIf="searchParms.bathrooms > 0">{{ searchParms.bathrooms }} </span> <span *ngIf="searchParms.bathrooms == 1">Bath</span><span *ngIf="searchParms.bathrooms != 1">Baths</span></div>
                    <div class="plusMinusBtns">
                        <button class="decrease" type="button" (click)="setNumbers(-1,'baths')">
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false"><rect height="2" rx="1" width="12" x="6" y="11"></rect></svg>
                        </button>
                        <div class="bedValue">
                          <span>{{ searchParms.bathrooms }}</span>
                        </div>
                        <button class="increase" type="button" (click)="setNumbers(+1,'baths')">
                            <svg viewBox="0 0 24 24" role="presentation" aria-hidden="true" focusable="false" ><rect height="2" rx="1" width="12" x="6" y="11"></rect><rect height="12" rx="1" width="2" x="11" y="6"></rect></svg>
                        </button>
                    </div>
                </div>
              </div>
					</div>
          <div class="filteroptions dflex">
              <div class="filterBtns">
                <div class="filtername">More Options</div>
                <div class="">
                    <div class="right-border">
                      <div class="af-checkbox-wrapper agencyfilter">
                        <label>Agency</label>
                        <div class="agencyDrop mobAgencyDrop">
                          <ng-select [items]="agencies"
                                     [virtualScroll]="true"
                                     [loading]="areasLoading"
                                     [(ngModel)]="searchParms.agency"
                                     (search)="getSearchAgencies($event)"
                                     bindLabel="name"
                                     dropdownPosition="auto"
                                     placeholder="Type to search Agencies"
                                     appendTo=".mobAgencyDrop"
                                     (change)="getListings()"
                                     (clear)="getListings()">
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                  {{ item.name }}
                              </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="af-checkbox-wrapper">
                        <input type="checkbox" name="Verified">
                        <label for="Verified">Verified</label>
                      </div>
                      <div class="af-checkbox-wrapper">
                        <input type="checkbox" name="With_Videos">
                        <label for="With_Videos">With Videos</label>
                      </div>
                      <div class="af-checkbox-wrapper">
                        <input type="checkbox" name="With_Photos">
                        <label for="With_Photos">With Photos</label>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
			</div>
    </div>
  </div>
</div>

<!-- Map Content -->
<div class="af-none">
  <ng-container *ngIf="ListingsData.total > 0">
    <div *ngFor="let property of ListingsData.data; let indx = index" [id]="'mapsLabel-'+property.p_id">
      <button class="mapMarkersOval" name="button" (mouseout)="adjustList(property.p_id, false)" (mouseover)="adjustList(property.p_id , true)">
        <!-- {{ property.price | mapCurrency }} -->

        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49">
          <g id="location" data-name="Group 633" transform="translate(-1711 -679)">
            <circle id="Ellipse_103" data-name="Ellipse 103" cx="14" cy="14" r="14" transform="translate(1711 679)" fill="#7C9CB0"/>
            <ellipse id="Ellipse_104" data-name="Ellipse 104" cx="5.5" cy="2" rx="5.5" ry="2" transform="translate(1720 724)" fill="#c7d0e3" opacity="0.52"/>
            <path id="Path_2606" data-name="Path 2606" d="M19396,18035.227v20.629" transform="translate(-17670.5 -17330)" fill="none" stroke="#7C9CB0" stroke-width="2"/>
            <g id="Group_632" data-name="Group 632" transform="translate(12.007 -14.287)">
              <path id="Path_2607" data-name="Path 2607" d="M18.929,12.96l7.25,4.766-.166,1.633-7.051-4.537-5.942,4.408H10.54Z" transform="translate(1695.961 688.736)" fill="#fff"/>
              <path id="Path_2608" data-name="Path 2608" d="M16.65,20.711l1.662-.295V17.74H16.65Z" transform="translate(1692.103 685.718)" fill="#fff"/>
              <path id="Path_2609" data-name="Path 2609" d="M16.495,18.761a9.037,9.037,0,0,0,3.07-3.852c.2-.328.457-1.242.59-1.437v-.31c-.38-.409-5.374-3.641-6.093-4.1-.98-.652-.848-.719-2.156.2-1.238.98-2.676,1.928-3.918,2.842-.652.52-1.3.977-1.924,1.434a20.939,20.939,0,0,0-1.895,1.5,16.8,16.8,0,0,0,1.843-.066c.785,0,.914.066,1.437-.391,1.176-.98,2.949-2.156,4.276-3.133,1.08-.785,1.176-1.143,1.766-.785,1.176.737,2.742,1.99,3.918,2.547.914.586,1.043.457.258,1.7A8.289,8.289,0,0,1,14.6,17.858,8.333,8.333,0,0,1,4.073,15.006,8.108,8.108,0,0,1,5.964,4.317a8.05,8.05,0,0,1,4.375-1.555A2.691,2.691,0,0,0,10.277,1,9.67,9.67,0,0,0,1.95,6.451a9.992,9.992,0,0,0,8.879,14.234,11.23,11.23,0,0,0,5.68-1.924Z" transform="translate(1701.971 696.288)" fill="#fff"/>
              <rect id="Rectangle_825" data-name="Rectangle 825" width="1.404" height="1.272" transform="translate(1713.128 709.042)" fill="#fff"/>
              <rect id="Rectangle_826" data-name="Rectangle 826" width="1.404" height="1.272" transform="translate(1714.79 709.042)" fill="#fff"/>
              <rect id="Rectangle_827" data-name="Rectangle 827" width="1.404" height="1.272" transform="translate(1713.128 710.609)" fill="#fff"/>
              <rect id="Rectangle_828" data-name="Rectangle 828" width="1.404" height="1.272" transform="translate(1714.79 710.609)" fill="#fff"/>
            </g>
          </g>
        </svg>
      </button>
      <div id="infowindow-content" class="af-none">
        <div *ngIf="infoWindowProperty">
          <div class="tooltipOwlCarousel property">
              <button class="crossInfo" type="button" name="button" (click)="closeInfoWindow()">&times;</button>
              <a href="javascript:;" [routerLink]="propertyRouteInfo">
                <img  *ngIf="infoWindowProperty.all_images && infoWindowProperty.all_images != ''" src="{{ ImagesUrl + 'uploads/property-images/thumbnails/' + infoWindowProperty.all_images.split(',')[0] }}">
                <!-- If No Image Given -->
                <img *ngIf="!infoWindowProperty.all_images && infoWindowProperty.all_images == ''" src="assets/site/images/default-image.jpg">
              </a>
              <button type="button" class="savePropBtn">
                <i class="fa fa-heart-o" (click)="saveProperty(1,infoWindowProperty)" *ngIf="!infoWindowProperty.is_liked; else likedProp"></i>
                <ng-template #likedProp><i class="fa fa-heart" (click)="saveProperty(0,infoWindowProperty)"></i></ng-template>
              </button>

          </div>
          <div class="tooltipContentBox">
            <a href="javascript;;" [routerLink]="propertyRouteInfo">
              <div *ngIf="infoWindowProperty.title" id="place-title">{{ infoWindowProperty.title }}</div>
              <div *ngIf="infoWindowProperty.city" id="place-address">{{ infoWindowProperty.location_name }}, {{ infoWindowProperty.city }}</div>
              <div *ngIf="infoWindowProperty.price" id="place-price"  class="title"><span>PKR</span> {{ infoWindowProperty.price | convertCurrency }}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
