/* You can add global styles to this file, and also import other style files */

/* Material Design */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* bootstrap 3.3.5 */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

/* Ng-Select Themes */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* // ... or  */
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

@import '~@ngx-share/button/themes/default/default-theme';

/* FilePond Themes */
@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";



@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - .5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em);
    }
}

.filepond--root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 16px;
    margin: 0px;
}

/* For NgX Gallery */
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.termsbtn{
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 999;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px !important;
    background-color: #fff;
    display:none;
}
.map_foottog .termsbtn{
    display:block;
}

.map_foottog .af-new-footer{
    display:none;
}

.map_foottog .af-new-footer.togglefoot{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: block;
}
