<!--- Landing Page--->
<section class="af-banner findPro" [ngClass]="{'zIndexMaxi':OpenSideAg}">
	<div class="banner-overlay"></div>
	<div class="banner-carousel-new">
		<div class="owl-carousel owl-theme">
			<div class="item">
					<picture>
						<source type="image/webp" data-src="assets/site/images/banner5.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
						<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner5.jpg" alt="Gharbaar banner">
					</picture>
			</div>
			<div class="item">
				<picture>
					<source type="image/webp" data-src="assets/site/images/banner1.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
					<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner1.jpg" alt="Gharbaar banner">
				</picture>
			</div>
			<div class="item">
					<picture>
						<source type="image/webp" data-src="assets/site/images/banner2.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
						<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner2.jpg" alt="Gharbaar banner">
					</picture>
			</div>
			<div class="item">
					<picture>
						<source type="image/webp" data-src="assets/site/images/banner3.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
						<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner3.jpg" alt="Gharbaar banner">
					</picture>
			</div>
			<div class="item">
					<picture>
						<source type="image/webp" data-src="assets/site/images/banner4.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
						<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/banner4.jpg" alt="Gharbaar banner">
					</picture>
			</div>
		</div>
</div>
<div class="mobileBannerImg">
	<picture>
		<source type="image/webp" data-src="assets/site/images/mobileHomeBanner.webp" srcset="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
		<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="assets/site/images/mobileHomeBanner.jpg" alt="Gharbaar banner">
	</picture>
</div>
	<div class="banner">
		<div class="container-fluid">
			<div class="homePageNewDesign">
				<div class="search-panel banner agent">
					<h1>Find Professionals In Pakistan</h1>
					<div class="row">
						<div class="searchfilter">
							<div class="tab-content">
								<div id="home" class="tab-pane fade in show">

									<div class="search-inner-box">
										<form>
											<div class="row">
												<div class="wd-100">
													<div class="af-select ngSelect-margins ng-cities">
														<label class="no-padd">City *</label>
														<!-- <select name="city" (change)="selectCity()" class="form-control selectpicker pd-5" [(ngModel)]="SelectedCity.name" [ngModelOptions]="{standalone: true}" required>
															<option *ngFor="let city of cities" [value]="city.name" [id]="city.id">{{ city.name }}</option>
														</select> -->
														<ng-select 	[items]="cities"
																				[(ngModel)]="SelectedCity"
																				bindLabel="name"
																				dropdownPosition="auto"
																				[clearable]="false"
																				[searchable]="false"
																				#citySelect
																				name="city"
																				class="form-control"
																				placeholder="Select City"
																				appendTo=".ng-cities"
																				>
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
													</div>
												</div>

												<!-- <div class="col-md-5 col-sm-5 col-xs-12 mob-cols">
													<div class="af-select ngSelect-margins ng-location pdlr-10">
														<label class="no-padd">LOCATION</label>
														<ng-select 	[items]="areas"
																				[virtualScroll]="true"
																				[loading]="areasLoading"
																				[(ngModel)]="SelectedArea"
																				bindLabel="name"
																				dropdownPosition="auto"
																				#areasSelect
																				[formControl]="areasSelect_F"
																				name="area"
																				class="form-control"
																				placeholder="Select Area"
																				appendTo=".ng-location"
																				(scroll)="onScroll_Areas($event)"
																				(scrollToEnd)="onScrollToEnd_Areas()"
																				(change)="selectArea()">
														<ng-template ng-option-tmp let-item="item" let-index="index">
															{{ item.name }}
														</ng-template>
													</ng-select>
												</div>
											</div> -->

											<div class="wd-100">
												<div class="af-select ngSelect-margins ng-category">
													<label class="no-padd">Categories</label>
													<ng-select 	[items]="ProCategories"
																			[(ngModel)]="SelectedCategory"
																			[clearable]="false"
																			[searchable]="false"
																			bindLabel="name"
																			bindValue="slug"
																			dropdownPosition="auto"
																			#categorySelect
																			name="area"
																			class="form-control"
																			placeholder="Select Category"
																			appendTo=".ng-category"
                                      (change)="selectCategory()">
													<ng-template ng-option-tmp let-item="item" let-index="index">
														{{ item.name }}
													</ng-template>
												</ng-select>
												</div>
											</div>
											<div class="wd-100">
												<div class="find-btn">
													<a href="javascript:;" [routerLink]="setFindProRoute()">Find</a>
													<!-- <button (click)="setFindProRoute()">FIND</button> -->
												</div>
											</div>

										</div>
										<!-- <div class="row pb-5">
											<div class="col-md-3 col-sm-3 col-xs-12 mob-cols">
												<div class="af-select">
													<label>Agency Type</label>
													<select class="form-control selectpicker pd-5" [(ngModel)]="SelectedType" [ngModelOptions]="{standalone: true}" (change)="getAgencyNames()">
														<option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
													</select>
												</div>
											</div>
											<div class="col-md-9 col-sm-9 col-xs-12 mob-cols">
												<div class="af-select ngSelect-margins ng-agencies pdlr-10">
														<label class="no-padd">Company</label>
														<ng-select  [items]="agencyNames"
																				[virtualScroll]="true"
																				[loading]="agencyLoading"
																				[(ngModel)]="SelectedAgencies"
																				bindLabel="name"
																				bindValue="id"
																				class="form-control"
																				[multiple]=true
																				[closeOnSelect]="false"
																				dropdownPosition="auto"
																				name="agencies"
																				placeholder="Select Agencies"
																				appendTo=".ng-agencies"
																				(change)="selectAgency()">
														<ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
																<div class="ng-value" *ngFor="let item of items | slice:0:2">
																		<span class="ng-value-label">{{item.name}}</span>
																		<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
																</div>
																<div class="ng-value" *ngIf="items.length > 2">
																		<span class="ng-value-label">{{items.length - 2}} more...</span>
																</div>
														</ng-template>
													</ng-select>
												</div>
											</div>
										</div> -->

										</form>
									</div>
								</div>

							<!-- <div id="menu2" class="tab-pane fade">

						</div> -->

					</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
