<!-- <div class="fullPageOverlay" [ngClass]="{'af-display':leadForm}" (click)="closeOverlay()"></div>
<div class="fullPageOverlay" [ngClass]="{'af-display':revealForm}" (click)="closePopup()"></div> -->
<section class="sticky-sec black" [ngClass]="{'fixed': stickNavbar && !openForm}" #section_af>
	<div class="container">
		<div class="project-div">
			<div id="pview_nav_tabs" class="nav" [ngClass]="{'fixed': stickNavbar}">
				<div class="tabs-wrap af-tabs-outter" #widgetsContent>
					<span class="tab_arrow arrow_left" (click)="scrollHorizontal('left')">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</span>
					<ul class="project-nav tabs" id="pview-tabs-nav">
						<li [ngClass]="{'active': currentSection==='overview'}" #overview>
							<a href="javascript:;" (click)="scrollTo('overview')" >Overview</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'feature'}" #features>
							<a href="javascript:;" (click)="scrollTo('feature')" >Features</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'propertyType'}" #propertyType>
							<a href="javascript:;" (click)="scrollTo('propertyType')" >Property Types</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'floorPlan'}" #floorPlan>
							<a rel="nofollow" href="javascript:void(0)" (click)="scrollTo('floorPlan')">	Floor Plan</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'paymentPlan'}" #paymentPlan>
							<a href="javascript:;" (click)="scrollTo('paymentPlan')" >Payment Plan</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'developer'}" #developer>
							<a href="javascript:;" (click)="scrollTo('developer')" >Developer</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'constructionStatus'}" #constructionStatus>
							<a rel="nofollow" href="javascript:void(0)" (click)="scrollTo('constructionStatus')">Construction Status</a>
						</li>
						<li [ngClass]="{'active': currentSection === 'faq'}" #faq>
							<a href="javascript:;" (click)="scrollTo('faq')" >Faq</a>
						</li>
					</ul>
					<span class="tab_arrow arrow_right" (click)="scrollHorizontal('right')">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-adjusting new-design" [ngClass]="{'agency-profile': sideopened}">
	<div class="container-fluid">
		<div class="wd-100" [ngClass]="{'pdt-50': stickNavbar}">

<div class="image-bannerDesign">
	<div class="socialShareBanner">
		<a href="javascript:;" data-toggle="modal" data-target="#shareModal">
			<svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="2.25" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible;"><g fill-rule="evenodd"><path d="m11.5 16v-15"></path><path d="m7.5 4 4-3 4 3"></path><path d="m5.4 9.5h-3.9v14h20v-14h-3.1"></path></g></svg>
			Share
		</a>
	</div>
	<a class="halfImg" href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(0)">
		<div class="projectBannerOverlay"></div>
		<img src="assets/site/videos/skvideo-thumbnail.jpg" alt="Skyparkone Video">

	</a>
	<div class="quaterImg">
		<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(1)">
			<div class="projectBannerOverlay"></div>
			<img src="assets/site/images/bed-apartments.jpg" alt="Skyparkone">
		</a>
		<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(2)">
			<div class="projectBannerOverlay"></div>
			<img src="assets/site/images/65-international-name-brand-retailers.jpg" alt="Skyparkone">
		</a>
	</div>
	<div class="quaterImg">
		<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(3)">
			<div class="projectBannerOverlay"></div>
			<img src="assets/site/images/badminton-court.jpg" alt="Skyparkone">
		</a>
		<a href="javascript:;" data-toggle="modal" data-target="#ProjectCarouselModal" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')" (click)="changeOwlActivePosition(4)">
			<div class="projectBannerOverlay"></div>
			<img src="assets/site/images/Car-Parking.jpg" alt="Skyparkone">
		</a>
	</div>
</div>
<div class="mobileBannerDesign">
	<div class="socialShareBanner">
		<a href="javascript:;" data-toggle="modal" data-target="#shareModal">
			<svg viewBox="0 0 24 24" fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-width="2.25" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round" style="height: 15px; width: 15px; display: block; overflow: visible;"><g fill-rule="evenodd"><path d="m11.5 16v-15"></path><path d="m7.5 4 4-3 4 3"></path><path d="m5.4 9.5h-3.9v14h20v-14h-3.1"></path></g></svg>
			Share
		</a>
	</div>
	<div class="owl-carousel owl-theme projMobile">
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/videos/skypark_video.mp4">
				<img src="assets/site/videos/skvideo-thumbnail.jpg" alt="Skyparkone Video">
				<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/bed-apartments.jpg">
				<img src="assets/site/images/bed-apartments.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/65-international-name-brand-retailers.jpg">
				<img src="assets/site/images/65-international-name-brand-retailers.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/badminton-court.jpg">
				<img src="assets/site/images/badminton-court.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Car-Parking.jpg">
				<img src="assets/site/images/Car-Parking.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Fully-equiped-gum.jpg">
				<img src="assets/site/images/Fully-equiped-gum.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Furnishing-Partner.jpg">
				<img src="assets/site/images/Furnishing-Partner.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/infinity-pool.jpg">
				<img src="assets/site/images/infinity-pool.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/joggin-track_kidsplayarea.jpg">
				<img src="assets/site/images/joggin-track_kidsplayarea.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Mall-interior.jpg">
				<img src="assets/site/images/Mall-interior.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Our-previous-project.jpg">
				<img src="assets/site/images/Our-previous-project.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Sohail-&-Fawad.jpg">
				<img src="assets/site/images/Sohail-&-Fawad.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/Tennis-court.jpg">
				<img src="assets/site/images/Tennis-court.jpg" alt="Skyparkone">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" data-fancybox="gallery_banner" href="assets/site/images/vibrant-10,000-sq-ft-food-court.jpg">
				<img src="assets/site/images/vibrant-10,000-sq-ft-food-court.jpg" alt="Skyparkone">
			</a>
		</div>
	</div>
</div>
</div>
</div>
</section>
<section class="full-box">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 order-sm-last order-lg-first">
				<section class="project-detail">

					<div class="af-left">
						<h1 class="title">SkyParkOne</h1>
						<h2 class="first_title">Project Highlights</h2>
					</div>
					<span class="titleimg">
						<img class="" src="assets/site/images/logo_skyspark_property.svg" alt="skyparkone logo">
					</span>
					<div class="projectHighlightsDetails">
						<p><span>Area</span>Gulberg Greens</p>
						<p><span>Developer</span>Suhail & Fawad Architects</p>
						<p><span>Handover Date</span>Dec, 2021.</p>
						<p><span>Lifestyle</span>Exclusive</p>
						<p><span>Price</span>PKR 92.25 Lakh - 9.8 Crore</p>
					</div>
				</section>
				<section class="pricing-whole-box">
					<div class="price-detail fixed" [ngClass]="{'zIndexMax': leadForm}">
						<div class="af-project-price">
							<!-- <div class="pricing-box af-webOnly">
							<span class="currency">PKR </span> 92.25 Lakh - 9.8 Crore
						</div> -->
						<div class="pricing-box af-mobOnly">
							Make an Inquiry
						</div>
						<div class="contact-btn">
							<a href="javascript:;" (click)="openSideForm()">
								<span [ngClass]="{'af-none': openForm}">Contact</span>
								<span [ngClass]="{'af-none': !openForm}">Hide</span>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section scrollSpy2 [spiedTags]="['DIV']" (sectionChange)="onMobSectionChange($event)">
				<div class="scrollspy" id="overview-section" #overview>
					<section class="project-view">
						<div class="overview">
							<h2 class="main-heading">Overview</h2>
							<div class="content">
								<section class="description" id="overview_descp">
									<div class="desc-text">
										<p>SkyPark One - A world unto itself...where the sky is not the limit.</p>
										<p>Designed by Pakistan’s most innovative design team at Suhail & Fawad Architects, Skypark One promises both lifestyle and geographical exclusivity at Islamabad’s most desirable address in the heart of prestigious Gulberg Greens.</p>
										<p>Featuring an awe-inspiring rooftop Level Sky recreational park nine stories above the world far below, residents will have exclusive and private access to manicured landscaping and rooftop facilities like none other.
										</p>
										<span class="af-mobile" [ngClass]="{'af-none': readmore}">
											<p>With spaces designed by Suhail & Fawad Architects--whose innovative stylings drove the success of the recent 	One Expressway project--Skypark One blurs the lines between modern, historic, and classic, with fresh, unexpected, and timeless design that promises far more than a mere residential experience. </p>
											<p>The vibrant energy of Islamabad is inspiring a cultivated community with discerning tastes throughout Gulberg 	Greens and an environment that embodies and defines the true meaning of...home.
												<span class="af-desktop" [ngClass]="{'af-none': readmore}">
													<p>Skypark One will provide all 152 residential units with designated, secure underground parking and private elevator access to six full floors of luxury living and convenient on-site access to international dining and shopping choices.</p>

													<p>Visitors and guests will be welcomed through an elegantly vaulted lobby and reception area, while shoppers  enjoy a dynamic 3-story-high world filled with 64 internationally recognized name-brand retailers and a variety of dining options that include a vibrant 10,000 sq ft. food court for informal dining offered by such well-known providers as McDonald’s, Subway, Pizza Hut, Optp, and Mr. Cod...all under one roof.</p>
													<p>Skypark One is the lifestyle destination that Islamabad has been waiting for. With lavish, tailored living spaces adorned with custom-quality finishes,enjoying breathtaking views in every direction, and highlighted by the Level Sky private rooftop park, pool, and sports courts, this is truly an unparalleled living experience and simply put Skypark One rises above all others.</p>

													<p>This mission-driven project by the Thaheem Construction Company—renowned for its innovative approach to development and for its core values of safety, security, comfort, and convenience—is your guarantee of quality engineering, design, craftsmanship, and on-time completion.</p>
													<p>When you invest in a unit at Skypark One, you are acquiring a safe, secure investment with a guaranteed rental yield of 8% per annum and an anticipated 4-year rate of capital gain appreciation of upto 200%.</p>
													<p>The Skypark One on-site booking office is now offering exclusive pre-launch pricing for a very limited time. Stop by to see the model apartments and to reserve your unit now, as prices will adjust upward in the very near term.</p>
													<p>When you buy your dream home at Skypark One, your scheduled delivery date is part of our commitment to excellence...so be ready to move in and start enjoying Pakistan’s most vibrant and cosmopolitan lifestyle experience as we say...welcome home!</p>

													<!-- <ul>
													<li>Fully-engineered, eco-friendly lighting and ventilation</li>
													<li>24-hour security</li>
													<li>Designated secure parking</li>
													<li>24-hour maintenance & building safety (including multiple fire exits)</li>
													<li>Private elevator and staircase access</li>
													<li>Central courtyards on every floor with connecting bridges</li>
													<li>Corner unit architecture (every home has a dramatic view)</li>
													<li>Quality fixtures and decorative elements throughout</li>
												</ul> -->
											</span>
										</p>
									</span>
									<p class="text-center"><a rel="nofollow" href="javascript:void(0);" [ngClass]="{'af-none': !readmore}" (click)="viewReadmore()">Read More <i class="fa fa-caret-down" aria-hidden="true"></i>  </a></p>
									<p class="text-center"><a rel="nofollow" href="javascript:void(0);" [ngClass]="{'af-none': readmore}" (click)="viewReadmore()">Read Less <i class="fa fa-caret-up" aria-hidden="true"></i>  </a></p>
								</div>
							</section>
						</div>
					</div>
				</section>
			</div>
			<div class="scrollspy" id="feature-section">
				<section class="sky-features">
					<section class="af-overView project-features">
						<h2 class="main-project-heading " id="featuresHead-section">Features</h2>

						<!-- <ul class="content"  [ngClass]="{'af-none':listDisplay}"> -->
						<ul class="content">
							<li>
								<ul class="main-feature">
									<li class="left">
										<span class="label">Heated infinity pool</span>
										<span class="icon">
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Tennis and Badminton court</span>
										<span class="icon">
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Walking-jogging track</span>
										<span class="icon">
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Secure children’s play area</span>
										<span class="icon">
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Fully-equipped gym</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/balcony.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>

									<li class="left">
										<span class="label">Private elevator and staircase access</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/nearbyshopping.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Fully-engineered, eco-friendly lighting and ventilation</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/building.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">24-hour maintenance & building safety (including multiple fire exits)</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/tennis-match.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>


									<li class="left">
										<span class="label"> Central courtyards on every floor with connecting bridges</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/nearbyrestaurants.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>

									<li class="left">
										<span class="label">Corner unit architecture (every home has a dramatic view)</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/tennis-match.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">Quality fixtures and decorative elements throughout</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/building.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
									<li class="left">
										<span class="label">24 Hours CCTV Security</span>
										<span class="icon">
											<!-- <img src="assets/site/images/icons/parking.svg"> -->
											<img src="assets/site/images/green-tick.png" alt="Tick">
										</span>
									</li>
								</ul>
							</li>
						</ul>
						<!-- <a class="view-btn" [ngClass]="{'af-hide':!listDisplay}" href="javascript:;" (click)="listDisplayFunc('mainFeature')">View All Features </a>
						<a class="view-btn" [ngClass]="{'af-hide':listDisplay}" href="javascript:;" (click)="listDisplayFunc('mainFeature')">Hide Detail</a> -->
					</section>
				</section>
			</div>



			<div class="scrollspy" id="propertyType-section">
				<section class="sky-features">
					<section class="overview af-property_type project-features" id="propertyType">
						<ul class="content">
							<div class="main-heading margin-minus">Property Types</div>
							<div class="property-accordians" id="accordion2">

								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#onebedfloor" aria-expanded="false">
											1 Bed Apartments
										</a>
									</div>
									<div id="onebedfloor" class="collapse in" data-parent="#accordion2">
										<div class="card-body">
											<ul>
												<li class="left">
													<span (mouseenter) ="updateBaseVal(971 , 1198)" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
														<span class="icon"><img src="assets/site/images/icons/Area.svg" alt="Area"></span><span class="label">Area: </span><span class="value">971 Sq. Ft - 1198 Sq. Ft</span>
													</span>
												</li>
												<li class="left">
													<span class="icon"><img src="assets/site/images/icons/price.svg" alt="price"></span><span class="label">Price: </span><span class="value">PKR 9,700 / Sq. Ft</span>
												</li>
											</ul>
											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/one-bed.jpg" data-fancybox="gallery" data-caption="1 Bed Apartments">
																<img src="assets/site/images/one-bed-thumbnail.jpg" alt="one bed thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">1 Bed Apartments</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#twobedfloor" aria-expanded="false">
											2 Bed Apartments
										</a>
									</div>
									<div id="twobedfloor" class="collapse" data-parent="#accordion2">
										<div class="card-body">
											<ul>
												<li class="left">
													<span (mouseenter) ="updateBaseVal(1418 , 1925)" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
														<span class="icon"><img src="assets/site/images/icons/Area.svg" alt="Area"></span><span class="label">Area: </span><span class="value">1418 Sq. Ft - 1925 Sq. Ft</span>
													</span>
												</li>
												<li class="left">
													<span class="icon"><img src="assets/site/images/icons/price.svg" alt="Price"></span><span class="label">Price: </span><span class="value">PKR 9,700 / Sq. Ft</span>
												</li>
											</ul>
											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/two-bed.jpg" data-fancybox="gallery" data-caption="2 Bed Apartments">
																<img src="assets/site/images/two-bed-thumbnail.jpg" alt="two bed thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">2 Bed Apartments</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#threebedfloor" aria-expanded="false">
											3 Bed Apartments
										</a>
									</div>
									<div id="threebedfloor" class="collapse" data-parent="#accordion2">
										<div class="card-body">
											<ul>
												<li class="left">
													<span (mouseenter) ="updateBaseVal(2492 , 2762)" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
														<span class="icon"><img src="assets/site/images/icons/Area.svg" alt="Area"></span> <span class="label">Area: </span><span class="value">2492 Sq. Ft - 2762 Sq. Ft</span>
													</span>
												</li>
												<li class="left">
													<span class="icon"><img src="assets/site/images/icons/price.svg" alt="Price"></span><span class="label">Price: </span><span class="value">PKR 9,700 / Sq. Ft</span>
												</li>
											</ul>
											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/three-bed.jpg" data-fancybox="gallery" data-caption="3 Bed Apartments ">
																<img src="assets/site/images/three-bed-thumbnail.jpg" alt="three bed thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">3 Bed Apartments </span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord':propertyAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#shops" aria-expanded="false">
											Shops
										</a>
									</div>
									<div id="shops" class="collapse" data-parent="#accordion2">
										<div class="card-body">
											<ul>
												<li class="left">
													<ng-template #popContent>
														<div class="popup-conver">
															<span>{{ areaConversion(true, 'yard') }} Yd² - {{ areaConversion(false, 'yard') }} Yd²</span> <br>
															<span>{{ areaConversion(true, 'marla') }} Marla - {{ areaConversion(false, 'marla') }} Marla</span> <br>
															<span>{{ areaConversion(true, 'kanal') }} Kanal - {{ areaConversion(false, 'kanal') }} Kanal</span>
														</div>
													</ng-template>
													<span (mouseenter) ="updateBaseVal(464 , 1503.53)" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
														<span class="icon"><img src="assets/site/images/icons/Area.svg" alt="Area"></span><span class="label">Area: </span><span class="value">464 Sq. Ft - 1503.53 Sq. Ft</span>
													</span>
												</li>
												<li class="left">
													<span class="icon"><img src="assets/site/images/icons/price.svg" alt="Price"></span><span class="label">Price: </span><span class="value">PKR 70,000 / Sq. Ft</span>
												</li>
											</ul>
											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/shops.jpg" data-fancybox="gallery" data-caption="SHOPS">
																<img src="assets/site/images/shops-thumbnail.jpg" alt="shops thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">Shops</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord':propertyAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#shopslevel1" aria-expanded="false">
											Restaurants
										</a>
									</div>
									<div id="shopslevel1" class="collapse" data-parent="#accordion2">
										<div class="card-body">
											<ul>
												<li class="left">
													<span (mouseenter) ="updateBaseVal(653.44 , 1095)" [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
														<span class="icon"><img src="assets/site/images/icons/Area.svg" alt="Area"></span><span class="label">Area: </span><span class="value">653.44 Sq. Ft - 1095 Sq. Ft</span>
													</span>
												</li>
												<li class="left">
													<span class="icon"><img src="assets/site/images/icons/price.svg" alt="Price"></span><span class="label">Price: </span><span class="value">PKR 50,000 / Sq. Ft</span>
												</li>
											</ul>
											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/restaurants.jpg" data-fancybox="gallery" data-caption="Restaurants">
																<img src="assets/site/images/restaurants-thumbnail.jpg" alt="restaurants thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">Restaurants  </span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord':propertyAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#skypark" aria-expanded="false">
											Skypark
										</a>
									</div>
									<div id="skypark" class="collapse" data-parent="#accordion2">
										<div class="card-body">

											<div class="property-type-wrapper">
												<ul class="propertyType-img">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/skypark.jpg" data-fancybox="gallery" data-caption="SKYPARK">
																<img src="assets/site/images/skypark-thumbnail.jpg" alt="skypark-thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-capitalize"><span class="date">SKYPARK</span></p>
														</div>
													</li>
												</ul>
											</div>
											<ul>
												<li class="left">
													<!-- <span [popover]="popContent" popoverTitle="Land Area" triggers="mouseenter:mouseleave">
													<span class="icon"><img src="assets/site/images/icons/Area.svg"></span><span class="label">Area: </span><span class="value">653.44 Sq. Ft - 1633.8 Sq. Ft</span>
												</span> -->
											</li>
											<li class="left">
												<!-- <span class="icon"><img src="assets/site/images/icons/price.svg"></span><span class="label">Price: </span><span class="value">PKR 50,000 / Sq. Ft</span> -->
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="view-more-properties">
								<a [ngClass]="{'af-mob-none-accord': !propertyAccordiansMore}" href="javascript:;" (click)="openMoreproperties()">View More <i class="fa fa-caret-down" aria-hidden="true"></i></a>
								<a [ngClass]="{'af-mob-none-accord':propertyAccordiansMore}" href="javascript:;" (click)="openMoreproperties()">	View Less <i class="fa fa-caret-up" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="imp-note">
							<div class="note">Important Note:</div>
							<p><span>10%</span> extra charges for front view.</p>
							<p><span>5%</span> charges for extreme corner.</p>
							<p>Last installment to be paid at the time of possession.</p>
						</div>
					</ul>
				</section>
			</section>
			</div>

			<div class="scrollspy" id="floorPlan-section">
				<section class="sky-features">
					<section class="overview project-features" id="propertyType">
						<div class="main-heading">Floor Plan</div>
						<div class="content">
							<div class="floor-plan-accordians" id="accordion1">
								<div class="card">
									<div class="card-header">
										<a class=" card-link" data-toggle="collapse" href="#planefour" aria-expanded="false">
											Ground Floor
										</a>
									</div>
									<div id="planefour" class="collapse in" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/ground-floor.jpg" data-fancybox="gallery" data-caption="GROUND FLOOR">
																<img src="assets/site/images/ground-floor-thumbnail.jpg" alt="ground floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Ground Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planfive" aria-expanded="false">
											First Floor
										</a>
									</div>
									<div id="planfive" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/first-floor.jpg" data-fancybox="gallery" data-caption="FIRST FLOOR">
																<img src="assets/site/images/first-floor-thumbnail.jpg" alt="first floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">First Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#plansix">
											Second Floor
										</a>
									</div>
									<div id="plansix" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/second-floor.jpg" data-fancybox="gallery" data-caption="SECOND FLOOR">
																<img src="assets/site/images/second-floor-thumbnail.jpg" alt="second floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Second Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planseven">
											Third Floor
										</a>
									</div>
									<div id="planseven" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/third-floor.jpg" data-fancybox="gallery" data-caption="THIRD FLOOR">
																<img src="assets/site/images/third-floor-thumbnail.jpg" alt="third floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Third Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planeight">
											Fourth Floor
										</a>
									</div>
									<div id="planeight" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/fourth-floor.jpg" data-fancybox="gallery" data-caption="FOURTH FLOORr">
																<img src="assets/site/images/fourth-floor-thumbnail.jpg" alt="fourth floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Fourth Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#plannine">
											Fifth Floor
										</a>
									</div>
									<div id="plannine" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/fifth-floor.jpg" data-fancybox="gallery" data-caption="FIFTH FLOOR">
																<img src="assets/site/images/fifth-floor-thumbnail.jpg" alt="fifth floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Fifth Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planten">
											Sixth Floor
										</a>
									</div>
									<div id="planten" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/sixth-floor.jpg" data-fancybox="gallery" data-caption="SIXTH FLOOR">
																<img src="assets/site/images/sixth-floor-thumbnail.jpg" alt="sixth floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Sixth Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planeleven">
											Seventh Floor
										</a>
									</div>
									<div id="planeleven" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/seventh-floor.jpg" data-fancybox="gallery" data-caption="SEVENTH FLOOR">
																<img src="assets/site/images/seventh-floor-thumbnail.jpg" alt="seventh floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">SEVENTH FLOOR</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#plantwelve">
											EIGHTH FLOOR
										</a>
									</div>
									<div id="plantwelve" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/eighth-floor.jpg" data-fancybox="gallery" data-caption="EIGHTH FLOOR">
																<img src="assets/site/images/eighth-floor-thumbnail.jpg" alt="eighth floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">EIGHTH FLOOR</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planthirteen">
											NINTH FLOOR
										</a>
									</div>
									<div id="planthirteen" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/ninth-floor.jpg" data-fancybox="gallery" data-caption="NINTH FLOOR">
																<img src="assets/site/images/ninth-floor-thumbnail.jpg" alt="ninth floor thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">NINTH FLOOR</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planOne">
											First Basement Floor
										</a>
									</div>
									<div id="planOne" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/first-basement.jpg" data-fancybox="gallery" data-caption="First Basement Floor">
																<img src="assets/site/images/first-basement-thumbnail.jpg" alt="first-basement-thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">First Basement Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>



								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#plantwo">
											Second Basement
										</a>
									</div>
									<div id="plantwo" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/second-basement.jpg" data-fancybox="gallery" data-caption="Second Basement">
																<img src="assets/site/images/second-basement-thumbnail.jpg" alt="second basement thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Second Basement</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


								<div class="card" [ngClass]="{'af-mob-none-accord': floorAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#planthree" aria-expanded="false">
											Lower Ground Floor
										</a>
									</div>
									<div id="planthree" class="collapse" data-parent="#accordion1">
										<div class="card-body">
											<div class="payment-plan-wrapper location-tab">
												<ul class="location-map">
													<li>
														<div class="locate-img">
															<a class="fancybox" href="assets/site/images/lower-ground.jpg" data-fancybox="gallery" data-caption="Lower Ground Floor">
																<img src="assets/site/images/lower-ground-thumbnail.jpg" alt="lower ground thumbnail">
															</a>
														</div>
														<div class="af-payment-content">
															<p class="text-uppercase"><span class="date">Lower Ground Floor</span></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="view-more-properties">
									<a [ngClass]="{'af-mob-none-accord': !floorAccordiansMore}" href="javascript:;" (click)="openMoreFloor()">View More <i class="fa fa-caret-down" aria-hidden="true"></i></a>

									<a [ngClass]="{'af-mob-none-accord': floorAccordiansMore}" href="javascript:;" (click)="openMoreFloor()">	View Less <i class="fa fa-caret-up" aria-hidden="true"></i></a>
								</div>

								<!-- <div class="card">
								<div class="card-header">
								<a class="collapsed card-link" data-toggle="collapse" href="#planfourteen">
								Skypark Plan
							</a>
						</div>
						<div id="planfourteen" class="collapse" data-parent="#accordion1">
						<div class="card-body">
						<div class="payment-plan-wrapper location-tab">
						<ul class="location-map">
						<li>
						<div class="locate-img">
						<a class="fancybox" href="assets/site/images/skypark-plan.jpg" data-fancybox="gallery" data-caption="Skypark Plan">
						<img src="assets/site/images/skypark-plan.jpg">
					</a>
				</div>
				<div class="af-payment-content">
				<p class="text-uppercase"><span class="date">Skypark Plan</span></p>
			</div>
			</li>
			</ul>
			</div>
			</div>
			</div>
			</div> -->
			</div>
			</div>
			</section>
			</section>
			</div>

			<div class="scrollspy" id="paymentPlan-section">
				<section class="af_payment_plan skyPayment">
					<h2>Payment Plans</h2>
					<div class="row">
						<div class="col-12">
							<ul class="payment-list">
								<li>
									<div class="payment_wraper" [ngClass]="{'af-close': shopDetail}">
										<div class="payment_icon">
											<img src="assets/site/images/payment_shops.svg" alt="Shops Payment">
										</div>
										<div class="price_type dark" (click)="openPaymentDetails('shops')">
											<p>Shops</p>
										</div>
										<div class="extra-padding">
											<div class="payment_price">
												<div class="label_payment">Area ( Sq. Ft.)</div>
												<div class="payment_amount"><span>464 - 1503</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Price per Sq. Ft.</div>
												<div class="payment_amount">PKR <span> 70,000</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Down Payment From</div>
												<div class="payment_amount">PKR <span>97</span> LAC</div>
											</div>
										</div>
										<div class="price-line-mob">
											<p class="installement">2.5-YEAR INSTALMENT PLAN</p>
											<p class="down-pay"><span>30%</span> DOWN PAYMENT</p>
										</div>
									</div>
								</li>
								<li>
									<div class="payment_wraper center" [ngClass]="{'af-close': restaurantDetail}">
										<div class="payment_icon">
											<img src="assets/site/images/payment_restuarents.svg" alt="Restuarents Payments">
										</div>
										<div class="price_type light" (click)="openPaymentDetails('restuarants')">
											<p>Restaurants</p>
										</div>
										<div class="extra-padding">
											<div class="payment_price">
												<div class="label_payment">Area ( Sq. Ft.)</div>
												<div class="payment_amount"><span>653 - 1095</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Price per Sq. Ft.</div>
												<div class="payment_amount">PKR <span> 50,000</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Down Payment From</div>
												<div class="payment_amount">PKR <span>97</span> LAC</div>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="payment_wraper" [ngClass]="{'af-close': appartmentDetail}">
										<div class="payment_icon">
											<img src="assets/site/images/payment_residential.svg" alt="Residential Payment">
										</div>
										<div class="price_type dark" (click)="openPaymentDetails('apartments')">
											<p>Residential Apartments</p>
										</div>
										<div class="extra-padding">
											<div class="payment_price">
												<div class="label_payment">Area ( Sq. Ft.)</div>
												<div class="payment_amount"><span>972 - 2762</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Price per Sq. Ft.</div>
												<div class="payment_amount">PKR <span> 9,700</span></div>
											</div>
											<div class="payment_price">
												<div class="label_payment">Down Payment From</div>
												<div class="payment_amount">PKR <span>27</span> LAC</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="af_price_line">
								<li>
									<p>2.5-YEAR INSTALMENT PLAN</p>
								</li>
								<li>
									<p>30% DOWN PAYMENT</p>
								</li>
							</ul>
							<div class="download-payment-btn">
								<a target="_blank" href="/skyparkone/payment-plan" class="btn-green"><span>download payment plan</span></a>
							</div>
						</div>
					</div>
				</section>
			</div>


			<div class="scrollspy" id="developer-section">
				<section class="proj-developer">
					<h2 class="main-heading no-bd-bt bd-full">Developer</h2>
					<div class="content">
						<p>After the phenomenal success of One Expressway —now an iconic landmark on the Gulberg Green horizon—the team is now embarking on a new adventure: Skypark One.</p>

						<p>Through careful planning, astute engineering and design collaboration with the renowned firm of Suhail & Fawad Architects, and the implementation of SkyPark’s one-of-a-kind financial model, all phases of this eco-friendly energy-efficient project are masterfully controlled from start to finish. This translates into predictable scheduling, forward-thinking engineering, innovative design, and the use of superior materials and craftsmanship to deliver spectacular living and working environments.</p>

						<p>The SkyPark Development Team’s commitment to the creation of a diverse master plan of multi-level luxury residences, complemented by verdant landscaping, the unique rooftop Level Sky recreational amenities, accessible safety stairwells and 24/7 professional security services, marks the beginning of an exciting new era of Islamabad’s community development.</p>

						<div [ngClass]="{'af-mob-none-deve': developerMore}">
							<p>SkyPark Development’s ongoing success—and the value they bring to our community—is founded on core principles of financial responsibility, attention to detail, and ethical business practices. They have true vision...and the resources to turn that vision into reality.</p>

						</div>
						<div class="view-more-properties">
							<a [ngClass]="{'af-mob-none-accord': !developerMore}" href="javascript:;" (click)="openMoredeveloper()">View More <i class="fa fa-caret-down" aria-hidden="true"></i></a>

							<a [ngClass]="{'af-mob-none-accord': developerMore}" href="javascript:;" (click)="openMoredeveloper()">	View Less <i class="fa fa-caret-up" aria-hidden="true"></i></a>
						</div>
					</div>
				</section>
			</div>

			<div class="scrollspy" id="constructionStatus-section">
				<section class="construction-sec">
					<h2>Construction Status</h2>
					<div class="construction-carousel">
						<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
						<div class="wd-100" [ngClass]="{'pdt-50': stickNavbar}">
							<div class=" image-caro-popup wow fadeInLeft">

								<div class="outer">
									<div id="constructionBig" class="owl-carousel owl-theme owl-main-banner">
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-6.jpg">
												<img src="assets/site/images/construction-27oct-6.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-5.jpg">
												<img src="assets/site/images/construction-27oct-5.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-4.jpg">
												<img src="assets/site/images/construction-27oct-4.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-3.jpg">
												<img src="assets/site/images/construction-27oct-3.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-2.jpg">
												<img src="assets/site/images/construction-27oct-2.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-27oct-1.jpg">
												<img src="assets/site/images/construction-27oct-1.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-basement.jpg">
												<img src="assets/site/images/construction-basement.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-basement2.jpg">
												<img src="assets/site/images/construction-basement2.jpg" alt="SkyparkOne">
											</a>
										</div>

										<div class="item">
											<a  class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-ground.jpg">
												<img src="assets/site/images/construction-ground.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-basement3.jpg">
												<img src="assets/site/images/construction-basement3.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-basement4.jpg">
												<img src="assets/site/images/construction-basement4.jpg" alt="SkyparkOne">
											</a>
										</div>
										<div class="item">
											<a class="fancybox" data-fancybox="gallery_construction" href="assets/site/images/construction-ground2.jpg">
												<img src="assets/site/images/construction-ground2.jpg" alt="SkyparkOne">
											</a>
										</div>
									</div>
									<div id="constructionthumbs" class="owl-carousel owl-theme owl-custom-thumbnails">
										<div class="item">
											<img src="assets/site/images/construction-27oct-6.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-27oct-5.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-27oct-4.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-27oct-3.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-27oct-2.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-27oct-1.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-basement.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-basement2.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-ground.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-basement3.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-basement4.jpg" alt="SkyparkOne">
										</div>
										<div class="item">
											<img src="assets/site/images/construction-ground2.jpg" alt="SkyparkOne">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="scrollspy" id="faq-section">
				<section class="frequently-ask-sec">
					<h2>Frequently Asked Questions</h2>
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12">
							<div class="faq-accordians" id="accordion">
								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#collapseOne">
											What is the completion date of the Skypark One project?
										</a>
									</div>
									<div id="collapseOne" class="collapse show" data-parent="#accordion">
										<div class="card-body">
											<p>Construction will be completed on or before Dec, 2021.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
											What will be the anticipated capital appreciation once Skypark One is completed?
										</a>
									</div>
									<div id="collapseTwo" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Following completion of construction and full occupancy, the market value of all units is expected to be PKR 14000-15000/ per sq feet.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
											What are the anticipated rental rates of residential units upon completion?
										</a>
									</div>
									<div id="collapseThree" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>After completion of project, rental values are expected to be:</p>
											<ul>
												<li>1 bed - 60k - 80k </li>
												<li>2 beds - 120k - 150k</li>
												<li>3 beds - 150k – 200k</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
											What is the documentation procedure for reservation and purchase at Skypark One?
										</a>
									</div>
									<div id="collapseFour" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Skypark One will secure the client interest through installment agreement signatures and right of possession during the term of the installment agreement. Upon completion of installment payment terms, full title, right, and interest will be documented and conveyed to client from IB Gulberg, Islamabad.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
											What if project is not delivered on time?
										</a>
									</div>
									<div id="collapseFive" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Prior Developer performance does not indicate the likelihood of late delivery to buyers. Significant landmark projects have adhered to firm projections and delivery schedules. Because the Developer is self-financed with no dependence upon outside funding, absent unforeseeable natural, political, or military events, the Developer anticipates early delivery.  Should unanticipated  force majeur  circumstances or events prevent timely completion, buyers will not be required to commence installment payments.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
											Is it good for long-term investment or short-term investment?
										</a>
									</div>
									<div id="collapseSix" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>   The project is regarded by experienced real estate and financial experts as a high quality investment from both long- and short-term standpoints.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
											What makes Skypark One different from other projects?
										</a>
									</div>
									<div id="collapseSeven" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Skypark One features innovative design,  engineering, and construction elements, as well as extraordinary facilities, security, and amenities. From the standpoint of square footage and sweeping skyline views, the project is a guarantee of residential luxury living and shopping. With construction uniquely managed with two full daily labor shifts (16-18 hours/day), completion and full occupancy are guaranteed to outperform all other projects throughout Islamabad.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
											Will there be price increases?
										</a>
									</div>
									<div id="collapse8" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>If all installment payments are made and buyer(s) perform as per contract, there will be no escalation or upward adjustment of pricing. The total price of the Shop/Apartment as per schedule of payment is based on per Sq. Ft. rate, subject to actual physical measurement of the premises performed upon completion of construction.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse9">
											What if I book multiple units and I am unable to pay and wish to back out?
										</a>
									</div>
									<div id="collapse9" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>If a buyer has booked more than one unit in the project and during the installment payment period wishes to surrender any unit and transfer the amount paid to the unit he/she wishes to continue, a service and recording fee of 15% of the total sale value of the unit will be applied.</p>
											<p>Should an applicant/buyer wish to surrender his/her unit or cancels their interest on the basis described above, monies paid will be refunded to the applicant following resale of the unit, less 20% of the total agreed price of unit to cover service and establishment charges. Such refunds will be due to the former buyer upon completion and full occupancy of the project. </p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse10">
											What is the policy on late payments on the installment agreement?
										</a>
									</div>
									<div id="collapse10" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>The applicant/buyer shall remit full payment of the installments every month before 5th of each month. Late payments will incur a late payment charge levied at the prevailing bank rates and the recission of any purchase price discount recorded at the time of BOOKING. Failure to make timely remittance of principal, interest, fees, or dues of any kind within the specified period provided in any FINAL NOTICE will subject the applicant/buyer to the cancellation of buyer’s interest in Skypark One, its services, facilities, or amenities from that point forward.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
											What additional costs are involved in purchasing at Skypark One?
										</a>
									</div>
									<div id="collapse11" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>The applicant/buyer will be responsible for all Allotment/Registry expenses, documentation charges and all other ancillary and miscellaneous/agencies as and when required by the Company within the prescribed period. The cost of unit does not include registration charges and legal expenses, electric and meter connection charges. Such charges shall be paid directly by the applicant on demand, and at no instance not later than 30 days from notice of such payment due.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
											Who maintains the property?
										</a>
									</div>
									<div id="collapse12" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>The Company shall be responsible for the maintenance of the project commencing from the date of delivery of the first unit to be occupied in the project. Allotee is liable to pay reasonable maintenance charges at market rates as reasonably determined by the Company. </p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
											Will buyer(s) have a voice in management and maintenance of the property?
										</a>
									</div>
									<div id="collapse13" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Yes. Once the project is completed and fully occupied, a Property Owners Association (POA) will be formed to maintain and manage the facilities. The expenses of the maintenance will be covered by a monthly assessment on each commercial and residential unit, with reasonable costs shared on a per-square-foot pro-rata basis.</p>
										</div>
									</div>
								</div>

								<div class="card" [ngClass]="{'af-mob-none-accord': faqAccordiansMore}">
									<div class="card-header">
										<a class="collapsed card-link" data-toggle="collapse" href="#collapse14">
											Can I request a change in apartment design?
										</a>
									</div>
									<div id="collapse14" class="collapse" data-parent="#accordion">
										<div class="card-body">
											<p>Yes. Buyer(s) have the option to choose project location/floor and all finishes. Extraordinary finishes (i.e., gold-plated faucets) may result in a reasonable price adjustment at the time of booking.</p>
										</div>
									</div>
								</div>

								<div class="view-more-properties">
									<a [ngClass]="{'af-mob-none-accord': !faqAccordiansMore}" href="javascript:;" (click)="openMoreFaq()">View More <i class="fa fa-caret-down" aria-hidden="true"></i></a>

									<a [ngClass]="{'af-mob-none-accord': faqAccordiansMore}" href="javascript:;" (click)="openMoreFaq()">	View Less <i class="fa fa-caret-up" aria-hidden="true"></i></a>
								</div>

							</div>
						</div>
					</div>
				</section>
			</div>


			</section>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 order-sm-first order-lg-last af-stickyProject" [ngClass]="{'af-display': displayTimerFooter}" #leadFormView>
				<div class="need-help-box wow fadeInRight" [ngClass]="{'zIndexMax': leadForm}">
					<div class="services-backi timer-top af-temporary_none" [ngClass]="{'af-none' : !helloFoot}">
						<div class="cross-btn white" (click)="closeHelloFoo()">x</div>
						<p>Make an Inquiry</p>
					</div>
					<form autocomplete="off" [ngClass]="{'open': openForm}" [formGroup]="LeadForm" novalidate>
						<div class="mobile-header-filter">
							<a rel="nofollow" class="af-left-close" href="javascript:void(0);" (click)="openSideForm()">
								<i aria-hidden="true" class="fa fa-chevron-left"></i>
							</a>
							<p class="sendTitle">Send Inquiry</p>
						</div>
						<div class="mobile-box">
							<div class="showPhoneNumber">
								<a href="javascript:;" (click)="showPhoneNum()" *ngIf='!ShowAgentNum'><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> Show Phone Number</a>
								<a href="tel:03411100808" *ngIf='ShowAgentNum'><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> 03415222111</a>
							</div>
							<div class="showPhoneNumber">
								<a href="javascript:;" (click)="openWhatsapp();whatsappLeadFunc();"><img src="assets/site/images/whatsapp-white.png" alt="Whatsapp"> Whatsapp</a>
							</div>
							<div class="af-separator-Or"><span>or</span></div>
							<p class="fillFormText">Fill out the form below and we will contact you directly. </p>

							<div class="fill-Form">
								<div class="in-rel required">
									<input id="formName" type="text" name="name" placeholder="Your Name" formControlName="name" [(ngModel)]="lead.name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
									<i class="fa fa-user" aria-hidden="true"></i>
									<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">Required Field</p>
								</div>
								<div class="in-rel num">
									<input id="phoneNum" class="phoneCc" type="tel" name="phone" placeholder="Enter Your Mobile Number" formControlName="phone" [(ngModel)]="lead.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
									<i class="fa fa-phone" aria-hidden="true"></i>
									<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">Required Field</p>
								</div>
								<!-- <div class="in-rel num">
								<input type="text" id="phone-number" name="phone" placeholder="Mobile Number" formControlName="phone" [(ngModel)]="lead.phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors || !hasErrorPhn }" appPhoneMask
								ng2TelInput
								[ng2TelInputOptions]="{initialCountry: 'pk'}"
								(hasError)="hasError($event)"
								(ng2TelOutput)="getNumber($event)"
								(intlTelInputObject)="telInputObject($event)"
								(countryChange)="onCountryChange($event)" />
								<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">Required Field</p>
								<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && !hasErrorPhn && !f.phone.errors }">Invalid Phone no</p>
							</div> -->
							<div class="in-rel required">
								<input type="text" name="email" placeholder=" Enter Your Email Address" formControlName="email" [(ngModel)]="lead.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">Required Field</p>
							</div>
							<div class="in-rel af-select required">
								<select formControlName="interest" [(ngModel)]="lead.interest" [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">
									<option value="">Interested In</option>
									<option>Shop</option>
									<option>1 bed luxury apartment</option>
									<option>2 bed luxury apartment</option>
									<option>3 bed luxury apartment</option>
									<option>Food Court Shop</option>
									<option>Not Sure Yet</option>
								</select>
								<i class="fa fa-thumbs-up" aria-hidden="true"></i>
								<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.interest.errors }">Required Field</p>
							</div>

							<!-- <div class="in-rel af-select ">
							<select formControlName="paymentPlan" [(ngModel)]="lead.paymentPlan" [ngClass]="{ 'is-invalid': submitted && f.paymentPlan.errors }">
							<option value="">Choose Payment Plan</option>
							<option>Installment Plan</option>
							<option>Cash Price</option>
							<option>Dealers Discount</option>
						</select>
						<p class="errors_form" [ngClass]="{ 'is-invalid': submitted && f.paymentPlan.errors }">Required Field</p>
					</div> -->

					<button (click)="AddLead()" [disabled]="ajaxloader">
							<i class="fa fa-users-chat" aria-hidden="true"></i>Get Free Advice Now
							<div class="lds-ring" *ngIf="ajaxloader"><div></div><div></div><div></div><div></div></div>
					</button>
				</div>
			</div>
			<div class="reportListing">
					<a [ngClass]="{'af-none': reportedProp}" href="javascript:;" (click) = "ReportProject()"><i class="fa fa-flag-o" aria-hidden="true"></i>Report</a>
					<p [ngClass]="{'reported': !reportedProp , 'af-none': !reportedProp}"><i class="fa fa-flag-o" aria-hidden="true"></i>Request Submitted</p>
			</div>
			</form>
			</div>

			</div>

		</div>
	</div>
</section>

<div id="shareModal" class="modal fade" role="dialog">
	<div class="modal-dialog modalShare">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					<svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(72, 72, 72);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg>
				</button>
				<p class="sharehead">Share</p>
				<ul class="af-modalShares">
					<li shareButton="facebook" url="https://gharbaar.com/skyparkone">
						<a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</a>
					</li>
					<li shareButton="twitter" url="https://gharbaar.com/skyparkone">
						<a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter</a>
					</li>
					<li class="messanger" shareButton="messenger" url="https://gharbaar.com/skyparkone">
						<a href="javascript:;">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-messenger" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" class="svg-icon-sprite">
								<path id="XMLID_3_" fill="#339DFF" d="M6,26.3V32l5.3-3c1.5,0.4,3.1,0.7,4.7,0.7c8.8,0,15.9-6.6,15.9-14.8C31.9,6.6,24.8,0,16,0   S0.1,6.6,0.1,14.8C0.1,19.4,2.4,23.6,6,26.3L6,26.3z"></path>
								<path id="XMLID_2_" fill="#ffffff" d="M14.3,10.8l-8.6,9.1l7.8-4.3l4.1,4.3l8.5-9.1L18.4,15C18.4,14.9,14.3,10.8,14.3,10.8z"></path>
							</svg>Share on Messenger</a>
						</li>
						<!-- <li>
						<a href="javascript:void(0);"> <img src="assets/site/site/images/gmail-logo.svg"> Send via Gmail </a>
					</li> -->
					<li shareButton="email" url="https://gharbaar.com/skyparkone">
						<a class="email" href="javascript:void(0);"><i class="fa fa-envelope" aria-hidden="true"></i> Send via Email</a>
					</li>
					<li shareButton="copy" url="https://gharbaar.com/skyparkone">
						<a class="copy" href="javascript:void(0);"><i class="fa fa-clone" aria-hidden="true"></i> Copy Link</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="ProjectCarouselModal" class="modal fade" role="dialog">
	<div class="modal-dialog ProjectCarousel">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
					<svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(72, 72, 72);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg>
				</button>
				<div class="leftMainCarousel">
					<div class="outer">
						<div id="big" class="owl-carousel owl-theme owl-main-banner">
							<div class="item">
								<div class="bannerVideoPro">
									<img src="assets/site/videos/skvideo-thumbnail.jpg" alt="Skyparkone Video">
								</div>
							</div>
							<div class="item">
								<img src="assets/site/images/bed-apartments.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/65-international-name-brand-retailers.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<div class="bannerVideoPro">
									<img src="assets/site/images/badminton-court.jpg" alt="Skyparkone">
								</div>
							</div>
							<div class="item">
								<div class="bannerVideoPro">
									<img src="assets/site/images/Car-Parking.jpg" alt="Skyparkone">
								</div>
							</div>
							<div class="item">
								<img src="assets/site/images/Fully-equiped-gum.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/Furnishing-Partner.jpg" alt="Skyparkone">
							</div>

							<div class="item">
								<img src="assets/site/images/infinity-pool.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/joggin-track_kidsplayarea.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/Mall-interior.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/Our-previous-project.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/Sohail-&-Fawad.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/Tennis-court.jpg" alt="Skyparkone">
							</div>
							<div class="item">
								<img src="assets/site/images/vibrant-10,000-sq-ft-food-court.jpg" alt="Skyparkone">
							</div>

						</div>
					</div>
				</div>
				<div class="rightSmallCarousel small">
					<div id="thumbs" class="owl-carousel owl-theme owl-custom-thumbnails">
						<div class="item">
							<img src="assets/site/videos/skvideo-thumbnail.jpg" alt="Skyparkone Video">
						</div>
						<div class="item">
							<img src="assets/site/images/bed-apartments.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/65-international-name-brand-retailers.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<div class="bannerVideoPro">
								<img src="assets/site/images/badminton-court.jpg" alt="Skyparkone">
							</div>
						</div>
						<div class="item">
							<div class="bannerVideoPro">
								<img src="assets/site/images/Car-Parking.jpg" alt="Skyparkone">
							</div>
						</div>
						<div class="item">
							<img src="assets/site/images/Fully-equiped-gum.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/Furnishing-Partner.jpg" alt="Skyparkone">
						</div>

						<div class="item">
							<img src="assets/site/images/infinity-pool.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/joggin-track_kidsplayarea.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/Mall-interior.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/Our-previous-project.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/Sohail-&-Fawad.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/Tennis-court.jpg" alt="Skyparkone">
						</div>
						<div class="item">
							<img src="assets/site/images/vibrant-10,000-sq-ft-food-court.jpg" alt="Skyparkone">
						</div>
					</div>
					<div class="ProjectDetails">
						<p>{{ owlNumberActive }} / {{ totalNumberImages }}</p>
						<h3>SkyParkOne Gulberg Greens, Islamabad</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
