<section class="blogIntro-sec">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="blogIntro-img">
                  <img src="assets/site/images/realEstate.jpg" alt="Blog Introduction Image">
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="introRight-txt">
                  <h1 class="realEstate-heading">Pakistan's Latest Real Estate News</h1>
                  <p>Our mission is to show self-motivated people like you how to make great money from real estate, while helping others, minimizing risk, and creating more time for the things that matter.</p>
                  <div class="freeAccessMail">
                      <img src="assets/site/images/emaiSubscribe.svg" alt="Email Icon">
                      <p>Subscribe to our news letter</p>
                  </div>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscription.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <button (click)="AddSubscribe()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="blogBody-sec">
   <div class="container">
      <div class="sortFilter-box">
          <div class="row">
              <!-- <div class="col-xs-12 col-sm-6">
                  <h2>Sort articles by:</h2>
              </div> -->
              <div class="col-xs-12 col-sm-12">
                  <div class="sortingFilters">
                    <ul class="sortingCategories">
                      <li><a href="javascript:;" (click)="getByCategory(null)" [ngClass]="{'active': cat_id == null}">ALL</a></li>
                      <ng-container *ngFor="let category of categoryData; let indx = index">
                        <li><a href="javascript:;" (click)="getByCategory(category.id)" [ngClass]="{'active': cat_id == category.id}">{{ category.name }}</a></li>
                      </ng-container>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="allBlogs-sec">
          <div class="row" *ngIf="contentLoaded">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="alert alert-danger " role="alert" *ngIf="BlogsData.length == 0"> Current Category has no blogs.</div>
            </div>
            <ng-container *ngFor="let blog of BlogsData; let indx = index">
              <div class="col-xs-12 col-sm-6" [ngClass]="{'col-md-6': indx == 0 , 'col-md-3': indx > 0}">
                  <a class="blogsLinks" href="javascript:;" [routerLink]="getBlogUrl(blog)">
                    <div class="singleBlogBox" [ngClass]="{'first': indx == 0}">
                        <div class="blogImage-box">
                            <img src="{{ ImagesUrl + 'uploads/blogs/thumbnails/' + blog.image}}" alt="Blog Image">
                            <div class="category-icon">
                                <img src="assets/site/images/categoryBlog.svg" alt="Category Icon">
                            </div>
                        </div>
                        <div class="blogDescription" [ngClass]="{'first': indx == 0}">
                            <p class="categoryBlog">
                              <ng-container *ngFor="let cat of blog.categories; let catIndex = index">
                              {{ cat.name }}<span *ngIf="catIndex < blog.categories.length - 1">, </span>
                              </ng-container>
                             </p>
                            <h2 class="blogTitle">{{ blog.title }}</h2>
                            <p class="timeWriterName">{{ blog.blogger.name }} • {{ blog.updated_at | date }}</p>
                        </div>
                    </div>
                  </a>
              </div>
              </ng-container>
          </div>
          <div class="showMoreArticle" *ngIf="BlogsResp && BlogsResp.last_page > BlogsResp.current_page">
              <a href="javascript:;" (click)="getAllBlogs(true)">Show more articles</a>
          </div>
      </div>
   </div>
</section>

<section class="subscriber-sec">
    <div class="container">
        <div class="subscriberInner-box">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <h2 class="subsciberHeading">Subscribe to Get Pakistan's Real Estate News</h2>
                  <div class="emailIntrobox">
                    <form [formGroup]="subscriptionFooterForm" autocomplete="off">
                      <input type="text" name="email" placeholder="Email Address" formControlName="email" [(ngModel)]="subscriptionFooter.email" [ngClass]="{ 'is-invalid': footSubmitted && g.email.errors }">
                      <button (click)="AddSubscribeFoot()" [disabled]="ajaxloader">Let's Go</button>
                    </form>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="assets/site/images/faisal-mosque.svg" alt="Subscriber">
                </div>
            </div>
        </div>
    </div>
</section>
<app-growing-community></app-growing-community>
