<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Listing Details -->
<section class="af-full-detail">
		<!-- <ul class="breadcrumb">
			<li><a href="javascript:;" routerLink="/">Ghar</a></li>
			<li *ngIf="locsByCity && searchParms.city.name != ''">{{ searchParms.city.name }}</li>
			<li *ngIf="!locsByCity && searchParms.city.name != ''"><a href="javascript:;" [routerLink]="getLocURL({}, true)">{{ searchParms.city.name }}</a></li>
			<li *ngFor="let loc of parentLocs"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }}</a></li>
			<li *ngIf="!locsByCity">{{ searchParms.area.name }}</li>
		</ul> -->

	<div class="container">
		<div class="prevnext" *ngIf="showPrevNext">
		    <a class="prev" *ngIf="PrevURL; else dummyPrev" [ngClass]="{'active': PrevURL}" href="javascript:;" [routerLink]="PrevURL">◀  prev </a>
				<ng-template #dummyPrev><a class="prev" href="javascript:;">◀  prev </a></ng-template>

				<a class="backup active" title="back to search" href="javascript:;" [routerLink]="SearchURL">▲</a>

		    <a class="next" *ngIf="NextURL; else dummyNext" [ngClass]="{'active': NextURL}" href="javascript:;" [routerLink]="NextURL"> next ▶ </a>
				<ng-template #dummyNext><a class="next" href="javascript:;"> next ▶ </a></ng-template>
		</div>

		<div class="outer-border-form">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8">
				<!-- <div class="property-type">
					<p class="premium">
						<span>{{ propPackages[property.package] }}</span>
					</p>
				</div> -->
				<ul class="breadcrumb" *ngIf="parentLocs">
					<li><a href="javascript:;" routerLink="/">Gharbaar</a></li>
					<li><a href="javascript:;" [routerLink]="getLocURL({}, true)">{{ property.city }}</a></li>
					<li *ngFor="let loc of parentLocs"><a href="javascript:;" [routerLink]="getLocURL(loc, false)">{{ loc.name }}</a></li>
					<li><a href="javascript:;" [routerLink]="getLocURL(property.location, false)">{{ property.location_name }}</a></li>
					<li>{{ property.sub_type + ' ' + property.id }}</li>
				</ul>
				<div class="fav-hide-rep" *ngIf="!hideForm && !loadingProp;">
					<a class="af-favorite" (click)="togglefavoriteProp()" *ngIf="!locallyHidden">
						<i class="fa fa-star active-favorite" aria-hidden="true" *ngIf="locallyFavorited"></i>
						<i class="fa fa-star" aria-hidden="true" *ngIf="!locallyFavorited"></i>
						<!-- <span>Favorite</span> -->
					</a>

					<a class="af-trash" (click)="toggleHiddenProp()" *ngIf="!reportedProp && !locallyFavorited">
						<i class="fa fa-trash active-hide" aria-hidden="true" *ngIf="locallyHidden"></i>
						<!-- <span *ngIf="locallyHidden">Hidden</span> -->
						<i class="fa fa-trash" aria-hidden="true" *ngIf="!locallyHidden"></i>
						<!-- <span *ngIf="!locallyHidden">Hide</span> -->
					</a>

					<a class="af-report" (click)="reportProp()" *ngIf="!reportedProp; else reportedPropTemp">
						<i class="fa fa-flag" aria-hidden="true"></i>
						<!-- <span>Report</span> -->
					</a>

					<ng-template #reportedPropTemp>
						<a class="af-report">
							<i class="fa fa-flag active-hide" aria-hidden="true"></i>
							<!-- <span>Reported</span> -->
						</a>
					</ng-template>
				</div>
				<div class="row">
					<div class="col-xs-8 col-sm-8" *ngIf="property.location">
						<h2>{{ property.title }}</h2>
						<p class="full-address"><a href="javascript:;" [routerLink]="getLocURL(property.location, false)">{{ property.location_name }}, {{ property.city }}</a></p>
					</div>

					<div class="col-xs-4 col-sm-4">
						<div class="price-right">
							<label>Pricing:</label>
							<h3>PKR {{ property.price | convertCurrency }}</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<section class="caro image-caro-popup" [ngClass]="{'removePadding': property.images == ''}">
								<owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
								 <div class="item" *ngFor="let image of mySlideImages;let i = index">
								  <div *ngIf="property.images != '' && property.images[i].is_video == '0'">
										<a class="fancybox" data-fancybox="property_banner" [href]="this.ImagesUrl + 'uploads/property-images/' + this.propertyImages[i].name">
												<img src={{image}} alt="Property Images"/>
										</a>
								  </div>
									<div *ngIf="property.images != '' && property.images[i].is_video == '1'">
										<a class="fancybox" data-fancybox="property_banner" [href]="this.ImagesUrl + 'uploads/property-images/' + this.propertyImages[i].name.split('.')[0] + '.mp4'">
												<img src={{image}} alt="Property Images"/>
												<div class="play-btn"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
										</a>
								  </div>
								 </div>
								</owl-carousel>
								<owl-carousel id="thumbs" [options]="myCarouselOptions" [items]="myCarouselImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-custom-thumbnails']" #owlthumb>
									 <div class="item" *ngFor="let image of myCarouselImages;let i = index">
									  <div *ngIf="property.images != ''">
												<img src={{image}} alt="Property Images"/>
									  </div>
									 </div>
								</owl-carousel>
								<div class="default-img" *ngIf="property.images == ''">
										<img src="assets/site/images/default-image.jpg" alt="default image">
								</div>
						</section>

					</div>
				</div>

				<!-- Icon Features -->
				<!-- <hr *ngIf="property.feature != null && (convertToInt(property.feature.bedrooms) > 0 || convertToInt(property.feature.bathrooms) > 0 || convertToInt(property.feature.parking_spaces) > 0)"> -->

				<div class="featureRow" *ngIf="property.feature != null">
					<div class="col-xs-4 pd480-5" *ngIf="convertToInt(property.feature.bedrooms) > 0">
						<div class="af-details">
							<img src="assets/site/images/bed-icon.svg">
							<p>{{ property.feature.bedrooms }} Bedrooms</p>
						</div>
					</div>
					<div class="col-xs-4 pd480-5" *ngIf="convertToInt(property.feature.bathrooms) > 0">
						<div class="af-details">
							<img src="assets/site/images/bath-icon.svg">
							<p>{{ property.feature.bathrooms }} Bathrooms</p>
						</div>
					</div>
					<div class="col-xs-4 pd480-5" *ngIf="convertToInt(property.feature.parking_spaces) > 0">
						<div class="af-details">
							<img src="assets/site/images/garage-icon.svg">
							<p>{{ property.feature.parking_spaces }} Garage</p>
						</div>
					</div>
				</div>

				<!-- Features Div -->
				<div class="af-full-features" *ngIf="property.feature != null">
					<p class="overviewHeading">Overview</p>
					<div class="about-property">
						<div class="featureSubHead">Details</div>
						<p class="gray" *ngIf="property.display_address == '0' || property.address == null"><span>Address:</span> <span class="detailAns">{{ property.location_name }}, {{ property.city }}</span></p>
						<p class="gray" *ngIf="property.display_address == '1' && property.address != null"><span>Address:</span> <span class="detailAns"> {{ property.address }}</span></p>
						<p class="gray"><span>Purpose:</span> <span class="detailAns"> {{ property.purpose | capitalize }}</span></p>
						<p><span>Type:</span><span class="detailAns"> {{ property.type }}</span></p>
						<p><span>Size:</span><span class="detailAns"> {{ property.size_in_marla | round2Dec }} marla</span></p>
						<p class="gray"><span>Year built in:</span><span *ngIf="property.feature.year_built" class="detailAns"> {{ property.feature.year_built }}</span></p>
						<p class="gray"><span>Posted at:</span><span class="detailAns"> {{ property.user.created_at | date }}</span></p>
					</div>
					<div class="descriptionBox">
						<div class="featureSubHead">Description</div>
						<p>
							<span>
								{{ propertyDetail.substring(0, 553) }}<span [ngClass]="{'af-none': showPropertyDetails || propertyDetail.length <= 553}">...</span>
								<span [ngClass]="{'af-none': !showPropertyDetails}"> {{ propertyDetail.substring(553, propertyDetail.length) }}</span>
							</span>
						</p>

						<div class="shw-btns" *ngIf="propertyDetail.length > 553">
							<a class="show-full-detail" [ngClass]="{'af-none': showPropertyDetails}" href="javascript:;" (click)="togglePropertyDetails(true)">Show More</a>
							<a class="show-less-detail" [ngClass]="{'af-none': !showPropertyDetails}" href="javascript:;" (click)="togglePropertyDetails(false)">Show Less</a>
						</div>
					</div>
					<div class="featuresBox" *ngIf="property.feature">
						<p class="overviewHeading">Features</p>
						<div class="row">
							<div class="col-sm-12">
								<div class="af-feat-list" *ngFor="let item of property.feature | keyvalue">
									<p *ngIf="item.key != 'id' && item.key != 'property_id' && item.key != 'year_built' && item.key != 'maintenance_charges' && item.key != 'security_deposit' && convertToInt(item.value) > 0"><img src="assets/site/images/blue-tick.png"> {{ item.key | capitalize }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="downPayRow" *ngIf="property.feature != null">
					<div class="col-xs-4 pd480-5" *ngIf="property.feature.down_payment">
						<div class="af-details sm-details">
							<h5>Down Payment</h5>
							<p>PKR {{ property.feature.down_payment | convertCurrency }}</p>
						</div>
					</div>

					<div class="col-xs-4 pd480-5" *ngIf="property.feature.maintenance_charges">
						<div class="af-details sm-details">
							<h5>Maintenance Charges</h5>
							<p>PKR {{ property.feature.maintenance_charges | convertCurrency }}</p>
						</div>
					</div>

					<div class="col-xs-4 pd480-5" *ngIf="property.feature.security_deposit">
						<div class="af-details sm-details">
							<h5>Security Deposit</h5>
							<p>PKR {{ property.feature.security_deposit | convertCurrency }}</p>
						</div>
					</div>
				</div>



        <!--<div class="full-posted-by">
					<h4>Posted by <a href="javascript:void(0);">Shapers Builders and Real Estate Managers</a></h4>
					<a href="javascript:void(0)"><p class="subtitle-add">F-7/1, Islamabad - Joined on May 16, 2019</p></a>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="total-listing">
							<span>Total Listings:</span><span class="blue">11</span>
							<span style="margin: 0px 15px;">|</span>
							<span class="green"><i class="fa fa-check" style="font-size: 16px; padding-right: 5px;"></i>Verified</span>
							<div class="detail-conti">
								<p>Buying and selling real estate signifies a time of change. Whether making an investment for capital gains
									or for personal or business use, the process can be challenging for any consumer. For people who have
									never set foot in dealings, investments and buying or selling property and are unsure of what to expect in
									the market it can be a daunting task , sometimes even the more experienced people fail to make their
									investment count because they are unaware of the shifting landscape and modern requirements.</p>

									<span class="af-none">This is where our Estate Agency can make a difference and provide you the most beneficial and profitable deal. Trust, honesty and transparency are pillars of our dealings with the clients and are well versed in all kind of real estate needs. Please contact us with your real estate requirements and let us take care of everything else.</span>
									<div class="shw-btns">
										<a class="show-full-detail" href="javascript:void(0);">Show More</a>
										<a class="show-less-detail af-none" href="javascript:void(0);">Show Less</a>
									</div>
							</div>
						</div>
					</div>
				</div>
				<hr>-->
			</div>

			 <div class="col-xs-12 col-sm-12 col-md-4 af-sticky" *ngIf="!hideForm && !loadingProp; else noPropAvail">
				 <div class="price-detail fixed" >
					<div class="af-price">
						<div class="pricing-box af-mobOnly">
							Property Inquiry Form
						</div>
						<div class="contact-btn">
							<a href="javascript:;" (click)="openSideForm()">
								<span [ngClass]="{'af-none': openForm}">Contact</span>
								<span [ngClass]="{'af-none': !openForm}">Hide</span>
							</a>
						</div>
					</div>
					</div>
					<div class="need-help-boxMobile" [ngClass]="{'open': openForm}">
					<div class="af-req-box">
						<div class="reqForm-header">
							<p>Property Inquiry Form</p>
					 </div>

						<div class="marketed-by">
							<div class="userImage">
								<img *ngIf="!property.user.image" src="assets/site/images/generalAvatar.jpg">
								<img *ngIf="property.user.image" src="{{ property.user.image }}">
							</div>
							<p class="propertyPostedBy">This property is posted by</p>
							<p>{{ property.user.first_name }} {{ property.user.last_name }}</p>
						</div>

						<div class="rquest-form">
							<!-- <div class="show-num-btn">
								<button (click)="open_ContactDetails_Modal()" [disabled]="loadingProp">
									<i class="fa fa-phone fa-lg"></i>
									<span>Show Phone Number</span>
								</button>
								<div class="" *ngIf="property.user.mobile_number && property.user.mobile_number != ''">
									<button (click)="openWhatsapp();whatsappLeadFunc();" [disabled]="loadingProp">
										<i class="fa fa-whatsapp" aria-hidden="true"></i>
										<span>Whatsapp</span>
									</button>
								</div>

							</div> -->
							<div class="showPhoneNumber">
								<a href="javascript:;" (click)="open_ContactDetails_Modal()" *ngIf='!ShowAgentNum'><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> View Number</a>

							</div>
							<div class="showPhoneNumber" *ngIf="property.user.mobile_number && property.user.mobile_number != ''">
								<a href="javascript:;" (click)="openWhatsapp();whatsappLeadFunc();"><img src="assets/site/images/whatsapp-white.png" alt="Whatsapp"> Whatsapp</a>
							</div>
							<div class="af-separator-Or"><span>or</span></div>
							<form [formGroup]="LeadForm" novalidate>
								<div class="af-input-box required">
									<input formControlName="name" type="text" name="name" [(ngModel)]="lead.name" placeholder="Name *" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off">
									<i aria-hidden="true" class="fa fa-user"></i>
								</div>
								<div class="af-input-box required">
									<input type="text" name="email" formControlName="email" [(ngModel)]="lead.email" placeholder="Email *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
									<i aria-hidden="true" class="fa fa-envelope"></i>
								</div>
								<div class="af-input-box required">
									<input type="text" name="phone" formControlName="phone" [(ngModel)]="lead.phone" placeholder="Phone Number *" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" autocomplete="off">
									<i aria-hidden="true" class="fa fa-phone"></i>
								</div>
								<div class="af-input-box message">
									<textarea name="message" formControlName="message" [(ngModel)]="lead.message" placeholder="Message *" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" autocomplete="off"></textarea>
									<i aria-hidden="true" class="fa fa-commenting-o"></i>
								</div>
								<button (click)="AddLead(lead)">Request Info</button>
								<div class="shareBoxForm">
										<div class="col-xs-5 col-sm-5 col-md-5 proj-share-label">
												<div class="shareHead"><img src="assets/site/images/share.svg" alt="Share"> Share:</div>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 proj-share-actions">
												<ul>
													<li shareButton="facebook" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
													</li>
													<li shareButton="twitter" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													</li>
													<li shareButton="linkedin" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="linkedin" href="javascript:void(0);"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
													</li>
													<li shareButton="whatsapp" [url]="shareUrl" [image]="shareIImageUrl">
														<a class="whatsapp" href="javascript:void(0);"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>
													</li>
												</ul>
										</div>
								</div>
							</form>
						</div>

						<div class="save-property">
							<!-- <div class="col-xs-6">
								<p (click)="toggleSocialShare()">
									<i class="fa fa-send-o"></i>
									<span *ngIf="!showSocialSharing; else hideSocial">Share</span>
									<ng-template #hideSocial><span>Hide</span></ng-template>
								</p>
							</div> -->

							<div class="col-xs-12">
								<p (click)="saveProperty(1)" *ngIf="!property.is_liked">
									<i class="fa fa-heart-o"></i>
									<ng-template #likedProp><i class="fa fa-heart" (click)="saveProperty(0)"></i></ng-template>
									Save Property
								</p>
								<p (click)="saveProperty(0)" *ngIf="property.is_liked">
									<i class="fa fa-heart"></i>
									Saved Property
								</p>
							</div>
						</div>
						<div class="send-to-friend">
							<div class="share-area" [ngClass]="{'af-none': !showSocialSharing}">
								<hr style="border: 1px ridge;">
								<!-- <form>
									<input type="text" name="email-address" placeholder="Email Address" [(ngModel)]="socialSharingEmail">
									<button (click)="sendEmailLink()">Send Link</button>
								</form>
								<div class="af-separator">
									<span>or</span>
								</div> -->
								<!-- <div class="row">
									<div class="col-xs-3 col-sm-3">
										<div class="social-imgs" shareButton="facebook" [url]="shareUrl" [image]="shareIImageUrl">
											<img src="assets/site/images/facebook.png">
										</div>
									</div>
									<div class="col-xs-3 col-sm-3" shareButton="whatsapp" [url]="shareUrl" [image]="shareIImageUrl">
										<div class="social-imgs">
											<img src="assets/site/images/whatsapp.png">
										</div>
									</div>
									<div class="col-xs-3 col-sm-3" shareButton="twitter" [url]="shareUrl" [image]="shareIImageUrl">
										<div class="social-imgs">
											<img src="assets/site/images/twitter.png">
										</div>
									</div>
									<div class="col-xs-3 col-sm-3" shareButton="pinterest" [url]="shareUrl" [image]="shareIImageUrl">
										<div class="social-imgs">
											<img src="assets/site/images/pinterest.png">
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					</div>
				<div class="af-req-box mt-20 downBox" *ngIf="property.user.is_agent">
					<!-- <p>This property is posted by</p> -->
					<div class="agency-header">
						<h4>{{ property.user.agency.name }}</h4>
					</div>

					<div class="agency-info">
            <img *ngIf="property.user.agency.logo && property.user.agency.logo != ''; else agencyDummyImg" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + property.user.agency.logo }}">
						<ng-template #agencyDummyImg><img src="assets/site/images/default-image.jpg"></ng-template>

						<div>
	            <p>{{ property.user.first_name }} {{ property.user.last_name }}</p>
							<br />

							<a href="javascript:;" routerLink="{{ agencyProfileRoute(property.user) }}">AGENCY PROFILE</a>
						</div>
					</div>
				</div>
			</div>

			<ng-template #noPropAvail>
				<div class="col-xs-12 col-sm-12 col-md-3 af-sticky" *ngIf="!loadingProp">
						<div class="alert alert-danger text-center mt-20">
								This property is currently unavailable.
						</div>
				</div>
			</ng-template>
		</div>

		<div class="map-tabs">
			<div class="row">
			<div class="col-xs-12">
				<div class="graph-tabs inner-tabs">

					<ul class="nav nav-tabs">
					    <li class="active">
					    	<a data-toggle="tab" href="#map">
					    		<div class="vcenter">
					    			<h5 class="no-margin">Map</h5>
					    		</div>
					    	</a>
					    </li>
					    <li>
					    	<a data-toggle="tab" href="#commute">
					    		<div class="vcenter">
					    			<h5 class="no-margin">Commute and Nearby</h5>
					    		</div>
					    	</a>
					    </li>
					</ul>

				  <div class="tab-content">
				  	<div id="map" class="tab-pane fade active in">
							<iframe width="100%" height="400" frameborder="0" style="border:0" [src]="gmapURl | safeUrl" allowfullscreen></iframe>
				  	</div>

				  	<div id="commute" class="tab-pane fade">
				  		<div class="row">
				  			<div class="col-xs-12 col-sm-4">
				  				<div class="panel-group" id="accordion">

									<div class="panel panel-default">
										<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapselead" (click)="getAutoComplete_Place()">
									          <span><img src="assets/site/images/time.png"> COMMUTE <span class="subtitle">Calculate commute distance & time</span>
									          	<i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapselead" class="panel-collapse collapse in">
									        <div class="panel-body af-leadings">
									      		<p>MODE OF TRAVEL</p>
									      		<ul class="mode-travel" id="">
														    <li class="mode-travel-list" (click)="SetTravelMode('DRIVING')" [ngClass]="{'active': TravelMode == 'DRIVING'}">
														        <img src="assets/site/images/car.png">
														    </li>
														    <li class="mode-travel-list" (click)="SetTravelMode('TRANSIT')" [ngClass]="{'active': TravelMode == 'TRANSIT'}">
														        <img src="assets/site/images/bus.png">
														    </li>
														    <li class="mode-travel-list" (click)="SetTravelMode('BICYCLING')" [ngClass]="{'active': TravelMode == 'BICYCLING'}">
														        <img src="assets/site/images/bicycle.png">
														    </li>
														    <li class="mode-travel-list" (click)="SetTravelMode('WALKING')" [ngClass]="{'active': TravelMode == 'WALKING'}">
														        <img src="assets/site/images/pedestrian-walking.png">
														    </li>
														</ul>

														<div class="">
															<div class="">
																DESTINATION
															</div>


															<div class="destination-box">
																<input type="text" #autocompleteSearch id="autocompleteSearch" placeholder="Enter a location" class="form-control" autocomplete="off">
																<button class="btn" (click)="getAutoComplete_Place()">
																	Go
																</button>
															</div>
														</div>

									      	</div>
									  	</div>
								  	</div>

								  	<div class="panel panel-default">
									  	<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle collapsed af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapseperf" (click)="setMarkers('Edu_Insitutes')">
									          <span><img src="assets/site/images/mortarboard.png"> EDUCATIONAL INSTITUTES
									          	<span class="subtitle">See educational institutes nearby</span> <i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapseperf" class="panel-collapse collapse">
									        <div class="panel-body af-leadings">
									      		<ul class="map-listings" *ngIf="Nearby.Edu_Insitutes">

									      			<li *ngFor="let item of Nearby.Edu_Insitutes" (click)="diretcionTo(item)">{{ item.name }}
									      				<span class="af-ratings" *ngIf="item.rating">
									      					{{ item.rating }}
									      					<span class="af-sitary">
									      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 1 , 'active-half': item.rating > 0 && item.rating < 1 }"  aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 2 , 'active-half': item.rating > 1 && item.rating < 2 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 3 , 'active-half': item.rating > 2 && item.rating < 3 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 4 , 'active-half': item.rating > 3 && item.rating < 4}" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 5 , 'active-half': item.rating > 4 && item.rating < 5}" aria-hidden="true"></i>
									      					</span>
									      				</span>
									      			</li>

									      		</ul>
									      	</div>
									  	</div>
								  	</div>

								  	<div class="panel panel-default">
									  	<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle collapsed af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapselist" (click)="setMarkers('Hospitals')">
									          <span><img src="assets/site/images/first-aid-kit.png"> HOSPITALS / CLINICS
									          	<span class="subtitle">See hospitals and clinics nearby</span>
									          	<i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapselist" class="panel-collapse collapse commute">
									        <div class="panel-body af-leadings">
														<ul class="map-listings" *ngIf="Nearby.Hospitals">
									      			<li *ngFor="let item of Nearby.Hospitals" (click)="diretcionTo(item)">
									      				{{ item.name }}
									      				<span class="af-ratings" *ngIf="item.rating">
									      					{{ item.rating }}
									      					<span class="af-sitary">
									      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 1 , 'active-half': item.rating > 0 && item.rating < 1 }"  aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 2 , 'active-half': item.rating > 1 && item.rating < 2 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 3 , 'active-half': item.rating > 2 && item.rating < 3 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 4 , 'active-half': item.rating > 3 && item.rating < 4}" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 5 , 'active-half': item.rating > 4 && item.rating < 5}" aria-hidden="true"></i>
									      					</span>
									      				</span>

									      			</li>

									      		</ul>
									      	</div>
									  	</div>
								  	</div>

								  	<div class="panel panel-default">
									  	<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle collapsed af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapsecredit" (click)="setMarkers('Restaurants')">
									          <span><img src="assets/site/images/diet.png"> RESTAURANTS / CAFÉS
									          	<span class="subtitle">See restaurants and cafes nearby</span>
									          	<i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapsecredit" class="panel-collapse collapse">
									        <div class="panel-body af-leadings">
														<ul class="map-listings" *ngIf="Nearby.Restaurants">

									      			<li *ngFor="let item of Nearby.Restaurants" (click)="diretcionTo(item)">
									      				{{ item.name }}
									      				<span class="af-ratings" *ngIf="item.rating">
									      					{{ item.rating }}
									      					<span class="af-sitary">
									      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 1 , 'active-half': item.rating > 0 && item.rating < 1 }"  aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 2 , 'active-half': item.rating > 1 && item.rating < 2 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 3 , 'active-half': item.rating > 2 && item.rating < 3 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 4 , 'active-half': item.rating > 3 && item.rating < 4}" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 5 , 'active-half': item.rating > 4 && item.rating < 5}" aria-hidden="true"></i>
									      					</span>
									      				</span>

									      			</li>

									      		</ul>
									      	</div>
									  	</div>
								  	</div>

										<div class="panel panel-default">
									  	<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle collapsed af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapse_park" (click)="setMarkers('Parks')">
									          <span><img src="assets/site/images/park.png"> Parks
									          	<span class="subtitle">See parks nearby</span>
									          	<i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapse_park" class="panel-collapse collapse">
									        <div class="panel-body af-leadings">
														<ul class="map-listings" *ngIf="Nearby.Parks">

									      			<li *ngFor="let item of Nearby.Parks" (click)="diretcionTo(item)">
									      				{{ item.name }}
									      				<span class="af-ratings" *ngIf="item.rating">
									      					{{ item.rating }}
									      					<span class="af-sitary">
									      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 1 , 'active-half': item.rating > 0 && item.rating < 1 }"  aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 2 , 'active-half': item.rating > 1 && item.rating < 2 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 3 , 'active-half': item.rating > 2 && item.rating < 3 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 4 , 'active-half': item.rating > 3 && item.rating < 4}" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 5 , 'active-half': item.rating > 4 && item.rating < 5}" aria-hidden="true"></i>
									      					</span>
									      				</span>

									      			</li>

									      		</ul>
									      	</div>
									  	</div>
								  	</div>

										<div class="panel panel-default">
									  	<div class="panel-heading">
									      <h4 class="panel-title">
									        <a class="accordion-toggle collapsed af-leads-titles commute" data-toggle="collapse" data-parent="#accordion" href="#collapse_mosques" (click)="setMarkers('Mosques')">
									          <span><img src="assets/site/images/mosque.png"> Mosques
									          	<span class="subtitle">See mosques nearby</span>
									          	<i class="fa fa-angle-down" aria-hidden="true"></i></span>
									        </a>
									      </h4>
									    </div>
									    <div id="collapse_mosques" class="panel-collapse collapse">
									        <div class="panel-body af-leadings">
														<ul class="map-listings" *ngIf="Nearby.Mosques">

									      			<li *ngFor="let item of Nearby.Mosques" (click)="diretcionTo(item)">
									      				{{ item.name }}
									      				<span class="af-ratings" *ngIf="item.rating">
									      					{{ item.rating }}
									      					<span class="af-sitary">
									      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 1 , 'active-half': item.rating > 0 && item.rating < 1 }"  aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 2 , 'active-half': item.rating > 1 && item.rating < 2 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 3 , 'active-half': item.rating > 2 && item.rating < 3 }" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 4 , 'active-half': item.rating > 3 && item.rating < 4}" aria-hidden="true"></i>
										      					<i class="fa fa-star" [ngClass]="{'active': item.rating >= 5 , 'active-half': item.rating > 4 && item.rating < 5}" aria-hidden="true"></i>
									      					</span>
									      				</span>

									      			</li>

									      		</ul>
									      	</div>
									  	</div>
								  	</div>
							  	</div>
				  			</div>
				  			<div class="col-xs-12 col-sm-8">
									<div class="detailPageMap" id="propMap" #propMap>

									</div>
								</div>
				  		</div>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
		</div>
		<hr>

		<div id="infowindow-content af-none">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
  		</div>


		<app-related-properties *ngIf="property.location_id" [property_id]="property.id" [location_id]="property.location_id"></app-related-properties>

		</div>
	</div>
</section>

<!-- Email Bucket Selector -->
<app-email-basket></app-email-basket>
