<!-- Inject Google Maps -->
<app-g-maps></app-g-maps>

<!-- Page Template -->
<section class="container-adjusting new-design" [ngClass]="{'agency-profile': sideopened}">
	<div class="container-fluid">
		<div class="wd-100">
			<div class="image-bannerDesign" *ngIf="desktopbanner">
				<a *ngIf="pro && pro.gallery && pro.gallery.length == 1" class="halfImg fullWidthImg" href="javascript:;">
						<div class="projectBannerOverlay"></div>
						<img *ngIf="pro.gallery[0].is_video == '0'" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[0].name }}" [alt]="pro.gallery[0].caption" >
						<img *ngIf="pro.gallery[0].is_video == '1'" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[0].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[0].caption" >
						<div class="play-btn" *ngIf="pro.gallery[0].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
				</a>
					<a *ngIf="pro && pro.gallery && pro.gallery.length > 1" class="halfImg" href="javascript:;" (click)="openProjectCarouselModal()" [ngClass]="{'forOverlay': hoverEffectOver , 'width60Banner': pro.gallery.length == 3}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')">
							<div class="projectBannerOverlay"></div>
							<img *ngIf="pro.gallery[0].is_video == '0'" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[0].name }}" [alt]="pro.gallery[0].caption">
							<img *ngIf="pro.gallery[0].is_video == '1'" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[0].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[0].caption">
							<div class="play-btn" *ngIf="pro.gallery[0].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
					</a>
					<div class="" [ngClass]="{'quaterImg': pro.gallery.length > 2, 'halfImg': pro.gallery.length == 2, 'width40Banner': pro.gallery.length == 3}" *ngIf="pro && pro.gallery && pro.gallery.length >= 2">
							<a href="javascript:;" (click)="openProjectCarouselModal()" [ngClass]="{'forOverlay': hoverEffectOver , 'fullImg': pro.gallery.length == 2}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')">
									<div class="projectBannerOverlay"></div>
									<picture *ngIf="pro.gallery[1].is_video == '0'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[1].name }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[1].name }}" [alt]="pro.gallery[1].caption">
									</picture>
									<picture *ngIf="pro.gallery[1].is_video == '1'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[1].name.split('.')[0] + '.webp' }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[1].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[1].caption">
									</picture>
									<div class="play-btn" *ngIf="pro.gallery[1].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
							<a *ngIf="pro && pro.gallery && pro.gallery.length >= 3" href="javascript:;" (click)="openProjectCarouselModal()" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')">
									<div class="projectBannerOverlay"></div>
									<picture *ngIf="pro.gallery[2].is_video == '0'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[2].name }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[2].name }}" [alt]="pro.gallery[2].caption">
									</picture>
									<picture *ngIf="pro.gallery[2].is_video == '1'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[2].name.split('.')[0] + '.webp' }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[2].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[2].caption">
									</picture>
									<div class="play-btn" *ngIf="pro.gallery[2].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
							</a>
					</div>
					<div class="quaterImg" *ngIf="pro && pro.gallery && pro.gallery.length >= 4">
							<a href="javascript:;" (click)="openProjectCarouselModal()" [ngClass]="{'forOverlay': hoverEffectOver, 'fullImgHeight': pro.gallery.length == 4}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')">
									<div class="projectBannerOverlay"></div>
									<picture *ngIf="pro.gallery[3].is_video == '0'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[3].name }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[3].name }}" [alt]="pro.gallery[3].caption">
									</picture>
									<picture *ngIf="pro.gallery[3].is_video == '1'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[3].name.split('.')[0] + '.webp' }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[3].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[3].caption">
									</picture>
									<div class="play-btn" *ngIf="pro.gallery[3].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>

							</a>
							<a *ngIf="pro && pro.gallery && pro.gallery.length >= 5" href="javascript:;" (click)="openProjectCarouselModal()" [ngClass]="{'forOverlay': hoverEffectOver}" (mouseover)="hoverEffect('in')" (mouseout)="hoverEffect('out')">
									<div class="projectBannerOverlay"></div>
									<picture *ngIf="pro.gallery[4].is_video == '0'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[4].name }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[4].name }}" [alt]="pro.gallery[4].caption">
									</picture>
									<picture *ngIf="pro.gallery[4].is_video == '1'">
										<source type="image/webp" data-src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" srcset="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[4].name.split('.')[0] + '.webp' }}"/>
										<img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[4].name.split('.')[0] + '.jpg' }}" [alt]="pro.gallery[4].caption">
									</picture>
									<div class="play-btn" *ngIf="pro.gallery[4].is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>

							</a>
					</div>
			</div>
			<ng-container *ngIf="!desktopbanner && pro && pro.gallery">
				<div class="mobileBannerDesign" [ngClass]="{'af-none': openForm}">
					<div class="projMobile">
						<owl-carousel id="big" [options]="mobileProBanner" [items]="mobileProBannerItems" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
							 <div class="item" *ngFor="let proGallery of pro.gallery;let i = index">
								 <a *ngIf="proGallery.name" class="fancybox" data-fancybox="pro_gallery" [href]="ImagesUrl + 'uploads/pro/gallery/' + proGallery.name">
									 	<img *ngIf="proGallery.is_video == '0'" src="{{ ImagesUrl + 'uploads/pro/gallery/thumbnails/' + proGallery.name }}" [alt]="proGallery.caption">
										<img *ngIf="proGallery.is_video == '1'" src="{{ ImagesUrl + 'uploads/pro/gallery/thumbnails/' + proGallery.name.split('.')[0] + '.jpg' }}" [alt]="proGallery.caption">
										<div class="play-btn" *ngIf="proGallery.is_video == '1'"><span><i aria-hidden="true" class="fa fa-play"></i></span></div>
								 </a>
							 </div>
						</owl-carousel>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</section>
<section class="full-box">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 order-sm-last order-lg-first">
				<section class="project-detail professionals" *ngIf="pro && pro.company">
					<div class="af-left">
						<h1 class="title">{{ pro.company.name }} (Overview)</h1>
            <span class="titleimg">
							<img *ngIf="pro && pro.company.logo; else proDummyLogo" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + pro.company.logo }}" alt="Pro Logo">
							<ng-template #proDummyLogo><img src="assets/site/images/default-image.jpg" alt="Default Logo"></ng-template>
  					</span>
					</div>
					<div class="professionalCompanyDetails">
							<p>{{ pro.company.description }}</p>
					</div>
				</section>
				<section class="pricing-whole-box">
					<div class="price-detail fixed" [ngClass]="{'zIndexMax': leadForm}">
						<div class="af-project-price">
							<div class="pricing-box af-mobOnly">
								  Register your interest
							</div>
							<div class="contact-btn">
								<a href="javascript:;" (click)="openSideForm()">
									<span [ngClass]="{'af-none': openForm}">Contact</span>
									<span [ngClass]="{'af-none': !openForm}">Hide</span>
								</a>
							</div>
						</div>
					</div>
        </section>
        <section class="project-detail proLoc">
          <h2>Location</h2>
          <div class="professionalCompanyLoc">
              <p *ngIf="pro && pro.company"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ pro.company.location }}, {{ pro.company.city }}</p>
							<div class="mapAgentOffice fullWidth" id="propMap" #propMap></div>
					</div>
        </section>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 order-sm-first order-lg-last af-stickyProject">
        <div class="agent-contact-side need-help-box">
          <div class="af-form-wrap">
            <div class="services-backi timer-top af-temporary_none">
  						<p>Register your interest</p>
  					</div>

            <form [ngClass]="{'open': openForm}" [formGroup]="LeadForm" autocomplete="off">
              <div class="mobile-header-filter">
  							<a rel="nofollow" class="af-left-close" href="javascript:void(0);" (click)="openSideForm()">
  								<i aria-hidden="true" class="fa fa-chevron-left"></i>
  							</a>
  							<p class="sendTitle">Register your interest</p>
  						</div>
              <div class="mobile-box">
                <div class="showPhoneNumber">
                  <a href="javascript:;" (click)="open_ContactDetails_Modal()"><img src="assets/site/images/white-phone-icon.svg" alt="Phone"> Show Phone Number</a>
                </div>
                <div class="showPhoneNumber">
                  <a href="javascript:;" (click)="openWhatsapp()"><img src="assets/site/images/whatsapp-white.png" alt="Whatsapp"> Whatsapp</a>
                </div>
                <div class="af-separator-Or"><span>or</span></div>
                <div class="af-input-box required">
                  <input formControlName="name" type="text" name="name" [(ngModel)]="lead.name" placeholder="Name *" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" autocomplete="off">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="af-input-box required">
                  <input type="text" name="email" formControlName="email" [(ngModel)]="lead.email" placeholder="Email *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autocomplete="off">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="af-input-box required">
                  <input type="text" name="phone" formControlName="phone" [(ngModel)]="lead.phone" placeholder="Phone Number *" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" autocomplete="off">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="af-input-box message">
                  <textarea name="message" formControlName="message" [(ngModel)]="lead.message" placeholder="Message *" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" autocomplete="off"></textarea>
                  <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </div>
								<div class="af-button-box">
									<button (click)="AddLead()">
										<i aria-hidden="true" class="fa fa-users-chat"></i>Get Free Advice Now
									</button>
								</div>
              </div>
            </form>
          </div>
        </div>
        <div class="agent-info-outter proInfo">
          <div class="title">
            <i class="fa fa-user" aria-hidden="true"></i>
            CEO Information
          </div>

          <div class="row agency-owner-info">
            <div>
              <div class="col-md-6 col-sm-6 col-xs-6">
								<img *ngIf="pro && pro.image" src="{{ ImagesUrl + 'uploads/users/thumbnails/' + pro.image }}" alt="Ceo Profie Image">
                <img *ngIf="pro && !pro.image" src="assets/site/images/generalAvatar.jpg" alt="General Avatar">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 owner-info">
                <div>
                  <p *ngIf="pro">{{ pro.first_name }} {{ pro.last_name }}</p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
			</div>
    </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <section class="af-marketing af-staff" *ngIf="pro && pro.similar_pros">
              <h2 class="main-heading">Similar Professionals</h2>
							<div class="noRecentProperties" *ngIf="pro && pro.similar_pros.length < 1">
								<p>No similar professionals found for this category.</p>
							</div>
              <div class="content" *ngIf="pro && pro.similar_pros !=''">
                <ul class="staff-box">
                  <li class="staff-wrap simiPro" *ngFor="let similiarpro of pro.similar_pros; let i = index">
                    <div class="staff-img">
											<a href="{{ setProProfileRoute(similiarpro) }}">
												<img *ngIf="similiarpro.logo" src="{{ ImagesUrl + 'uploads/pro/thumbnails/' + similiarpro.logo }}" alt="Similar Pro Logo">
	                      <img *ngIf="!similiarpro.logo" src="assets/site/images/generalAvatar.jpg" alt="General Avatar Pro">
											</a>
                    </div>
                    <div class="staff-detail_right">
                      <ul>
                        <li>
													<a href="{{ setProProfileRoute(similiarpro) }}">
                           	<span class="staffName">{{ similiarpro.name }}</span>
													</a>
                        </li>
                        <li>
													<a href="{{ setProProfileRoute(similiarpro) }}">
														<span class="staffdesignation">{{ ProCategories[similiarpro.category].name }}</span>
													</a>
												</li>
                        <li>
	                          <button class="phoneBtn" type="button" name="button" (click)="proNumbers(i)"><img src="assets/site/images/telephone.svg" alt="Phone Icon">View Number</button>
                          	<button class="whatsappBtn" type="button" name="button" (click)="proWhatsapp(i)"><i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></button>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
    </div>
</section>

<div id="ProjectCarouselModal" class="modal fade" role="dialog">
  <div class="modal-dialog ProjectCarousel">
    <div class="modal-content">
       <div class="modal-body" *ngIf="showCarouselModal">
				<button type="button" class="close" data-dismiss="modal">
					<svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 24px; width: 24px; display: block; fill: rgb(72, 72, 72);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg>
				</button>
				<div class="leftMainCarousel">
					<div class="outer">
						<owl-carousel id="big" [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-main']" #owlElement>
						 <div class="item" *ngFor="let image of mySlideImages;let i = index">
							<div *ngIf="image">
								<a>
										<img *ngIf="pro && pro.gallery[i].is_video == 0" src={{image}} [alt]="pro.gallery[i].caption"/>
									<div class="bannerVideoPro" *ngIf="pro && pro.gallery[i].is_video == 1">
										<video controls controlsList="nodownload" disablePictureInPicture>
											<source src="{{ ImagesUrl + 'uploads/pro/gallery/' + pro.gallery[i].name }}" type="video/mp4">
										</video>
									</div>
								</a>
							</div>
						 </div>
						</owl-carousel>
				</div>
				</div>
				<div class="rightSmallCarousel small">
					<owl-carousel id="thumbs" [options]="myCarouselOptions" [items]="myCarouselImages" [carouselClasses]="['owl-theme', 'sliding', 'owl-custom-thumbnails']" #owlthumb>
						 <div class="item" *ngFor="let image of myCarouselImages;let i = index">
							<div *ngIf="image">
									<img src={{image}} alt="pro.gallery[i].caption"/>
							</div>
						 </div>
					</owl-carousel>
					<div class="ProjectDetails" *ngIf="pro && pro.company">
						<!-- <p>{{ owlNumberActive }} / {{ totalNumberImages }}</p> -->
						<h3>{{ pro.company.name }}</h3>
					</div>
				</div>
			 </div>
      </div>
    </div>
</div>
